﻿@model TransferSPC.Models.Tbl_NotificationOrders

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Tbl_NotificationOrders</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Datetime_DateToExecute)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Datetime_DateToExecute)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bool_Enable)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bool_Enable)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tbl_Notifications_Parameters.Fk_UserId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tbl_Notifications_Parameters.Fk_UserId)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Int_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
