﻿@model IEnumerable<TransferSPC.Models.Tbl_NotificationOrders>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datetime_DateToExecute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bool_Enable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Notifications_Parameters.Fk_UserId)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime_DateToExecute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bool_Enable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_Notifications_Parameters.Fk_UserId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Int_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Int_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Int_Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
