﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/img/transfericon.png" rel="shortcut icon" type="image/x-icon" />
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.css">

    <link rel="stylesheet" href="~/Content/Site.css">

    <link rel="stylesheet" href="~/Content/Spinners.css">
    <link rel="stylesheet" href="~/Scripts/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper" style="background-color: white !important">
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" id="ShowMenuB" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Menú</span>
                </a>
                <!-- Logo -->
                <a href="@Url.Action("Lobby", "Account")" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    @*<span class="logo-mini"><b>TransferSPC</b></span>*@
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>TransferSPC</b></span>

                </a>
                <input type="hidden" id="UserId" value="@HttpContext.Current.User.Identity.Name" />

                <input type="hidden" id="CpkFirtsRelation" value="@ViewBag.CpkFirstRelation" />

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" id="OpenNotifications" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span id="Count_Notify" class="label label-warning"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header" id="Title_NotificationBoard">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul id="NotificationBoard" class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#" title="bla bla bla ">
                                                <i class="fa fa-warning text-red"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="~/Tbl_Notifications/Index">Ver Todas</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- Inner menu: contains the tasks -->
                                        <ul class="menu">
                                            <li>
                                                <!-- Task item -->
                                                <a href="#">
                                                    <!-- Task title and progress text -->
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">80%</small>
                                                    </h3>
                                                    <!-- The progress bar -->
                                                    <div class="progress xs">
                                                        <!-- Change the css width attribute to simulate progress -->
                                                        <div class="progress-bar progress-bar-aqua" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>*@
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside id="ShowMenu" class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->

                @Html.Partial("_Menu");

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Full Width Column -->
        <div class="content-wrapper" id="BodyContent">
            <input type="hidden" id="hover_state" value="0" />
            @RenderBody()
        </div>

        <div id="Div_Submenu_Sheet">
            <input type="hidden" id="submenu_state_Sheet" value="0" />
        </div>

        <div class="modal fade" id="TimerModalLayout" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">

                    </div>

                    <div class="modal-body centered-loader">

                        <div class="row">
                            <div class="col-md-6 bg ">
                                <div class="loader" id="loader-2">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer centered-loader">
                        <p style="color: #3498db;font-size: 16px;">  Procesando </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="NotificationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="Notification_Body" class="modal-body">
                        <div id="loader" class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                <div class="loader"></div>
                            </div>
                            <div class="col-sm-5"></div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <input type="hidden" id="Id_Notification" />
                        <button type="button" id="Mark_Notification" class="btn btn-primary">Marcar como leída</button>
                    </div>
                </div>
            </div>
        </div>
        <audio controls id="music" style="display:none">
            <source src="~/Content/Sounds/audio_file.mp3" type="audio/mpeg">
        </audio>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!------ Include the above in your HEAD tag ---------->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- Select2 -->
    <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>

    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/sounds.js"></script>
    <script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!--notificaciones y otros -->
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>

    @*<script src="~/Scripts/jquery.steps.js"></script>*@

    @RenderSection("scripts", required: false)

    <script>
        GetNumberOfNotification();
        GetFavoriteSheets();

        function GetNumberOfNotification() {
            var UserName = $("#UserId").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetNumberOfNotification", "Tbl_Notifications")',
                data: {
                    UserName: UserName,
                },
                success: function (data) {
                    if (data != "0") {
                        $('#Count_Notify').text(data);
                    }
                    else {
                        $('#Count_Notify').text("");
                    }
                }
            });

        }



        function UpdateCpksDashboards() {
            var id = $("#CpkFirtsRelation").val();
            //$("#Sounded").val("0");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAllCpkByRelation", "Analisis")',
                data: {
                    id: id,
                },
                success: function (data) {
                    if (data != null) {
                        var ObjectResult = JSON.parse(data);
                        for (var i = 0; i < ObjectResult.length; i++) {
                            // SetValueToChartNumber(ObjectResult[i].id, Number(ObjectResult[i].valor));

                            SetValueAmChart(ObjectResult[i].id, Number(ObjectResult[i].valor));
                        }
                    }
                }
            });
        }

        function UpdateCpksFavoriteDashboards() {
            var id = $("#CpkFirtsRelation").val();
            //$("#Sounded").val("0");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateCpksFavoriteDashboards", "Analisis")',
                data: {
                    id: id,
                },
                success: function (data) {
                    if (data != null) {
                        var ObjectResult = JSON.parse(data);
                        for (var i = 0; i < ObjectResult.length; i++) {
                            // SetValueToChartNumber(ObjectResult[i].id, Number(ObjectResult[i].valor));

                            SetValueAmChart(ObjectResult[i].id, Number(ObjectResult[i].valor));
                        }
                    }
                }
            });
        }

        function UpdateVariableFavoriteDashboards() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateVariableFavoriteDashboards", "Analisis")',

                success: function (data) {
                    if (data != null) {
                        var ObjectResult = JSON.parse(data);
                        for (var i = 0; i < ObjectResult.length; i++) {
                            // SetValueToChartNumber(ObjectResult[i].id, Number(ObjectResult[i].valor));

                            //  SetValueAmChart(ObjectResult[i].id, Number(ObjectResult[i].valor));
                        }
                    }
                }
            });
        }

        function SetValueToChartNumber(chartNumber, value) {
            var index = $("#" + chartNumber.toString()).data('highchartsChart');
            var chart = Highcharts.charts[index];
            var point = chart.series[0].points[0], newVal, inc = value;
            newVal = inc;
            point.update(newVal);
        }

        function EvalToSound(Div_Id) {
            valSounded = $("#Sounded").val();
            if (valSounded == "") {
                $("#Sounded").val(Div_Id);
                return true;
            }
            else {
                var ArrayAddeds = valSounded.split("-");
                var Noise = true;
                for (var i = 0; i < ArrayAddeds.length; i++) {
                    if (ArrayAddeds[i] == Div_Id) {
                        return false;
                    }
                }

                $("#Sounded").val(valSounded + "-" + Div_Id);
                return true;
            }
        }

        function SetValueAmChart(Div_Id, Value) {
            var chartMin = -1;
            var chartMax = 5;
            var chart = null;
            var ListaGraficas = am4core.registry.baseSprites;
            for (var i = 0; i < ListaGraficas.length; i++) {
                if (ListaGraficas[i].id == Div_Id) {
                    chart = ListaGraficas[i];
                    break;
                }
            }

            var hand = chart.hands.values[0];
            try {
                if (Value < 0 || Number.isNaN(Value)) {

                    valSounded = EvalToSound(Div_Id);
                    if (valSounded == true) {
                        playSound('bell');
                    }
                }
                else {
                    var ArrayAddeds = $("#Sounded").val().split("-");
                    for (var i = 0; i < ArrayAddeds.length; i++) {
                        if (ArrayAddeds[i] == Div_Id) {
                            var res = $("#Sounded").val().replace(Div_Id, "");

                            $("#Sounded").val(res);
                        }
                    }
                }
                if (Value < -1) {
                    Value = -1;
                }
                if (Value > 5) {
                    Value = 5;
                }
                hand.showValue(Value, 1000, am4core.ease.cubicOut);
            } catch (e) {
                alert(Value);
            }

        }

        function UpdateDashboardLayoutVariableFavorite() {

            var Id_Dashboard = $("#Id_Dashboard").val();


            var Cantidad = 0;
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateVariableFavoriteDashboards", "Analisis")',
                data: {
                    Id_Dashboard: Id_Dashboard
                },
                success: function (data) {
                    var table = $('#DashboardDatatableVarieble').DataTable();
                    var rows = $('#DashboardDatatableVarieble').children('tbody').children('tr');
                    var LastVarValues = [];
                    var LastCpkValues = [];
                    var LastCpValues = [];
                    try {


                        for (var i = 0; i < rows.length; i++) {
                            //Variables
                            var InnerNameValue = rows[i].childNodes[0].innerText;
                            var InnerTextValue = rows[i].childNodes[2].innerText;
                            LastVarValues.push({ Name: InnerNameValue, Value: InnerTextValue });
                            //Cpk
                            var InnerTextCpkValue = rows[i].childNodes[3].innerText;
                            LastCpkValues.push(InnerTextCpkValue);
                            //Cp
                            var InnerTextCpValue = rows[i].childNodes[4].innerText;
                            LastCpValues.push(InnerTextCpValue);
                        }
                    } catch (e) {
                    }

                    table.clear();
                    table.draw();
                    var ObjectResult = JSON.parse(data);
                    $('#DashboardDatatableVarieble').dataTable().fnClearTable();
                    $('#DashboardDatatableVarieble').dataTable().fnDestroy();
                    var table1 = $('#DashboardDatatableVarieble').DataTable({

                        columnDefs: [{ width: '40%', targets: 0 },
                            { width: '8%', className: "dt-head-center", targets: 1 },
                            { width: '10%', className: "dt-head-center", targets: 2 },
                            { width: '15%', className: "dt-head-center", targets: 3 },
                            { width: '12%', className: "dt-head-center", targets: 4 },
                            { width: '10%', className: "dt-head-center", targets: 5 }
                        ],
                        fixedColumns: true
                    });
                    table1.draw();
                    for (var i = 0; i < ObjectResult.length; i++) {
                        table1.row.add(['<a href="/Trf_Sheet/AnswerGridSheet/' + ObjectResult[i].FirstRelation + '" target="_blank" style="color: white !important">' + ObjectResult[i].Prod_Hoja + '</a>', ObjectResult[i].variablesNum, ObjectResult[i].outEspec, ObjectResult[i].CpkOutEspec, ObjectResult[i].CpOutEspec, '<span class="sparkbar">' + ObjectResult[i].BestCpk + '</span>']);
                        table1.draw();
                        FilaObjFor = table1.row(i).node();
                        //'<a href="/Trf_Sheet/AnswerGridSheet/' + ObjectResult[i].FirstRelation + '><i class="fa fa-list"></i>' + ObjectResult[i].Prod_Hoja + '</a>'

                        var CurrentLastValue = GetValueByName(ObjectResult[i], LastVarValues);

                        ProcessColumn(FilaObjFor, 2, CurrentLastValue);
                        //ProcessColumn(FilaObjFor, 3, LastCpkValues[i]);
                        //ProcessColumn(FilaObjFor, 4, LastCpValues[i]);
                    }
                    $('.sparkbar').sparkline('html', { type: 'bar', barColor: 'yellow' });
                    $('#TimerModal').modal('hide');

                }
            });
        }

        function UpdateDashboardLayout() {

            var Cantidad = 0;
            UpdateCpksDashboards();
            UpdateCpksFavoriteDashboards();
            UpdateDashboardLayoutVariableFavorite();
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("DashboardAjax", "Analisis")',

                success: function (data) {
                    var table = $('#DashboardDatatable').DataTable();
                    var rows = $('#DashboardDatatable').children('tbody').children('tr');
                    var LastVarValues = [];
                    var LastCpkValues = [];
                    var LastCpValues = [];
                    for (var i = 0; i < rows.length; i++) {
                        //Variables
                        var InnerNameValue = rows[i].childNodes[0].innerText;
                        var InnerTextValue = rows[i].childNodes[2].innerText;
                        LastVarValues.push({ Name: InnerNameValue, Value: InnerTextValue });
                        //Cpk
                        var InnerTextCpkValue = rows[i].childNodes[3].innerText;
                        LastCpkValues.push(InnerTextCpkValue);
                        //Cp
                        var InnerTextCpValue = rows[i].childNodes[4].innerText;
                        LastCpValues.push(InnerTextCpValue);
                    }

                    table.clear();
                    table.draw();
                    var ObjectResult = JSON.parse(data);
                    $('#DashboardDatatable').dataTable().fnClearTable();
                    $('#DashboardDatatable').dataTable().fnDestroy();
                    var table1 = $('#DashboardDatatable').DataTable({

                        columnDefs: [{ width: '40%', targets: 0 },
                            { width: '8%', className: "dt-head-center", targets: 1 },
                            { width: '10%', className: "dt-head-center", targets: 2 },
                            { width: '15%', className: "dt-head-center", targets: 3 },
                            { width: '12%', className: "dt-head-center", targets: 4 },
                            { width: '10%', className: "dt-head-center", targets: 5 }
                        ],
                        fixedColumns: true
                    });
                    table1.draw();
                    for (var i = 0; i < ObjectResult.length; i++) {
                        table1.row.add(['<a href="/Trf_Sheet/AnswerGridSheet/' + ObjectResult[i].FirstRelation + '" target="_blank" style="color: white !important">' + ObjectResult[i].Prod_Hoja + '</a>', ObjectResult[i].variablesNum, ObjectResult[i].outEspec, ObjectResult[i].CpkOutEspec, ObjectResult[i].CpOutEspec, '<span class="sparkbar">' + ObjectResult[i].BestCpk + '</span>']);
                        table1.draw();
                        FilaObjFor = table1.row(i).node();
                        //'<a href="/Trf_Sheet/AnswerGridSheet/' + ObjectResult[i].FirstRelation + '><i class="fa fa-list"></i>' + ObjectResult[i].Prod_Hoja + '</a>'

                        var CurrentLastValue = GetValueByName(ObjectResult[i], LastVarValues);

                        ProcessColumn(FilaObjFor, 2, CurrentLastValue);
                        //ProcessColumn(FilaObjFor, 3, LastCpkValues[i]);
                        //ProcessColumn(FilaObjFor, 4, LastCpValues[i]);
                    }
                    $('.sparkbar').sparkline('html', { type: 'bar', barColor: 'yellow' });
                    $('#TimerModal').modal('hide');
                }
            });
        }



        $(function () {

            var notification = $.connection.notificationHub;

            notification.client.AlertRecive = function () {
                GetNumberOfNotification();
                //$("#Sounded").val("0");
                var promised = UpdateDashboardLayout();

                if (promised == false) {

                }
                else {
                    promised.done(function (data) {

                        // PaintDataTable();
                    });
                }

            };



            $.connection.hub.start().done(function () {

                notification.server.notificate();

            });

            $.connection.hub.logging = true;
        });

        //Get Empresas
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetEnterprize", "Trf_Sheet")',

            success: function (data) {
                var Element_ProducerArray = data.split('||');
                for (var i = 0; i < Element_ProducerArray.length; i++) {
                    var Datos_Maquina = Element_ProducerArray[i].split('**');

                    var Nombre_Maquina = Datos_Maquina[1].trim();
                    var Nombre_Maquina_Tool_Tip = Nombre_Maquina;
                    if (Nombre_Maquina.length > 24) {
                        Nombre_Maquina = Nombre_Maquina.substring(0, 24) + "...";
                    }

                    $("#Branch_Empresas").append('<li title="' + Nombre_Maquina_Tool_Tip + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Maquina[0] + '" class="treeview"><a href="#" id="Root_Enterprize" data-id="' + Datos_Maquina[0] + '"><i class="fa fa-building"></i><span id="label_' + Datos_Maquina[0] + '">' + Nombre_Maquina + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="Branch_Empresa_' + Datos_Maquina[0] + '" class="treeview-menu"></ul>');
                    $("#Branch_Report").append('<li title="' + Nombre_Maquina_Tool_Tip + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Maquina[0] + '" class="treeview"><a href="#" id="Root_Enterprize_Report" data-id="' + Datos_Maquina[0] + '"><i class="fa fa-building"></i><span id="label_' + Datos_Maquina[0] + '">' + Nombre_Maquina + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="Branch_Empresa_Report' + Datos_Maquina[0] + '" class="treeview-menu"></ul>');

                    //var Parent = 'producto_maquina_' + Datos_Maquina[0];
                    //var Parent_Report = 'Report_maquina_' + Datos_Maquina[0];

                    //GetProductsByElementProducer(Datos_Maquina[0], Parent, Parent_Report);
                }

            }
        });

        function PaintDataTable() {
            var table = $('#MyDatatable').DataTable();

            $("#MyDatatable tbody tr").each(function () {
                ProcessColumn($(this), 2);
            });
        }



        function GetFavoriteSheets() {

            @*var UserName = @User.Identity.Name;*@

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFavoriteSheets", "Trf_Sheet")',
                data: {
                    UserName: $("#UserId").val(),
                },
                success: function (data) {
                    if (data != "") {
                        var ProductsArray = data.split('||');
                        for (var k = 0; k < ProductsArray.length; k++) {
                            var Datos_Relacion = ProductsArray[k].split('**');
                            var Parent = document.getElementById("Branch_Favoritos");

                            //$(Parent).append('<li id="responder_hoja"><a href="/Trf_Sheet/AnswerSheet/' + Datos_Relacion[0] + '"><i class="fa fa-list"></i>' + Datos_Relacion[1] + '</a></li>');
                            //Este

                            var Nombre_Hoja = Datos_Relacion[1].trim();
                            var Nombre_Hoja_Tool_Tip = Nombre_Hoja;
                            if (Nombre_Hoja.length > 18) {
                                Nombre_Hoja = Nombre_Hoja.substring(0, 18) + "...";
                            }



                            $(Parent).append(' <div class="row" data-bind="Sheet_Link" data-id="' + Datos_Relacion[0] + '" oncontextmenu="ContexMenu(this)"><div class="col-md-6" style="padding:2px"><a class="Captura_List_Item" href="/Trf_Sheet/AnswerGridSheet/' + Datos_Relacion[0] + '" target="_blank"  data-toggle="tooltip" data-placement="top" title="  ' + Nombre_Hoja + '" data-bind="1" data-id="' + Datos_Relacion[0] + '"><i class="fa fa-list"></i>  ' + Nombre_Hoja + '</a></div><div class="col-md-6" style="padding:5px"><a id="favorite-remove" data-id="' + Datos_Relacion[2] + '" class="favorite-remove btn-outline-danger btn-xs" title="Eliminar" style="border-radius: 12px;float:right">X</a></div></div>');
                            //$(Parent).append(' <div class="row" data-bind="Sheet_Link" data-id="' + Datos_Relacion[0] + '" oncontextmenu="ContexMenu(this)"><div class="col-md-6" style="padding:2px"><a class="Captura_List_Item" href="/Trf_Sheet/SolveGridSheet/' + Datos_Relacion[0] + '" data-toggle="tooltip" data-placement="top" title="  ' + Nombre_Hoja + '" data-bind="1" data-id="' + Datos_Relacion[0] + '"><i class="fa fa-list"></i>  ' + Nombre_Hoja + '</a></div><div class="col-md-6" style="padding:5px"><a id="favorite-remove" data-id="' + Datos_Relacion[2] + '" class="favorite-remove btn-outline-danger btn-xs" title="Eliminar" style="border-radius: 12px;float:right">X</a></div></div>');


                        }
                    }
                }
            }
           );

        }

        function GetProductsByElementProducer(id_element_producer, Parent_Id, SxM_maquina) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetProductsByElementProducer", "Trf_Sheet")',
                data: {
                    id_element_producer: id_element_producer,
                    SxM_maquina: SxM_maquina
                },
                success: function (data) {
                    if (data != "") {
                        var ProductsArray = data.split('||');

                        var Products_Deleted = false;



                        for (var k = 0; k < ProductsArray.length; k++) {
                            var Datos_Relacion = ProductsArray[k].split('**');
                            var Nombre_Producto = Datos_Relacion[3].trim();
                            var Nombre_Producto_Tool_Tip = Nombre_Producto;
                            if (Nombre_Producto.length > 22) {
                                Nombre_Producto = Nombre_Producto.substring(0, 22) + "...";
                            }


                            if (Nombre_Producto.length > 24) {
                                var Nombre_Producto = Nombre_Producto.substring(0, 24) + "...";
                            }
                            var Parent = document.getElementById(Parent_Id);
                            var ParentReport = document.getElementById(id_element_producer);

                            if (Products_Deleted == false) {
                                var myNode = Parent;
                                while (myNode.firstChild) {
                                    myNode.removeChild(myNode.firstChild);
                                }
                                Products_Deleted = true;
                            }


                            $(Parent).append('<li data-toggle="tooltip" data-placement="top" title="' + Nombre_Producto_Tool_Tip + '" id="menu_producto' + Datos_Relacion[2] + '" class="treeview"><a href="#"  id="' + Datos_Relacion[2] + '" class="ProductMenu" data-maquina="' + Datos_Relacion[1] + '" data-bind="' + Datos_Relacion[4] + '"  data-id="' + Datos_Relacion[2] + '" data-parent="' + Datos_Relacion[0] + '"><i class="fa fa-product-hunt"></i><span id="label_' + Datos_Relacion[2] + '">' + Nombre_Producto + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="hojas_maquina_' + Datos_Relacion[0] + '" class="treeview-menu"></ul></ul></li>');
                            // $(ParentReport).append('<li data-toggle="tooltip" data-placement="top" title="' + Nombre_Producto_Tool_Tip + '" id="menu_producto' + Datos_Relacion[2] + '" class="treeview"><a href="#"><i class="fa fa-folder"></i><span id="label_' + Datos_Relacion[2] + '">' + Nombre_Producto + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="producto_maquina_' + Datos_Relacion[0] + '" class="treeview-menu"></ul></ul></li>');

                            var Parent = 'hojas_maquina_' + Datos_Relacion[0];
                            var Parent_Report = 'producto_maquina_' + Datos_Relacion[0];




                        }
                    }
                }
            }
            );
        }

        function GetSheetsByElementProducerProduct(ElementProducerProduct, Parent_Id, Id_Product_Report, Id_Station, Id_Maquina, Id_Producto) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSheetsByElementProducerProduct", "Trf_Sheet")',
                data: {
                    ElementProducerProduct: ElementProducerProduct,
                    Id_Station: Id_Station,
                    Id_Maquina: Id_Maquina,
                    Id_Producto: Id_Producto,
                },
                success: function (data) {
                    if (data != "") {
                        //var ProductsArray = data.split('||');
                        for (var k = 0; k < data.length; k++) {
                            var Parent = document.getElementById(Parent_Id);
                            var Get_Id_Asignation = data[k].Get_Id_Asignation;

                            var Nombre_Hoja = data[k].Get_Chart_Name.trim();
                            var Nombre_Hoja_Tool_Tip = Nombre_Hoja;
                            if (Nombre_Hoja.length > 16) {
                                Nombre_Hoja = Nombre_Hoja.substring(0, 16) + "...";
                            }

                            $(Parent).append('<li data-bind="Sheet_Link" data-id="' + Get_Id_Asignation + '" oncontextmenu="ContexMenu(this)" id="responder_hoja"><a class="Captura_List_Item"  data-toggle="tooltip" data-placement="top" title="' + Nombre_Hoja_Tool_Tip + '"  data-bind="1" data-id="' + Get_Id_Asignation + '"><i class="fa fa-list"></i>' + Nombre_Hoja + '</a></li>');

                        }
                    }
                }
            }
            );
        }

        function GetSheetsByElementProducerProduct_Report(ElementProducerProduct, Parent_Id, Id_Product_Report) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSheetsByElementProducerProduct", "Trf_Sheet")',
                data: {
                    ElementProducerProduct: ElementProducerProduct,
                },
                success: function (data) {
                    if (data != "") {
                        var ProductsArray = data.split('||');
                        for (var k = 0; k < ProductsArray.length; k++) {
                            var Datos_Relacion = ProductsArray[k].split('**');
                            var Parent = document.getElementById(Parent_Id);
                            var ParentProductReport = document.getElementById(Id_Product_Report);
                            //$(Parent).append('<li id="responder_hoja"><a href="/Trf_Sheet/AnswerSheet/' + Datos_Relacion[0] + '"><i class="fa fa-list"></i>' + Datos_Relacion[1] + '</a></li>');
                            //Este

                            var Nombre_Hoja = Datos_Relacion[3].trim();
                            var Nombre_Hoja_Tool_Tip = Nombre_Hoja;
                            if (Nombre_Hoja.length > 16) {
                                Nombre_Hoja = Nombre_Hoja.substring(0, 16) + "...";
                            }




                            //$(ParentProductReport).append('<li id="responder_hoja"><a href="/Trf_Sheet/Export/' + Datos_Relacion[0] + '"  data-toggle="tooltip" data-placement="top" title="' + Nombre_Hoja_Tool_Tip + '"  ><i class="fa fa-list"></i>' + Nombre_Hoja + '</a></li>');
                            $(Parent).append('<li id="responder_hoja"><a class="Captura_List_Item" href="/Trf_Sheet/AnswerGridSheet/' + Datos_Relacion[0] + '" target="_blank"  data-toggle="tooltip" data-placement="top" title="' + Nombre_Hoja_Tool_Tip + '"  data-bind="' + Datos_Relacion[4] + '" data-id="' + Datos_Relacion[0] + '"><i class="fa fa-list"></i>' + Nombre_Hoja + '</a></li>');
                            //$(Parent).append('<li id="responder_hoja"><a class="Captura_List_Item" href="/Trf_Sheet/SolveGridSheet/' + Datos_Relacion[0] + '"  data-toggle="tooltip" data-placement="top" title="' + Nombre_Hoja_Tool_Tip + '"  data-bind="' + Datos_Relacion[4] + '" data-id="' + Datos_Relacion[0] + '"><i class="fa fa-list"></i>' + Nombre_Hoja + '</a></li>');


                        }
                    }
                }
            }
            );
        }

        function Go_To_Capture(IdRelacion, Id_Configuration) {
            Swal.fire({
                type: 'info',
                position: 'top-end',
                title: 'Correcto',
                text: 'Desea que TransferSPC recuerde la selección de método de Captura',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {
                    //Salvar
                    SaveConfiguration(IdRelacion, Id_Configuration);
                }
                if (result.dismiss == "cancel") {
                    //No salvar
                    var UrlEdit = "";
                    if (Id_Configuration == 0) {
                        UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + IdRelacion;
                        @*UrlEdit = "@Url.Action("SolveGridSheet", "Trf_Sheet")" + "/" + IdRelacion;*@

                    }
                    else {
                        UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + IdRelacion;
                        @*UrlEdit = "@Url.Action("SolveGridSheet", "Trf_Sheet")" + "/" + IdRelacion;*@
                    }
                    window.open(UrlEdit, '_blank');
                }
            })
        }

        function SaveConfiguration(IdRelacion, Id_Configuration) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveConfiguration", "Trf_Sheet")',
                data: {
                    Id_Configuration: Id_Configuration,
                },
                success: function (data) {
                    if (data == "True") {
                        var UrlEdit = "";
                        if (Id_Configuration == 0) {
                            UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + IdRelacion;
                            @*UrlEdit = "@Url.Action("SolveGridSheet", "Trf_Sheet")" + "/" + IdRelacion;*@
                        }
                        else {
                            UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + IdRelacion;
                            @*UrlEdit = "@Url.Action("SolveGridSheet", "Trf_Sheet")" + "/" + IdRelacion;*@
                        }
                        window.open(UrlEdit, '_blank');
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        //////////////////////////////////////////
        function GetMachines_By_Enterprize_Report(IdEnterprize) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMachines_By_Enterprize", "Trf_Sheet")',
                data: {
                    IdEnterprize: IdEnterprize,
                },
                success: function (data) {
                    if (data != "") {
                        var StructureArray = data.split('||');
                        for (var k = 0; k < StructureArray.length; k++) {
                            var Datos_Structure = StructureArray[k].split('**');

                            var Nombre = Datos_Structure[2];

                            if (Nombre.length > 24) {
                                var Nombre = Nombre.substring(0, 24) + "...";
                            }

                            $('#' + "Branch_Empresa_Report" + IdEnterprize).append('<li title="' + Datos_Structure[2] + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Structure[2] + '" class="treeview"><a href="#" id="Structure_Report" data-content="' + Datos_Structure[4] + '" data-bind="' + Datos_Structure[3] + '" data-id="' + Datos_Structure[0] + '"><i class="fa fa-folder"></i><span id="label_' + Datos_Structure[0] + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="Branch_Estructura_Report' + Datos_Structure[0] + '" class="treeview-menu"></ul>');
                        }
                    }
                    else {
                        //////////
                    }
                }
            });
        }

        function GetMachines_By_Enterprize(IdEnterprize) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMachines_By_Enterprize", "Trf_Sheet")',
                data: {
                    IdEnterprize: IdEnterprize,
                },
                success: function (data) {
                    if (data != "") {
                        var StructureArray = data.split('||');
                        for (var k = 0; k < StructureArray.length; k++) {
                            var Datos_Structure = StructureArray[k].split('**');

                            var Nombre = Datos_Structure[2];

                            if (Nombre.length > 24) {
                                var Nombre = Nombre.substring(0, 24) + "...";
                            }

                            $('#' + "Branch_Empresa_" + IdEnterprize).append('<li title="' + Datos_Structure[2] + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Structure[2] + '" class="treeview"><a href="#" id="Structure" data-content="' + Datos_Structure[4] + '" data-bind="' + Datos_Structure[3] + '" data-id="' + Datos_Structure[0] + '"><i class="fa fa-folder"></i><span id="label_' + Datos_Structure[0] + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="Branch_Estructura_' + Datos_Structure[0] + '" class="treeview-menu"></ul>');
                        }
                    }
                    else {
                        //////////
                    }
                }
            });
        }

        function GetChild_By_Estructure_Report(IdRelationEstructure, Id_Estructura, Id_Padre) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetChild_By_Estructure", "Trf_Sheet")',
                data: {
                    Id_Estructura: Id_Estructura,
                },
                success: function (data) {
                    if (data != "") {
                        var StructureArray = data.split('||');
                        for (var k = 0; k < StructureArray.length; k++) {
                            var Datos_Structure = StructureArray[k].split('**');

                            var Nombre = Datos_Structure[1];

                            if (Nombre.length > 22) {
                                var Nombre = Nombre.substring(0, 22) + "...";
                            }

                            $('#' + "Branch_Estructura_Report" + Id_Estructura).append('<li title="' + Datos_Structure[6] + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Structure[2] + '" class="treeview"><a href="#" id="Structure_Report" data-padre="' + Datos_Structure[2] + '"  data-content="' + Datos_Structure[1] + '" data-bind="' + Datos_Structure[3] + '" data-id="' + Datos_Structure[0] + '"><i class="fa fa-folder"></i><span id="label_' + Datos_Structure[0] + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="Branch_Estructura_Report' + Datos_Structure[0] + '" class="treeview-menu"></ul>');
                        }
                    }
                    else {
                        //////////
                    }
                }
            });
        }

        function GetChild_By_Estructure(IdRelationEstructure, Id_Estructura, Id_Padre) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetChild_By_Estructure", "Trf_Sheet")',
                data: {
                    Id_Estructura: Id_Estructura,
                },
                success: function (data) {
                    if (data != "") {
                        var StructureArray = data.split('||');
                        for (var k = 0; k < StructureArray.length; k++) {
                            var Datos_Structure = StructureArray[k].split('**');

                            var Nombre = Datos_Structure[1];

                            if (Nombre.length > 22) {
                                var Nombre = Nombre.substring(0, 22) + "...";
                            }

                            $('#' + "Branch_Estructura_" + Id_Estructura).append('<li title="' + Datos_Structure[6] + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Structure[2] + '" class="treeview"><a href="#" id="Structure" data-padre="' + Datos_Structure[2] + '"  data-content="' + Datos_Structure[1] + '" data-bind="' + Datos_Structure[3] + '" data-id="' + Datos_Structure[0] + '"><i class="fa fa-folder"></i><span id="label_' + Datos_Structure[0] + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul id="Branch_Estructura_' + Datos_Structure[0] + '" class="treeview-menu"></ul>');
                        }
                    }
                    else {
                        //////////
                    }
                }
            });
        }

        function GetMachines_By_Structure(Id_Estructura) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMachines_By_StructureMenu", "Trf_Sheet")',
                data: {
                    Id_Estructura: Id_Estructura,
                },
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var Nombre = data[i].Chart_ElementProducer;

                        if (Nombre.length > 24) {
                            var Nombre = Nombre.substring(0, 24) + "...";
                        }

                        $('#' + "Branch_Estructura_" + Id_Estructura).append('<li title="' + data[i].Chart_ElementProducer + '" data-toggle="tooltip" data-placement="top" id="menu_' + data[i].Int_Id + '" class="treeview"><a href="#" id="Machine" data-bind="' + data[i].FK_Id_ElementProducer + '"  data-id="' + data[i].Fk_Id_Estacion + '"><i class="fa fa-gears"></i><span id="label_' + data[i].Chart_ElementProducer + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul <ul id="producto_maquina_' + data[i].FK_Id_ElementProducer + '" class="treeview-menu"></ul>');
                    }

                    
                }
            });
        }

        function GetMachines_By_Structure_Report(Id_Estructura) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMachines_By_StructureMenu", "Trf_Sheet")',
                data: {
                    Id_Estructura: Id_Estructura,
                },
                success: function (data) {
                    if (data != "") {
                        var StructureArray = data.split('||');
                        for (var k = 0; k < StructureArray.length; k++) {
                            var Datos_Structure = StructureArray[k].split('**');

                            var Nombre = Datos_Structure[3]

                            if (Nombre.length > 24) {
                                var Nombre = Nombre.substring(0, 24) + "...";
                            }

                            $('#' + "Branch_Estructura_Report" + Id_Estructura).append('<li title="' + Datos_Structure[3] + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Structure[0] + '" class="treeview"><a href="#" id="Machine"  data-id="' + Datos_Structure[2] + '"><i class="fa fa-gears"></i><span id="label_' + Datos_Structure[3] + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul <ul id="producto_maquina_report' + Datos_Structure[2] + '" class="treeview-menu"></ul>');
                        }
                    }
                    else {
                        //////////
                    }
                }
            });
        }

        function GetMachines_By_Structure_Report(Id_Estructura) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMachines_By_StructureMenu", "Trf_Sheet")',
                data: {
                    Id_Estructura: Id_Estructura,
                },
                success: function (data) {
                    if (data != "") {
                        var StructureArray = data.split('||');
                        for (var k = 0; k < StructureArray.length; k++) {
                            var Datos_Structure = StructureArray[k].split('**');

                            var Nombre = Datos_Structure[3]

                            if (Nombre.length > 24) {
                                var Nombre = Nombre.substring(0, 24) + "...";
                            }

                            $('#' + "Branch_Estructura_" + Id_Estructura).append('<li title="' + Datos_Structure[3] + '" data-toggle="tooltip" data-placement="top" id="menu_' + Datos_Structure[0] + '" class="treeview"><a href="#" id="Machine_Report"  data-id="' + Datos_Structure[2] + '"><i class="fa fa-gears"></i><span id="label_' + Datos_Structure[3] + '">' + Nombre + '</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span></a><ul <ul id="producto_maquina_' + Datos_Structure[2] + '" class="treeview-menu"></ul>');
                        }
                    }
                    else {
                        //////////
                    }
                }
            });
        }

        //////////////////////////////////////////

        function ContexMenu(element) {
            var DomElementKind = $(element).data("bind");
            var RelationValue = $(element).data("id");

            //   $("#Sub_Menu_Sheet").remove();

            if (DomElementKind == "Sheet_Link") {
                var v = $(this).attr("id");
                if (v == "Div_Submenu_Sheet") {
                    return false;
                }
                else {
                    if ($("#submenu_state_Sheet").val() == 1) {
                        $("#submenu_state_Sheet").val(0);
                        $("#Sub_Menu_Sheet").remove();
                    }
                }

                $("#submenu_state").val(1);
                var x = event.clientX - 0;
                var y = event.clientY - 80;
                var SubmenuStr = '';
                SubmenuStr += '<div id="Sub_Menu_Sheet" style="position: absolute; z-index: 9999; top: ' + y + 'px; left: ' + x + 'px;" class="open"><ul class="dropdown-menu items-holder" role="menu" style="">';
                @*SubmenuStr += '<li class="Add_Supervisor" onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="@Url.Action("CreateSupervisorDataContext", "Tbl_SupervisorsParameters")/' + RelationValue + '" ><span class="fa fa-minus" style="margin-right: 10px;"></span>Agregar Supervisor</a></li>';*@

                SubmenuStr += '<li class="Add_Supervisor" onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" class="add_Supervisor" data-id="' + RelationValue + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Agregar Supervisor</a></li>';

                SubmenuStr += '<li class="Edit_Limit_Pop" onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" class="edit_limit_pop" data-id="' + RelationValue + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Editar Límites</a></li>';

                SubmenuStr += '<li class="Edit_Limit_Pop" onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" class="Remove_Sheet_Asignation_Menu" data-id="' + RelationValue + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Eliminar Relación</a></li>';


                SubmenuStr += '<li class="divider"></li><li class="Edit_Limit_Pop" onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" class="export_configuration" data-id="' + RelationValue + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Exportar Configuración</a></li>';


                SubmenuStr += '<li class="divider"></li><li><a href="/Trf_Sheet"><span class="fa fa-times" style="margin-right: 10px;"></span>Cerrar</a></li></ul></div>';

                $("#Div_Submenu_Sheet").append(SubmenuStr);
                return false;
            }
        }

        function HoverSupervisorData() {
            $("#hover_state").val(1);
        }

        function LeaveSupervisorData() {
            $("#hover_state").val(0);
        }
        /////////////////////////////////////////

        $(document).ready(function () {
            document.oncontextmenu = function () { return false; };

            $(document).mousedown(function (e) {

                var ElementoSobre = $(this);

                if (e.button == 0) {
                    if ($("#hover_state").val() == 0) {
                        $("#Sub_Menu_Sheet").remove();
                    }
                    return true;
                }
                if (e.button == 2) {
                    $("#Sub_Menu_Sheet").remove();
                    return true;
                }
                return true;
            });

            //////////////////////
            $('body').on('click', '.export_configuration', function () {
                UrlEdit = window.location.origin + "/Tbl_Structure/GenerateConfigurationFile/" + $(this).data("id");
                window.location.href = UrlEdit;
            });


            $('body').on('click', '.add_Supervisor', function () {
                UrlEdit = window.location.origin + "/Tbl_Notifications_Parameters/NotificationCaptureBySheet/" + $(this).data("id");
                window.location.href = UrlEdit;
            });

            $('body').on('click', '.Remove_Sheet_Asignation_Menu', function () {
                var RelationFirst = $(this).data("id");
                $("#Sub_Menu_Sheet").remove();
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Está seguro que desea eliminar esta hoja?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {

                        var id_Favorite = $(this).data("id");

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Remove_Sheet_to_Asignation", "Trf_Sheet")',
                            data: {
                                RelationFirst: RelationFirst,
                            },
                            success: function (data) {
                                if (data == "True") {
                                    Swal.fire({
                                        type: 'success',
                                        title: 'Correcto',
                                        text: 'La hoja se eliminó satisfactoriamente',
                                    }).then((result) => {
                                        if (result.value) {
                                            location.reload();
                                        }
                                    })
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
                    }
                })

            });


            //$('body').on('click', '.Captura_List_Item', function () {
            //    $('#TimerModalLayout').modal({ backdrop: 'static', keyboard: false })
            //    $('#TimerModalLayout').modal('show');
            //});

            $('body').on('click', '.edit_limit_pop', function () {
                UrlEdit = window.location.origin + "/Trf_Sheet/EditLimit/" + $(this).data("id");
                window.location.href = UrlEdit;
            });
            ////////////////////
            $('body').on('click', '.favorite-remove', function () {
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Está seguro que desea eliminar esta hoja de sus favoritas?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {

                        var id_Favorite = $(this).data("id");

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Remove_Sheet_to_Favorite", "Trf_Sheet")',
                            data: {
                                id_Favorite: id_Favorite,
                            },
                            success: function (data) {
                                if (data == "True") {
                                    Swal.fire({
                                        type: 'success',
                                        title: 'Correcto',
                                        text: 'La hoja se eliminó satisfactoriamente',
                                    }).then((result) => {
                                        if (result.value) {
                                            location.reload();
                                        }
                                    })
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
                    }
                })
            });

            $('body').on('click', '#OpenNotifications', function () {
                $("#NotificationBoard").empty();
                $("#NotificationBoard").append('<li><a href="#"></i>Cargando...</a></li>');

                var Cantidad = $('#Count_Notify').text();
                $('#Title_NotificationBoard').text("Tiene " + Cantidad + " notificaciones pendientes.")
                var UserName = $("#UserId").val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetNotificationsByUserName", "Tbl_Notifications")',
                    data: {
                        UserName: UserName,
                    },
                    success: function (data) {

                        $("#NotificationBoard").empty();
                        if (data != "") {
                            var Lista_Notificaciones = data.split('||');
                            var Cantidad = 0;
                            for (var i = 0; i < Lista_Notificaciones.length; i++) {
                                if (Cantidad <= 7) {
                                    var Notificacion = Lista_Notificaciones[i].split('**');
                                    $("#NotificationBoard").append('<li><a data-toggle="modal" data-target="#NotificationModal" id="Notification" data-id="' + Notificacion[2] + '"  href="#" title="' + Notificacion[1] + '"><i class="fa fa-warning text-red"></i>' + Notificacion[1] + '</a></li>');
                                    Cantidad++;
                                }
                                else {
                                    break;
                                }
                            }
                        }
                        else {
                            $('#Title_NotificationBoard').text("No hay notificaciones pendientes");
                        }
                    }
                });
            });

            $('body').on('click', '#Mark_Notification', function () {
                var Id_Notificacion = $("#Id_Notification").val();

                var UserName = $("#UserId").val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("MarckNotificationsByUserName", "Tbl_Notifications")',
                    data: {
                        UserName: UserName,
                        Id_Notificacion: Id_Notificacion,
                    },
                    success: function (data) {

                        if (data == "False") {
                            Swal.fire({
                                type: 'error',
                                title: 'Error',
                                text: 'La operación no se pudo concluir',
                            })
                        }
                        else {
                            var notification = $.connection.notificationHub;

                            notification.client.AlertRecive = function () {
                                GetNumberOfNotification();
                            };
                            $.connection.hub.start().done(function () {
                                notification.server.notificate();
                            });
                            $.connection.hub.logging = true;

                            $('#NotificationModal').modal('hide')
                        }

                    }
                });
            });

            $('body').on('click', '#Notification', function () {
                $("#loader").show();
                var Id_Notificacion = $(this).data("id");
                $("#Id_Notification").val(Id_Notificacion);
                var Contenido = "@Url.Action("Details", "Tbl_Notifications")" + "/" + Id_Notificacion;
                $("#Notification_Body").load(Contenido);
                $("#loader").hide();
            });

            ///trabajo de estructuras
            $('body').on('click', '#Root_Enterprize', function () {
                if ($(this).parent().hasClass("menu-open") == true) {
                    var Id_Empresa = $(this).data("id");
                    Id_Branch = "Branch_Empresa_" + Id_Empresa;
                    var myNode = document.getElementById(Id_Branch);
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }

                    $('#TimerModalLayout').modal({ backdrop: 'static', keyboard: false })
                    $('#TimerModalLayout').modal('show');
                    var promised = GetMachines_By_Enterprize(Id_Empresa);

                    if (promised == false) {
                        $('#TimerModalLayout').modal('hide');
                    }
                    else {
                        promised.done(function (data) {

                            $('#TimerModalLayout').modal('hide');
                        });
                    }

                }
            });


            $('body').on('click', '#Root_Enterprize_Report', function () {
                var Id_Empresa = $(this).data("id");
                Id_Branch = "Branch_Empresa_Report" + Id_Empresa;
                var myNode = document.getElementById(Id_Branch);
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }


                $('#TimerModalLayout').modal({ backdrop: 'static', keyboard: false })
                $('#TimerModalLayout').modal('show');
                var promised = GetMachines_By_Enterprize_Report(Id_Empresa);

                if (promised == false) {
                    $('#TimerModalLayout').modal('hide');
                }
                else {
                    promised.done(function (data) {

                        $('#TimerModalLayout').modal('hide');
                    });
                }
            });

            $('body').on('click', '#Structure', function () {
                if ($(this).parent().hasClass("menu-open") == true) {

                    var Id_Tipo = $(this).data("bind");
                    var Id_Relacion = $(this).data("content");
                    var Id_Estructura = $(this).data("id");
                    var Id_Padre = $(this).data("padre");
                    Id_Branch = "Branch_Estructura_" + Id_Estructura;
                    var myNode = document.getElementById(Id_Branch);
                    while (myNode.firstChild) {
                        myNode.removeChild(myNode.firstChild);
                    }
                    if (Id_Tipo == "False") {
                        //Equi si no es una hoja
                        GetChild_By_Estructure(Id_Relacion, Id_Estructura, Id_Padre);
                    }
                    else {
                        GetMachines_By_Structure(Id_Estructura);
                    }
                }
            });

            $('body').on('click', '#Structure_Report', function () {
                var Id_Tipo = $(this).data("bind");
                var Id_Relacion = $(this).data("content");
                var Id_Estructura = $(this).data("id");
                var Id_Padre = $(this).data("padre");
                Id_Branch = "Branch_Estructura_Report" + Id_Estructura;
                var myNode = document.getElementById(Id_Branch);
                while (myNode.firstChild) {
                    myNode.removeChild(myNode.firstChild);
                }
                if (Id_Tipo == "False") {
                    //Equi si no es una hoja
                    GetChild_By_Estructure_Report(Id_Relacion, Id_Estructura, Id_Padre);
                }
                else {
                    GetMachines_By_Structure(Id_Estructura);
                }

            });

            $('body').on('click', '#Machine', function () {
                var Id_Machine = $(this).data("bind");
                var Id_StationR = $(this).data("id");
                //alert("Es la maquina" + Id_Machine);

                var Parent = 'producto_maquina_' + Id_Machine;
                var Parent_Report = 'Report_maquina_' + Id_Machine;

                GetProductsByElementProducer(Id_Machine, Parent, Id_StationR);
            });


            $('body').on('click', '#Machine_Report', function () {
                var Id_Machine = $(this).data("id");
                //alert("Es la maquina" + Id_Machine);

                var Parent = 'producto_maquina_report' + Id_Machine;
                var Parent_Report = 'Report_maquina_' + Id_Machine;

                GetProductsByElementProducer(Id_Machine, Parent, Id_Machine);
            });

            ///////

            $('body').on('click', '.ProductMenu', function () {
                var Id_Station = $(this).data("bind");
                var Id_Maquina = $(this).data("maquina");
                var Id_Producto = $(this).data("id");


                var Id_Padre = $(this).data("parent");
                //alert("Es Producto " + Id_Producto + "hojas_maquina_" + Id_Padre);
                $("#hojas_maquina_" + Id_Padre).empty();
                GetSheetsByElementProducerProduct(Id_Padre, "hojas_maquina_" + Id_Padre, "producto_maquina1_" + Id_Padre, Id_Station, Id_Maquina, Id_Producto);


            });

            ///////////////////////

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

            $('body').on('click', '#C_CLasic', function () {
                var Contenido = $(this).data("id");
                Go_To_Capture(Contenido, 0);
            });

            $('body').on('click', '#C_Grid', function () {
                var Contenido = $(this).data("id");
                Go_To_Capture(Contenido, 1);
            });


            $('body').on('click', '.Captura_List_Item', function () {
                var Type_Configuration = $(this).data("bind");

                if (Type_Configuration == -1) {
                    //   var Contenido = "@Url.Action("SelectCaptureType", "Trf_Sheet")" + "/" + $(this).data("id");


                    UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + $(this).data("id");
                    @*UrlEdit = "@Url.Action("SolveGridSheet", "Trf_Sheet")" + "/" + $(this).data("id");*@
                    // window.location = UrlEdit;
                    window.open(UrlEdit, '_blank');
                    //swal({
                    //    width: 600,
                    //    showConfirmButton: false,
                    //    html:
                    //    '<div id="modal-body"><div id="Timer" class="row" ><div class="loader" style="margin:auto"></div></div>'
                    //});
                    //$("#modal-body").load(Contenido);

                    ///// boton cerrar modal
                    //$('body').on('click', '#btn-cancel', function () {
                    //    Swal.close();
                    //});
                }
                else {
                    if (Type_Configuration == 0) {
                        @*UrlEdit = "@Url.Action("AnswerSheet", "Trf_Sheet")" + "/" + $(this).data("id");*@

                        UrlEdit = "~/Trf_Sheet/AnswerSheet/" + $(this).data("id");
                        //UrlEdit = "~/Trf_Sheet/SolveGridSheet/" + $(this).data("id");
                    }
                    else {
                        @*UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + $(this).data("id");*@
                        var Direccion = window.location.href;
                        var ArrayDireccion = Direccion.split('/');
                        var Tamanno = ArrayDireccion.length;
                        if (ArrayDireccion[Tamanno - 2] == "AnswerGridSheet") {
                            UrlEdit = $(this).data("id");
                        }
                        else {
                            UrlEdit = "@Url.Action("AnswerGridSheet", "Trf_Sheet")" + "/" + $(this).data("id");
                            @*UrlEdit = "@Url.Action("SolveGridSheet", "Trf_Sheet")" + "/" + $(this).data("id");*@
                        }
                    }
                    //window.location = UrlEdit;
                    window.open(UrlEdit, '_blank');
                }
            })

        });


    </script>


</body>
</html>