﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        @{
            string Path;
            if (Directory.Exists(Server.MapPath("/Uploads/UserImg/" + @User.Identity.GetUserName() + ".jpg")) == false)
            {
                Path = "/Uploads/UserImg/Default.jpg";
            }
            else
            {
                Path = "/Uploads/UserImg/" + @User.Identity.GetUserName() + ".jpg";
            }

        }
        <img src="@Path" class="user-image" alt="User Image">

        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">@User.Identity.GetUserName()</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="@Path" class="img-circle" alt="User Image">
            <p>
                @User.Identity.GetUserName()
               @if (@User.IsInRole("Administrador"))
               {
                <small>Administrador</small>
               }
                @if (@User.IsInRole("Operador"))
                {
                    <small>Operador</small>
}
                @if (@User.IsInRole("Supervisor"))
                {
                    <small>Supervisor</small>
}
            </p>
        </li>
        <!-- Menu Body -->
        @*<li class="user-body">*@
        <!-- /.row -->
        @*</li>*@
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left"></div>
            <div class="pull-right">
                @Html.ActionLink("Salir", "Desloguearse", "Account", routeValues: null, htmlAttributes: new { id = "logoutForm", @class = "btn btn-default btn-flat" })
                @*<a href="@Url.Action("Desloguearse","Account")"><i class="fa fa-check"></i> Salir 2</a>*@
              </div>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Acceder al sistema", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
