﻿@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    {
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul id="Menu_Lateral" class="sidebar-menu" data-widget="tree">

            @if (@User.IsInRole("Administrador"))
            {
                <li class="active treeview menu-open">
                    <a href="~/">
                        <i class="fa fa-home"></i> <span>Sistema</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        @*@if (@User.IsInRole("Administrador"))
                            {*@
                        <li id="menu_configuracion" class="treeview">
                            <a href="#">
                                <i class="fa fa-spinner"></i>Configuración<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">


                                <li id="menu_Notificacion" class="treeview">
                                    <a href="#">
                                        <i class="fa fa-address-book"></i><span> Gestión de notificaciones</span>
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        @*<li id="notificationTurnos"><a href="@Url.Action("Index", "Tbl_Notifications_Parameters")"><i class="fa fa-list"></i> Notificación por turnos</a></li>*@
                                        <li id="notificationCaptura"><a href="@Url.Action("CamptureNotification", "Tbl_Notifications_Parameters")"><i class="fa fa-list"></i> Notificación de captura</a></li>

                                    </ul>
                                </li>



                                <li id="usuario"><a href="@Url.Action("Index", "Usuarios")"><i class="fa fa-users"></i> Gestión de usuarios</a></li>

                                <li id="Tbl_Observations_Catalog"><a href="@Url.Action("Index", "Tbl_Observations_Catalog")"><i class="fa fa-glass"></i> Gestión de observaciones</a></li>

                                <li id="Estructura"><a href="@Url.Action("BuildStructure", "Tbl_Structure")"><i class="fa fa-tree"></i> Gestión de estructura</a></li>

                                <li id="Estructura"><a href="@Url.Action("TestSendingMethods", "Manage")"><i class="fa fa-mail-forward"></i> Pruebas de envío</a></li>

                                @*//Código para borrar (revisar antes de cualquier acción)
                                    ///////////////////////////////////////////////////////
                                    <li id="menu_Estaciones" class="treeview">
                                        <a href="#">
                                            <i class="fa fa-server"></i><span> Estaciones</span>
                                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li id="GestiónEstaciones"><a href="@Url.Action("Index", "Tbl_Structure")"><i class="fa fa-list"></i> Gestión de Estaciones</a></li>
                                        </ul>
                                    </li>*@


                                @*<li id="menu_Maquinas" class="treeview">
                                        <a href="#">
                                            <i class="fa fa-gears"></i><span> Máquinas</span>
                                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li id="GestiónMaquina"><a href="@Url.Action("Index", "Trf_ElementProducer")"><i class="fa fa-list"></i> Gestión de Máquinas</a></li>
                                        </ul>
                                    </li>*@

                                @*<li id="menu_Producto1" class="treeview">
                                        <a href="#">
                                            <i class="fa fa-briefcase"></i><span> Productos</span>
                                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li id="GestiónProducto"><a href="@Url.Action("Index", "Trf_Products")"><i class="fa fa-list"></i> Gestión de Productos</a></li>
                                        </ul>
                                    </li>*@


                                <li id="menu_hoja" class="treeview">
                                    <a href="#">
                                        <i class="fa fa-edit"></i><span>Hojas</span>
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>

                                    <ul class="treeview-menu">
                                        <li id="hoja"><a href="@Url.Action("Index", "Trf_Sheet")"><i class="fa fa-th"></i> Listado de hojas</a></li>

                                        <li id="hojaAssing"><a href="@Url.Action("Machine_Board", "Trf_Sheet")"><i class="fa fa-edit"></i> Asignar hoja</a></li>

                                        <li id="EditarLímites"><a href="@Url.Action("Limit_Board", "Trf_Sheet")"><i class="fa fa-bookmark"></i> Editar límites</a></li>

                                        <li id="AgregarSupervisor"><a href="@Url.Action("CreateSupervisorData", "Tbl_SupervisorsParameters")"><i class="fa fa-check"></i> Agregar supervisor</a></li>
                                    </ul>
                                </li>

                                @*<li id="System_Setting"><a href="@Url.Action("SistemSettings","Usuarios")"><i class="fa fa-spinner"></i> Ajustes del Sistema</a></li>*@

                                <li id="Papelera"><a href="@Url.Action("PapeleraHome", "Manage")"><i class="fa fa-trash"></i> Papelera</a></li>

                            </ul>
                        </li>

                        @*<li id="menu_configuracion" class="treeview">
                                <a href="#">
                                    <i class="fa fa-book"></i>Reportes<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                </a>
                            <ul id="Branch_Report" class="treeview-menu"></ul>
                            </li>*@


                    </ul>
                </li>

                <li class="active treeview menu-open">
                    <a href="~/">
                        <span class="glyphicon glyphicon-stats"></span> <span>Análisis</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li id="menu_analisis" class="treeview">
                            <a href="#">
                                <span class="glyphicon glyphicon-th-large"></span> Gráficas<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">
                                <li id="notification"><a href="@Url.Action("CorrelationBoardView","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica de correlación</a></li>

                                <li id="notification"><a href="@Url.Action("IRBoardView","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica I-R</a></li>

                                <li id="notification"><a href="@Url.Action("XBar_Sigma","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica XBar Sigma</a></li>

                                <li id="notification"><a href="@Url.Action("Levey_Jennings","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica Levey Jennings</a></li>

                                <li id="notification"><a href="@Url.Action("EWMA","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica EWMA</a></li>

                                <li id="notification"><a href="@Url.Action("MA","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica MA</a></li>

                                <li id="notification"><a href="@Url.Action("MAMS","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica MAMS</a></li>

                                <li id="notification"><a href="@Url.Action("MAMR","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica MAMR</a></li>

                                <li id="notification"><a href="@Url.Action("Cu_Sum","Analisis")"><span class="glyphicon glyphicon-minus"></span> Gráfica CU SUM</a></li>

                            </ul>
                        </li>

                        <li id="usuario"><a href="@Url.Action("ReportView", "manage")"><i class="fa fa-file-excel-o"></i> Reportes</a></li>

                        @*<li id="usuario"><a href="@Url.Action("Dashboard", "Analisis")"><i class="fa fa-object-group"></i> DashBoard</a></li>*@

                        <li id="menu_dashboard" class="treeview">
                            <a href="#">
                                <span class="fa fa-object-group"></span> Dashboards<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                            </a>
                            <ul class="treeview-menu">

                                <li id="menu_dashboardCRUD" class="treeview">
                                    <a href="#">
                                        <span class="fa fa-server"></span>Gestión de dashboards<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li id="dashboardCRUD"><a href="@Url.Action("Index", "Tbl_DashBoards")"><i class="glyphicon glyphicon-minus"></i> Lista de dashboards</a></li>

                                    </ul>
                                </li>

                                <li id="menu_dashboardGenerales" class="treeview">
                                    <a href="#">
                                        <span class="fa fa-server"></span>Dashboards generales<span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul class="treeview-menu">

                                        <li id="dashboard_variableGeneral"><a href="@Url.Action("Dashboard", "Analisis")"><i class="glyphicon glyphicon-minus"></i> Variables</a></li>

                                        <li id="dashboard_cpkGeneral"><a href="@Url.Action("DasboardCpkSelector","Analisis")"><span class="glyphicon glyphicon-minus"></span> Cpk</a></li>

                                        <li id="notification"><a href="@Url.Action("DashboardCpkByUser","Analisis")"><span class="glyphicon glyphicon-minus"></span> Cpk Favoritos</a></li>


                                    </ul>
                                </li>



                            </ul>
                        </li>
                    </ul>
                </li>

            }

            <li class="active treeview menu-open">
                <a href="~/">
                    <i class="fa fa-edit"></i> <span>Estructura</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    @*<li id="dashboard_lastResult"><a href="@Url.Action("ViewLastResults", "Analisis")"><i class="glyphicon glyphicon-tasks"></i> Tabla de Hojas</a></li>*@
                    <li id="dashboard_lastResult"><a href="@Url.Action("ViewLastResultsFilter", "Analisis")"><i class="glyphicon glyphicon-tasks"></i> Buscador de hojas</a></li>
                    <li id="menu_maquinas" class="treeview">
                        <a href="#">
                            <i class="fa fa-building-o"></i><span>Empresas</span>
                            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                        </a>

                        @*<ul id="Branch_maquinas" class="treeview-menu">*@

                        <ul id="Branch_Empresas" class="treeview-menu">

                            @*<li id="menu_' + Datos_Maquina[0] + '" class="treeview">
                                    <a href="#">
                                        <i class="fa fa-folder"></i><span id="label_' + Datos_Maquina[0] + '">' + Datos_Maquina[1] + '</span>
                                        <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                    </a>
                                    <ul id="producto_maquina_' + Datos_Maquina[0] + '" class="treeview-menu">
                                        <li id="menu_producto' + Datos_Maquina[1] + '" class="treeview">
                                            <a href="#">
                                                <i class="fa fa-folder"></i><span id="label_' + Datos_Maquina[1] + '">' + Datos_Maquina[2] + '</span>
                                                <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                                            </a>
                                            <ul id="hojas_maquina_' + Datos_Maquina[0] + '" class="treeview-menu"></ul>
                                    </ul>
                                </li>*@



                        </ul>
                    </li>


                    @*}
                        @if (@User.IsInRole("Administrador") || @User.IsInRole("Supervisor"))
                        {*@
                    @*<li id="menu_auditoria">
                            <a href="#"><i class="fa fa-book"></i><span>Auditoría</span></a>
                        </li>*@
                    @*}
                        @if (!@User.IsInRole("Operador"))
                        {*@
                    @*<li id="menu_analisis" class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart-o"></i> <span>Analisis</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu">
                                <li id="menu_analisis_res">
                                    <a href="#" onclick="loadUrl('http://somesite.com'); return false;">
                                        <i class="fa fa-pie-chart"></i><span>Análisis de Resolución</span>
                                    </a>
                                </li>
                                <li id="menu_analisis_time">
                                    <a href="#" onclick="loadUrl('http://somesite.com'); return false;">
                                        <i class="fa fa-line-chart"></i><span>Análisis de Tiempo</span>
                                    </a>
                                </li>
                            </ul>
                        </li>*@
                    @*}*@

                </ul>
            </li>

            <li class="active treeview menu-open">
                <a href="~/">
                    <i class="fa fa-briefcase"></i> <span>Favoritos</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">


                    <li class="active treeview menu-open">

                        <ul id="Branch_Favoritos" class="treeview-menu"></ul>
                    </li>


                </ul>
            </li>

            <li class="header">Documentación</li>
            @*<li><a target="_blank" href="~/"><i class="fa fa-circle-o text-red"></i> <span>Manual de usuario</span></a></li>*@
        </ul>

    }
}