﻿
@{
    ViewBag.Title = "Tareas";
}


@section Scripts {
  
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>




    <script>
     

        </script>
}