﻿@using TransferSPC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TransferSPC | Log in</title>
    <link href="~/Content/img/transfericon.png" rel="shortcut icon" type="image/x-icon" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Content/dist/css/skins/_all-skins.css">

    <link rel="stylesheet" href="~/Content/Site.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
</head>



<body class="hold-transition login-page" style="background:#173248 !important;">
    <div class="login-box">
        <div class="login-logo" style="text-align:center">
            <img src="~/Content/img/Logo.png" style="height:10%;width:20%" />
            <a href="#"><b style="color:#ffffff">TransferSPC</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Introduzca sus datos</p>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @role = "form" }))
            {
                <div class="col-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">

                    @*<span class="glyphicon glyphicon-envelope form-control-feedback"></span>*@
                    <input type="text" name="username" id="UserName" class="form-control" placeholder="Usuario" autocomplete="off">
                </div>
                <div class="form-group has-feedback">
                    @*<span class="glyphicon glyphicon-lock form-control-feedback"></span>*@
                    <input type="password" name="pass" id="pass" class="form-control" placeholder="Contraseña" autocomplete="off">
                </div>


                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" style="background-color:#31586f">Entrar</button>


                    </div>
                    <div class="col-xs-6" style="float:right;padding-top:5px">
                        <img src="~/Content/img/entpricelogo.jpg" style="max-width:100%;max-height:100%;"/>

                    </div>
                   
                    <!-- /.col -->
                </div>}
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-4">
        </div>
  
        <div class="col-lg-4" style="text-align:center;background-color:#ffffff;border-radius:8px;border-style:solid;border-color:#091246;border-width:2px;padding:2px" >
            <img src="~/Content/img/entpricelogo.jpg" />
        </div>
        <div class="col-lg-4">
        </div>
    </div>*@
    <!-- /.login-box -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}