﻿@model IEnumerable<TransferSPC.Models.Tbl_Enterprice>

@{

}

<div style="display: none">
    <input type="text" id="ElementSelected" />
    <input type="text" id="ElementStationId" />
    <input type="text" id="ElementSelectedType" />
</div>

<div id="BoardStructureBuild" class="col-md-4">
    <div id="html1">
        <ul>
            <li data-jstree='{"icon":"fa fa-building-o"}' class="jstree-open">
                TransferSpc
                <ul>
                    @foreach (var item in Model)
                    {
                        string CurrentBranch = "Obj_NodeEnterpriceBranch" + item.Int_Id;
                        <li data-jstree='{"icon":"fa fa-building"}' class="jstree-open">
                            <a class="Obj_NodeEnterprice" data-id="@item.Int_Id" data-type="Enterprice" href="#">@item.Chart_BusinessName</a><ul id="@CurrentBranch"></ul>
                        </li>}
                </ul>
            </li>
        </ul>
    </div>
</div>

<div id="StructureSave" class="col-md-4" @*style="display:none"*@>

</div>
<div class="col-md-8" style="padding:5px">
    <div class="card">

        <ul class="list-group list-group-flush">
            <li class="list-group-item" id="BtnSubgrupo" style="display:none"><button type="button" class="btn btn-primary" style="width: 100%;">+ Subgrupo</button></li>
            <li class="list-group-item" id="BtnEstacion" style="display:none"><button type="button" class="btn btn-primary" style="width: 100%;">+ Nueva Estación</button></li>
            <li class="list-group-item" id="BtnMaquina" style="display:none"><button type="button" class="btn btn-primary" style="width: 100%;">+ Nueva Máquina</button></li>
            <li class="list-group-item" id="BtnProducto" style="display:none"><button type="button" class="btn btn-primary" style="width: 100%;">+ Nuevo Producto</button></li>
            <li class="list-group-item" id="BtnHoja" style="display:none"><button type="button" class="btn btn-primary" style="width: 100%;">+ Nueva Hoja</button></li>

        </ul>
    </div>
    <div id="DatatableStructureDiv" style="display: none">
        <table id="DatatableStructure" class="table table-condensed table-hover ">
            <thead class="datatable_title ">
                <tr>
                    <th>

                    </th>
                    <th>
                        Máquinas Creadas
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="DatatableProductDiv" style="display: none">
        <table id="DatatableProduct" class="table table-condensed table-hover ">
            <thead class="datatable_title ">
                <tr>
                    <th>

                    </th>
                    <th>
                        Productos Creados
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    <div id="DatatableSheetDiv" style="display: none">
        <table id="DatatableSheet" class="table table-condensed table-hover ">
            <thead class="datatable_title ">
                <tr>
                    <th>

                    </th>
                    <th>
                        Hojas Creadas
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<style>
    .Mymodal-dialog,
    .Mymodal-content {
        /* 80% of window height */
        height: 90%;
    }

    .MyVarData {
        max-height: 320px;
    }

    .MyButton {
        width: 100% !important;
    }

    .Mymodal-body {
        max-height: calc(100% - 220px);
        overflow-y: auto;
    }

    .VarList {
        max-height: 400px;
        overflow: auto;
    }
</style>

@*/////////Button Box ////////////////*@
<!-- Modal -->
<div class="modal fade in" id="asignModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Asignar Hoja</h5>

            </div>
            <div class="modal-body ">
                <section class="content" style="max-height:90% !important">
                    <div class="row">
                        <div class="col-sm-4 VarList">
                            <input type="hidden" id="SheetToAddId" />
                            <ul id="ModalSheets" style="padding:0px"></ul>
                        </div>
                        <div class="MyVarData col-sm-7" style="margin:5px">
                            <div class="row" id="AllBoard" style="display:none">
                                <div class="col-sm-6" style="padding:3px">
                                    <label>Nombre Variable</label>
                                    <input class="form-control" id="Chart_Name" readonly />
                                </div>
                                <div class="col-sm-6" style="padding:3px">
                                    <label>Clave Variable</label>
                                    <input class="form-control" id="Chart_Text" readonly />
                                </div>
                                <div class="col-sm-6 Limites" style="padding:3px">
                                    <label>Límite Inferior Especificacíon</label>
                                    <input class="form-control" id="Float_MinValue" />
                                </div>
                                <div class="col-sm-6 Limites" style="padding:3px">
                                    <label>Límite Superior Especificacíon</label>
                                    <input class="form-control" id="Float_MaxValue" />
                                </div>
                                <div class="col-sm-6 Limites" style="padding:3px">
                                    <label>Límite Inferior Nominal</label>
                                    <input class="form-control" id="Float_MinValueNominal" />
                                </div>
                                <div class="col-sm-6 Limites" style="padding:3px">
                                    <label>Límite Superior Nominal</label>
                                    <input class="form-control" id="Float_MaxValueNominal" />
                                </div>
                                <div class="col-sm-6 Limites" style="padding:3px">
                                    <label>Límite Inferior Validación</label>
                                    <input class="form-control" id="Float_MinValueValidation" />
                                </div>
                                <div class="col-sm-6 Limites" style="padding:3px">
                                    <label>Límite Superior Validación</label>
                                    <input class="form-control" id="Float_MaxValueValidation" />
                                </div>
                                <div class="col-sm-6" style="padding:3px">
                                    <label>Indice</label>
                                    <input class="form-control" id="Chart_Indice" />
                                </div>
                                <div class="col-sm-6" style="padding:3px">
                                    <label>Cantidad de Muestra</label>
                                    <input class="form-control" id="Int_CantMuestra" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" id="ProceedToInsert" class="btn btn-success">Asignar Hoja</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="TimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">


            </div>
            <div class="modal-body centered-loader">

                <div class="row">
                    <div class="col-md-6 bg ">
                        <div class="loader" id="loader-2">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer centered-loader">
                <p style="color: #3498db;font-size: 16px;">  Procesando </p>
            </div>
        </div>
    </div>
</div>


@*///////////////////////////////////////////////////*@



<link rel="stylesheet" href="~/Scripts/jsTree3/themes/default/style.min.css" />


@section Scripts{

    <script src="~/Scripts/jsTree3/jstree.js"></script>
    <script>
        $('#DataTableToAsignation').DataTable();
        $('#DatatableProduct').DataTable();
        LoadElements();
        //$('#TimerModal').modal({ backdrop: 'static', keyboard: false })
        //$('#TimerModal').modal('show');


        // $('#html1').jstree();

        //$('#html1').jstree({
        //    'core': {
        //        'data': [
        //           { "id": "ajson1", "parent": "#", "text": "Simple root node" },
        //           { "id": "ajson2", "parent": "#", "text": "Root node 2" },
        //           { "id": "ajson3", "parent": "ajson2", "text": "Child 1" },
        //           { "id": "ajson4", "parent": "ajson2", "text": "Child 2" },
        //        ]
        //    }
        //});


        //var CoreDatas = $('#html1').jstree();

        //var ok = 1;
        var promised = LoadAllStructure();

        if (promised == false) {

        }
        else {
            promised.done(function (data) {
                //////Cargue las Estaciones
                //var promisedElementProducer = LoadAllMachine();
                SaveStructure();
                $('#html1').jstree();

                //if (promisedElementProducer == false) {

                //}
                //else {
                //    promisedElementProducer.done(function (data) {
                //        //////Cargue las Maquinas
                //        var promisedProduct = LoadAllProducts();

                //        if (promisedProduct == false) {

                //        }
                //        else {
                //            promisedProduct.done(function (data) {
                //                //////Cargue los productos
                //                var promisedSheet = LoadAllSheets();
                //                promisedSheet.done(function (data) {
                //                    $('#html1').jstree();
                //                });
                //            });
                //        }
                //    });
                //}
            });
        }

        //////////////////////////////////
        function SaveStructure() {
            $("#StructureSave").empty();
            var Obj = $("#html1").children();
            $(Obj[0]).clone().appendTo("#StructureSave");


        }

        function LoadElements() {
            var NodosSinProcesar = document.getElementsByClassName("Obj_Node");

            for (var i = 0; i < NodosSinProcesar.length; i++) {
                var TypeElement = $(NodosSinProcesar[i]).data("type");
                var ElementId = $(NodosSinProcesar[i]).data("id");

            }
        }

        function HideAllButton() {
            $("#BtnSubgrupo").hide();
            $("#BtnEstacion").hide();
            $("#BtnMaquina").hide();
            $("#BtnProducto").hide();
            $("#BtnHoja").hide();

        }

        function ShowSubgroupActions() {
            $("#BtnSubgrupo").show();
            $("#BtnEstacion").show();
        }

        function LoadAllStructure() {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_All_Station", "Tbl_Structure")',
                success: function (data) {
                    if (data != "Error") {
                        for (var i = 0; i < data.length; i++) {
                            var BranchName = "Obj_NodeEnterpriceBranch" + data[i].EnterPrizeId;
                            var CurrentEnterPrice = document.getElementById(BranchName);

                            var IconValue = " data-jstree='{" + '"icon"' + ':' + '"fa fa-folder"' + '}' + "'" + " ";

                            $(CurrentEnterPrice).append('<li' + IconValue + 'class="jstree-open"><a class="Obj_NodeStation" data-id="' + data[i].Int_id + '" oncontextmenu="ContexMenuStation(this)" data-type="Station" href="#">' + data[i].Chart_StructureName + '</a><ul id="Obj_NodeStationBranch' + data[i].Int_id + '"></ul>');
                        }
                    }
                }
            });
        }

        function LoadAllMachine(ElementId) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_All_Machine", "Tbl_Structure")',
                data: {
                    ElementId: ElementId
                },
                success: function (data) {
                    if (data != "Error") {
                        var BranchName = "Obj_NodeStationBranch" + ElementId;

                        var CurrentEnterPrice = document.getElementById(BranchName);

                        $(CurrentEnterPrice).empty();

                        for (var i = 0; i < data.length; i++) {


                            var ElementName = "Obj_NodeElementProducer" + data[i].Int_id;

                            var IconValue = " data-jstree='{" + '"icon"' + ':' + '"fa fa-gears"' + '}' + "'" + " ";

                            $(CurrentEnterPrice).append('<li' + IconValue + 'class="jstree-open"><a class="Obj_NodeElementProducer" oncontextmenu="ContexMenuMaquina(this)" data-stationid ="' + data[i].StationId + '" data-id="' + data[i].Int_id + '" data-type="ElemenProducer" href="#">' + data[i].Chart_ElementProducerName + '</a><ul id="' + ElementName + '"></ul>');
                        }
                        SaveStructure();
                        var Arbol = document.getElementById("html1");
                        $(Arbol).jstree();
                        $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                        $('#TimerModal').modal('hide');
                    }
                }
            });
        }

        function LoadFreeMachines() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadFreeMachines", "Tbl_Structure")',
                data: {
                    id_station: $("#ElementSelected").val(),
                },
                success: function (data) {
                    var ObjectResult = JSON.parse(data);
                    $('#DatatableStructure').dataTable().fnClearTable();
                    $('#DatatableStructure').dataTable().fnDestroy();
                    var table = $('#DatatableStructure').DataTable();

                    for (var i = 0; i < ObjectResult.length; i++) {
                        var Current_Id = ObjectResult[i].Int_id;
                        var Current_Name = ObjectResult[i].Chart_ElementProducerName;
                        table.row.add(['<a href="#" class="btn btn-primary btn-sm" id="machine-insert" data-id="' + Current_Id + '"><i class="fa fa-plus"></i></a>', Current_Name]).draw().node();;
                    }
                }
            });
        }

        function LoadFreeProducts() {


            var Station_Id = $("#ElementStationId").val();
            var Machine_Id = $("#ElementSelected").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("LoadFreeProducts", "Trf_Products")',
                data: {
                    id_Station: Station_Id,
                    idelementproducer: Machine_Id,
                },
                success: function (data) {
                    var ObjectResult = JSON.parse(data);
                    $('#DatatableProduct').dataTable().fnClearTable();
                    $('#DatatableProduct').dataTable().fnDestroy();
                    var table = $('#DatatableProduct').DataTable();

                    for (var i = 0; i < ObjectResult.length; i++) {
                        var Current_Id = ObjectResult[i].Int_id;
                        var Current_Name = ObjectResult[i].Chart_Products;
                        table.row.add(['<a href="#" class="btn btn-primary btn-sm" id="product-insert" data-id="' + Current_Id + '"><i class="fa fa-plus"></i></a>', Current_Name]).draw().node();;
                    }
                }
            });
        }


        function LoadAllProducts(ElementId, StationId) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_All_Product", "Tbl_Structure")',
                data: {
                    ElementId: ElementId,
                    StationId: StationId
                },
                success: function (data) {
                    if (data != "Error") {
                        var BranchName = "Obj_NodeElementProducer" + ElementId;

                        var CurrentElementProducer = document.getElementById(BranchName);

                        $(CurrentElementProducer).empty();

                        for (var i = 0; i < data.length; i++) {

                            var ElementName = "Obj_NodeProduct" + data[i].Int_id;

                            var IconValue = " data-jstree='{" + '"icon"' + ':' + '"fa fa-product-hunt"' + '}' + "'" + " ";

                            $(CurrentElementProducer).append('<li' + IconValue + 'class="jstree-open"><a class="Obj_NodeProduct" oncontextmenu="ContexMenuProduct(this)" data-ElementProducerProduct="' + data[i].ElementProducerProduct + '" data-id="' + data[i].Int_id + '" data-type="Product" href="#">' + data[i].Chart_Products + '</a><ul id="' + ElementName + '"></ul>');
                        }

                        SaveStructure();
                        var Arbol = document.getElementById("html1");
                        $(Arbol).jstree();
                        $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                        $('#TimerModal').modal('hide');
                    }
                }
            });
        }

        function LoadAllSheets(elementproducerproductId) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_All_Sheets", "Tbl_Structure")',
                data: {
                    elementproducerproductId: elementproducerproductId
                },
                success: function (data) {
                    if (data != "Error" && data.List_All_Sheet_Relation.length) {
                        var BranchName = "Obj_NodeProduct" + data.List_All_Sheet_Relation[0].Fk_IdProducts;

                        var CurrentElementProducer = document.getElementById(BranchName);

                        $(CurrentElementProducer).empty();

                        for (var i = 0; i < data.List_All_Sheet_Relation.length; i++) {

                            var ElementName = "Obj_NodeSheet" + data.List_All_Sheet_Relation[i].Fk_IdSheet + "ElementProducerProduct" + data.List_All_Sheet_Relation[i].Fk_IdElementProducerProducts;

                            var IconValue = " data-jstree='{" + '"icon"' + ':' + '"fa fa-list"' + '}' + "'" + " ";

                            $(CurrentElementProducer).append(`<li ${IconValue} class="jstree-open"><a data-elementProducerProduct="${data.ElementProducerProduct}" data-bind="Sheet_Tree" data-id="${data.List_All_Sheet_Relation[i].Fk_IdSheet}" data-type="Sheet" oncontextmenu="ContexMenuSheet(this)" href="#"> ${data.List_All_Sheet_Relation[i].Chart_Name} </a><ul id="${ElementName}"></ul>`);
                        }
                    }
                    SaveStructure();
                    var Arbol = document.getElementById("html1");
                    $(Arbol).jstree();
                    $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                    $('#TimerModal').modal('hide');

                }
            });
        }

        function ContexMenuStation(element) {
            var DomElementKind = $(element).data("type");
            var IdStation = $(element).data("id");


            if (DomElementKind == "Station") {
                var v = $(this).attr("id");
                if (v == "Div_Submenu_Sheet") {
                    return false;
                }
                else {
                    if ($("#submenu_state_Sheet").val() == 1) {
                        $("#submenu_state_Sheet").val(0);
                        $("#Sub_Menu_Sheet").remove();
                    }
                }

                $("#submenu_state").val(1);
                var x = event.clientX - 0;
                var y = event.clientY - 80;
                var SubmenuStr = '';
                SubmenuStr += '<div id="Sub_Menu_Sheet" style="position: absolute; z-index: 9999; top: ' + y + 'px; left: ' + x + 'px;" class="open"><ul class="dropdown-menu items-holder" role="menu" style="">';

                SubmenuStr += '<li  onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" onclick="Remove_StationFromTree(' + IdStation + ')"  data-id="' + IdStation + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Eliminar Estación</a></li>';

                SubmenuStr += '<li class="divider"></li><li><a href="/Trf_Sheet"><span class="fa fa-times" style="margin-right: 10px;"></span>Cerrar</a></li></ul></div>';

                $("#Div_Submenu_Sheet").append(SubmenuStr);
                return false;
            }
        }

        function ContexMenuMaquina(element) {
            var DomElementKind = $(element).data("type");
            var Idmaquina = $(element).data("id");
            var ElementProducerProduct = $(element).data("stationid");

            if (DomElementKind == "ElemenProducer") {
                var v = $(this).attr("id");
                if (v == "Div_Submenu_Sheet") {
                    return false;
                }
                else {
                    if ($("#submenu_state_Sheet").val() == 1) {
                        $("#submenu_state_Sheet").val(0);
                        $("#Sub_Menu_Sheet").remove();
                    }
                }

                $("#submenu_state").val(1);
                var x = event.clientX - 0;
                var y = event.clientY - 80;
                var SubmenuStr = '';
                SubmenuStr += '<div id="Sub_Menu_Sheet" style="position: absolute; z-index: 9999; top: ' + y + 'px; left: ' + x + 'px;" class="open"><ul class="dropdown-menu items-holder" role="menu" style="">';

                SubmenuStr += '<li  onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" onclick="Remove_MaqFromTree(' + ElementProducerProduct + ',' + Idmaquina + ')" data-Relacion="' + ElementProducerProduct + '" data-id="' + Idmaquina + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Eliminar Máquina</a></li>';

                SubmenuStr += '<li class="divider"></li><li><a href="/Trf_Sheet"><span class="fa fa-times" style="margin-right: 10px;"></span>Cerrar</a></li></ul></div>';

                $("#Div_Submenu_Sheet").append(SubmenuStr);
                return false;
            }
        }

        function ContexMenuProduct(element) {
            var DomElementKind = $(element).data("type");
            var IdProducto = $(element).data("id");
            var ElementProducerProduct = $(element).data("elementproducerproduct");

            if (DomElementKind == "Product") {
                var v = $(this).attr("id");
                if (v == "Div_Submenu_Sheet") {
                    return false;
                }
                else {
                    if ($("#submenu_state_Sheet").val() == 1) {
                        $("#submenu_state_Sheet").val(0);
                        $("#Sub_Menu_Sheet").remove();
                    }
                }

                $("#submenu_state").val(1);
                var x = event.clientX - 0;
                var y = event.clientY - 80;
                var SubmenuStr = '';
                SubmenuStr += '<div id="Sub_Menu_Sheet" style="position: absolute; z-index: 9999; top: ' + y + 'px; left: ' + x + 'px;" class="open"><ul class="dropdown-menu items-holder" role="menu" style="">';

                SubmenuStr += '<li  onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" onclick="Remove_Prod_TreeFunc(' + ElementProducerProduct + ',' + IdProducto + ')" data-Relacion="' + ElementProducerProduct + '" data-id="' + IdProducto + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Eliminar Producto</a></li>';

                SubmenuStr += '<li class="divider"></li><li><a href="/Trf_Sheet"><span class="fa fa-times" style="margin-right: 10px;"></span>Cerrar</a></li></ul></div>';

                $("#Div_Submenu_Sheet").append(SubmenuStr);
                return false;
            }
        }

        function ContexMenuSheet(element) {
            var DomElementKind = $(element).data("bind");
            var IdHoja = $(element).data("id");
            var ElementProducerProduct = $(element).data("elementproducerproduct");

            if (DomElementKind == "Sheet_Tree") {
                var v = $(this).attr("id");
                if (v == "Div_Submenu_Sheet") {
                    return false;
                }
                else {
                    if ($("#submenu_state_Sheet").val() == 1) {
                        $("#submenu_state_Sheet").val(0);
                        $("#Sub_Menu_Sheet").remove();
                    }
                }

                $("#submenu_state").val(1);
                var x = event.clientX - 0;
                var y = event.clientY - 80;
                var SubmenuStr = '';
                SubmenuStr += '<div id="Sub_Menu_Sheet" style="position: absolute; z-index: 9999; top: ' + y + 'px; left: ' + x + 'px;" class="open"><ul class="dropdown-menu items-holder" role="menu" style="">';

                SubmenuStr += '<li  onmouseleave="LeaveSupervisorData()" onmouseover="HoverSupervisorData()"><a href="#" onclick="Remove_Sheet_TreeFunc(' + ElementProducerProduct + ',' + IdHoja + ')" data-Relacion="' + ElementProducerProduct + '" data-id="' + IdHoja + '"><span class="fa fa-minus" style="margin-right: 10px;"></span>Eliminar Hoja</a></li>';

                SubmenuStr += '<li class="divider"></li><li><a href="/Trf_Sheet"><span class="fa fa-times" style="margin-right: 10px;"></span>Cerrar</a></li></ul></div>';

                $("#Div_Submenu_Sheet").append(SubmenuStr);
                return false;
            }
        }


        function RemoveCurrentProductsTree(ElementProducerProduct) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveCurrentProductsTree", "Trf_Products")',
                data: {
                    ElementProducerProduct: ElementProducerProduct,
                },
                success: function (data) {
                    if (data == "True") {
                        var UrlEdit = ' @Url.Action("BuildStructure", "Tbl_Structure")';
                        window.location = UrlEdit;
                    }
                }
            });
        }

        function GetAllSheets() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("IndexHojas", "Trf_Sheet")',
                success: function (data) {
                    $('#DatatableSheet').dataTable().fnClearTable();
                    $('#DatatableSheet').dataTable().fnDestroy();
                    var table = $('#DatatableSheet').DataTable();
                    var ObjectResult = JSON.parse(data);
                    for (var i = 0; i < ObjectResult.length; i++) {
                        var ElementProductId = $("#ElementSelected").val();
                        var Current_Id = ObjectResult[i].Id_Sheet;
                        var Current_Name = ObjectResult[i].Chart_Name;
                        table.row.add(['<a href="#" class="btn btn-primary btn-sm" id="sheet-insert" data-ElementSelected="' + ElementProductId + '" data-id="' + Current_Id + '"><i class="fa fa-plus"></i></a>', Current_Name, `<a href="#" data-id="${Current_Id}" class='btn btn-warning btn-sm' id="sheet-edit" ><i class='fa fa-pencil'></i></a><a href="#" data-id="${Current_Id}" class='btn btn-danger btn-sm smallButtons' id="sheet-remove"><i class='fa fa-trash'></i></a>`]).draw().node();;

                    }
                }
            });
        }

        function GetAllVariables(Product_Id, Sheet_Id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AsignSheetByElementProducerProduct", "Trf_Sheet")',
                data: {
                    ElementProducerProduct_Id: Product_Id,
                    Sheet_Id: Sheet_Id,
                },
                success: function (data) {

                    var ObjectResult = JSON.parse(data);

                    for (var i = 0; i < ObjectResult.Lista_Preguntas.length; i++) {
                        $("#ModalSheets").append(`<div class="row MyButton" ><button type="button" class="btn btn-primary VarButton MyButton" data-Indice="${i + 1}" data-Int_CantMuestra="${ObjectResult.Lista_Preguntas[i].Int_CantMuestra}" data-Float_MaxValueNominal="${ObjectResult.Lista_Preguntas[i].Float_MaxValueNominal}" data-Float_MinValueNominal="${ObjectResult.Lista_Preguntas[i].Float_MinValueNominal}" data-Float_MaxValueValidation="${ObjectResult.Lista_Preguntas[i].Float_MaxValueValidation}" data-Float_MinValueValidation="${ObjectResult.Lista_Preguntas[i].Float_MinValueValidation}" data-Int_QuestionType="${ObjectResult.Lista_Preguntas[i].Int_QuestionType}" data-Chart_Text="${ObjectResult.Lista_Preguntas[i].Chart_Text}" data-Chart_Name="${ObjectResult.Lista_Preguntas[i].Chart_Name}" data-Float_MaxValue="${ObjectResult.Lista_Preguntas[i].Float_MaxValue}" data-Float_MinValue="${ObjectResult.Lista_Preguntas[i].Float_MinValue}" data-id="${ObjectResult.Lista_Preguntas[i].Int_Id}">${ObjectResult.Lista_Preguntas[i].Chart_Name}</button></div>`);
                    }


                }
            });
        }


        function Remove_StationFromTree(IdStation) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_StationFromTree", "Trf_Sheet")',
                data: {
                    IdStation: IdStation,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Máquina se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }


        function Remove_ProdFromTree(IdProduct, ElementProducerProduct) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_ProdFromTree", "Trf_Sheet")',
                data: {
                    IdProduct: IdProduct,
                    ElementProducerProduct: ElementProducerProduct,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Hoja se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }




        function Remove_MaqFromTree(StationId, Maquina_id) {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_MaqFromTree", "Trf_Sheet")',
                data: {
                    Maquina_id: Maquina_id,
                    StationId: StationId,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Máquina se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }


        function Remove_ProdFromTree(IdProduct, ElementProducerProduct) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_ProdFromTree", "Trf_Sheet")',
                data: {
                    IdProduct: IdProduct,
                    ElementProducerProduct: ElementProducerProduct,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Hoja se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        function Remove_SheetFromTree(IdHoja, ElementProducerProduct) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_SheetFromTree", "Trf_Sheet")',
                data: {
                    IdHoja: IdHoja,
                    ElementProducerProduct: ElementProducerProduct,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Hoja se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        function Remove_sheet(id_sheet) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Sheet", "Trf_Sheet")',
                data: {
                    id_sheet: id_sheet,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Hoja se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }


        function Remove_Prod_TreeFunc(ElementProducerProduct, IdProducto) {
            Swal.fire({
                title: 'Aviso',
                text: "¿Desea eliminar el producto?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#00a65a',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: "No"
            }).then((result) => {
                if (result.value) {
                    Remove_ProdFromTree(IdProducto, ElementProducerProduct);
                }
            })

            $("#Sub_Menu_Sheet").remove();
        }


        function Remove_Sheet_TreeFunc(ElementProducerProduct, IdHoja) {
            Swal.fire({
                title: 'Aviso',
                text: "¿Desea eliminar la hoja?",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#00a65a',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: "No"
            }).then((result) => {
                if (result.value) {
                    Remove_SheetFromTree(IdHoja, ElementProducerProduct);
                }
            })

            $("#Sub_Menu_Sheet").remove();
        }


        function UpdateTreeState() {
            $("#BoardStructureBuild").empty();

            var Obj = $("#StructureSave").children();

            var Copia = $(Obj[0]).clone();

            $("#BoardStructureBuild").append('<div id="html1"></div>');

            $(Copia).appendTo("#html1");

            var Arbol = document.getElementById("html1");

            $(Arbol).jstree()
        }



        /////////////////////////////////

        $(document).ready(function () {


            $('body').on('click', '#sheet-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la hoja?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_sheet(Id_Question);
                    }
                })
            })

            $('body').on('click', '#sheet-edit', function () {
                var Id = $(this).data("id");

                var UrlEdit = `@Url.Action("EditStructure", "Trf_Sheet")/${Id}`;
                window.location = UrlEdit;
            })

            $('body').on('click', '#ProceedToInsert', function () {
                var Sheet_Id = $("#SheetToAddId").val();
                var List_elementos = document.getElementsByClassName("VarButton");
                var ArregloElementos = [];
                for (var i = 0; i < List_elementos.length; i++) {
                    var Obj = {
                        Fk_IdElementProducerProducts: $("#ElementSelected").val(),
                        Fk_IdSheet: Number($("#SheetToAddId").val()),
                        Fk_VariableId: $(List_elementos[i]).data("id"),
                        Float_MinValue: $(List_elementos[i]).data("float_minvalue"),
                        Float_MaxValue: $(List_elementos[i]).data("float_maxvalue"),
                        Float_ValidationMinValue: $(List_elementos[i]).data("float_minvaluevalidation"),
                        Float_ValidationMaxValue: $(List_elementos[i]).data("float_maxvaluevalidation"),
                        Int_CantMuestra: $(List_elementos[i]).data("int_cantmuestra"),
                        Int_Indice: $(List_elementos[i]).data("indice"),
                        Bool_Obligatory: null,
                        Bool_Blocked: null,
                        Float_NominalMinValue: $(List_elementos[i]).data("float_minvaluenominal"),
                        Float_NominalMaxValue: $(List_elementos[i]).data("float_maxvaluenominal"),
                        Int_QuestionType: $(List_elementos[i]).data("int_questiontype")
                    }
                    ArregloElementos.push(Obj);
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AsignSheetTree", "Tbl_Structure")',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "JSON",
                    data: JSON.stringify(ArregloElementos),
                    success: function (data) {
                        if (data == true) {
                            Swal.fire({
                                title: 'Correcto',
                                text: "La hoja se asignó correctamente",
                                type: 'success',
                                closeOnClickOutside: false,
                                allowOutsideClick: false,
                                showCancelButton: false,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Continuar'
                            }).then((result) => {
                                if (result.value) {
                                    $('#asignModal').modal('hide');
                                    var UrlEdit = ' @Url.Action("BuildStructure", "Tbl_Structure")';
                                    window.location = UrlEdit;
                                }
                            })
                        }

                    }
                });

            })



            $('body').on('click', '#BtnHoja', function () {
                var UrlEdit = ' @Url.Action("CreateFromStructure", "Trf_Sheet")';
                window.location = UrlEdit;
            })

            $('body').on('click', '.VarButton', function () {
                $("#Chart_Name").val($(this).data("chart_name"));
                $("#Chart_Text").val($(this).data("chart_text"));
                $("#AllBoard").show();
                if ($(this).data("int_questiontype") == 1 || $(this).data("int_questiontype") == 4) {
                    $(".Limites").show();
                    $("#Float_MinValue").val($(this).data("float_minvalue"));
                    $("#Float_MaxValue").val($(this).data("float_maxvalue"));
                    $("#Float_MaxValueNominal").val($(this).data("float_maxvaluenominal"));
                    $("#Float_MinValueNominal").val($(this).data("float_minvaluenominal"));
                    $("#Float_MinValueValidation").val($(this).data("float_minvaluevalidation"));
                    $("#Float_MaxValueValidation").val($(this).data("float_maxvaluevalidation"));
                    $("#Chart_Indice").val($(this).data("indice"));
                    $("#Int_CantMuestra").val($(this).data("int_cantmuestra"));
                }
                else {
                    $(".Limites").hide();
                }
            })

            $('body').on('click', '#sheet-insert', function () {
                var Product_Id = $("#ElementSelected").val();
                var Sheet_Id = $(this).data("id");
                var ClassNameSheet = "Obj_NodeSheet" + Sheet_Id + "ElementProducerProduct" + Product_Id;
                var Cant_elementos = document.getElementsByClassName(ClassNameSheet).length;
                if (Cant_elementos > 0) {
                    Swal.fire({
                        type: 'warning',
                        title: 'Atención',
                        text: 'Esta hoja ya se encuentra insertada en este nodo. Por lo que no podrá ser insertada una segunda vez.',
                    })
                }
                else {
                    $('#asignModal').modal('show');
                    $("#ModalSheets").empty();
                    $("#SheetToAddId").val(Sheet_Id);
                    GetAllVariables(Number(Product_Id), Sheet_Id);
                }


            })

            $('body').on('click', '#product-insert', function () {
                var Station_Id = $("#ElementStationId").val();
                var ElementProducer_Id = $("#ElementSelected").val();
                var Product_Id = $(this).data("id");

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Insert_Product", "Trf_Products")',
                    data: {
                        Station_Id: Station_Id,
                        ElementProducer_Id: ElementProducer_Id,
                        Product_Id: Product_Id,
                    },
                    success: function (data) {
                        @*if (data == "True") {
                            var UrlEdit = ' @Url.Action("BuildStructure", "Tbl_Structure")';
                            window.location = UrlEdit;
                        }*@

                        var ObjectResult = JSON.parse(data);

                        var BranchName = "Obj_NodeElementProducer" + ElementProducer_Id;

                        var CurrentElementProducer = document.getElementById(BranchName);

                        $(CurrentElementProducer).empty();

                        var ElementName = "Obj_NodeProduct" + ObjectResult.ElementProducerProduct_id;

                        var IconValue = " data-jstree='{" + '"icon"' + ':' + '"fa fa-product-hunt"' + '}' + "'" + " ";

                        $(CurrentElementProducer).append('<li' + IconValue + 'class="jstree-open"><a class="Obj_NodeProduct" oncontextmenu="ContexMenuProduct(this)" data-ElementProducerProduct="' + ObjectResult.ElementProducerProduct_id + '" data-id="' + ObjectResult.Product_Id + '" data-type="Product" href="#">' + ObjectResult.Chart_ProductName + '</a><ul id="' + ElementName + '"></ul>');

                        UpdateTreeState();

                        LoadFreeProducts();
                    }
                });

            })

            $('body').on('click', '.Obj_NodeProduct', function () {
                $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                $('#TimerModal').modal('show');
                var Lista_Elementos = document.getElementsByClassName("smallButton");
                for (var i = 0; i < Lista_Elementos.length; i++) {
                    $(Lista_Elementos[i]).remove();
                }

                HideAllButton();
                $("#ElementSelected").val($(this).data("elementproducerproduct"));
                $("#BtnHoja").show();
                $("#DatatableStructureDiv").hide();
                $("#DatatableProductDiv").hide();
                $("#DatatableSheetDiv").show();
                //Load Sheets
                GetAllSheets();

                var Cantidad = $(this).parent().find('ul').children('li').length;
                Cantidad == 0 ? $(this).append('<i class="product-remove smallButton fa fa-trash" style="margin-left: 20px;"></i>') : Cantidad = 4;
                var table = $('#DatatableSheet').DataTable();
                var elementproducerproductId = $(this).data("elementproducerproduct");
                $('#html1').remove();
                $("#BoardStructureBuild").append('<div id="html1"></div>');
                var ObjSaved = $("#StructureSave").children();
                $(ObjSaved[0]).clone().appendTo("#html1");

                var promisedProduc = LoadAllSheets(elementproducerproductId);

                if (promisedProduc == false) {

                }
                else {

                    ObjSaved = $("#StructureSave").children();
                    $(ObjSaved[0]).remove();
                    SaveStructure();
                }
            })


            $('body').on('click', '.product-remove', function () {
                var ElementProducerProduct = $(this).parent().data("elementproducerproduct");

                Swal.fire({
                    title: 'Alerta',
                    text: "Esta a punto de eliminar este producto. Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'No',
                    confirmButtonText: 'Si'
                }).then((result) => {
                    if (result.value) {

                        $('#TimerModalLayout').modal({ backdrop: 'static', keyboard: false })
                        $('#TimerModalLayout').modal('show');
                        var promised = RemoveCurrentProductsTree(ElementProducerProduct);

                        if (promised == false) {
                            $('#TimerModalLayout').modal('hide');
                        }
                        else {
                            promised.done(function (data) {
                                $('#TimerModalLayout').modal('hide');
                                var UrlEdit = ' @Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;
                            });
                        }
                    }
                })
            })




            $('body').on('click', '#machine-insert', function () {
                var Station_Id = $("#ElementSelected").val();
                var Machine_Id = $(this).data("id");

                var Current_Node = $(this);

                //var UlBranch = `<ul id="Obj_NodeStationBranch${Station_Id}"></ul>`;
                //$(this).append(UlBranch);

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Insert_Machine", "Trf_ElementProducer")',
                    data: {
                        Station_Id: Station_Id,
                        Machine_Id: Machine_Id,
                    },
                    success: function (data) {
                        var ObjectResult = JSON.parse(data);

                        CurrentEnterPrice = document.getElementById(`Obj_NodeStationBranch${Station_Id}`);

                        var IconValue = " data-jstree='{" + '"icon"' + ':' + '"fa fa-gears"' + '}' + "'" + " ";

                        $(CurrentEnterPrice).append('<li' + IconValue + 'class="jstree-open"><a class="Obj_NodeElementProducer" oncontextmenu="ContexMenuMaquina(this)" data-stationid ="' + ObjectResult.StationId + '" data-id="' + ObjectResult.Element_Producer_Id + '" data-type="ElemenProducer" href="#">' + ObjectResult.Chart_ElementProducerName + '</a><ul id="Obj_NodeElementProducer' + ObjectResult.Element_Producer_Id + '"></ul>');

                        UpdateTreeState();

                        LoadFreeMachines();

                    }
                });

            })

            $('body').on('click', '.Obj_NodeEnterprice', function () {
                var TypeElement = $(this).data("type");
                var ElementId = $(this).data("id");
                $("#ElementSelectedType").val(TypeElement);
                $("#ElementSelected").val(ElementId);
                HideAllButton();
                $("#DatatableStructureDiv").hide();
                $("#DatatableProductDiv").hide();
                $("#DatatableSheetDiv").hide();
                $("#BtnEstacion").show();
                LoadFreeMachines();
            })

            $('body').on('click', '.Obj_NodeStation', function () {
                $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                $('#TimerModal').modal('show');
                var TypeElement = $(this).data("type");
                var ElementId = $(this).data("id");
                $("#ElementSelectedType").val(TypeElement);
                $("#ElementSelected").val(ElementId);
                HideAllButton();
                $("#DatatableStructureDiv").show();
                $("#DatatableProductDiv").hide();
                $("#DatatableSheetDiv").hide();
                $("#BtnMaquina").show();
                LoadFreeMachines();
                $('#html1').remove();
                $("#BoardStructureBuild").append('<div id="html1"></div>');
                var ObjSaved = $("#StructureSave").children();
                $(ObjSaved[0]).clone().appendTo("#html1");




                var promisedElementProducer = LoadAllMachine(ElementId);

                if (promisedElementProducer == false) {

                }
                else {

                    ObjSaved = $("#StructureSave").children();
                    $(ObjSaved[0]).remove();
                    SaveStructure();
                }
            })

            $('body').on('click', '.Obj_NodeElementProducer', function () {
                $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                $('#TimerModal').modal('show');
                var Lista_Elementos = document.getElementsByClassName("smallButton");
                for (var i = 0; i < Lista_Elementos.length; i++) {
                    $(Lista_Elementos[i]).remove();
                }
                // $(this).append('<i class="machine-remove smallButton fa fa-trash" style="margin-left: 20px;"></i>');

                $("#ElementStationId").val($(this).data("stationid"));
                var TypeElement = $(this).data("type");
                var ElementId = $(this).data("id");
                var StationId = $("#ElementStationId").val();
                $("#ElementSelectedType").val(TypeElement);
                $("#ElementSelected").val(ElementId);
                $("#DatatableStructureDiv").hide();
                $("#DatatableSheetDiv").hide();
                $("#DatatableProductDiv").show();
                LoadFreeProducts();
                HideAllButton();
                $("#BtnProducto").show();

                $('#html1').remove();
                $("#BoardStructureBuild").append('<div id="html1"></div>');
                var ObjSaved = $("#StructureSave").children();
                $(ObjSaved[0]).clone().appendTo("#html1");

                var promisedProduc = LoadAllProducts(ElementId, StationId);

                if (promisedProduc == false) {

                }
                else {

                    ObjSaved = $("#StructureSave").children();
                    $(ObjSaved[0]).remove();
                    SaveStructure();
                }
            })


            $('body').on('click', '#BtnEstacion', function () {
                var UrlEdit = ' @Url.Action("CreateFromTree", "Tbl_Structure")';
                window.location = UrlEdit;
            })

            $('body').on('click', '#BtnMaquina', function () {

                var UrlEdit = ' @Url.Action("CreateFromTree", "Trf_ElementProducer")' + "/" + $("#ElementSelected").val();
                window.location = UrlEdit;
            })

            $('body').on('click', '#BtnProducto', function () {
                var varStation = $("#ElementStationId").val();
                var varElementProducer = $("#ElementSelected").val();
                var UrlEdit = ' @Url.Action("CreateFromTree", "Trf_Products")' + "/" + varStation + "/" + varElementProducer;
                window.location = UrlEdit;
            })



        });


    </script>

}
