﻿
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateConfigurationFile</title>
</head>
<body>
    <label style="align-self:center !important">Resumen de Configuración</label>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info-box">
                                    <span class="info-box-icon bg-blue-gradient"><i class="fa fa-folder"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Estación</span>
                                        <span class="info-box-number">@ViewBag.NombreEstacion</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <span class="info-box-icon bg-blue-gradient"><i class="fa fa-gears"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Máquina</span>
                                        <span class="info-box-number">@ViewBag.NombreMaquina</span>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                        <hr style="color: aliceblue" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="info-box">
                                    <span class="info-box-icon bg-blue-gradient"><i class="fa fa-product-hunt"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Producto</span>
                                        <span class="info-box-number">@ViewBag.NombreProducto</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box">
                                    <span class="info-box-icon bg-blue-gradient"><i class="fa fa-list"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Hoja</span>
                                        <span class="info-box-number">@ViewBag.NombreHoja</span>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
              
                        <div class="row">
                            <div class="col-md-10">
                                
                            </div>
                            <div class="col-md-2">
                                <input type="button" id="submit-products" value="Crear Fichero" class="btn btn-success btn-sm button-solution" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" value="@ViewBag.Relacion" id="RelacionId"/>
   
</body>
</html>
<script src="~/Scripts/FileSaver.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#submit-products").click(function () {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GenerateConfigurationAjaxFunction", "Tbl_Structure")',
                data: {
                    id: $("#RelacionId").val()
                },
                success: function (data) {
                    var ObjectResult = JSON.parse(data);
                    var text = data;
                    var filename = "NombreFichero"
                    var blob = new Blob([text], { type: "text/plain;charset=utf-8" });
                    saveAs(blob, filename + ".txt");
                }
            });

        });


       
      
    </script>
}