﻿@model IEnumerable<TransferSPC.Models.Tbl_Structure>

@{
    
}

<section class="content-header">
    <h2>Listado de Estaciones</h2>
    <div class="row">
        <a href="@Url.Action("Create","Tbl_Structure")" class="btn btn-success btn-sm button-solution">Crear Estación</a>
    </div>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableStructure" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Nombre de la Estación
                                </th>
                                <th>

                                </th>

                                <th> Acciones</th>
                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Chart_StructureName
                                </td>
                                <td></td>

                                <td>
                                    
                                     <a href="@Url.Action("Edit/"+ @item.Int_Id,"Tbl_Structure")" class='btn btn-warning btn-sm' id="@item.Int_Id"><i class='fa fa-pencil'></i></a>
                                    <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>


@section Scripts{
    <script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#menu_Estaciones").addClass('active').addClass('menu-open');
        $("#menu_Estaciones").addClass('active');
        $("#GestiónEstaciones").addClass('active');
        
        
        $('#DatatableStructure').DataTable();




    /////////////////////////////////////////


        function Remove_Structure(id) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteStructure", "Tbl_Structure")',
                data: {
                    id: id,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'El producto se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Tbl_Structure")';
                                window.location = UrlEdit;
                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ////////////////////////////////////////

        $(document).ready(function () {


            $('body').on('click', '#sheet-remove', function () {
                var Id_Structure = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la estación?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_Structure(Id_Structure);
                    }
                })
            })

        });






    </script>
}


