﻿@model TransferSPC.Models.Tbl_Notifications_Parameters

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <section class="content">
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Nueva Orden de Notificar</h4>


            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="control-label">Turno</label>
                                </div>
                                <div class="col-sm-6">
                                    <label class="control-label">Frecuencia</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">


                                    <select id="Fk_UserId" class="Operador form-control">
                                        @foreach (var item in ViewBag.Lista_Usuarios)
                                        {
                                        <option value="@item">@item</option>
                                        }

                                    </select>

                                </div>
                                <div class="col-sm-6">
                                    <select id="Cantidad" class="Operador">
                                        @for (int i = 1; i <= 20; i++)
                                        {
                                        <option value="@i">@i</option>
                                        }
                                    </select>
                                    <select id="Frecuencia" class="Operador">
                                        @foreach (var item in ViewBag.Lista_Frecuencias)
                                        {
                                            <option value="@item.Int_Id">@item.Chart_Nombre</option>
}
                                    </select>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Notificaciones</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Email</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">SMS</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" style="padding-right: 15px">
                                    <select name="MyDatatable_length" id="Notificaciones-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                        <option value="0">No</option>
                                        <option value="1">Si</option>
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding-right: 15px">
                                    <select name="MyDatatable_length" id="Email-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                        <option value="0">No</option>
                                        <option value="1">Si</option>
                                    </select>
                                </div>
                                <div class="col-md-4" style="padding-right: 15px">
                                    <select name="MyDatatable_length" id="SMS-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                        <option value="0">No</option>
                                        <option value="1">Si</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h4 style="margin-left:10px">Excluir Momentos</h4>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-1">
                                    <label class="control-label">Nombre</label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" id="Nombre" />
                                </div>
                                <div class="col-sm-1">

                                </div>
                                <div class="col-sm-7">
                                    <div class="row">
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Lun
                                        </div>
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Mar
                                        </div>
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Mier
                                        </div>
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Jue
                                        </div>
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Vie
                                        </div>
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Sab
                                        </div>
                                        <div class="col-sm-1" style="border-style: solid;text-align:center">
                                            Dom
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Lun" />
                                        </div>
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Mar" />
                                        </div>
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Mier" />
                                        </div>
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Jue" />
                                        </div>
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Vie" />
                                        </div>
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Sab" />
                                        </div>
                                        <div class="col-sm-1" style="text-align:center">
                                            <input type="checkbox" id="Dom" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-5">
                                    <label class="control-label">Rango de Horas</label>
                                </div>
                                <div class="col-sm-5">
                                    <label class="control-label">Rango de Fechas</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="col-sm-4" style="padding:10px">
                                        <div class="input-group clockpicker">
                                            <input type="text" id="time-to" class="form-control" value="00:00">
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="padding:10px">
                                        <div class="input-group clockpicker">
                                            <input type="text" id="time-from" class="form-control" value="00:00">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="col-sm-4" style="padding:10px">
                                        <input class="form-control" id="date-to" name="date" placeholder="MM/DD/YYY" type="text" />
                                    </div>
                                    <div class="col-sm-4" style="padding:10px">
                                        <input class="form-control" id="date-from" name="date" placeholder="MM/DD/YYY" type="text" />
                                    </div>
                                </div>

                                <div class="col-sm-2" style="padding:10px">
                                    <input type="button" class="btn btn-primary" id="Add_Moment" value="Agregar" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <h4 style="margin-left:10px">Momentos</h4>
                        <!-- /.box-header -->
                        <div id="Moment_List" class="box-body">
                            <div class="row"><div class="col-sm-2">Nombre</div><div class="col-sm-4">Rango de tiempo</div><div class="col-sm-3">Dias</div></div>

                        </div>
                    </div>
                </div>
            </div>





            <div class="form-group">
                <div class="col-md-offset-10 col-md-10">

                    <input type="button" value="Crear" id="Datas-submit" class="btn btn-success btn-sm button-solution" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Atras", "Index")
        </div>

    </section>
</body>
</html>

<link rel="stylesheet" href="~/Content/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="~/Content/bootstrap-clockpicker.min.css" />


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script src="~/Scripts/clockpicker.js"></script>
<script>

    //Menu activo
    $('ul .sidebar-menu').removeClass('active');
    $("#menu_configuracion").addClass('active').addClass('menu-open');
    $("#menu_configuracion").addClass('active');
    $("#notification").addClass('active').addClass('menu-open');
    $("#notification").addClass('active');

    $('.clockpicker').clockpicker({
        placement: 'top',
        align: 'left',
        donetext: 'Seleccionar'
    });

    $(document).ready(function () {
        var date_input = $('input[name="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        date_input.datepicker({
            format: 'dd/mm/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        })


        $('body').on('click', '#Add_Moment', function () {
            $('span[id^="genericError"]').remove();
            var Resultado = true;
            var C_Name = $("#Nombre").val();
            var C_Hora1 = $("#time-to").val();
            var C_Hora2 = $("#time-from").val();
            var C_Fecha1 = $("#date-to").val();
            var C_Fecha2 = $("#date-from").val();
          


            if (C_Name == "") {
                Resultado = false;
                $('#Nombre').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
            }

            if (C_Hora1 == "00:00") {
                C_Hora1 = "";
            }
            if (C_Hora2 == "00:00") {
                C_Hora2 = "";
            }

            var Fecha_1 = C_Hora1 + " " + C_Fecha1;
            var Fecha_2 = C_Hora2 + " " + C_Fecha2;
            var Rango = "";
            if (Fecha_1 == " " || Fecha_2 == " ") {
                Rango = "Todo el dia";
            }
            else {
                Rango = Fecha_1 + " al " + Fecha_2;
            }
            var Visual_C_Dias = "";
            var C_Dias = "";
            var checkBox = document.getElementById("Lun");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Lun ";
            }
            else {
                C_Dias += "0-";
            }
            var checkBox = document.getElementById("Mar");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Mar ";
            }
            else {
                C_Dias += "0-";
            }
            var checkBox = document.getElementById("Mier");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Mier ";
            }
            else {
                C_Dias += "0-";
            }
            var checkBox = document.getElementById("Jue");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Jue ";
            }
            else {
                C_Dias += "0-";
            }
            var checkBox = document.getElementById("Vie");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Vie ";
            }
            else {
                C_Dias += "0-";
            }
            var checkBox = document.getElementById("Sab");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Sab ";
            }
            else {
                C_Dias += "0-";
            }
            var checkBox = document.getElementById("Dom");
            if (checkBox.checked == true) {
                C_Dias += "1-";
                Visual_C_Dias += "Dom ";
            }
            else {
                C_Dias += "0-";
            }



            if (Resultado == true) {
                var Renglon = '<div class="row"><input type="hidden" value="' + C_Name + '" class="C_Name" /><input type="hidden" value="' + C_Hora1 + '" class="C_Hora1" /><input type="hidden" value="' + C_Hora2 + '" class="C_Hora2" /><input type="hidden" value="' + C_Fecha1 + '" class="C_Fecha1" /><input type="hidden" value="' + C_Fecha2 + '" class="C_Fecha2" /><input type="hidden" value="' + C_Dias + '" class="C_Dias" /><div class="col-sm-2">' + C_Name + '</div><div class="col-sm-4">' + Rango + '</div><div class="col-sm-4">' + Visual_C_Dias + '</div><a href="#" class="btn btn-danger btn-sm" id="moment-remove" data-id=ID><i class="fa fa-trash"></i></a></div>';
            }

            $("#Moment_List").append(Renglon)


        })

        $('body').on('click', '#Datas-submit', function () {

            //////////////////////////////////////////
            var elements_Nombre = document.getElementsByClassName("C_Name");
            var Array_Nombre = [];
            for (var i = 0; i < elements_Nombre.length; i++) {
                Array_Nombre.push(elements_Nombre[i].value);
            }

            var elements_C_Hora1 = document.getElementsByClassName("C_Hora1");
            var Array_C_Hora1 = [];
            for (var i = 0; i < elements_C_Hora1.length; i++) {
                Array_C_Hora1.push(elements_C_Hora1[i].value);
            }

            var elements_C_Hora2 = document.getElementsByClassName("C_Hora2");
            var Array_C_Hora2 = [];
            for (var i = 0; i < elements_C_Hora2.length; i++) {
                Array_C_Hora2.push(elements_C_Hora2[i].value);
            }

            var elements_C_Fecha1 = document.getElementsByClassName("C_Fecha1");
            var Array_C_Fecha1 = [];
            for (var i = 0; i < elements_C_Fecha1.length; i++) {
                Array_C_Fecha1.push(elements_C_Fecha1[i].value);
            }

            var elements_C_Fecha2 = document.getElementsByClassName("C_Fecha2");
            var Array_C_Fecha2 = [];
            for (var i = 0; i < elements_C_Fecha2.length; i++) {
                Array_C_Fecha2.push(elements_C_Fecha2[i].value);
            }

            var elements_C_Dias = document.getElementsByClassName("C_Dias");
            var Array_C_Dias = [];
            for (var i = 0; i < elements_C_Dias.length; i++) {
                Array_C_Dias.push(elements_C_Dias[i].value);
            }
            ////////////////////////////////////////////

            var User_Id = $("#Fk_UserId").val();
            var Frecuencia = $("#Frecuencia").val();
            var Notificacion = $("#Notificaciones-Value").val();
            var Email = $("#Email-Value").val();
            var SMS = $("#SMS-Value").val();
            var Cantidad = $("#Cantidad").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create_Ajax", "Tbl_Notifications_Parameters")',
                data: {
                    User_Id: User_Id,
                    Frecuencia: Frecuencia,
                    Notificacion: Notificacion,
                    Email: Email,
                    SMS: SMS,
                    Cantidad: Cantidad,
                    Array_Nombre: Array_Nombre,
                    Array_C_Hora1: Array_C_Hora1,
                    Array_C_Hora2: Array_C_Hora2,
                    Array_C_Fecha1: Array_C_Fecha1,
                    Array_C_Fecha2: Array_C_Fecha2,
                    Array_C_Dias: Array_C_Dias,
                },
                success: function (data) {


                    if (data == "True") {
                        Swal.fire({
                            title: 'Correcto',
                            text: "La regla de notificación se creó satisfactoriamente",
                            type: 'success',
                            showCancelButton: true,
                            confirmButtonColor: '#00a65a',
                            confirmButtonText: 'Aceptar',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Tbl_Notifications_Parameters")';
                                window.location = UrlEdit;
                            }
                        })
                    }
                    else {
                        Swal.fire({
                            type: 'error',
                            title: 'Error',
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                        })
                    }
                }
            });



        })


        $('body').on('click', '#moment-remove', function () {
            $(this).parent().remove();
        })

        //$('body').on('click', '#sheet-remove', function () {
        //    var Id_Question = $(this).data("id");
        //    Swal.fire({
        //        title: 'Aviso',
        //        text: "¿Desea eliminar la hoja?",
        //        type: 'warning',
        //        showCancelButton: true,
        //        confirmButtonColor: '#00a65a',
        //        cancelButtonColor: '#d33',
        //        confirmButtonText: 'Si',
        //        cancelButtonText: "No"
        //    }).then((result) => {
        //        if (result.value) {
        //            Remove_sheet(Id_Question);
        //        }
        //    })
        //})



    });
</script>
}
