﻿@model TransferSPC.Models.Tbl_Notifications_Parameters

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Tbl_Notifications_Parameters</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Int_Frecuency)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Int_Frecuency)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Datetime_LastProced)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Datetime_LastProced)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Int_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
