﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateNotificationOrders</title>
</head>
<body>
    <div> 
        <div class="row">
            @ViewBag.Resultado </br> Resumen:
        </div>
        <div class="row">
            Cantidad de Reglas =    @ViewBag.CantReglas
        </div>
        <div class="row">
            Cantidad de Ordenes Procesadas = @ViewBag.Cantidad_Procesadas
        </div>
        <div class="row">
            Cantidad de Ordenes Rechazadas = @ViewBag.Cantidad_Rechasadas
        </div>
        <div class="row">
            Cantidad de Ordenes Creadas = @ViewBag.Cantidad_Ordenes
        </div>
      @foreach (var item in @ViewBag.Lista_Fechas_Proceced)
      {
        <div class="row">
           @item
        </div>
      }
      
  </div>
</body>
</html>




<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



<script src="~/Scripts/sweetalert2.all.min.js"></script>


<script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!--notificaciones y otros -->
<script src="~/Scripts/bootstrap.js"></script>


<script src="~/Scripts/Chart.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/Graphic_tool.js"></script>
<script src="~/Scripts/WizardForm.js"></script>
<!--notificaciones y otros -->


<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>



<script>
   GetNumberOfNotification();

        function GetNumberOfNotification() {
            var UserName = $("#UserId").val();

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetNumberOfNotification", "Tbl_Notifications")',
                data: {
                    UserName: UserName,
                },
                success: function (data) {
                    if (data != "0") {
                        $('#Count_Notify').text(data);
                    }
                    else {
                        $('#Count_Notify').text("");
                    }
                }
            });

        }



        $(function () {

            var notification = $.connection.notificationHub;

            notification.client.AlertRecive = function () {
                GetNumberOfNotification();
            };



            $.connection.hub.start().done(function () {

                    notification.server.notificate();

            });

            $.connection.hub.logging = true;
        });

</script>
