﻿@model IEnumerable<TransferSPC.Models.Tbl_Notifications_Parameters>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>


    <section class="content-header">
        <h2>Listado Reglas de notificación</h2>

        <div class="row">
            <div class="col-md-10">
                <a href="@Url.Action("Create","Tbl_Notifications_Parameters")" class="btn btn-success btn-sm button-solution">Crear Regla</a>
            </div>
            <div class="col-md-2">
                @*<input type="button" value="Opciones de Notificación" id="OpcionesNotificacion" class="btn btn-primary btn-sm button-solution" />*@
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Opciones de Notificación
                </button>
            </div>
        </div>
    </section>


    <section class="content">
        <table id="MyDatatable" class="table table-condensed table-hover ">
            <thead class="datatable_title ">
                <tr>
                    <th>
                        Turno
                    </th>
                    <th style="text-align:center">
                        Frecuencia
                    </th>
                    <th>

                    </th>
                    <th style="text-align:center">Acciones</th>
                </tr>
            </thead>




            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turno_Id)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Int_Frecuency) @Html.DisplayFor(modelItem => item.Tbl_Frecuency_Catalog.Chart_Nombre)
                    </td>
                    <td></td>
                    <td style="text-align:center">
                        @*<a href="@Url.Action("Edit/"+ @item.Int_Id,"Tbl_Notifications_Parameters")" class='btn btn-warning btn-sm' id="@item.Int_Id"><i class='fa fa-pencil'></i></a>*@
                        <a href="#" class='btn btn-danger btn-sm' id="Rule-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>

                    </td>
                </tr>}

        </table>
    </section>
</body>
</html>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opciones</h5>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        Tipo de Notificacción
                    </div>
                    <div class="col-md-6">

                        @if (@ViewBag.ParameterValue == 1)
                        {
                            <select id="Tipo_Notificacion" name="Tipo_Notificacion" class="form-control select2">
                                <option selected value="0">Notificación por Acceso</option>
                                <option value="1">Notificación por Turno</option>
                            </select>}
                        else
                        {
                            <select id="Tipo_Notificacion" name="Tipo_Notificacion" class="form-control select2">
                                <option value="0">Notificación por Acceso</option>
                                <option selected value="1">Notificación por Turno</option>
                            </select>}

                        

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="Salvar_Cambios" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_Notificacion").addClass('active').addClass('menu-open');
        $("#menu_Notificacion").addClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#notificationTurnos").addClass('active');
        
        $('#MyDatatable').DataTable();




        /////////////////////////////////////////



        $(document).ready(function () {

            $('body').on('click', '#Salvar_Cambios', function () {
                var Tipo_Notificacion = $("#Tipo_Notificacion").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveConfigurationNotificationParameters", "Tbl_Notifications_Parameters")',
                    data: {
                        Tipo_Notificacion: Tipo_Notificacion
                    },
                    success: function (data) {
                        if (data == "True") {

                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'Los parámetros se configuraron satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {

                                    var UrlEdit = '@Url.Action("index", "Tbl_Notifications_Parameters")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });


            })


            $('body').on('click', '#Rule-remove', function () {
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la regla de notificación?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        var Ruler_Id = $(this).data("id");
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("RemoveRuler", "Tbl_Notifications_Parameters")',
                            data: {
                                Ruler_Id: Ruler_Id,
                            },
                            success: function (data) {


                                if (data == "True") {
                                    Swal.fire({
                                        title: 'Correcto',
                                        text: "La regla de notificación se eliminó satisfactoriamente",
                                        type: 'success',
                                        showCancelButton: true,
                                        confirmButtonColor: '#00a65a',
                                        confirmButtonText: 'Aceptar',
                                    }).then((result) => {
                                        if (result.value) {
                                            var UrlEdit = '@Url.Action("Index", "Tbl_Notifications_Parameters")';
                                            window.location = UrlEdit;
                                        }
                                    })
                                }
                                else {
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Error',
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                    })
                                }
                            }
                        });
                    }
                })

            })

        });

    </script>
}
