﻿@model IEnumerable<TransferSPC.ViewModel.Merge_Tbl_AsignetSheet_Tbl_Variable>

@{

}


<section class="content-header">
    <h2>Listado de Variables</h2>
    <div class="row">
        <div class="col-lg-10">
            <a href="#" class="btn btn-success btn-sm button-solution" id="CreateRule">Crear Regla</a>
        </div>
        <div class="col-lg-2">
            <a href="@Url.Action("CamptureNotification", "Tbl_Notifications_Parameters")" class="btn btn-default btn-sm button-solution">Atras</a>
        </div>
    </div>

</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">
                    <div class="col-md-4" style="padding-left:10px;padding-right:15px">
                        <div class="row">
                            <label class="control-label" for="date">Seleccionar Variables</label>
                        </div>
                        <button type="button" id="Btn_Todas" class="btn btn-primary btn-sm" style="margin-top:5px;width:65px">
                            Todos
                        </button>
                        <button type="button" id="Btn_Ninguna" class="btn btn-primary btn-sm" style="margin-top:5px;width:65px">
                            Ninguno
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="MyDatatable" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>

                                </th>
                                <th>
                                    Nombre de la Variable
                                </th>
                                <th>
                                    Nombre Corto
                                </th>


                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>


                                    <input id="@item.Relation.Int_Id" class="Selector_Variable" data-id="@item.Relation.Int_Id" type="checkbox" checked data-toggle="toggle" data-on="Incluir" data-off="No Incluir" data-onstyle="success" data-offstyle="danger">

                                </td>
                                <td>
                                    @item.Variable.Chart_Name
                                </td>
                                <td>
                                    @item.Variable.Chart_Text
                                </td>


                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">


@section Scripts{
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_Notificacion").addClass('active').addClass('menu-open');
        $("#menu_Notificacion").addClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#notificationCaptura").addClass('active');

        //$('#MyDatatable').DataTable( {
        //    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
        //} );



        /////////////////////////////////////////


      

        ////////////////////////////////////////

        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })

            $('body').on('click', '#Btn_Todas', function () {

                var Selectores = document.getElementsByClassName("Selector_Variable");

                for (var i = 0; i < Selectores.length; i++) {

                    $(Selectores[i]).bootstrapToggle('on');

                }

            })

            $('body').on('click', '#Btn_Ninguna', function () {

                var Selectores = document.getElementsByClassName("Selector_Variable");

                for (var i = 0; i < Selectores.length; i++) {

                    $(Selectores[i]).bootstrapToggle('off');

                }

            })

            $('body').on('click', '#CreateRule', function () {
                var Selectores = document.getElementsByClassName("Selector_Variable");
                var VariablesSeleccionadas = [];
                for (var i = 0; i < Selectores.length; i++) {
                    var Current_Element = Selectores[i];
                    if (Current_Element.checked == true) {
                        VariablesSeleccionadas.push(Current_Element.id);
                    }
                }

                ////Si no se selecciona ninguna lanzo un mensaje
                if (VariablesSeleccionadas.length > 0) {
                    location.href = '@Url.Action("RuleOfCurrentVar", "Tbl_Notifications_Parameters")?VariablesSeleccionadas=' + VariablesSeleccionadas + '&FirstRelation=' + @ViewBag.FirstRelation;

                    @*location.href = '@Url.Action("RuleOfCurrentVar", "Tbl_Notifications_Parameters")?VariablesSeleccionadas=' + VariablesSeleccionadas ;*@
                }
                else {
                    /////Mensaje
                    alert("Debe seleccionar alguna");
                }

            })

        });






    </script>
}
