﻿@model IEnumerable<TransferSPC.ViewModel.Merge_Tbl_AsignetSheet_Tbl_Variable>
@{

}


<section class="content-header">

    <div class="row">
        <div class="col-lg-10">

        </div>
        <div class="col-lg-2">
            <a href='~/Tbl_Notifications_Parameters/NotificationCaptureBySheet/@ViewBag.FirstRelation' class="btn btn-default btn-sm button-solution">Atras</a>
        </div>
    </div>

</section>

<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <h2>Detalles de la regla de notificación</h2>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>Fuera de especificación</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Fuera de nominal</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Cpk</label>
                        </div>
                        <div class="col-sm-3">
                            <label>Cp</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <input id="SelectorEspecificacion" class="Selector_Variable" type="checkbox" checked data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger">

                        </div>
                        <div class="col-sm-3">
                            <input id="SelectorEspecificacionNominal" class="Selector_Variable" type="checkbox" checked data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger">

                        </div>
                        <div class="col-sm-3">
                            <input id="SelectorCpk" class="Selector_Variable" type="checkbox" checked data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger">

                        </div>

                        <div class="col-sm-3">
                            <input id="SelectorCp" class="Selector_Variable" type="checkbox" checked data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Notificaciones</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Email</label>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">SMS</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" style="padding-right: 15px">
                            <select name="MyDatatable_length" id="Notificaciones-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="padding-right: 15px">
                            <select name="MyDatatable_length" id="Email-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="padding-right: 15px">
                            <select name="MyDatatable_length" id="SMS-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                <option value="false">No</option>
                                <option value="true">Si</option>
                            </select>
                        </div>
                    </div>


                    <div class="row">
                        <label>Usuarios a notificar</label>
                    </div>
                    <div class="row">
                        <select id="UserSelector" multiple="multiple" style="width: 80%">
                            @foreach (var Usuario in ViewBag.Usuarios)
                            {
                                <option value='@Usuario.Id' data-user="@Usuario.Id">@Usuario.UserName </option>}


                        </select>
                    </div>






                    <div class="row">
                        <div class="col-lg-10">

                        </div>
                        <div class="col-lg-2">
                            <a href="#" class="btn btn-success btn-sm button-solution" id="CreateRule">Crear</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <h2>Listado de Variables</h2>
                <div class="box-body">
                    <table id="MyDatatable" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Nombre de la Variable
                                </th>
                                <th>
                                    Nombre Corto
                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" class="SelectedVars" value="@item.Relation.Int_Id" />
                                    @item.Variable.Chart_Name
                                </td>
                                <td>
                                    @item.Variable.Chart_Text
                                </td>
                                <th>
                                    <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Relation.Int_Id><i class='fa fa-trash'></i></a>
                                </th>

                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">

@section Scripts{
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_Notificacion").addClass('active').addClass('menu-open');
        $("#menu_Notificacion").addClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#notificationCaptura").addClass('active');

        $('#MyDatatable').DataTable();

        $('#UserSelector').select2({
            placeholder: 'Seleccione los usuarios a notificar'
        });

        $(document).ready(function () {
            $('body').on('click', '#sheet-remove', function () {

                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar esta variable?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        $(this).parent().parent().remove();
                    }
                })
            })

            $('body').on('click', '#CreateRule', function () {

                Swal.fire({
                    title: 'Aviso',
                    text: "Esta a punto de crear una regla de notificación.¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        /////////Capturo los usuarios en cuenstion/////////
                        var Users = [];
                        var Allvalues = $("#UserSelector>option").map(function () { return $(this); });
                        for (var i = 0; i < Allvalues.length; i++) {
                            var CurrentOption = $(Allvalues[i][0]);
                            if (CurrentOption[0].selected == true) {
                                Users.push(CurrentOption[0].value);
                            }
                        }
                        ////////Valores de los selectores////////////////
                        var SpecificationValue = $("#SelectorEspecificacion")[0].checked;
                        var SelectorEspecificacionNominal = $("#SelectorEspecificacionNominal")[0].checked;                   
                        var CpkValue = $("#SelectorCpk")[0].checked;
                        var CpValue = $("#SelectorCp")[0].checked;
                        ////////////////////////////////////////////////
                        var SMS_Value = $("#SMS-Value").val();
                        var Email_Value = $("#Email-Value").val();
                        var Notificaciones_Value = $("#Notificaciones-Value").val();
                        ////////Listado de Variables ///////////////////
                        var InputVariables = document.getElementsByClassName("SelectedVars");
                        var Relations = [];
                        for (var i = 0; i < InputVariables.length; i++) {
                            var CurrentVariable = InputVariables[i].value;
                            Relations.push(CurrentVariable);
                        }
                        ////////Subo los datos ////////////
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CreateRuleAjax", "Tbl_Notifications_Parameters")',
                            data: {
                                Users: Users,
                                SpecificationValue: SpecificationValue,
                                SelectorEspecificacionNominal: SelectorEspecificacionNominal,
                                CpkValue: CpkValue,
                                CpValue: CpValue,
                                Relations: Relations,
                                SMS_Value: SMS_Value,
                                Email_Value: Email_Value,
                                Notificaciones_Value: Notificaciones_Value,
                            },
                            success: function (data) {
                                if (data == "True") {
                                    Swal.fire({
                                        type: 'success',
                                        title: 'Correcto',
                                        text: 'La regla se creó satisfactoriamente',
                                    }).then((result) => {
                                        if (result.value) {
                                            var UrlEdit = '@Url.Action("CamptureNotification", "Tbl_Notifications_Parameters")';
                                            window.location = UrlEdit;

                                        }
                                    })
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });

                    }
                })
            })
        });
    </script>

}
