﻿@model TransferSPC.Models.Tbl_ElementProducer
@{
  //  Layout = null;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Crear Máquina</h2>
</section>
<input type="hidden" id="Id_Station" value="@ViewBag.id_Station" />
<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("CreateFromTree", "Trf_ElementProducer", FormMethod.Post, new { id = "Form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Nombre de la máquina</label>
                                </div>

                            </div>
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Chart_ElementProducer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Chart_ElementProducer, "", new { @class = "text-danger" })
                                </div>

                            </div>



                            <div class="row">
                                <div class="pull-right" style="margin-right: 15px !important">
                                    <input type="button" id="submit-elementproducer" value="Crear" class="btn btn-success btn-sm button-solution" />
                                    <a href="@Url.Action("BuildStructure", "Tbl_Structure")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                                </div>
                            </div>
                        </div>}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#menu_Estaciones").addClass('active').addClass('menu-open');
        $("#menu_Estaciones").addClass('active');
        $("#GestiónEstaciones").addClass('active');

        $(document).ready(function () {

            $('body').on('click', '#submit-elementproducer', function () {
                if ($("#Chart_ElementProducer").val() != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateElementProducerFromTree", "Trf_ElementProducer")',
                        data: {
                            trf_ElementProducerName: $("#Chart_ElementProducer").val(),
                            id_Station: $("#Id_Station").val(),
                        },
                        success: function (data) {
                            if (data == "True") {
                                var UrlEdit = ' @Url.Action("BuildStructure", "Tbl_Structure")';
                                window.location = UrlEdit;
                            }
                            else {
                                swal({
                                    title: "Error",
                                    text: "La operación no se pudo concluir, inténtelo otra vez",
                                    type: "error",
                                    confirmButtonClass: 'btn-success',
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true,
                                })
                            }
                        }
                    });
                }
                else {
                    $("#Chart_ElementProducer").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe introducir un valor</span>');
                }

            })
        });
    </script>
}