﻿@model TransferSPC.Models.Tbl_ElementProducerProduct


@{
    ViewBag.Title = "Create";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Crear Máquina</h2>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("Create", "Trf_ElementProducer", FormMethod.Post, new { id = "Form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal" >

                            <div class="row">
                                <div class="col-sm-4">
                                  <label>Nombre de la Máquina</label>
                                 </div>
                            </div>
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Tbl_ElementProducer.Chart_ElementProducer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Tbl_ElementProducer.Chart_ElementProducer, "", new { @class = "text-danger" })
                                </div>
                              
                            </div>



                            <div class="row" style="margin-top:35px">
                                <div class="pull-right" style="margin-right: 15px !important">
                                    <input type="button" id="submit-products" value="Crear" class="btn btn-success btn-sm button-solution" />
                                    <a href="@Url.Action("Index", "Trf_ElementProducer")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                                </div>
                            </div>
                        </div>}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_Maquinas").addClass('active').addClass('menu-open');
        $("#menu_Maquinas").addClass('active');
        $("#GestiónMaquina").addClass('active');

        $(document).ready(function () {

            $('body').on('click', '#submit-products', function () {

                if ($("#Products").val() != "") {
                    //document.getElementById("Form").submit();
                    var Chart_ElementProducer = $("#Tbl_ElementProducer_Chart_ElementProducer").val();
                   

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("Create_Machine", "Trf_ElementProducer")',
                        data: {
                            Chart_ElementProducer: Chart_ElementProducer,
                           
                        },
                        success: function (data) {
                            if (data == "True") {
                                Swal.fire({
                                    type: 'success',
                                    title: 'Correcto',
                                    text: 'La máquina se creó satisfactoriamente',
                                }).then((result) => {
                                    if (result.value) {
                                        var UrlEdit = '@Url.Action("Index", "Trf_ElementProducer")';
                                        window.location = UrlEdit;

                                    }
                                })
                            }
                            else {
                                swal({
                                    title: "Error",
                                    text: "La operación no se pudo concluir, inténtelo otra vez",
                                    type: "error",
                                    confirmButtonClass: 'btn-success',
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true,
                                })
                            }
                        }
                    });

                }
                else {
                    $("#Products").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe introducir un valor</span>');
                }

            })
        });
    </script>
}

