﻿@model TransferSPC.Models.Trf_ElementProducer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trf_ElementProducer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElementProducer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementProducer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trf_Lines.Line)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trf_Lines.Line)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trf_Products.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trf_Products.Products)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
