﻿@model TransferSPC.Models.Tbl_ElementProducer


@{
    ViewBag.Title = "Create";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Editar Máquina</h2>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("Edit", "Trf_ElementProducer", FormMethod.Post, new { id = "Form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div style="display:none">
                            @Html.EditorFor(model => model.Int_Id, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-4">
                                    @Html.LabelFor(model => model.Chart_ElementProducer, "Nombre de la Máquina ", htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-sm-4">
                                    @Html.LabelFor(model => model.Tbl_Lines.Chart_Line, "Estaciones ", htmlAttributes: new { @class = "control-label" })
                                </div>
                                

                            </div>
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-4">
                                    @Html.EditorFor(model => model.Chart_ElementProducer, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Chart_ElementProducer, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-3">
                                    <select class="form-control" id="ListStations" name="ListStations">
                                        @foreach (var item in @ViewBag.ListStations)
                                        {
                                            <option value="@item.Int_Id">@item.Chart_StructureName</option>
}
                                    </select>
                                </div>
                               
                                <div class="col-sm-2">
                                    <input type="button" id="add-products" value="Agregar" class="btn btn-success btn-sm button-solution" />
                                </div>
                            </div>




                        </div>}
                    <div class="row" style="border-bottom-color:gray;border-bottom-style:solid">
                        <label class="control-label" for="Chart_ElementProducer">Listado de Productos </label>
                    </div>
                    <div>


                        @foreach (var item in Model.Tbl_ElementProducerProduct)
                        {
                            if (@item.Bool_Deleted == true)
                            {
                                <div class="row">
                                    <div class="col-sm-6">
                                        @item.Tbl_Products.Chart_Products
                                    </div>
                                    <div class="col-sm-6">
                                        <a href="#" class="btn btn-danger btn-sm" id="products-remove" data-id="@item.Int_Id"><i class="fa fa-trash"></i></a>
                                    </div>
                                </div>
}


                        }
                    </div>
    

                   

                    <hr />
                    <div class="row" style="margin-top:35px">
                        <div class="pull-left" style="margin-right: 15px !important">
                            @*<input type="button" id="SupervisorsBoard" value="Responsables" class="btn btn-primary btn-sm button-solution" />*@

                        </div>

                        <div class="pull-right" style="margin-right: 15px !important">
                            <input type="button" id="submit-products" value="Salvar" class="btn btn-success btn-sm button-solution" />
                            <a href="@Url.Action("Index", "Trf_ElementProducer")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

<!-- /.content -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 
    <script>
        //$('#example').select2({
        //    placeholder: 'Seleccione Supervisores'
        //});

        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#GestiónMaquina").addClass('active'); 

        $(document).ready(function () {

            $('body').on('click', '#products-remove', function () {

                var Id_Relacion = $(this).data("id");

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Remove_ProductsToMachine", "Trf_Products")',
                    data: {
                        Id_Relacion: Id_Relacion,
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'El producto se eliminó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("Edit", "Trf_ElementProducer")';
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });


            })


            $('body').on('click', '#SupervisorsBoard', function () {
            
                var UrlEdit = '@Url.Action("SupervisorsBoardByMachine", "Trf_ElementProducer")' + "/" + @Model.Int_Id ; 
                window.location = UrlEdit;

            })


            $('body').on('click', '#submit-products', function () {

                if ($("#Products").val() != "") {
                    document.getElementById("Form").submit();
                }
                else {
                    $("#Products").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe introducir un valor</span>');
                }

            })

            $('body').on('click', '#add-products', function () {
                var Id_Stations = $("#ListStations").val();
                var Id_Products = $("#Int_ProductId").val();
                var Id_Maquina = @Model.Int_Id;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Add_ProductsToMachine", "Trf_Products")',
                    data: {
                        Id_Stations:Id_Stations,
                        Id_Products: Id_Products,
                        Id_Maquina: Id_Maquina,
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'El producto se adicionó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("Edit", "Trf_ElementProducer")';
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "El producto no se puede agregar, es probable que la Máquina ya tenga este producto asignado",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });

            })
        });
    </script>
}


