﻿@model IEnumerable<TransferSPC.Models.Tbl_ElementProducer>


@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h2>Listado de Máquinas</h2>
    <div class="row">
        <a href="@Url.Action("Create","Trf_ElementProducer")" class="btn btn-success btn-sm button-solution">Crear Máquina</a>
    </div>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableElementProducer" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Máquina
                                </th>
                               

                                <th> Acciones</th>
                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Chart_ElementProducer
                                </td>
                                

                                <td>
                                    @*<a href="@Url.Action("Details/"+ @item.Id,"Trf_Sheet")" class='btn btn-primary btn-sm' id=@item.Id><i class='fa fa-eye'></i></a>*@
                                    <a href="@Url.Action("Edit/"+ @item.Int_Id,"Trf_ElementProducer")" class='btn btn-warning btn-sm' data-id="@item.Int_Id"><i class='fa fa-pencil'></i></a>
                                    <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>



@section Scripts{
    <script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_Maquinas").addClass('active').addClass('menu-open');
        $("#menu_Maquinas").addClass('active');
        $("#GestiónMaquina").addClass('active');       

        $('#DatatableElementProducer').DataTable();
        /////////////////////////////////////////

        function Remove_maquina(id_maquina) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Maquina", "Trf_ElementProducer")',
                data: {
                    id_maquina: id_maquina,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La máquina se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Trf_ElementProducer")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ////////////////////////////////////////

         $(document).ready(function () {

            //$('body').on('click', '#submit-hoja', function () {
            //    document.getElementById("Form").submit();
            //})

            $('body').on('click', '#sheet-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la Máquina?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_maquina(Id_Question);
                    }
                })
            })

        });


</script>


}



