﻿@model IEnumerable<TransferSPC.Models.Tbl_SupervisorsParameters>
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SupervisorsBoardByMachine</title>
</head>
<body>
    <section class="content-header">
        <input type="button" value="Agregar Supervisor" id="Add-Supervisor" class="btn btn-success btn-sm button-solution" />

    </section>
    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="MyDatatable" class="table table-condensed table-hover ">
                            <thead class="datatable_title ">
                                <tr>
                                    <th>
                                        Supervisor
                                    </th>

                                    <th align="center" valign="top" style="text-align:center">
                                        Notificaciones
                                    </th>
                                    <th align="center" valign="top" style="text-align:center">
                                        Email
                                    </th>
                                    <th align="center" valign="top" style="text-align:center">
                                        SMS
                                    </th>
                                    <th align="center" valign="top" style="text-align:center">
                                        Operaciones
                                    </th>
                                </tr>
                            </thead>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.AspNetUsers.Name @item.AspNetUsers.LastName
                                    </td>
                                    @*<td>
                                                                                <select id="example" multiple="multiple" style="width: 80%">
                                                                                    @foreach (var Hoja in ViewBag.ListaHojas)
                                                                                    {
                                                                                        if (item.Tbl_Supervisor_Sheet_Relationship.Where(m => m.Fk_SheetId == Hoja.Int_Id).ToList().Count == 0)
                                                                                        {
                                                                                            <option value='@Hoja.Int_Id' data-hoja="@Hoja.Int_Id" data-user="@item.AspNetUsers.Id">@Hoja.Chart_Name </option>
                                        }
                                                                                        else
                                                                                        {
                                                                                            <option value='@Hoja.Int_Id' selected="selected" data-hoja="@Hoja.Int_Id" data-user="@item.AspNetUsers.Id">@Hoja.Chart_Name</option>
                                        }
                                                                                    }


                                                                                </select>
                                                                            </td>*@
                                    <td align="center" valign="top">
                                        @if (item.Bool_TransferNotify == true)
                                        {
                                            <span class="glyphicon glyphicon-ok-circle  text-success" aria-hidden="true"></span>
}
                                        else
                                        {
                                            <span class="glyphicon glyphicon-remove-circle text-red" aria-hidden="true"></span>
}
                                    </td>
                                    <td align="center" valign="top">
                                        @if (item.Bool_MailNotify == true)
                                        {
                                            <span class="glyphicon glyphicon-ok-circle  text-success" aria-hidden="true"></span>
}
                                        else
                                        {
                                            <span class="glyphicon glyphicon-remove-circle text-red" aria-hidden="true"></span>
}
                                    </td>
                                    <td align="center" valign="top">
                                        @if (item.BoolSmsNotify == true)
                                        {
                                            <span class="glyphicon glyphicon-ok-circle  text-success" aria-hidden="true"></span>
}
                                        else
                                        {
                                            <span class="glyphicon glyphicon-remove-circle text-red" aria-hidden="true"></span>
}
                                    </td>
                                    <td align="center" valign="top" style="text-align:center">
                                        <a id="supervisor-edit" data-id="@item.Int_Id" data-user="@item.AspNetUsers.Id" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a id="supervisor-remove" data-id="@item.Int_Id" data-user="@item.AspNetUsers.Id" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>

                                    </td>

                                </tr>  }

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>



    <input type="hidden" id="id_ElementProducer" value="@ViewBag.Id_Machine" />


    <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">


</body>
</html>


@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>
    @*<script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>*@
    <script>
        //$('#example').select2({
        //    placeholder: 'Seleccione las Hojas'
        //});

        //$('#example').on("select2:selecting", function (e) {
        //    var value = $("#example option:selected");
        //    alert($("#example").val());
        //});

        //$('#example').on('change', function () {
        //    var Hoja = $("#example option:selected").data("hoja");
        //    var Usuario = $("#example option:selected").data("user");
        //    alert(Hoja + " " + Usuario);
        //})
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_Maquinas").addClass('active').addClass('menu-open');
        $("#GestiónMaquina").addClass('active');

        $('#MyDatatable').DataTable();
        /////////////////////////////////////////


        function Remove_sheet(id_sheet) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Sheet", "Trf_Sheet")',
                data: {
                    id_sheet: id_sheet,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Hoja se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ////////////////////////////////////////

        $(document).ready(function () {

            $('body').on('click', '#supervisor-remove', function () {
                Swal.fire({
                    title: 'Alerta',
                    text: "Está seguro que desea borrar el supervisor?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar',
                    cancelButtonText: 'Cancelar'
                }).then((result) => {
                    if (result.value) {
                  
                ////////////////////////////////////////////
                var Id_Supervisor = $(this).data("id");
                var Id_ElementProducer = $("#id_ElementProducer").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("RemoveSupervisor", "Tbl_SupervisorsParameters")',
                    data: {
                        Id_Supervisor: Id_Supervisor,
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'El supervisor se borró satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("SupervisorsBoardByMachine", "Trf_ElementProducer")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
                /////////////////////////////////////////////////
                      
                    }
                })

            })


            $('body').on('click', '#supervisor-edit', function () {
                var Id_Supervisor = $(this).data("id");
                var Contenido = "@Url.Action("Edit", "Tbl_SupervisorsParameters")" + "/" + Id_Supervisor;
                window.location = Contenido;
            })



            //////////////////////////////////

            $('body').on('click', '#Add-Supervisor', function () {
                var Contenido = "@Url.Action("Create", "Tbl_SupervisorsParameters")" + "/" + $("#id_ElementProducer").val();
                window.location = Contenido;
            })



            $('body').on('click', '#sheet-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la hoja?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_sheet(Id_Question);
                    }
                })
            })

        });


    </script>
}

