﻿
@{
Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorrelationModalView</title>
</head>
<body>
    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6" style="padding-right:15px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="date">Desde</label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="date">Hasta</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control datepicker" id="date-to" name="date" placeholder="MM/DD/YYY" type="text" />
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control datepicker" id="date-from" name="date" placeholder="MM/DD/YYY" type="text" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-5" style="padding-right:15px">
                                <label class="control-label"> Primera Variable de análisis </label>
                                <select class="form-control" id="Variable_Selector">
                                    @{  string[] ArrayVar = @ViewBag.VariablesArray;
                                    }
                                    <option value="-1">-- Seleccione --</option>}
                                    @for (int i = 0; i < ArrayVar.Length; i += 2)
                                    {
                                        <option value="@ArrayVar[i]">@ArrayVar[i + 1]</option>}
                                </select>
                            </div>

                       

                            <div class="col-xs-1 text-center" style="margin-top:15px">
                                <input type="button" value="Agregar" id="Add_VarToAnalice" class="btn btn-success btn-sm button-solution" />
                            </div>

                        </div>
                    </div>

                    <div class="row" id="Var_Addeds" style="padding:5px">
                        <label class="control-label"> Variables a graficar </label>
                        <div class="row" id="List_Vars_Addeds" style="padding:5px">
                          
                        </div>
                        <input type="button" value="Graficar" id="Graficate_Selection" class="btn btn-success btn-sm button-solution" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <canvas id="myChartModal" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>
            </div>  
        </div>
    </section>


</body>
</html>






    <script>
        $('.datepicker').datepicker({
            format: 'mm/dd/yyyy',
            todayHighlight: true,
            autoclose: true
        });
    </script>
    



