﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorrelationModalMultipleVarView</title>
</head>
<body>

    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-5" style="padding-right:15px">
                                <label class="control-label"> Variable de análisis </label>
                                <select class="form-control" id="FirstVariable_Selector">
                                    @{  string[] ArrayVar = @ViewBag.VariablesArray;
                                    }
                                    @for (int i = 0; i < ArrayVar.Length; i += 2)
                                    {
                                    <option value="@ArrayVar[i]">@ArrayVar[i + 1]</option>}
                                </select>
                            </div>

                            <div class="col-xs-5" style="padding-right:15px">

                            </div>

                            <div class="col-xs-2 text-center" style="margin-top:15px">
                                <input type="button" value="Analizar" id="Table_analice-submit" class="btn btn-success btn-sm button-solution" />
                            </div>

                        </div>



                        <div class="row" style="margin-bottom:0px !important">
                            <div class="color-palette-set col-xs-4">
                                <div class="bg-blue-active color-palette" style="text-align: center"><span>Nombre de Variable</span></div>
                            </div>
                            <div class="color-palette-set col-xs-4">
                                <div class="bg-blue-active color-palette" style="text-align: center"><span>Coeficiente</span></div>
                            </div>
                            <div class="color-palette-set col-xs-4">
                                <div class="bg-blue-active color-palette" style="text-align: center"><span>Tipo de Relación</span></div>
                            </div>
                        </div>
                        <div class="row" id="Rows_Board">
                            @*<div class="color-palette-set col-xs-4">
                                <div class="bg-primary color-palette" style="text-align: center"><span>Nombre de Variable</span></div>
                            </div>
                            <div class="color-palette-set col-xs-4">
                                <div class="bg-primary color-palette" style="text-align: center"><span>Coeficiente</span></div>
                            </div>
                            <div class="color-palette-set col-xs-4">
                                <div class="bg-primary color-palette" style="text-align: center"><span>Tipo de Relación</span></div>
                            </div>*@
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>




</body>
</html>
