﻿
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorrelationBoardView</title>
</head>
<body>
    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-2" style="padding-right:15px">
                                <label class="control-label"> Hojas </label>
                                <select class="form-control" id="Sheet_Selector" onchange="getVariables(this)">
                                    <option value="-1"> --Seleccione-- </option>
                                    @foreach (var item in @ViewBag.Lista_Hojas)
                                    {
                                        <option value="@item.Int_Id">@item.Chart_Name</option>}
                                </select>
                            </div>

                            <div class="col-xs-2" style="padding-right:15px">
                                <label class="control-label">Máquinas</label>
                                <select class="form-control" id="Machines_Selector"></select>
                            </div>

                            <div class="col-xs-3" style="padding-right:15px">
                                <label class="control-label"> Primera Variable de análisis </label>
                                <select class="form-control" id="FirstVariable_Selector"></select>
                            </div>

                            <div class="col-xs-3" style="padding-right:15px">
                                <label class="control-label"> Segunda Variable de análisis </label>
                                <select class="form-control" id="SecondVariable_Selector"></select>
                            </div>

                            <div class="col-xs-2 text-center" style="margin-top:15px">
                                <input type="button" value="Analizar" id="analice-submit" class="btn btn-success btn-sm button-solution" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-10">
                <canvas id="myChartModal" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>
            </div>
            <div class="col-xs-2" id="Info_Left_Board" style="display:none">

                <div class="row">
                    <div class="color-palette-set">
                        <div class="bg-primary color-palette" style="text-align: center"><span>Coeficiente</span></div>
                        <div class="bg-primary disabled color-palette" id="Coef_Result" style="text-align: center"><span>Disabled</span></div>
                    </div>
                    <div class="color-palette-set">
                        <div class="bg-primary color-palette" style="text-align: center"><span>Relación</span></div>
                        <div class="bg-primary disabled color-palette" id="RelationType_Result" style="text-align: center"><span>Disabled</span></div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>
</html>


@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Chart.js"></script>

<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/Graphic_tool.js"></script>


    <script>


        function getVariables(selectObject) {
            var value = selectObject.value;

            if (value != -1) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetVariablesBySheet", "Analisis")',
                    data: {
                        id_Sheet: value,
                    },
                    success: function (data) {
                        if (data != "") {
                            var Resultado = data.split('|*|');
                            $("#FirstVariable_Selector").empty();
                            $("#SecondVariable_Selector").empty();

                            var Variables = Resultado[0].split('||');
                            for (var i = 0; i < Variables.length; i++) {
                                var Current_Variable = Variables[i].split('**');
                                $("#FirstVariable_Selector").append('<option value="' + Current_Variable[0] + '">' + Current_Variable[1] + '</option>');
                                $("#SecondVariable_Selector").append('<option value="' + Current_Variable[0] + '">' + Current_Variable[1] + '</option>');
                            }
                            $("#Machines_Selector").empty();
                            $("#Machines_Selector").append('<option value="-1">Todas las Máquinas</option>');
                            var Maquinas = Resultado[1].split('||');
                            for (var i = 0; i < Maquinas.length; i++) {
                                var Current_Maquina = Maquinas[i].split('**');
                                $("#Machines_Selector").append('<option value="' + Current_Maquina[0] + '">' + Current_Maquina[1] + '</option>');
                            }

                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            }
            else {
                swal({
                    title: "Error",
                    text: "Debe seleccionar las variables de la hoja que se van a analizar.",
                    type: "error",
                    confirmButtonClass: 'btn-success',
                    confirmButtonText: 'Aceptar',
                    closeOnConfirm: true,
                })
            }

        }


        ////////////////////////////////////////

        $(document).ready(function () {

            $('body').on('click', '#analice-submit', function () {

                var MachineId = $("#Sheet_Selector").val();
                //Compruebo que se selecciono una hoja
                if (MachineId != -1) {
                    var Id_PrimeraVariable = $("#FirstVariable_Selector").val();
                    var Id_SegundaVariable = $("#SecondVariable_Selector").val();
                    //Compruebo que las variables no sean las mismas
                    if (Id_PrimeraVariable != Id_SegundaVariable) {
                        //Comienzo el analisis
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CorrelationAnalisis", "Analisis")',
                            data: {
                                MachineId: MachineId,
                                Id_PrimeraVariable: Id_PrimeraVariable,
                                Id_SegundaVariable: Id_SegundaVariable,
                            },
                            success: function (data) {
                                if (data != "") {
                                    var Resultado_Analisis = data.split('-*-');
                                    ////////////////////////DashBoard/////////////////////////////////////////////////////////
                                    $("#Info_Left_Board").show();
                                    $("#Coef_Result").text(Resultado_Analisis[1]);
                                    //Resultado_Analisis[1]
                                    ///////////////////////////////////////////////////////////////////////////////////////////
                                    var Coeficiente = Number(Resultado_Analisis[1]);
                                    var YmedValue = 0;
                                    var XmedValue = 0;
                                    var XmaxValue = 0;
                                    var XminValue = 0;
                                    var YmaxValue = 0;
                                    //////////////////////////Minimos cuadrados/////////////////////
                                    var SumatoriaXxY = 0;
                                    var SumatoriaXCuadrado = 0;
                                    var SumatoriaModuloXCuadrado = 0;
                                    var YSumValue = 0;
                                    var XSumValue = 0;
                                    ///////////////////////////////////////////////////////////////////
                                    var N = 0;
                                    var ArregloPuntos = new Array();
                                    var Resultado = Resultado_Analisis[0].split('||');
                                    for (var i = 0; i < Resultado.length; i++) {
                                        var Punto = Resultado[i].split('**');

                                        var CordX = Number(Punto[0].replace(',', '.'));
                                        var CordY = Number(Punto[1].replace(',', '.'));
                                        var Onedata = { x: CordX, y: CordY };
                                        ArregloPuntos.push(Onedata);
                                        if (CordX > XmaxValue) {
                                            XmaxValue = CordX;
                                        }
                                        if (CordX < XminValue) {
                                            XminValue = CordX;
                                        }
                                        N++;
                                        XSumValue += CordX;
                                        YSumValue += CordY;
                                        SumatoriaXCuadrado += CordX * CordX;
                                        SumatoriaXxY += CordX * CordY;
                                    }
                                    ///////////////Minimos cuadrados//////////////////////////////////

                                    var X_Media = XSumValue / N;
                                    var Y_Media = YSumValue / N;

                                    ///////Calculo de Varianza////////
                                    var VarianzaX = SumatoriaXCuadrado / N - (X_Media * X_Media);
                                    var Covarianza = SumatoriaXxY / N - (X_Media * Y_Media);
                                    //////////////////////////////////Ecuacion de la recta/////////////////
                                    //var DivVarianzas = Covarianza/VarianzaX;
                                    //var y_Recta = DivVarianzas * X_Media + Y_Media;
                                    ////////////////////////////////////////////
                                    //var UltimaY = XmaxValue * DivVarianzas + y_Recta;
                                    //alert("Variante 1 = f(x)=" + DivVarianzas + "X+" + y_Recta + " Y corta en "+ UltimaY);

                                    var NumeradorA = (N * SumatoriaXxY) - (XSumValue * YSumValue);
                                    var DenominadorA = (N * SumatoriaXCuadrado) - (XSumValue * XSumValue);
                                    var a = NumeradorA / DenominadorA;
                                    var b = (YSumValue - (a * XSumValue)) / N;

                                    var UltimaY = XmaxValue * a + b;
                                    var PrimerY = XminValue * a + b;
                                    //alert("Variante 2 = f(x)=" + a + "X+" + b+ " Y corta en "+ UltimaY);

                                    /////////////////////////////////////////
                                    if (Coeficiente > 0) {
                                        ArregloMedia = [{ x: XminValue, y: PrimerY }, { x: XmaxValue, y: UltimaY }];
                                        $("#RelationType_Result").text("Relación directa");

                                    }
                                    else {

                                        ArregloMedia = [{ x: XminValue, y: PrimerY }, { x: XmaxValue, y: UltimaY }];
                                        if (Coeficiente == 0) {
                                            $("#RelationType_Result").text("Sin Relación");
                                        }
                                        else {
                                            $("#RelationType_Result").text("Relación inversa");
                                        }
                                    }


                                    $("#CorrelationChart").remove();
                                    var element = document.getElementById("myChartModal");
                                    var canvas2 = $(element).clone();
                                    $(element).attr("id", "CorrelationChart");
                                    $(element).parent().append($(canvas2));

                                    $("#CorrelationChart").show();

                                    var scatterChart = new Chart(document.getElementById("CorrelationChart"), {
                                        type: 'bubble',
                                        data: {
                                            datasets: [{
                                                label: 'Puntos',
                                                data: ArregloPuntos,
                                                backgroundColor: "#FF0000",
                                                borderColor: "#FF0000",
                                                // this dataset is drawn below

                                                order: 1
                                            }, {
                                                label: 'Media',
                                                data: ArregloMedia,
                                                borderColor: "#0000FF",
                                                pointBackgroundColor: "#0000FF",
                                                type: 'line',
                                                showLines: true,
                                                fill: false,
                                                borderDash: [5, 5],
                                                order: 2
                                            }],
                                        },
                                        options: {

                                            scales: {
                                                xAxes: [{
                                                    type: 'linear',
                                                    position: 'bottom'
                                                }]
                                            }
                                        }
                                    }
                                  );
                               }
                            }
                        });
                    }
                    else {
                        //En caso de que sean las mismas variables
                        swal({
                            title: "Error",
                            text: "Para poder realizar el análisis es necesario seleccionar distintas variables.",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        });
                    }
                }


            });
        })
    </script>
}