﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorrelationModalView</title>
</head>
<body>
    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-5" style="padding-right:15px">
                                <label class="control-label"> Primera Variable de análisis </label>
                                <select class="form-control" id="FirstVariable_Selector">
                                    @{  string[] ArrayVar = @ViewBag.VariablesArray;
                                    }
                                    @for (int i = 0; i < ArrayVar.Length; i += 2)
                                    {
                                        <option value="@ArrayVar[i]">@ArrayVar[i + 1]</option>}
                                </select>
                            </div>

                            <div class="col-xs-5" style="padding-right:15px">
                                <label class="control-label"> Segunda Variable de análisis </label>
                                <select class="form-control" id="SecondVariable_Selector">

                                    @for (int i = 0; i < ArrayVar.Length; i += 2)
                                    {
                                        <option value="@ArrayVar[i]">@ArrayVar[i + 1]</option>}
                                </select>
                            </div>

                            <div class="col-xs-2 text-center" style="margin-top:15px">
                                <input type="button" value="Analizar" id="analice-submit" class="btn btn-success btn-sm button-solution" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <canvas id="myChartModal" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>
            </div>
            <div class="col-xs-2" id="Info_Left_Board" style="display:none">

                <div class="row">
                    <div class="color-palette-set">
                        <div class="bg-primary color-palette" style="text-align: center"><span>Coeficiente</span></div>
                        <div class="bg-primary disabled color-palette" id="Coef_Result" style="text-align: center"><span>Disabled</span></div>
                    </div>
                    <div class="color-palette-set">
                        <div class="bg-primary color-palette" style="text-align: center"><span>Relación</span></div>
                        <div class="bg-primary disabled color-palette" id="RelationType_Result" style="text-align: center"><span>Disabled</span></div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>


</body>
</html>
