﻿@model IEnumerable<TransferSPC.ViewModel.ViewModelDashboard>

@{

}



<section class="content">
    <h4>Hojas a Monitoriar</h4>


    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="SelectordDatatable" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th class="text-left">
                                    Productos / Hojas
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="align-middle">
                                    <th class="text-left ">
                                        <a href="@Url.Action("DashboardCpk","Analisis")/@item.variables"> @item.Prod_Hoja</a>  
                                    </th>

                                </tr>}
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    

    <script>
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_dashboard").addClass('active').addClass('menu-open');
        $("#menu_dashboard").addClass('active');
        $("#menu_dashboardGenerales").addClass('active').addClass('menu-open');
        $("#menu_dashboardGenerales").addClass('active');
        $("#dashboard_cpkGeneral").addClass('active').addClass('menu-open');
        $("#dashboard_cpkGeneral").addClass('active');


        $('#SelectordDatatable').DataTable();
    </script>

}