﻿@model IEnumerable<TransferSPC.ViewModel.AsignationQuestionClass>

@{

}

<script src="~/Scripts/highcharts/7.1.2/highcharts.js"></script>
<script src="~/Scripts/highcharts/7.1.2/highcharts-more.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/solid-gauge.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/exporting.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/export-data.js"></script>
<script src="~/Scripts/highcharts/7.1.2/modules/accessibility.js"></script>
<input type="hidden" id="Sounded" value="" />
<div class="box">
    <div class="box-body" style="background-color: #2c3b41 ; padding: 0 !important; border-bottom:solid; border-bottom-color:white; border-left-color:white;border-left-style:solid">
        <figure class="highcharts-figure">

            <div id="PanelCpks">
                @*<div class="col-lg-3">
                        <div id="Reloj" style="height: 280px; width: 100%"></div>
                    </div>*@

                @foreach (var item in Model)
                {
                    <div class="col-lg-3 Chart_Col" data-id="@item.valor"  style="border-color: white; border-style: solid; border-top-style: none; border-left-style:none ">
                        <div id="@item.id" data-variable="@item.tipo" data-bind="@item.Prod_Sheet" class="grafica" style="height: 180px; width: 100%"></div>
                    </div>}
            </div>

        </figure>
    </div>
</div>


<div class="row">
    <div class="pull-right" style="margin-right: 15px !important">

        <a href="@Url.Action("DasboardCpkSelector", "Analisis")" class="btn btn-default btn-sm button-solution">Cancelar</a>
    </div>
</div>

<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont o oboto, H l ial, s ns-se e Color Emoji" o Emoji", "Segoe UI Symbol";
    }

    .grafica {
        width: 100%;
        height: 280px;
    }
</style>


@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/amchart/core.js"></script>
    <script src="~/Scripts/amchart/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <script>


        $(".highcharts-credits").hide();


        InicializeAllGauge();
        // ConvertToChart(1241);

        function SetValueToChart(chart, value) {
            var point = chart.series[0].points[0], newVal, inc = value;
            newVal = point.y + inc;
            point.update(newVal);
        }

      

        function InicializeAllGauge() {
            var ListCharts = document.getElementsByClassName("grafica");

            for (var i = 0; i < ListCharts.length; i++) {
                var relation = ListCharts[i].id;
                var VarName = $(ListCharts[i]).data("variable");
                var Prod_Sheet = $(ListCharts[i]).data("bind");

                CreateChartByDiv(relation, VarName, Prod_Sheet);
            }

        }



        $(document).ready(function () {


            $('body').on('click', '.Chart_Col', function () {
                var FirstRelation = $(this).data("id");

                var UrlSheet = '/Trf_Sheet/AnswerGridSheet/' + FirstRelation;

                window.open(UrlSheet, '_blank');
            })

        });
        ///////////////////////////////////////
        function SetValueAmChart(Div_Id, Value) {
            var chartMin = -1;
            var chartMax = 5;
            var chart = null;
            var ListaGraficas = am4core.registry.baseSprites;
            for (var i = 0; i < ListaGraficas.length; i++) {
                if (ListaGraficas[i].id == Div_Id) {
                    chart = ListaGraficas[i];
                    break;
                }
            }

            var hand = chart.hands.values[0];
            //  hand.axis = axis2;
            hand.innerRadius = am4core.percent(55);
            hand.startWidth = 8;
            hand.pin.disabled = true;
            hand.value = hand._value;
            hand.fill = am4core.color("#444");
            hand.stroke = am4core.color("#000");
            hand.showValue(Value, 1000, am4core.ease.cubicOut);
        }

        function lookUpGrade(lookupScore, grades) {
            // Only change code below this line
            for (var i = 0; i < grades.length; i++) {
                if (
                  grades[i].lowScore < lookupScore &&
                  grades[i].highScore >= lookupScore
                ) {
                    return grades[i];
                }
            }
            return null;
        }

        function CreateChartByDiv(Div_Id, VarName, Prod_Sheet) {
            am4core.useTheme(am4themes_dark);
            am4core.useTheme(am4themes_animated);
            var chartMin = -1;
            var chartMax = 5;
            var data = {
                score: 0,
                gradingData: [
                  {
                      title: "Mal",
                      color: "#ee1f25",
                      lowScore: -1,
                      highScore: 0
                  },
                  {
                      title: "Regular",
                      color: "#f3eb0c",
                      lowScore: 0,
                      highScore: 1.33
                  },
                  {
                      title: "Muy Bien",
                      color: "#0f9747",
                      lowScore: 1.33,
                      highScore: 5
                  }
                ]
            };

            var chart = am4core.create(Div_Id, am4charts.GaugeChart);
            chart.id = Div_Id;

            chart.hiddenState.properties.opacity = 0;
            chart.fontSize = 5;
            chart.innerRadius = am4core.percent(75);
            chart.resizable = true;
            chart.background.fill = "#2c3b41";
            //chart.background.fill.rgb.g = 52;
            //chart.background.fill.rgb.b = 7c;
            chart.y = am4core.percent(-4);
           

            var axis = chart.xAxes.push(new am4charts.ValueAxis());
            axis.min = chartMin;
            axis.max = chartMax;
            axis.strictMinMax = true;
            axis.renderer.radius = am4core.percent(75);
            axis.renderer.inside = true;
            axis.renderer.line.strokeOpacity = 0.1;
            axis.renderer.ticks.template.disabled = false;
            axis.renderer.ticks.template.strokeOpacity = 1;
            axis.renderer.ticks.template.strokeWidth = 0.5;
            axis.renderer.ticks.template.length = 5;
            axis.renderer.grid.template.disabled = true;
            axis.renderer.labels.template.radius = am4core.percent(15);
            axis.renderer.labels.template.fontSize = "0.9em";
         //   axis.y = am4core.percent(10);

            var axis2 = chart.xAxes.push(new am4charts.ValueAxis());
            axis2.min = chartMin;
            axis2.max = chartMax;
            axis2.strictMinMax = true;
            axis2.renderer.labels.template.disabled = true;
            axis2.renderer.ticks.template.disabled = true;
            axis2.renderer.grid.template.disabled = false;
            axis2.renderer.grid.template.opacity = 0.5;
            axis2.renderer.labels.template.bent = true;
            axis2.renderer.labels.template.fill = am4core.color("#000");
            axis2.renderer.labels.template.fontWeight = "bold";
            axis2.renderer.labels.template.fillOpacity = 0.3;


            for (let grading of data.gradingData) {
                var range = axis2.axisRanges.create();
                range.axisFill.fill = am4core.color(grading.color);
                range.axisFill.fillOpacity = 0.8;
                range.axisFill.zIndex = -1;
                range.value = grading.lowScore > chartMin ? grading.lowScore : chartMin;
                range.endValue = grading.highScore < chartMax ? grading.highScore : chartMax;
                range.grid.strokeOpacity = 0;
                range.stroke = am4core.color(grading.color).lighten(-0.1);
                range.label.inside = true;
                range.label.text = grading.title.toUpperCase();
                range.label.inside = true;
                range.label.location = 0.5;
                range.label.inside = true;
                range.label.radius = am4core.percent(10);
                range.label.paddingBottom = -5; // ~half font size
                range.label.fontSize = "0.9em";
            }

            var matchingGrade = lookUpGrade(data.score, data.gradingData);

            var label4 = chart.createChild(am4core.Label);
            label4.text = Prod_Sheet;
            label4.fontSize = 11;
            label4.align = "center";
            label4.isMeasured = false;
            label4.x = -10;
            label4.y = am4core.percent(92);

            var label3 = chart.createChild(am4core.Label);
            label3.text = VarName;
            label3.fontSize = 20;
            label3.align = "center";
            label3.isMeasured = false;
            label3.x = -10;
            label3.y = -5;

            var label = chart.radarContainer.createChild(am4core.Label);
            label.isMeasured = false;
            label.fontSize = "6em";
            label.x = am4core.percent(50);
            label.paddingBottom = 12;
            label.horizontalCenter = "middle";
            label.verticalCenter = "bottom";
            //label.dataItem = data;
            label.text = data.score.toFixed(1);
            //label.text = "{score}";
            label.fill = am4core.color(matchingGrade.color);

            var label2 = chart.radarContainer.createChild(am4core.Label);
            label2.isMeasured = false;
            label2.fontSize = 18;
            label2.horizontalCenter = "middle";
            label2.verticalCenter = "bottom";
            //label2.text = matchingGrade.title.toUpperCase();
            label2.fill = am4core.color(matchingGrade.color);

            var hand = chart.hands.push(new am4charts.ClockHand());
            hand.axis = axis2;
            hand.innerRadius = am4core.percent(55);
            hand.startWidth = 8;
            hand.pin.disabled = true;
            hand.value = data.score;
            hand.fill = am4core.color("#ffffff");
            hand.stroke = am4core.color("#000");

            hand.events.on("positionchanged", function () {
                label.text = axis2.positionToValue(hand.currentPosition).toFixed(1);
                var value2 = axis.positionToValue(hand.currentPosition);
                var matchingGrade = lookUpGrade(axis.positionToValue(hand.currentPosition), data.gradingData);
                label2.text = matchingGrade.title.toUpperCase();
                label2.fill = am4core.color(matchingGrade.color);
                label2.stroke = am4core.color(matchingGrade.color);
                label.fill = am4core.color(matchingGrade.color);
            })
        }
        //////////////////////////////////////

    </script>
}
