﻿@model IEnumerable<TransferSPC.ViewModel.ViewModelDashboard>

@{

}



<section class="content">
    <h4>Dashboard</h4>
   
   
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DashboardDatatable" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th class="text-left">
                                    Prod/Hoja
                                </th>
                                <th class="text-center">
                                    Variable
                                </th>
                                <th class="text-center">
                                    Out Spec
                                </th>
                                <th class="text-center">
                                    Out Spec Cpk
                                </th>
                                <th class="text-center">
                                    Out Spec Cp
                                </th>
                                <th class="text-center">
                                    Best 5 Cpk
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr class="align-middle">
                                        <th class="text-left ">
                                            @item.Prod_Hoja
                                        </th>
                                        <th class="text-center">
                                            @item.variables
                                        </th>
                                        <th class="text-center">
                                            @item.outEspec / @item.variablesNum
                                        </th>
                                        <th class="text-center">
                                            @item.CpkOutEspec / @item.variablesNum
                                        </th>
                                        <th class="text-center">
                                            @item.CpOutEspec / @item.variablesNum
                                        </th>
                                        <th class="text-center">
                                            <span class="sparkbar">@item.BestCpk</span>
                                            <canvas id="myChart" width="34" height="18" style="display: inline-block; width: 34px; height: 18px; vertical-align: top;"></canvas>
                                        </th>
                                    </tr>
                                }*@
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

<div class="modal fade" id="TimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">


            </div>
            <div class="modal-body centered-loader">

                <div class="row">
                    <div class="col-md-6 bg ">
                        <div class="loader" id="loader-2">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer centered-loader">
                <p style="color: #3498db;font-size: 16px;">  Cargando Datos </p>
            </div>
        </div>
    </div>
</div>

<style>
    .dt-head-center {text-align: center;}
</style>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery.sparkline.js"></script>

    <script>
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_dashboard").addClass('active').addClass('menu-open');
        $("#menu_dashboard").addClass('active');
        $("#menu_dashboardGenerales").addClass('active').addClass('menu-open');
        $("#menu_dashboardGenerales").addClass('active');
        $("#dashboard_variableGeneral").addClass('active').addClass('menu-open');
        $("#dashboard_variableGeneral").addClass('active');

          $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                        $('#TimerModal').modal('show');

        $('#DashboardDatatable').DataTable();
        UpdateDashboard();
       
        ///////////////////////////////////////

        //$(function () {

        //    var notification = $.connection.notificationHub;

        //    notification.client.AlertRecive = function () {
        //        alert("Actualiza tabla");
        //    };

        //    $.connection.hub.start().done(function () {
        //        notification.server.notificate();

        //    });

        //    $.connection.hub.logging = true;
        //});
        //////////////////////////////////////

        function PlaySoundByNewRow(Ids_FilasColoreadas, fila) {
            if (Ids_FilasColoreadas.length > 0) {
                var IdsArray = Ids_FilasColoreadas.split("-");
                var PlayBell = true;
                for (var i = 0; i < IdsArray.length; i++) {
                    if (fila == IdsArray[i]) {
                        PlayBell = false;
                        break;
                    }
                }
                if (PlayBell) {
                    playSound('bell');
                    var CurrentIds = $("#ColoredRows").val();
                    CurrentIds = CurrentIds + "-" + fila;
                    $("#ColoredRows").val(CurrentIds);
                }
            }
            else {
                if ($("#ColoredRows").val() == "") {
                    playSound('bell');
                    $("#ColoredRows").val(fila);
                }
            }

        }

        //////////////////////////////////////
        function UpdateDashboardLayout() {

            var Cantidad = 0;
            UpdateCpksDashboards();
            UpdateCpksFavoriteDashboards();
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("DashboardAjax", "Analisis")',

                success: function (data) {
                    var table = $('#DashboardDatatable').DataTable();
                    var rows = $('#DashboardDatatable').children('tbody').children('tr');
                    var LastVarValues = [];
                    var LastCpkValues = [];
                    var LastCpValues = [];
                    for (var i = 0; i < rows.length; i++) {
                        //Variables
                        var InnerNameValue = rows[i].childNodes[0].innerText;
                        var InnerTextValue = rows[i].childNodes[2].innerText;
                        LastVarValues.push({ Name: InnerNameValue, Value: InnerTextValue });
                        //Cpk
                        var InnerTextCpkValue = rows[i].childNodes[3].innerText;
                        LastCpkValues.push(InnerTextCpkValue);
                        //Cp
                        var InnerTextCpValue = rows[i].childNodes[4].innerText;
                        LastCpValues.push(InnerTextCpValue);
                    }

                    table.clear();
                    table.draw();
                    var ObjectResult = JSON.parse(data);
                    $('#DashboardDatatable').dataTable().fnClearTable();
                    $('#DashboardDatatable').dataTable().fnDestroy();
                    var table1 = $('#DashboardDatatable').DataTable({

                        columnDefs: [{ width: '40%', targets: 0 },
                            { width: '8%', className: "dt-head-center", targets: 1 },
                            { width: '10%', className: "dt-head-center", targets: 2 },
                            { width: '15%', className: "dt-head-center", targets: 3 },
                            { width: '12%', className: "dt-head-center", targets: 4 },
                            { width: '10%', className: "dt-head-center", targets: 5 }
                        ],
                        fixedColumns: true
                    });
                    table1.draw();
                    for (var i = 0; i < ObjectResult.length; i++) {
                        table1.row.add(['<a href="/Trf_Sheet/AnswerGridSheet/' + ObjectResult[i].FirstRelation + '" target="_blank" style="color: white !important">' + ObjectResult[i].Prod_Hoja + '</a>', ObjectResult[i].variablesNum, ObjectResult[i].outEspec, ObjectResult[i].CpkOutEspec, ObjectResult[i].CpOutEspec, '<span class="sparkbar">' + ObjectResult[i].BestCpk + '</span>']);
                        table1.draw();
                        FilaObjFor = table1.row(i).node();
                        //'<a href="/Trf_Sheet/AnswerGridSheet/' + ObjectResult[i].FirstRelation + '><i class="fa fa-list"></i>' + ObjectResult[i].Prod_Hoja + '</a>'

                        var CurrentLastValue = GetValueByName(ObjectResult[i], LastVarValues);

                        ProcessColumn(FilaObjFor, 2, CurrentLastValue);
                        //ProcessColumn(FilaObjFor, 3, LastCpkValues[i]);
                        //ProcessColumn(FilaObjFor, 4, LastCpValues[i]);
                    }
                    $('.sparkbar').sparkline('html', { type: 'bar', barColor: 'yellow' });
                    $('#TimerModal').modal('hide');
                }
            });
        }
       

        function GetValueByName(ObjectResult, LastVarValues)
        {
            for (var i = 0; i < LastVarValues.length; i++) {
                if (ObjectResult.Prod_Hoja == LastVarValues[i].Name)
                {
                    return LastVarValues[i].Value;
                }
            }
            return null;
        }


        function ProcessColumn(Obj, Column, LastValue) {
            var LastValueNumber = Number(LastValue);
            var Celda2Value = Number(Obj.childNodes[Column].innerText);
            var Celda2Obj = Obj.childNodes[Column];
            if (Celda2Value > LastValueNumber) {
                playSound('bell');
                $(Celda2Obj).css('background-color', 'Red');
                $(Celda2Obj).css('color', 'White');
                $(Celda2Obj).parent().css('background-color', 'Red');
                $(Celda2Obj).parent().css('color', 'White');
                $(Celda2Obj).parent().addClass('blink_me');
                setTimeout(
                                function () {
                                    $(Celda2Obj).parent().removeClass("blink_me");
                                    $(Celda2Obj).parent().css('background-color', 'Green');
                                    $(Celda2Obj).parent().css('color', 'White');
                                    $(Celda2Obj).parent().removeClass('Proccesing');
                                }, 5000);
            }
            else {
                if (Celda2Value == 0) {

                    $(Celda2Obj).parent().css('background-color', 'Green');
                    $(Celda2Obj).parent().css('color', 'White');

                }
                else {

                    $(Celda2Obj).css('background-color', 'Red');
                    $(Celda2Obj).css('color', 'White');
                    $(Celda2Obj).parent().css('background-color', 'Green');
                    $(Celda2Obj).parent().css('color', 'White');

                }
            }
        }

        //////////////////////////////////////
        function UpdateDashboard() {
            var table = $('#DashboardDatatable').DataTable();
            table.clear();
            table.draw();

             $.ajax({
                type: 'POST',
                url: '@Url.Action("DashboardAjax", "Analisis")',

                 success: function (data) {
                     var ObjectResult = JSON.parse(data);
                     $('#DashboardDatatable').dataTable().fnClearTable();
                     $('#DashboardDatatable').dataTable().fnDestroy();
                     var table1 = $('#DashboardDatatable').DataTable({
                     
                         columnDefs: [{ width: '40%', targets: 0 },
                             { width: '8%', className: "dt-head-center", targets: 1 },
                             { width: '10%', className: "dt-head-center", targets: 2 },
                             { width: '15%', className: "dt-head-center", targets: 3 },
                             { width: '12%', className: "dt-head-center", targets: 4 },
                             { width: '10%', className: "dt-head-center", targets: 5 }
                         ],
                        fixedColumns: true
                     });
                     table1.draw();

                     for (var i = 0; i < ObjectResult.length; i++) {
                         table1.row.add([ObjectResult[i].Prod_Hoja, ObjectResult[i].variablesNum, ObjectResult[i].outEspec , ObjectResult[i].CpkOutEspec , ObjectResult[i].CpOutEspec , '<span class="sparkbar">' + ObjectResult[i].BestCpk + '</span>']);
                         table1.draw();
                        
                     }
                     $('.sparkbar').sparkline('html', { type: 'bar' });
                     $('#TimerModal').modal('hide');
                     
                }
            });
        }

    </script>
}
