﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FileViewer</title>
</head>
<body>
    <div> 
        @{  string VisorSRC = "/ViewerJS/#../Uploads/File_Folder/" + @ViewBag.File_Name + ".pdf";
         }
        <iframe src="@VisorSRC" width='100%' height='500' allowfullscreen webkitallowfullscreen></iframe>

        @*<iframe src="/ViewerJS/#../Uploads/manua.pdf" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>*@
        
        
    </div>
</body>
</html>
