﻿
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FolderFileViewer</title>
</head>
<body>

    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">

                        <h2>Carga de ficheros</h2>
                        @using (Html.BeginForm("UploadFileMethod", "Analisis", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="file" id="file" /><br><br>
                            <input type="submit" value="Subir archivo" />
                            <br><br>
                            @ViewBag.Message}

                        <hr>
                        <div class="row">
                            @{foreach (var item in @ViewBag.Ficheros)
                                {
                                    string[] Current_Fichero = (@item as string).Split('\\');
                                    string Ruta = item;
                                    string[] FileName = Ruta.Split('.');
                                    <div class="col-md-4" style="padding:10px">


                                        <a href="#" data-id="@FileName[0]" class="nav-link File_Link">
                                            @if (FileName[1] == "docx" || FileName[1] == "doc")
                                            {
                                                <i class="fa fa-file-word-o"></i>
                                            }
                                            else
                                            {
                                                if (FileName[1] == "xlsx")
                                                {
                                                    <i class="fa fa-file-excel-o"></i>
                                                }
                                                else
                                                { 
                                        <i class="fa fa-file-pdf-o"></i>
            }
                                            }
                                            @Current_Fichero.Last()
                                        </a>

                                    </div>}
                            }
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>

        <div class="modal fade" id="exampleModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 class="modal-title" id="ModalCaptureTitle">Visor de Ficheros</h4>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body" id="Page_load_Board">

                    </div>
                </div>
            </div>
        </div>
</body>
</html>


@section Scripts{


    <script>

        $(document).ready(function () {


            $('body').on('click', '.File_Link', function () {
                var File_Name = $(this).data("id");
                //File_Route = File_Route.Chart_Value.Replace('\\', '*');
                //var ArrayFile_Name = File_Name.Split(".");

                $('#exampleModal').modal('show');
                var UrlEdit = "/Analisis/FileViewer/" + File_Name;
                $("#Page_load_Board").load(UrlEdit);
                // window.location = UrlEdit;

            })

        });

    </script>

}