﻿@{

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CorrelationBoardView</title>
</head>
<body>
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box">

                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-2" style="padding-right:15px">
                                <label class="control-label">Máquinas</label>
                                <select class="form-control" id="Machines_Selector" onchange="getSheets(this)">
                                    <option value="-1"> --Seleccione-- </option>
                                    @foreach (var item in @ViewBag.Lista_Maquinas)
                                    {
                                    <option value="@item.Int_Id">@item.Chart_ElementProducer</option>}
                                </select>
                            </div>

                            <div class="col-xs-2" style="padding-right:15px">
                                <label class="control-label"> Hojas </label>
                                <select class="form-control" id="Sheet_Selector" onchange="getVariables(this)">
                                    <option value="-1">-- Seleccione --</option>

                                </select>
                            </div>



                            <div class="col-xs-3" style="padding-right:15px">
                                <label class="control-label"> Primera Variable de análisis </label>
                                <select class="form-control" id="FirstVariable_Selector">
                                    <option value="-1">-- Seleccione --</option>
                                </select>
                            </div>

                            <div class="col-xs-3" style="padding-right:15px">

                            </div>

                            <div class="col-xs-2 text-center" style="margin-top:15px">
                                @*<input type="button" value="Analizar" id="ir_menuitem" class="btn btn-success btn-sm button-solution" />*@

                                <button type="button" id="ir_menuitem" class="btn btn-primary btn-sm" style="width: 100%;">I-R</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="canvasdiv">
            <canvas id="spcChartCanvas2" width="700" height="500"></canvas>


        </div>






        <div class="row">
            <div class="row" style="display:none">
                <input type="text" id="CurrentRelation" value="" />
                <input type="text" id="CapturetoChart" />
                <input type="text" id="VariableNameInput" />
                <input type="text" id="CurrentVarSelected" />
            </div>
        </div>

        <script type="module">

            import {  BuildIRChart} from '../../Scripts/FrequencyHistogramChart.js';



            function irchart() {

            @*ModuleBuildIRChart("spcChartCanvas2");*@

            $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
            $('#TimerModal').modal('show');
            //Borro todos los errores
            $('span[id^="genericError"]').remove();
            var Operator = $("#Operator").val();
            var Value_Control = $("#Value_Control").val();


            var promised =  Get_Values();

            if( promised == false)
            {
            $('#TimerModal').modal('hide');
            }
            else
            {
            promised.done(function(data){
            BuildIRChart("spcChartCanvas2");
            $('#TimerModal').modal('hide');
            });
            }



            }


            // Since loading of script module is asynchronous, need to assign onclick event handlers after module loaded.

            document.getElementById("ir_menuitem").onclick = irchart;


        </script>







        <div class="row">
            <div class="col-xs-10">
                <canvas id="myChartModal" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>
            </div>
            <div class="col-xs-2" id="Info_Left_Board" style="display:none">

                <div class="row">
                    <div class="color-palette-set">
                        <div class="bg-primary color-palette" style="text-align: center"><span>Coeficiente</span></div>
                        <div class="bg-primary disabled color-palette" id="Coef_Result" style="text-align: center"><span>Disabled</span></div>
                    </div>
                    <div class="color-palette-set">
                        <div class="bg-primary color-palette" style="text-align: center"><span>Relación</span></div>
                        <div class="bg-primary disabled color-palette" id="RelationType_Result" style="text-align: center"><span>Disabled</span></div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</body>
</html>




@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Chart.js"></script>

<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/Graphic_tool.js"></script>


<script>

    function getSheets(selectObject) {
        var value = selectObject.value;
        $("#Sheet_Selector").empty();
        $("#FirstVariable_Selector").empty();
        $("#CurrentRelation").val("");
        if (value != -1) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSheetsByMachine", "Analisis")',
                data: {
                    id_Machine: value,
                },
                async: false,
                success: function (data) {
                    if (data != null) {
                        var Hojas = data.split('||');


                        $("#Sheet_Selector").append('<option value="-1">-- Seleccione --</option>');
                        $("#FirstVariable_Selector").append('<option value="-1">-- Seleccione --</option>');
                        for (var i = 0; i < Hojas.length; i++) {
                            var Current_Hoja = Hojas[i].split('**');

                            $("#Sheet_Selector").append('<option value="' + Current_Hoja[0] + '">' + Current_Hoja[1] + '</option>');



                        }
                    }
                }
            });
        }
    }


    function getVariables(selectObject) {
        var value = selectObject.value;
        $("#FirstVariable_Selector").empty();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetVariablesByMachineandSheets", "Analisis")',
            data: {
                id_Machine: $("#Machines_Selector").val(),
                id_Sheet: $("#Sheet_Selector").val(),
            },
            success: function (data) {

                $("#FirstVariable_Selector").append('<option value="-1">-- Seleccione --</option>');
                if (data != null) {
                    for (var i = 0; i < data.length; i++) {
                        if (i == 0)
                        { $("#CurrentRelation").val(data[i]["Id_Relacion"]); }
                        $("#FirstVariable_Selector").append('<option value="' + data[i]["Id_Variable"] + '">' + data[i]["Variable_Name"] + '</option>');
                    }
                }

            }
        });

    }




    function Get_Values() {
        var To_Date = "";
        var To_Time = "";
        var From_Date = "";
        var From_Time = "";
        var Relacion_Num = $("#CurrentRelation").val();
        var CurrentVar = $("#FirstVariable_Selector").val();

        //var CurrentVar = 46865;

        var Operator = "Todos";
        var Value_Control = $("#Value_Control").val();

        var result = true;
        //if (Operator != "Todos") {
        //    if (isNaN(Value_Control) || Value_Control == "") {
        //        $('#Value_Control').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor debe ser un número</span>');
        //        return false;
        //    }
        //}


        return $.ajax({
            type: 'POST',
            url: '@Url.Action("Get_LastValuesCaptures", "Trf_Products")',
            //async: false,
            //cache: false,
            //timeout: 30000,
            data: {
                To_Date: To_Date,
                To_Time: To_Time,
                From_Date: From_Date,
                From_Time: From_Time,
                Relacion_Num: Relacion_Num,
                CurrentVar: CurrentVar,
                Operator: Operator,
                Value_Control: Value_Control
            },
            success: function (data) {
                if (data != "") {
                    var DatasCapture = data.split("||");
                    $("#CapturetoChart").val(DatasCapture[1]);
                    $("#VariableNameInput").val(DatasCapture[0]);


                }
                else {
                    swal({
                        title: "Error",
                        text: "La operación no se pudo concluir, inténtelo otra vez",
                        type: "error",
                        confirmButtonClass: 'btn-success',
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true,
                    })
                }
            }
        });


    }


    ////////////////////////////////////////


</script>
}