﻿@model IEnumerable<TransferSPC.ViewModel.Relation_Sheets_Board>

@{
   
}



<section class="content-header">
    <h2>Listado de Hojas</h2>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableSheetBoards" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                   Estación
                                </th>
                                <th>
                                   Máquina
                                </th>
                                <th>
                                   Producto
                                </th>
                                <th>
                                    Hoja
                                </th>
                                <th style="text-align:center">
                                    Resultados
                                </th>
                                <th style="text-align:center">
                                    Capturar
                                </th>
                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Structure.Tbl_Structure.Chart_StructureName
                                </td>
                                <td>
                                    @item.Structure.Tbl_ElementProducer.Chart_ElementProducer
                                </td>
                                <td>
                                    @item.Structure.Tbl_Products.Chart_Products
                                </td>
                                <td>
                                    @item.CurrentSheet.Chart_Name
                                </td>
                                <td style="text-align:center">
                                    <a href="@Url.Action("ViewLastResultsBoards/"+  @item.FirstRelation.Int_Id,"Analisis")" class='btn btn-primary btn-sm'><i class='fa fa-list'></i></a>

                                </td>
                                <td style="text-align:center">

                                    <a href="@Url.Action("AnswerGridSheet/"+  @item.FirstRelation.Int_Id,"Trf_Sheet")"  target="_blank" data-toggle="tooltip" data-placement="top" class='btn btn-primary btn-sm'><i class='fa fa-edit'></i></a>
                        
                                </td>
                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>



@section Scripts{
    <script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#menu_Estaciones").addClass('active').addClass('menu-open');
        $("#menu_Estaciones").addClass('active');
        $("#GestiónEstaciones").addClass('active');


        $('#DatatableSheetBoards').DataTable();

    </script>
    }