﻿@model IEnumerable<TransferSPC.Models.Tbl_Variable>
@{

}



<section class="content-header">
    <h2>Ultimas Capturas</h2>
</section>

<input type="hidden" id="id_Relation" value="@ViewBag.id_Relation" />
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">
                    <div class="col-sm-2" style="text-align:center">
                        <!-- Date input -->
                        <label class="control-label" for="date">Desde</label>
                    </div>
                    <div class="col-sm-2" style="text-align:center">
                        <!-- Date input -->
                        <label class="control-label" for="date">Hasta</label>
                    </div>
                    <div class="col-sm-1" style="text-align:center">

                    </div>
                    <div class="col-sm-6" style="text-align:center">
                        <label class="control-label" for="date">Turnos</label>
                    </div>
                    <div class="col-sm-1" style="text-align:center">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <input class="form-control" id="date-to" name="date" placeholder="MM/DD/YYY" type="text" value="@ViewBag.DateTo" />
                    </div>
                    <div class="col-sm-2">
                        <input class="form-control" id="date-from" name="date" placeholder="MM/DD/YYY" type="text" value="@ViewBag.DateFrom" />
                    </div>
                    <div class="col-sm-1" style="text-align:center">

                    </div>
                    <div class="col-sm-6" style="text-align:center">
                        @foreach (var item in @ViewBag.Turns)
                        {
                            <input type="checkbox" checked class="custom-control-input checkbox-turns" data-id="@item.id" id="@item.id">
                            <label class="custom-control-label" for="defaultUnchecked">@item.name</label>}
                    </div>
                    <div class="col-sm-1" style="text-align:center">
                        <a href="#" class="btn btn-success btn-sm button-solution" onclick="FilterDatas()">Buscar</a>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="Flipped">
                        <table id="DatatableSheetBoards" class="table table-striped table-bordered table-sm table-responsive dataTable no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                            <thead class="datatable_title ">
                                <tr>
                                    <th scope="col" class="bg-blue text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle"><span class="fa fa-calendar" aria-hidden="true"></span></th>
                                    <th scope="col" class="bg-blue text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle"><span class="fa fa-clock-o" aria-hidden="true"></span></th>

                                    @foreach (var item in Model)
                                    {
                                        <th scope="col" class="bg-blue" style="font-size:12px !important">
                                            <span class="vardataControl" data-id="@item.Int_Id" data-name="@item.Chart_Name" style="display:none"></span>
                                            @item.Chart_Text
                                        </th>}
                                </tr>
                            </thead>
                            <tbody id="TableLastResults">
                                @*////////////////////////////////////*@

                                @*////////////////////////////////////*@
                            </tbody>
                        </table>
                    </div>
                        <div class="row" id="Timer_Captures">
                            <div class="col-xs-12">
                                <div class="box">
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="modal-body centered-loader">
                                            <div class="row">
                                                <div class="col-md-6 bg ">
                                                    <div class="loader" id="loader-2">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer centered-loader">
                                            <p style="color: #3498db;font-size: 16px;">  Importando Capturas </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

<style>
     .Flipped {
            transform: rotateX(180deg);
            overflow-x: scroll;
        }

     .table-striped {
            transform: rotateX(180deg);
            overflow-x: scroll;
        }
</style>


@section Scripts{
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#menu_Estaciones").addClass('active').addClass('menu-open');
        $("#menu_Estaciones").addClass('active');
        $("#GestiónEstaciones").addClass('active');

        var Selectores = document.getElementsByClassName("checkbox-turns");
        var TurnsString = "";
        for (var i = 0; i < Selectores.length; i++) {
            if (i == 0) {
                TurnsString += $(Selectores[i]).data("id");
            }
            else {
                TurnsString += "-" + $(Selectores[i]).data("id");
            }
        }
        var dateto = $("#date-to").val();
        var datefrom = $("#date-from").val();
        var id_Relation = $("#id_Relation").val();


        var promisedResult = GetResultsByDates(dateto, datefrom, TurnsString, id_Relation);

        if (promisedResult == false) {

        }
        else {
            promisedResult.done(function (data) {
                var variables = document.getElementsByClassName("vardataControl");

                var ObjectResult = JSON.parse(data);

                for (var i = 0; i < ObjectResult.Lista_Momentos.length; i++) {
                    var Fecha = ObjectResult.Lista_Momentos[i].Observsation_Text.split(" ");

                    $("#TableLastResults").append('<tr>');
                    $("#TableLastResults").append('<th scope="col" class="bg-gray-light text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle;padding-left:5px !important;padding-right: 5px !important">' + Fecha[0] + '</span></th>');
                    $("#TableLastResults").append('<th scope="col" class="bg-gray-light text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle;padding-left:5px !important;padding-right: 5px !important">' + Fecha[1] + '</span></th>');
                    for (var j = 0; j < variables.length; j++) {
                        var Id_Momento = ObjectResult.Lista_Momentos[i].id_Variable;
                        var Id_Variable = $(variables[j]).data("id");

                        var CurrentValue = GetVarValueFromResult(ObjectResult.ListLastResultsDataClass, Id_Momento, Id_Variable);
                        var ValorResultado = "";
                        if (CurrentValue != null)
                        { ValorResultado = CurrentValue.Valor; }

                        if (isNaN(ValorResultado) || ValorResultado == "") {
                            $("#TableLastResults").append('<th scope="col" class="bg-gray text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle;border-width: 1px;border-style: solid;border-color: white;padding-left: 5px;padding-right: 5px">' + ValorResultado + '</th>');
                        }
                        else {
                            var Valor_Maximo = Number(CurrentValue.Valor_Maximo);
                            var Valor_Minimo = Number(CurrentValue.Valor_Minimo);
                            var Valor = Number(CurrentValue.Valor);

                            var Paso = (Valor_Maximo - Valor_Minimo) / 4;

                            if (Valor < Valor_Minimo || Valor > Valor_Maximo) {
                                $("#TableLastResults").append('<th scope="col" class="bg-red text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle; border-style: solid;border-width: 1px;padding-left: 5px;padding-right: 5px">' + CurrentValue.Valor + '</th>');
                            }
                            else {
                                if (Valor < Valor_Minimo + Paso || Valor > Valor_Maximo - Paso) {
                                    $("#TableLastResults").append('<th scope="col" class="bg-yellow text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle; border-style: solid;border-width: 1px;padding-left: 5px;padding-right: 5px">' + CurrentValue.Valor + '</th>');
                                }
                                else {
                                    $("#TableLastResults").append('<th scope="col" class="bg-green text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle; border-style: solid;border-width: 1px;padding-left: 5px;padding-right: 5px">' + CurrentValue.Valor + '</th>');
                                }
                            }
                        }
                    }
                    $("#TableLastResults").append('</tr>');
                }

                $("#Timer_Captures").hide();
            });
        }

        function GetVarValueFromResult(ListLastResultsDataClass, Id_Momento, Id_Variable) {
            for (var i = 0; i < ListLastResultsDataClass.length; i++) {
                if ((ListLastResultsDataClass[i].Id_Momento == Id_Momento) && (ListLastResultsDataClass[i].NombreVariable == Id_Variable)) {
                    return ListLastResultsDataClass[i];
                }
            }
            return null;
        }

        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
        })

        function FilterDatas() {
            var Selectores = document.getElementsByClassName("checkbox-turns");
            var TurnsString = "";
            for (var i = 0; i < Selectores.length; i++) {
                var InputValue = Selectores[i].checked;
                if (TurnsString == "") {
                    if (InputValue == true) {
                        TurnsString += $(Selectores[i]).data("id");
                    }
                }
                else {
                    if (InputValue == true) {
                        TurnsString += "-" + $(Selectores[i]).data("id");
                    }
                }
            }
            var dateto = $("#date-to").val();
            var datefrom = $("#date-from").val();
            var id_Relation = $("#id_Relation").val();

            if (TurnsString == "") {
                swal({
                    title: "Error",
                    text: "Debe seleccionar al menos un turno para poder filtrar",
                    type: "error",
                    confirmButtonClass: 'btn-success',
                    confirmButtonText: 'Aceptar',
                    closeOnConfirm: true,
                })
            }
            else {
                var promisedResult = GetResultsByDates(dateto, datefrom, TurnsString, id_Relation);

                if (promisedResult == false) {

                }
                else {
                    const myNode = document.getElementById("TableLastResults");
                    myNode.innerHTML = '';
                    $("#Timer_Captures").show();
                    promisedResult.done(function (data) {
                        var variables = document.getElementsByClassName("vardataControl");

                        var ObjectResult = JSON.parse(data);

                        for (var i = 0; i < ObjectResult.Lista_Momentos.length; i++) {
                            var Fecha = ObjectResult.Lista_Momentos[i].Observsation_Text.split(" ");

                            $("#TableLastResults").append('<tr>');
                            $("#TableLastResults").append('<th scope="col" class="bg-gray-light text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle;padding-left:5px !important;padding-right: 5px !important">' + Fecha[0] + '</span></th>');
                            $("#TableLastResults").append('<th scope="col" class="bg-gray-light text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle;padding-left:5px !important;padding-right: 5px !important">' + Fecha[1] + '</span></th>');
                            for (var j = 0; j < variables.length; j++) {
                                var Id_Momento = ObjectResult.Lista_Momentos[i].id_Variable;
                                var Id_Variable = $(variables[j]).data("id");

                                var CurrentValue = GetVarValueFromResult(ObjectResult.ListLastResultsDataClass, Id_Momento, Id_Variable);

                                var ValorResultado = "";
                                if (CurrentValue != null)
                                { ValorResultado = CurrentValue.Valor; }

                                if (isNaN(ValorResultado) || ValorResultado == "") {
                                    $("#TableLastResults").append('<th scope="col" class="bg-gray text-center" id="Op_Head2" style="vertical-align:middle;border-width: 1px;padding-left: 5px;padding-right: 5px">' + ValorResultado + '</th>');
                                }
                                else {
                                    var Valor_Maximo = Number(CurrentValue.Valor_Maximo);
                                    var Valor_Minimo = Number(CurrentValue.Valor_Minimo);
                                    var Valor = Number(CurrentValue.Valor);

                                    var Paso = (Valor_Maximo - Valor_Minimo) / 4;

                                    if (Valor < Valor_Minimo || Valor > Valor_Maximo) {
                                        $("#TableLastResults").append('<th scope="col" class="bg-red text-center" id="Op_Head2" style="vertical-align:middle; border-style: solid;border-width: 1px;padding-left: 5px;padding-right: 5px">' + CurrentValue.Valor + '</th>');
                                    }
                                    else {
                                        if (Valor < Valor_Minimo + Paso || Valor > Valor_Maximo - Paso) {
                                            $("#TableLastResults").append('<th scope="col" class="bg-yellow text-center" id="Op_Head2" style="vertical-align:middle; border-style: solid;border-width: 1px;padding-left: 5px;padding-right: 5px">' + CurrentValue.Valor + '</th>');
                                        }
                                        else {
                                            $("#TableLastResults").append('<th scope="col" class="bg-green text-center" id="Op_Head2" style="vertical-align:middle; border-style: solid;border-width: 1px;padding-left: 5px;padding-right: 5px">' + CurrentValue.Valor + '</th>');
                                        }
                                    }
                                }
                            }
                            $("#TableLastResults").append('</tr>');
                        }

                        $("#Timer_Captures").hide();
                    });
                }
            }

        }


        function GetResultsByDates(DateTo, DateFrom, Turns, id_Relation) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("GetResultsByDates", "Analisis")',
                data: {
                    DateTo: DateTo,
                    DateFrom: DateFrom,
                    Turns: Turns,
                    id_Relation: id_Relation
                },
                success: function (data) {
                    if (data != null) {



                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

    </script>
}

