﻿@model TransferSPC.ViewModel.ViewLastResultsFilterViewModel

@{

}

<style>
    .FilterBar {
        border-style: solid;

        border-bottom-right-radius: 10px;
    }
</style>


<div class="row FilterBar">
    <div class="col-sm-3" style="padding:5px">
        <div class="row">
            <label>Estación</label>
        </div>
        <div class="row">
            <select id="mySelect2Stations" class="form-control" onchange="SelectStation()">
                <option value="-1">--Todas--</option>
                @{foreach (var item in Model.ListStations)
                    {
                        <option value="@item.Int_Id">@item.Chart_StructureName</option>}
                }
            </select>
        </div>
    </div>

    <div class="col-sm-3" style="padding:5px">
        <div class="row">
            <label>Máquina</label>
        </div>
        <div class="row">
            <select id="mySelect2Maquina" class="form-control" onchange="SelectMaquina()">
                <option value="-1">--Todas--</option>
                @{foreach (var item in Model.ListElementProducer)
                    {
                        <option value="@item.Int_Id">@item.Chart_ElementProducer</option>}
                }
            </select>
        </div>
    </div>

    <div class="col-sm-3" style="padding:5px">
        <div class="row">
            <label>Producto</label>
        </div>
        <div class="row">
            <select id="mySelect2Product" class="form-control">
                <option value="-1">--Todos--</option>
                @{foreach (var item in Model.ListProduct)
                    {
                        <option value="@item.Int_Id">@item.Chart_Products</option>}
                }
            </select>
        </div>
    </div>


    <div class="col-sm-3" style="margin: 0 auto; text-align: center; padding:15px">
        <button type="button" id="BuscarBtn" class="btn btn-primary"><i class='fa fa-search' style="margin:3px"></i>Buscar</button>
    </div>
</div>




<section class="content-header">
    <h2>Listado de Hojas</h2>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableSheetBoards" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Nombre de la Hoja
                                </th>
                                
                                <th style="text-align:center">
                                    Capturar
                                </th>
                            </tr>
                        </thead>



                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

<div class="modal fade" id="TimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body centered-loader">
                <div class="row">
                    <div class="col-md-6 bg ">
                        <div class="loader" id="loader-2">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer centered-loader">
                <p style="color: #3498db;font-size: 16px;">  Procesando </p>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">


@section Scripts{
    <script>
        $('#mySelect2Stations').select2({
            placeholder: 'Seleccione los usuarios a notificar'
        });
        $('#mySelect2Maquina').select2({
            placeholder: 'Seleccione los usuarios a notificar'
        });
        $('#mySelect2Product').select2({
            placeholder: 'Seleccione los usuarios a notificar'
        });
        $('#DatatableSheetBoards').DataTable({
            "columnDefs": [
                { "className": "dt-center", "targets": [1] }
            ]
        });

        /////////////////////////////
        function SelectStation() {
            var Id_Estation = $('#mySelect2Stations').val();
            $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
            $('#TimerModal').modal('show');
            var promised = LoadAllMachine(Id_Estation);

            if (promised == false) {

            }
            else {
                promised.done(function (data) {
                    //////////////////////////////////////
                    var Id_Maquina = $('#mySelect2Maquina').val();
                    if (Id_Maquina != -1) {
                        $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                        $('#TimerModal').modal('show');
                        var promisedProduct = LoadAllProducts(Id_Maquina, Id_Estation)

                        if (promisedProduct == false) {

                        }
                        else {
                            promisedProduct.done(function (data) {
                                $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                                $('#TimerModal').modal('hide');
                            });
                        }
                    }
                    else {
                        alert("No hago nada");
                    }
                    //////////////////////////////////////
                });
            }
        }

        function SelectMaquina() {
            var Id_Estation = $('#mySelect2Stations').val();
            var Id_Maquina = $('#mySelect2Maquina').val();
            $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
            $('#TimerModal').modal('show');
            var promised = LoadAllProducts(Id_Maquina, Id_Estation)

            if (promised == false) {

            }
            else {
                promised.done(function (data) {
                    $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
                    $('#TimerModal').modal('hide');
                });
            }
        }

        function LoadAllProducts(ElementId, StationId) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_All_Product", "Tbl_Structure")',
                data: {
                    ElementId: ElementId,
                    StationId: StationId
                },
                success: function (data) {
                    if (data != "Error") {
                        $("#mySelect2Product").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#mySelect2Product").append(`<option value='${data[i].Int_id}'>${data[i].Chart_Products}</option>`);
                        }

                    }
                }
            });
        }

        function LoadAllMachine(ElementId) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_All_Machine", "Tbl_Structure")',
                data: {
                    ElementId: ElementId
                },
                success: function (data) {
                    if (data != "Error") {
                        $("#mySelect2Maquina").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#mySelect2Maquina").append(`<option value='${data[i].Int_id}'>${data[i].Chart_ElementProducerName}</option>`);
                        }
                    }
                }
            });
        }

        function SearchSheetsCapture(Id_Estation, Id_Maquina, Id_Product) {
            return $.ajax({
                type: 'POST',
                url: '@Url.Action("SearchSheetsCapture", "Trf_Sheet")',
                data: {
                    Id_Estation: Id_Estation,
                    Id_Maquina: Id_Maquina,
                    Id_Product: Id_Product
                },

                success: function (data) {
                    if (data != "Error") {
                        var ObjectResult = JSON.parse(data);
                        var t = $('#DatatableSheetBoards').DataTable();

                        t.clear();
                        t.draw();

                        for (var i = 0; i < ObjectResult.length; i++) {
                            t.row.add([ObjectResult[i].Chart_Name, `<button type="button" data-id=${ObjectResult[i].ID_Captura} class="btn btn-primary CaptureBtn"><i class='fa fa-list' style="margin:3px"></i>Capturar</button>`]).draw(false);
                        }
                    }
                }
            });
        }

        //////////////////////////////

        $(document).ready(function () {


            $('body').on('click', '#BuscarBtn', function () {
                var Id_Estation = $('#mySelect2Stations').val();
                var Id_Maquina = $('#mySelect2Maquina').val();
                var Id_Product = $('#mySelect2Product').val();
                $('#TimerModalLayout').modal({ backdrop: 'static', keyboard: false })
                $('#TimerModalLayout').modal('show');
                var promised = SearchSheetsCapture(Id_Estation, Id_Maquina, Id_Product);

                if (promised == false) {

                }
                else {
                    promised.done(function (data) {
                        $('#TimerModalLayout').modal({ backdrop: 'static', keyboard: false })
                        $('#TimerModalLayout').modal('hide');
                    });
                }


            })

            $('body').on('click', '.CaptureBtn', function () {
                var Id = $(this).data("id");

                window.open(`@Url.Action("AnswerGridSheet", "Trf_Sheet")/${Id}`, "_blank");
            })




        });

    </script>
}


