﻿

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

th.dt-center, td.dt-center { text-align: center; }

.smallButtons {
margin:2px;
}
/*
 .loader {
  border: 6px solid #f3f3f3;  Light grey 
  border-top: 6px solid #3498db; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

  @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #395d6c !important;
    border-color: #395d6c !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}

.botones {
    margin-top: 5px;
}

.button-solution {
    margin-top:5px;
 
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.table {
    width: 100% !important;
}

/*asignar maquinas*/
.dvContent {
    padding: 5px !important;
    position: relative;
    Width: 100%;
    height: 25vw;
    overflow-y: scroll;
    background-color: #ecf0f5;
}
.dvContent2 {
    padding-top: 5px;
    position: relative;
    Width: 100%;
    height: 16.1vw;
    overflow-y: scroll;
    background-color: #ecf0f5;
}
.result {
    /*border-style: solid;*/
    padding-right: 10px;
    padding-left: 10px;
    /*height: 65%;*/
}
.contenedor-gray {
    height: 17.5vw;
    padding: 5px;
    background-color: #ecf0f5;
}

.variable-box {
    height: 3.5vw;
}