﻿@model TransferSPC.Models.RegisterViewModel
@{
//Layout = null;
}
<div id="Timer" class="row" style="display:none">
    <div class="loader" style="margin:auto"></div>
</div>

@using (Html.BeginForm("CreateUser", "Account", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>
        <div style="margin-left:15px">
            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Nombre", null, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-4">
                    @Html.Label("Apellidos", null, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-4">
                    @Html.Label("Correo Electrónico ", null, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-4" id="#Div_Telefono">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Rol", null, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-4">
                    @Html.Label("Teléfono ", null, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-sm-4">
                    @Html.Label("Usuario ", null, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.DropDownList("Roles_id", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>


            <div class="row" style="display:none">

                <div class="col-sm-6">
                    <div class="row">
                        <input class="myorangebutton myedits" type="file" name="file" id="file" style="text-align:left" />
                    </div>
                </div>
            </div>

            <hr />

            <div class="row">
                <div class="col-sm-4">
                    @Html.Label("Contraseña", null, htmlAttributes: new { @class = "control-label" })
                </div>
                @*<div class="col-sm-4">
                </div>*@
                <div class="col-sm-4">
                    @Html.Label("Confirmar Contraseña", null, htmlAttributes: new { @class = "control-label" })

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                @*<div class="col-sm-4">
                </div>*@
                <div class="col-sm-4">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="row">
                <div class="pull-right" style="margin-right: 15px !important">
                    <input type="button" value="Crear" id="Usuarios-submit" class="btn btn-success btn-sm button-solution" />
                    <input type="button" value="Cancelar" id="btn-cancel" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
                </div>
            </div>
        </div>
    </fieldset>
}


@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#usuario").addClass('active');


        //Para llamar el modal de eliminar
        $(document).ready(function () {
            //Funcion para crear
            function SubmitUsuarios() {
                //Aqui creo la variable de control de subida
                var result = true;

                ////////////////////////////////////// Valido  ////////////////////////////////////////////////
                //Valido el Nombre
                if ($('#Name').val() == "") {
                    $('#Name').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Nombre
                if ($('#LastName').val() == "") {
                    $('#LastName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Usuario
                if ($('#UserName').val() == "") {
                    $('#UserName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }
                MailResult = MailValidate($('#Email').val(), "Email");

                if (MailResult == false) {
                    result = false;
                }

                //Valido las contraseñas
                if ($('#Password').val() == "" || $('#ConfirmPassword').val() == "") {
                    $('#Password').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Estos valores son obligatorios</span>');
                    result = false;
                }

                if ($('#Password').val() != "" || $('#ConfirmPassword').val() != "") {
                    if ($('#Password').val().length < 6 || $('#ConfirmPassword').val().length < 6) {
                        $('#Password').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> La contraseña debe tener un mínimo de 6 caracteres</span>');
                        result = false;
                    }
                }

                if ($('#Password').val() != $('#ConfirmPassword').val()) {
                    $('#Password').parent().parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true" style="margin-left: 15px;"> Las Contraseñas no coinciden, deben ser iguales</span>');
                    result = false;
                }

                if (result == true) {
                    document.getElementById("Form").submit();
                }
            }

            //Funcion para mandar a editar
            $(document).ready(function () {
                //Mandar a crear
                $('body').on("click", "#Usuarios-submit", function () {
                    //Borro todos los errores
                    $('span[id^="genericError"]').remove();
                    SubmitUsuarios();
                });


                $('body').on("click", "#btn-cancel", function () {
                    var UrlEdit = "/Usuarios/Index";


                    window.location = UrlEdit;
                });

            });
        })
    </script>
}





