﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<body>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <label class="custom-control-label" for="defaultChecked2">Nombre del Rol</label>
        </div>
        <div class="col-sm-3">
            <input type="text" id="Rol_Name" placeholder="Nombre del Rol" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">

                <label class="custom-control-label" for="defaultChecked2">Editor de Máquinas</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">

                <label class="custom-control-label" for="defaultChecked2">Editor de Productos</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">

                <label class="custom-control-label" for="defaultChecked2">Editor de Hojas</label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">

                <label class="custom-control-label" for="customSwitch3">Editor de Capturas</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="MachinEditor" class="toggle-one" checked data-toggle="toggle" data-size="mini">

            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="ProductsEditor" class="toggle-one" checked data-toggle="toggle" data-size="mini">

            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="toggle-one" checked data-toggle="toggle" data-size="mini">

            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="toggle-one" checked data-toggle="toggle" data-size="mini">

            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="pull-right" style="margin-right: 15px !important">
            <input type="button" value="Crear" id="Rol-submit" class="btn btn-success btn-sm button-solution" />
        </div>
    </div>
</body>
</html>


<script>
    $(function () {
        $('.toggle-one').bootstrapToggle();
    })
</script>
