﻿@model TransferSPC.Models.AspNetUsers
@{
    Layout = null;
}

<div id="Timer" class="row" style="display:none">
    <div class="loader" style="margin:auto"></div>
</div>

@using (Html.BeginForm("EditUsuarios", "Usuarios", FormMethod.Post, new { id = "Form", enctype = "multipart/form-data" }))
{
 
    <fieldset>
        <legend></legend>
        <div>
            <div>
				<input type="hidden" value="@Model.Id" id="id_Usuario" name="id_Usuario" />
                <div class="row">
                    <div class="col-sm-6">
                        @Html.Label("Nombre", null, htmlAttributes: new { @class = "control-label" })

                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Apellidos", null, htmlAttributes: new { @class = "control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        @Html.Label("Correo Electrónico ", null, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-4">
                        @Html.Label("Teléfono ", null, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-4">
                        @Html.Label("Usuario ", null, htmlAttributes: new { @class = "control-label" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" id="#Div_Telefono">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        @Html.Label("Rol", null, htmlAttributes: new { @class = "control-label" })
                    </div>
                    @*<div class="col-sm-6">
                        @Html.Label("Avatar", null, htmlAttributes: new { @class = "control-label" })
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        @Html.DropDownList("Roles_id", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    @*<div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-9">
                                <input class="myorangebutton myedits" type="file" name="file" id="file" style="text-align:left" />
                            </div>
                        </div>
                    </div>*@
                </div>

                <hr />
                Reiniciar la contraseña

                <div class="row">
                    <div class="col-sm-6">
                        @Html.Label("Contrasena", null, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-sm-6">
                        @Html.Label("Confirmar Contrasena", null, htmlAttributes: new { @class = "control-label" })

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" id="Reset_Contraseña" name="Reset_Contraseña" type="password">
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="Reset_Confirm_Contrasena" name="Reset_Confirm_Contrasena" type="password">
                    </div>
                </div>

                <div class="row">
                    <div class="pull-right" style="margin-right: 15px !important">
                        <input type="button" value="Editar" id="UserEdit-submit" class="btn btn-success btn-sm button-solution" />
                        <input type="button" value="Cancelar" id="btn-cancel" data-dismiss="modal" class="btn btn-danger btn-sm button-solution" />
                    </div>
                </div>
            </div>
        </div>

    </fieldset>
}


<script>
    $("#Roles_id").val(@Model.AspNetRoles.First().Id);
</script>