﻿
@{
    ViewBag.Title = "Error del sistema";
}
<body style="background-image: url('../../bower_components/Images/fondo2.jpg');background-size: 110%;">

</body>
<h2>Upsss el sistema reportó un error, el correo solicitado ya existe intente con otro</h2>

@Html.ActionLink("Ir al Listado", "Index","Usuarios")

