﻿
@{
    ViewBag.Title = "Error del sistema";
}
<!-- Main content -->
<section class="content">

    <h2>Upsss el sistema reportó un error, el usuario solicitado ya existe intente con otro</h2>

    <input type="button" value="Cancelar" id="btn-cancel" data-dismiss="modal" class="btn btn-danger btn-sm button-solution" />

    @Html.ActionLink("Ir al Listado", "Index", "Usuarios")
</section>