﻿@model IEnumerable<TransferSPC.Models.AspNetUsers>

@{
    Layout = null;
}
<div id="Timer" class="row" style="display:none">
    <div class="loader" style="margin:auto"></div>
</div>
<div id="FormularioImportar">
    @*<h2>Usuarios a Importar a :</h2> @Html.DropDownList("Empresa_id", null, htmlAttributes: new { @class = "form-control" })*@
    <div class="row" style="margin:10px">

    </div>

    <div class="row">
        <div class="col-sm-3">
            Servidor
            <input type="text" class="form-control input-sm" id="Servidor"  value="@ViewBag.Servidor"/>
        </div>
        <div class="col-sm-3">
            Base de Datos
            <input type="text" class="form-control input-sm" id="Database" value="@ViewBag.Database"/>
        </div>
        <div class="col-sm-3">
            Usuario
            <input type="text" class="form-control input-sm" id="User" value="@ViewBag.User"/>
        </div>
        <div class="col-sm-3">
            Contraseña
            <input type="password" class="form-control input-sm" id="Pass" value="@ViewBag.Pass"/>
        </div>
    </div>

    <hr />
   
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">


    <div class="DataTable_Background" style="width:100%;display:none">
        <table id="DatatableImporterUser" class="table table-condensed table-hover ">
            <thead class="datatable_title ">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellidos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                </tr>
            </thead>
        </table>
    </div>


    <div class="row" style="margin-top:35px;margin-right:10px">
        @*<div class="col-sm-6">
            <label class="control-label col-md-2" for="Empresa_id">Empresa</label>

       
        </div>*@

        <input type="button" value="Cancelar" data-dismiss="modal" class="btn btn-danger btn-sm col-sm-2" style="float: right;margin-left:10px;" />


        <button type="button" class="btn btn-info fa fa-cloud-upload" id="Merge_Usuarios" data-target="#exampleModal" style="float:right">
            Importar Usuarios
        </button>
    </div>

</div>

@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>

    <script src="~/Scripts/FieldValidator.js"></script>
}


<script>
    $(document).ready(function () {
        LoadDataTableImporterUser();


    });


</script>
