﻿@model IEnumerable<TransferSPC.Models.AspNetUsers>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Listado de usuarios</h2>
    <div class="row">
        <input type="button" value="Crear usuario" id="Add_Usuarios" class="btn btn-success btn-sm button-solution" />
        @*<input type="button" value="Ver Ficheros" id="View_File" class="btn btn-success btn-sm button-solution" />*@
    </div>

</section>

<!-- Main content -->
<section class="content">
    <!--Aquí comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableUser" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="modal-title" id="ModalCaptureTitle">Explorador de ficheros</h4>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body" id="Page_load_Board">

                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#usuario").addClass('active');

        $(document).ready(function () {
            @*$(".modal-body").load("@Url.Action("CreateUsuarios", "Account")");*@
            LoadDataTable();
        });

        function LoadDataTable() {
            $('#DatatableUser').DataTable({
                "ajax": {
                    "url": "/Usuarios/GetUsers",
                    "type": "POST",
                    "datatype": "Json"
                },
                "language": {
                    "url": "/Content/Languaje/Data_table_ES.json"
                },
                "columnDefs": [
                    { "className": 'dt-center', "targets": "_all" }
                ],
                "columns": [
                    { "data": "Name", "title": "Nombre(s)", "autoWidth": true, },
                    { "data": "LastName", "title": "Apellidos", "autoWidth": true },
                    { "data": "UserName", "title": "Usuario", "autoWidth": true },
                    { "data": "Email", "title": "Correo electrónico", "autoWidth": true },
                    {
                        "data": "Id", "autoWidth": true, "render": function (data) {
                            //return "<div class='row'><a class='btn btn-default btn-sm' id='Edit_Roles' data-id=" + data + "><i class='fa fa-user-circle'></i></a> <a class='btn btn-warning btn-sm' id='Edit_Usuarios' data-id=" + data + " ><i class='fa fa-pencil'></i></a> <a class='btn btn-danger btn-sm' id='Delete_Usuarios' data-id=" + data + "><i class='fa fa-trash'></i></a></div>"
                            return "<div class='row'> <a class='btn btn-warning btn-sm' id='Edit_Usuarios' data-id=" + data + " ><i class='fa fa-pencil'></i></a> <a class='btn btn-danger btn-sm' id='Delete_Usuarios' data-id=" + data + "><i class='fa fa-trash'></i></a></div>"

                        }
                    }
                ]
            });
        }

        // esto es para crear un sweet alert con la vista dentro
        $('body').on('click', '#Add_Usuarios', function () {
            @*var Contenido = "@Url.Action("CreateUsuarios", "Usuarios")";
            swal({
                title: 'Nuevo Usuario',
                width: 600,

                showConfirmButton: false,
                html:
                '<div id="modal-body"><div id="Timer" class="row" ><div class="loader" style="margin:auto"></div></div>'
            });
            $("#modal-body").load(Contenido);

            $('body').on('click', '#btn-cancel', function () {
                Swal.close();
            });*@

            var UrlEdit = "/Usuarios/CreateUsuarios";


            window.location = UrlEdit;
        })

        $('body').on('click', '#View_File', function () {

            //$('#exampleModal').modal('show');
            var UrlEdit = "/Analisis/FolderFileViewer";
            //$("#Page_load_Board").load(UrlEdit);
            window.location = UrlEdit;


        })


            $('body').on('click', '.File_Link', function () {
                //var UrlEdit = $(this).data("id");

               
                //UrlEdit = UrlEdit.Replace('\\', '/');
                //window.location = UrlEdit;
            });
  


        $('body').on('click', '#Edit_Roles', function () {
            var UrlEdit = "/Usuarios/RolesEdit";
            window.location = UrlEdit;
        })

        // esto es para crear un sweet alert con la vista dentro
        $('body').on('click', '#Edit_Usuarios', function () {
            var Contenido = "@Url.Action("EditUsuarios", "Usuarios")" + "/" + $(this).data("id");
            swal({
                title: 'Editar usuario',
                width: 600,

                showConfirmButton: false,
                html:
                '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
            });
            $("#modal-body").load(Contenido);

            $('body').on('click', '#btn-cancel', function () {
                Swal.close();
            });
        })

        //Para llamar el modal de eliminar
        $(document).ready(function () {
            $('body').on('click', '#Delete_Usuarios', function () {
                var Valorid = $(this).data("id");
                swal({
                    title: '¿Está seguro que desea eliminar el usuario?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#5cb85c ',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteUsuarios", "Account")',
                            data: { Id: Valorid },
                            success: function (data) {
                                if (data == "True") {
                                    swal({

                                        type: 'success',
                                        title: 'El usuario se borró satisfactoriamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    $('#exampleModal').modal('hide');
                                    $('#MyDatatable').DataTable().ajax.reload();
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
                    }
                })
            })

            //Funcion para crear
            function SubmitUsuarios() {
                //Aqui creo la variable de control de subida
                var result = true;

                ////////////////////////////////////// Valido  ////////////////////////////////////////////////
                //Valido el Nombre
                if ($('#Name').val() == "") {
                    $('#Name').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Nombre
                if ($('#LastName').val() == "") {
                    $('#LastName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Usuario
                if ($('#UserName').val() == "") {
                    $('#UserName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor es obligatorio</span>');
                    result = false;
                }
                MailResult = MailValidate($('#Email').val(), "Email");

                if (MailResult == false) {
                    result = false;
                }

                //Valido las contraseñas
                if ($('#Password').val() == "" || $('#ConfirmPassword').val() == "") {
                    $('#Password').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Estos valores son obligatorios</span>');
                    result = false;
                }

                if ($('#Password').val() != "" || $('#ConfirmPassword').val() != "") {
                    if ($('#Password').val().length < 6 || $('#ConfirmPassword').val().length < 6) {
                        $('#Password').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> La contraseña debe tener un mínimo de 6 caracteres</span>');
                        result = false;
                    }
                }

                if ($('#Password').val() != $('#ConfirmPassword').val()) {
                    $('#Password').parent().parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true" style="margin-left: 15px;"> Las contraseñas no coinciden, deben ser iguales</span>');
                    result = false;
                }

                if (result == true) {
                    document.getElementById("Form").submit();
                }
            }

            //Funcion para mandar a editar
            function SubmitEditUsuarios() {
                //Aqui creo la variable de control de subida
                var result = true;

                ////////////////////////////////////// Valido  ////////////////////////////////////////////////
                //Valido el Nombre
                if ($('#Name').val() == "") {
                    $('#Name').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Nombre
                if ($('#LastName').val() == "") {
                    $('#LastName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Usuario
                if ($('#UserName').val() == "") {
                    $('#UserName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este valor es obligatorio</span>');
                    result = false;
                }
                MailResult = MailValidate($('#Email').val(), "Email");

                if (MailResult == false) {
                    result = false;
                }

                //Valido las contraseñas
                if ($('#Reset_Contraseña').val() != "" || $('#Reset_Confirm_Contrasena').val() != "") {
                    if ($('#Reset_Contraseña').val() != "" || $('#Reset_Confirm_Contrasena').val() != "") {
                        if ($('#Reset_Contraseña').val().length < 6 || $('#Reset_Confirm_Contrasena').val().length < 6) {
                            $('#Reset_Contraseña').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> La contraseña debe tener un mínimo de 6 caracteres</span>');
                            result = false;
                        }
                    }

                    if ($('#Reset_Contraseña').val() != $('#Reset_Confirm_Contrasena').val()) {
                        $('#Reset_Contraseña').parent().parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true" style="margin-left: 15px;"> Las contraseñas no coinciden, deben ser iguales</span>');
                        result = false;
                    }
                }

                if (result == true) {
                    document.getElementById("Form").submit();
                }
            }

            $(document).ready(function () {
                //Mandar a crear
                $('body').on("click", "#Usuarios-submit", function () {
                    //Borro todos los errores
                    $('span[id^="genericError"]').remove();
                    SubmitUsuarios();
                });

                //Mandar a editar
                $('body').on("click", "#UserEdit-submit", function () {
                    //Borro todos los errores
                    $('span[id^="genericError"]').remove();
                    SubmitEditUsuarios();
                });
            });
        })
    </script>
}