﻿@model IEnumerable<TransferSPC.Models.AspNetRoles>

@{
    ViewBag.Title = "Permissions";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Gestión de Roles</h2>
    <div class="row">
        <input type="button" value="Crear Rol" id="Add_Rol" class="btn btn-success btn-sm button-solution" />
    </div>
</section>

<section class="content">



    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="MyDatatable" class="table table-condensed table-hover ">
                            <thead class="datatable_title ">
                                <tr>
                                    <th>
                                        Nombre
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        Editor de Máquinas
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        Editor de Productos
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        Editor de Hojas
                                    </th>
                                    <th style="text-align: center; vertical-align: middle;">
                                        Editor de Capturas
                                    </th>

                                    <th style="text-align: center; vertical-align: middle;">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>



                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    @*/////////////////////////////*@
                                    @if (item.Bool_EditMachine == true)
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-success btn-sm' style="border-radius:15px !important"><i class='fa fa-check-circle'></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-danger btn-sm' style="border-radius:15px !important"><i class='fa fa-remove'></i></a>
                                        </td>
                                    }
                                    @*/////////////////////////////*@

                                    @if (item.Bool_EditProducts == true)
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-success btn-sm' style="border-radius:15px !important"><i class='fa fa-check-circle'></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-danger btn-sm' style="border-radius:15px !important"><i class='fa fa-remove'></i></a>
                                        </td>
                                    }
                                    @*/////////////////////////////*@

                                    @if (item.Bool_EditSheet == true)
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-success btn-sm' style="border-radius:15px !important"><i class='fa fa-check-circle'></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-danger btn-sm' style="border-radius:15px !important"><i class='fa fa-remove'></i></a>
                                        </td>
                                    }
                                    @*/////////////////////////////*@
                                    @if (item.Bool_EditCapture == true)
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-success btn-sm' style="border-radius:15px !important"><i class='fa fa-check-circle'></i></a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="text-align: center; vertical-align: middle;">
                                            <a class='btn btn-danger btn-sm' style="border-radius:15px !important"><i class='fa fa-remove'></i></a>
                                        </td>
                                    }
                                    @*/////////////////////////////*@

                                    <td style="text-align: center; vertical-align: middle;">
                                        @*<a href="@Url.Action("Details/"+ @item.Id,"Trf_Sheet")" class='btn btn-primary btn-sm' id=@item.Id><i class='fa fa-eye'></i></a>*@
                                        <a href="@Url.Action("Edit/"+ @item.Id,"Trf_Products")" class='btn btn-warning btn-sm' id="@item.Id"><i class='fa fa-pencil'></i></a>
                                        <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Id><i class='fa fa-trash'></i></a>
                                    </td>
                                </tr>}

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>
</section>

<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">



@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#usuario").addClass('active');



        // esto es para crear un sweet alert con la vista dentro
        $('body').on('click', '#Add_Rol', function () {

            var Contenido = "@Url.Action("CreateRol", "Usuarios")";
            swal({
                title: 'Crear Rol',
                width: 600,

                showConfirmButton: false,
                html:
                '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
            });
            $("#modal-body").load(Contenido);

            $('body').on('click', '#btn-cancel', function () {
                Swal.close();
            });
        })

         $('body').on('click', '#Edit_Roles', function () {
            var UrlEdit = "/Usuarios/RolesEdit";
            window.location = UrlEdit;
         })

          $('body').on('click', '#Rol-submit', function () {
              var NombreRol = $("#Rol_Name").val();
              var MachinEditor = true;
              var ProductsEditor = true;
              var SheetEditor = true;
              var CaptureEditor = true;

              if ($("#MachinEditor").parent().hasClass("off")) {
                  MachinEditor = false;
              }
              else {
                  MachinEditor = true;
              }
              if ($("#ProductsEditor").parent().hasClass("off")) {
                  ProductsEditor = false;
              }
              else {
                  ProductsEditor = true;
              }
              if ($("#SheetEditor").parent().hasClass("off")) {
                  SheetEditor = false;
              }
              else {
                  SheetEditor = true;
              }
              if ($("#CaptureEditor").parent().hasClass("off")) {
                  CaptureEditor = false;
              }
              else {
                  CaptureEditor = true;
              }

               $.ajax({
                            type: 'POST',
                            url: '@Url.Action("CreateRolePost", "Usuarios")',
                   data: {
                       NombreRol: NombreRol,
                       MachinEditor: MachinEditor,
                       ProductsEditor: ProductsEditor,
                       SheetEditor: SheetEditor,
                       CaptureEditor: CaptureEditor,

                   },
                            success: function (data) {
                                if (data == "True") {
                                    Swal.fire({

                                        type: 'success',
                                        title: 'El rol se creó satisfactoriamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then((result) => {
                                     if (result.value) {
                                        var UrlEdit = "/Usuarios/Permissions";
                                        window.location = UrlEdit;
                                    }
                                 })
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
         })


        // esto es para crear un sweet alert con la vista dentro
        $('body').on('click', '#Edit_Usuarios', function () {
            var Contenido = "@Url.Action("EditUsuarios", "Usuarios")" + "/" + $(this).data("id");
            swal({
                title: 'Editar Usuario',
                width: 600,

                showConfirmButton: false,
                html:
                '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
            });
            $("#modal-body").load(Contenido);

            $('body').on('click', '#btn-cancel', function () {
                Swal.close();
            });
        })

        //Para llamar el modal de eliminar
        $(document).ready(function () {
            $('body').on('click', '#Delete_Usuarios', function () {
                var Valorid = $(this).data("id");
                swal({
                    title: '¿Está seguro que desea eliminar el usuario?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#5cb85c ',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar'
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("DeleteUsuarios", "Account")',
                            data: {Id: Valorid},
                            success: function (data) {
                                if (data == "True") {
                                    swal({

                                        type: 'success',
                                        title: 'La el usuario se borró satisfactoriamente',
                                        showConfirmButton: false,
                                        timer: 1500
                                    })
                                    $('#exampleModal').modal('hide');
                                    $('#MyDatatable').DataTable().ajax.reload();
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
                    }
                })
            })

            //Funcion para crear
            function SubmitUsuarios() {
                //Aqui creo la variable de control de subida
                var result = true;

                ////////////////////////////////////// Valido  ////////////////////////////////////////////////
                //Valido el Nombre
                if ($('#Name').val() == "") {
                    $('#Name').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Nombre
                if ($('#LastName').val() == "") {
                    $('#LastName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Usuario
                if ($('#UserName').val() == "") {
                    $('#UserName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }
                MailResult = MailValidate($('#Email').val(), "Email");

                if (MailResult == false) {
                    result = false;
                }

                //Valido las contraseñas
                if ($('#Password').val() == "" || $('#ConfirmPassword').val() == "") {
                    $('#Password').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Estos valores son obligatorios</span>');
                    result = false;
                }

                if ($('#Password').val() != "" || $('#ConfirmPassword').val() != "") {
                    if ($('#Password').val().length < 6 || $('#ConfirmPassword').val().length < 6) {
                        $('#Password').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> La contraseña debe tener un mínimo de 6 caracteres</span>');
                        result = false;
                    }
                }

                if ($('#Password').val() != $('#ConfirmPassword').val()) {
                    $('#Password').parent().parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true" style="margin-left: 15px;"> Las Contraseñas no coinciden, deben ser iguales</span>');
                    result = false;
                }

                if (result == true) {
                    document.getElementById("Form").submit();
                }
            }

            //Funcion para mandar a editar
            function SubmitEditUsuarios() {
                //Aqui creo la variable de control de subida
                var result = true;

                ////////////////////////////////////// Valido  ////////////////////////////////////////////////
                //Valido el Nombre
                if ($('#Name').val() == "") {
                    $('#Name').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Nombre
                if ($('#LastName').val() == "") {
                    $('#LastName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }

                //Valido el Usuario
                if ($('#UserName').val() == "") {
                    $('#UserName').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                    result = false;
                }
                MailResult = MailValidate($('#Email').val(), "Email");

                if (MailResult == false) {
                    result = false;
                }

                //Valido las contraseñas
                if ($('#Reset_Contraseña').val() != "" || $('#Reset_Confirm_Contrasena').val() != "") {
                    if ($('#Reset_Contraseña').val() != "" || $('#Reset_Confirm_Contrasena').val() != "") {
                        if ($('#Reset_Contraseña').val().length < 6 || $('#Reset_Confirm_Contrasena').val().length < 6) {
                            $('#Reset_Contraseña').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> La contraseña debe tener un mínimo de 6 caracteres</span>');
                            result = false;
                        }
                    }

                    if ($('#Reset_Contraseña').val() != $('#Reset_Confirm_Contrasena').val()) {
                        $('#Reset_Contraseña').parent().parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true" style="margin-left: 15px;"> Las Contraseñas no coinciden, deben ser iguales</span>');
                        result = false;
                    }
                }

                if (result == true) {
                    document.getElementById("Form").submit();
                }
            }

            $(document).ready(function () {
                //Mandar a crear
                $('body').on("click", "#Usuarios-submit", function () {
                    //Borro todos los errores
                    $('span[id^="genericError"]').remove();
                    SubmitUsuarios();
                });

                //Mandar a editar
                $('body').on("click", "#UserEdit-submit", function () {
                    //Borro todos los errores
                    $('span[id^="genericError"]').remove();
                    SubmitEditUsuarios();
                });
            });
        })
    </script>
}