﻿
@{
    ViewBag.Title = "SistemSettings";
}



<section class="content-header">




    <h2>Ajustes del Sistema</h2>





    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-xs-6">
                        <button class="btn btn-primary" id="Import_Button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="float:left">
                            <div class="row">
                                <div id="Import_Loader" class="col-sm-2" style="display:none">
                                    <div class="loader"></div>
                                </div>
                                <div class="col-sm-7">
                                    Sincronizar Datos
                                </div>
                            </div>
                       
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-primary" id="Balance_Button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="float:left">
                            <div class="row">
                                <div id="Balance_Loader" class="col-sm-2" style="display:none">
                                    <div class="loader"></div>
                                </div>
                                <div class="col-sm-7">
                                    Balancear Datos
                                </div>
                            </div>

                        </button>
                    </div>

                  
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h5>Id Hoja a Clonar</h5>
            <input id="Id_Hoja_To_Clone" />
           
        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary" id="Clone_Button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="float:left">
                <div class="row">
                    <div id="Clone_Loader" class="col-sm-2" style="display:none">
                        <div class="loader"></div>
                    </div>
                    <div class="col-sm-7">
                        Clonar Hoja
                    </div>
                </div>

            </button>
        </div>
        </div>

    <div class="row">
        <div class="col-xs-6">
           

        </div>
        <div class="col-xs-6">
            <button class="btn btn-primary" id="Resolve_Button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="float:left">
                <div class="row">
                    <div id="Resolve_Loader" class="col-sm-2" style="display:none">
                        <div class="loader"></div>
                    </div>
                    <div class="col-sm-7">
                        Calibrar Hojas
                    </div>
                </div>

            </button>
        </div>
    </div>

</section>

@section Scripts{
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#System_Setting").addClass('active').addClass('menu-open');
        $("#System_Setting").addClass('active');


        /////////////////////////////////////////


        $(document).ready(function () {

            ///////////////////////////////////////////

            $('body').on('click', '#Resolve_Button', function () {
                $("#Clone_Loader").show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Resolve_Sheet", "Usuarios")',
                 
                   
                    success: function (data) {
                        if (data == "True") {
                            $("#Clone_Loader").hide();
                           
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'Las hojas se arreglaron Satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "@Url.Action("SistemSettings", "Usuarios")";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            $("#Clone_Loader").hide();
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            ///////////////////////////////////////////

            $('body').on('click', '#Clone_Button', function () {
                $("#Clone_Loader").show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Clone_Sheet", "Usuarios")',
                    data: {
                        Id_Hoja_To_Clone:  $("#Id_Hoja_To_Clone").val(),
                    },

                    

                    success: function (data) {
                        if (data == "True") {
                            $("#Clone_Loader").hide();
                           
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'La hoja se clonó Satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "@Url.Action("SistemSettings", "Usuarios")";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            $("#Clone_Loader").hide();
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            ///////////////////////////////////////////

            $('body').on('click', '#Import_Button', function () {
                $("#Import_Loader").show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Import_Elements", "Usuarios")',
                    success: function (data) {
                        if (data == "True") {
                            $("#Import_Loader").hide();
                           
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'Los Elementos se Importaron Satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "@Url.Action("SistemSettings", "Usuarios")";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            $("#Import_Loader").hide();
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            ////////////////////////////////////////////////////////

            $('body').on('click', '#Import_Button', function () {
                $("#Import_Loader").show();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Import_Elements", "Usuarios")',
                    success: function (data) {
                        if (data == "True") {
                            $("#Import_Loader").hide();
                           
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'Los Elementos se Importaron Satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "@Url.Action("SistemSettings", "Usuarios")";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            $("#Import_Loader").hide();
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

        });

    </script>
}