﻿
@{
    ViewBag.Title = "AnswerSheet";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h2>@ViewBag.Nombre_Equipo</h2>*@
    <div class="row">
        <div class="col-md-2">
            <label class="control-label">Captura de hoja:</label>
        </div>
        <div class="col-md-2">
            @ViewBag.Nombre_Hoja
        </div>
        <div class="col-md-1">
            <label class="control-label">Fecha: </label>
        </div>
        <div class="col-md-1">
            @DateTime.Now.ToString("dd/MM/yyyy")
        </div>
        <div class="col-md-2" style="display:none">
            <label class="control-label">Número de Parte</label>
        </div>
        <div class="col-md-2" style="display:none">
            <input type="text" id="NoParte" value="@ViewBag.NoParte" />
        </div>
        <div class="col-md-6" id="div_repetitivas" style="float:right;display:none">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicExampleModal" style="float:right">
                Variables Repetitivas
            </button>

        </div>
    </div>

    <div class="row" id="Graph_Bar" style="display:none">

        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="Grafrica_XR" style="float:left">
                Gráfica XR
            </button>
            <button type="button" class="btn btn-default" id="Histograma" style="float:left;margin-left:1px">
                Histograma
            </button>

        </div>
    </div>

</section>
@{ @*List<TransferSPC.Models.Tbl_SheetElementProducer> Lista_Enlaces = new List<TransferSPC.Models.Tbl_SheetElementProducer>();*@
List<TransferSPC.Models.Tbl_AsignedSheets> Lista_Enlaces = new List<TransferSPC.Models.Tbl_AsignedSheets>();
foreach (var item in ViewBag.Relaciones)
{
    Lista_Enlaces.Add(item);
}
}
<input type="hidden" id="Id_Relaciones" value="@Lista_Enlaces.First().Int_Id" />
<!-- Main content -->
<section class="content" style="padding:0px !important">
    <div id="Hoja-1" class="col-md-12 wizard-step">
        <div>
            <label class="control-label" style="margin-left:30px">Listado de variables con Límites Editables</label>
        </div>
        <div>

            @{ List<TransferSPC.Models.Tbl_AsignedSheets> Lista_Enlaces_Limits = new List<TransferSPC.Models.Tbl_AsignedSheets>();
                foreach (var item in ViewBag.Lista_Relaciones_Team)
                {
                    Lista_Enlaces_Limits.Add(item);
                }
            }

            <section class="content">
                <!--aqui comienza el contenido de la caja del datatable-->
                <div class="row">
                    <div class="col-xs-12">

                        <div id="Results" class='dvContent container'>
                            @{
                                int Index_Limit = 1;

                            }
                            @foreach (var variable in ViewBag.Variables)
                            {


                                string id_mensaje = "Msg" + @variable.Int_Id;

                                <div id="las_result_element" class="col-sm-6 result">
                                    <div class="box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">@variable.Chart_Name</h3>
                                            <div class="box-tools pull-right">
                                                <h3 class="box-title"> </h3>
                                            </div>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">

                                                @{ string LimiteSuperiorId = "Top" + @variable.Int_Id;

                                                    string LimiteInferiorId = "Bot" + @variable.Int_Id;
                                                }

                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <label class="control-label">Límite Superior</label>
                                                    </div><div class="row">
                                                        <input id="@LimiteSuperiorId" class="capturador1" value="@Lista_Enlaces.Where(m=>m.Fk_VariableId == variable.Int_Id).First().Float_MaxValue" data-id="1" data-content="1" onblur="ValidateValue1(this)">
                                                    </div>
                                                    <div class="row">
                                                        <label class="control-label">Límite Inferior</label>
                                                    </div>
                                                    <div class="row">
                                                        <input id="LimiteInferiorId" class="capturador1" value="@Lista_Enlaces.Where(m=>m.Fk_VariableId == variable.Int_Id).First().Float_MinValue" data-id="0" data-content="1" onblur="ValidateValue1(this)">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                    @{ string VLimiteSuperiorId = "VTop" + @variable.Int_Id;

                                                        string VLimiteInferiorId = "VBot" + @variable.Int_Id;
                                                    }


                                                    <div class="row">
                                                        <label class="control-label">Límite Superior de Validación</label>
                                                    </div><div class="row">
                                                        <input id="@VLimiteSuperiorId" value="@Lista_Enlaces.Where(m=>m.Fk_VariableId == variable.Int_Id).First().Float_ValidationMaxValue" class="capturador1" data-id="3" data-content="1" onblur="ValidateValue1(this)">
                                                    </div>
                                                    <div class="row">
                                                        <label class="control-label">Límite Inferior de Validación</label>
                                                    </div>
                                                    <div class="row">
                                                        <input id="VLimiteInferiorId" value="@Lista_Enlaces.Where(m=>m.Fk_VariableId == variable.Int_Id).First().Float_ValidationMinValue" class="capturador1" data-id="4" data-content="1" onblur="ValidateValue1(this)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="MsgNumero" class="box-footer">
                                        </div>
                                    </div>
                                </div>



                                Index_Limit++;
                            }

                        </div>

                        <input type="hidden" id="Id_Equipo" value="@ViewBag.Id_Equipo" />
                        <div class="row">
                            <div class="pull-right">

                                <input type="button" value="Salvar" id="Limits-submit" class="btn btn-success btn-sm button-solution" />

                            </div>

                        </div>

                    </div>
                    <!-- /.col -->
                </div>
            </section>
            <input type="hidden" id="Id_Equipo" value="@ViewBag.Id_Equipo" />
            <input type="hidden" id="Id_Sheet" value="@ViewBag.Id_Sheet" />
            <input type="hidden" id="Id_Relacion" value="@ViewBag.Relacion_Limite" />


        </div>





        <div class="row wizard-nav">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <input type="button" id="wizard-nextButton" value="Comenzar >>" class="btn btn-warning btn-xs btnEditar  btn-block" />
            </div>
        </div>
    </div>

    <div id="Hoja-2" class="col-md-12 wizard-step">


        <!--aqui comienza el contenido de la caja del datatable-->
        @*//////////////////////////////////////////////////*@

        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Panel de Variables Repetitivas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @{ var Indice_Control = 0;
                            List<string> Variables_Control_Last_Values = ViewBag.Variables_Control_Last_Values;
                        }
                        @foreach (var variable_Control in ViewBag.Lista_Variables_Control)
                        {

                            <div class="row">
                                <div class="col-sm-6"><label class="control-label">@variable_Control.Chart_Name </label></div>
                                <div class="col-sm-6"><input id="@variable_Control.Int_Id" value="@Variables_Control_Last_Values.ElementAt(Indice_Control)" class="capturador" data-id="@variable_Control.Int_Id" data-content="@variable_Control.Int_QuestionType" /></div>
                            </div>Indice_Control++;
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>

        @*//////////////////////////////////////////////////*@

        <div class="row">
            <div class="col-xs-12">

                <input type="hidden" id="id_hoja" value="@ViewBag.Hoja" />

                <input class="form-control text-box single-line valid" id="Abotton_limit_label" type="hidden" value="">
                <input class="form-control text-box single-line valid" id="Aupper_limit_label" type="hidden" value="">

                <input class="form-control text-box single-line valid" id="VAbotton_limit_label" type="hidden" value="">
                <input class="form-control text-box single-line valid" id="VAupper_limit_label" type="hidden" value="">

                <div class="row" style="margin-bottom:0px !important">
                    <div class="col-sm-6 contenedor-gray">
                        <div class="box" style="display:none">
                            <div class="box-header with-border">
                                <h3 class="box-title">Detalles</h3>

                                <div class="box-tools pull-right">

                                </div>
                            </div>
                            <div class="box-body">
                                <div class="col-sm-5" style="margin:5px">
                                    <label class="control-label">Descripción</label>
                                    <textarea id="description_label" class="form-control"></textarea>
                                </div>

                                <div class="col-sm-5" style="margin:5px">
                                    <div class="row">
                                        <label class="control-label">Límite Superior</label>
                                        <input class="form-control text-box single-line valid" id="botton_limit_label" type="text" value="">
                                    </div>
                                    <div class="row">
                                        <label class="control-label">Límite Inferior</label>
                                        <input class="form-control text-box single-line valid" id="upper_limit_label" type="text" value="">
                                    </div>
                                </div>
                            </div>
                        </div>



                        @*<div class="col-xs-8">
                                <canvas id="myChart" width="5" height="5"></canvas>
                            </div>*@

                        <style>
                            .noHover {
                                pointer-events: none;
                            }
                        </style>

                        <div class="col-md-12" id="Canvas_XR">
                            <div class="chart">

                                <canvas id="myChartTemplate" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>

                        <div class="col-md-12" id="Canvas_Histograma" style="display:none">
                            <div class="chart2">

                                <canvas id="myChartTemplate2" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>
                            </div>
                            <!-- /.chart-responsive -->
                        </div>


                    </div>

                    <div class="col-sm-3 ">

                        <div class="row" style="margin: 0px !important;background-color: #ecf0f5;">
                            <div class="col-sm-3 " style="text-align: center;">
                                <b> Valores</b>
                            </div>
                            <div class="col-sm-9 " style="text-align: center;">
                                <b>Fecha</b>
                            </div>
                        </div>
                        <div id="last_result" class='dvContent2 container' style="padding: 0px !important;">
                            @*@for (int i = 0; i < 15; i++)
                                {
                                    <div id="las_result_element" class="box " style="margin: 0px !important;">
                                        <div class="bg-green box-header with-border">
                                            <div class="col-sm-6 ">
                                                <h3 class="box-title">Detalles</h3>
                                            </div>
                                            <div class="col-sm-6 ">
                                            </div>

                                        </div>
                                    </div>}*@
                        </div>
                    </div>

                    <div class="col-sm-3 ">
                        <div class='row bg-gray-light' style="margin: 0px !important;border-style: solid;border-color: #ecf0f5;">
                            <div class="col-sm-3 " style="text-align: center;">
                                <h3 style="margin-top: 18px !important;">PPK</h3>
                            </div>
                            <div class="col-sm-9 " style="text-align: center;">
                                <h3 id="PPK_Value" style="margin-top: 18px !important;">00</h3>
                            </div>
                        </div>
                        <div class='row bg-gray-light' style="margin: 0px !important;border-style: solid;border-color: #ecf0f5;">
                            <div class="col-sm-3 " style="text-align: center;">
                                <h3 style="margin-top: 18px !important;">CPK</h3>
                            </div>
                            <div class="col-sm-9 " style="text-align: center;">
                                <h3 id="Media_Value" style="margin-top: 18px !important;">00</h3>
                            </div>
                        </div>
                        <div class='row bg-gray-light' style="margin: 0px !important;border-style: solid;border-color: #ecf0f5;">
                            <div class="col-sm-3 " style="text-align: center;">
                                <h3 style="margin-top: 18px !important;">Media</h3>
                            </div>
                            <div class="col-sm-9 " style="text-align: center;">
                                <h3 id="Real_Media_Value" style="margin-top: 18px !important;">00</h3>
                            </div>
                        </div>
                        <div class='row bg-gray-light' style="margin: 0px !important;border-style: solid;border-color: #ecf0f5;">
                            <div class="col-sm-3 " style="text-align: center;">
                                <h3 style="margin-top: 18px !important;">Desviación</h3>
                            </div>
                            <div class="col-sm-9 " style="text-align: center;">
                                <h3 id="Des_Value" style="margin-top: 18px !important;">00</h3>
                            </div>
                        </div>


                    </div>
                </div>

                <div class='dvContent container' style="width:50%;float:left">
                    @{int Index = 1; }
                    @foreach (var variable in ViewBag.Preguntas)
                    {

                    if (@variable.Int_QuestionType == 0)
                    {
                    string id_mensaje = "Msg" + @variable.Int_Id;
                    <div class="row result">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@variable.Chart_Name : @variable.Chart_Text</h3>
                                <div class="box-tools pull-right">
                                    <h3 class="box-title">@Index</h3>

                                </div>
                            </div>
                            <div class="box-body variable-box">
                                <input id="@variable.Int_Id" class="capturador" data-id="@variable.Int_Id" data-content="@variable.Int_QuestionType" onblur="ValidateValue(this)" />

                            </div>
                            <!-- /.box-body -->
                            <div id="@id_mensaje" class="box-footer">

                            </div>
                            <!-- /.box-footer-->
                        </div>
                    </div>
                    }
                    if (@variable.Int_QuestionType == 1)
                    {
                    int id_Relacion = Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Int_Id;
                    string id_mensaje = "Msg" + @variable.Int_Id;
                    string id_Color = "Color" + @variable.Int_Id;
                    <div class="row result">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@variable.Chart_Name : @variable.Chart_Text</h3>
                                <div class="box-tools pull-right">
                                    <h3 class="box-title">@Index</h3>

                                </div>
                            </div>
                            <div id="@id_Color" class="box-body variable-box">
                                <div class="col-sm-6">
                                    <input id="@variable.Int_Id" class="capturador" data-id="@variable.Int_Id" data-interval="@id_Relacion" data-content="@variable.Int_QuestionType" onblur="ValidateValue(this)" />
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6">
                                            LI: @Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_MinValue
                                        </div>
                                        <div class="col-sm-6">
                                            LS: @Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_MaxValue
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                            <canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div id="@id_mensaje" class="box-footer">
                            </div>
                            <!-- /.box-footer-->
                        </div>
                    </div>
                    }
                    if (@variable.Int_QuestionType == 2)
                    {
                    string id_mensaje = "Msg" + @variable.Int_Id;
                    <div class="row result">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@variable.Chart_Name : @variable.Chart_Text</h3>
                                <div class="box-tools pull-right">
                                    <h3 class="box-title">@Index</h3>
                                </div>
                            </div>
                            <div class="box-body variable-box">
                                <select id="@variable.Int_Id" class="capturador" data-id="@variable.Int_Id" data-content="@variable.Int_QuestionType">
                                    @foreach (var respuesta in ViewBag.Respuestas)
                                    {
                                    if (@respuesta.Fk_VariableId == @variable.Int_Id)
                                    {
                                    <option value="@respuesta.Int_Id">@respuesta.Chart_Text</option>
                                    }
                                    }
                                </select>

                            </div>
                            <!-- /.box-body -->
                            <div id="@id_mensaje" class="box-footer">

                            </div>
                            <!-- /.box-footer-->
                        </div>
                    </div>
                    }
                    if (@variable.Int_QuestionType == 3)
                    {
                    string id_mensaje = "Msg" + @variable.Int_Id;
                    <div class="row result">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@variable.Chart_Name : @variable.Chart_Text</h3>
                                <div class="box-tools pull-right">
                                    <h3 class="box-title">@Index</h3>
                                </div>
                            </div>
                            <div class="box-body variable-box">
                                <select id="@variable.Int_Id" class="capturador" data-id="@variable.Int_Id" data-content="@variable.Int_QuestionType">
                                    @foreach (var respuesta in ViewBag.Respuestas)
                                    {
                                    if (@respuesta.Fk_VariableId == @variable.Int_Id)
                                    {
                                    <option value="@respuesta.Int_Id">@respuesta.Chart_Text</option>
                                    }
                                    }
                                </select>
                            </div>
                            <!-- /.box-body -->
                            <div id="@id_mensaje" class="box-footer">

                            </div>
                            <!-- /.box-footer-->
                        </div>
                    </div>
                    }
                    if (@variable.Int_QuestionType == 4)
                    {
                    foreach (var Automatic in ViewBag.Automatic)
                    {
                    if (@Automatic.Int_VariableId == @variable.Int_Id)
                    {
                    int id_Relacion = Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Int_Id;
                    string id_mensaje = "Msg" + @variable.Int_Id;
                    <div class="row result">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">@variable.Chart_Name : @variable.Chart_Text</h3>
                                <div class="box-tools pull-right">
                                    <h3 class="box-title">@Index</h3>
                                </div>
                            </div>
                            <div class="box-body variable-box">
                                <div class="col-sm-6">
                                    @{string id_oculto = "Hidden" + @variable.Int_Id;
                                    }
                                    <input id="@variable.Int_Id" class="capturador" data-interval="@id_Relacion" data-target="automatic" data-id="@Automatic.Chart_Ecuation" data-content="@variable.Int_QuestionType" readonly />
                                    <input type="hidden" id="@id_oculto" value="@Automatic.Chart_Ecuation" data-target="automatic" data-id="@Automatic.Chart_Ecuation" />
                                    @foreach (var Aut_Data in ViewBag.Automatic_Datas)
                                    {
                                    if (@Aut_Data.Int_AutomaticVariableId == @Automatic.Int_Id)
                                    {
                                    string id_oculto_Data = "Data-" + @Aut_Data.Int_VariableId + "-" + @Aut_Data.Int_AutomaticVariableId;
                                    <input type="hidden" id="@id_oculto_Data" value="@Aut_Data.Chart_Variable" />
                                    }
                                    }
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-6">
                                        <div class="col-sm-6">
                                            LI: @Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_MinValue
                                        </div>
                                        <div class="col-sm-6">
                                            LS: @Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_MaxValue
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="sparkbar" data-color="#00a65a" data-height="20">
                                            <canvas width="34" height="20" style="display: inline-block; width: 34px; height: 20px; vertical-align: top;"></canvas>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div id="@id_mensaje" class="box-footer">

                            </div>
                            <!-- /.box-footer-->
                        </div>
                    </div>}
                    }
                    }
                    Index++;
                    }
                </div>

                <div class="col-sm-6">
                    <div class="row" style="height:80% !important">
                        <div class="col-sm-6 ">
                            <div class='row bg-gray-light' style="margin: 0px !important;border-style: solid;border-color: #ecf0f5;">
                                <div class="col-sm-3 " style="text-align: center;">
                                    <h3 style="margin-top: 18px !important;">LCS</h3>
                                </div>
                                <div class="col-sm-9 " style="text-align: center;">
                                    <h3 id="LCS_Value" style="margin-top: 18px !important;">00</h3>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 ">
                            <div class='row bg-gray-light' style="margin: 0px !important;border-style: solid;border-color: #ecf0f5;">
                                <div class="col-sm-3 " style="text-align: center;">
                                    <h3 style="margin-top: 18px !important;">LCI</h3>
                                </div>
                                <div class="col-sm-9 " style="text-align: center;">
                                    <h3 id="LCI_Value" style="margin-top: 18px !important;">00</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">
                            <a href="@Url.Action("Index","Trf_Sheet")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                            <input type="button" value="Finalizar" id="answer-submit" class="btn btn-success btn-sm button-solution" />
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col -->
        </div>


    </div>

</section>

<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/Graphic_tool.js"></script>
    <script src="~/Scripts/WizardForm.js"></script>


    <script>



            $('body').addClass('sidebar-collapse');
            //function FixFormula(formula, variable) {
            //    var Resultado = "";
            //    for (var i = 0; i < formula.length; i++) {
            //        if (i > 0) {
            //            var current_Cursor = formula[i];
            //            var caracter_anterior = formula[i - 1];

            //            if (current_Cursor == variable) {
            //                //if (!Number.isInteger(caracter_anterior)) {
            //                if (/^([0-9])*$/.test(caracter_anterior)) {
            //                    var b = "*";
            //                    var formula = [formula.slice(0, i), b, formula.slice(i)].join('');
            //                    i++;
            //                }
            //            }
            //        }
            //    }

            //    return formula;
            //}




            function Submit_Variables_Datas1(Id_hoja, Id_Equipo, Array_Data_Questions) {



                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit_Variables_Datas", "Trf_Sheet")',
                    data: {
                        Id_hoja: Id_hoja,
                        Id_Equipo: Id_Equipo,
                        Array_Data_Questions: Array_Data_Questions,
                    },
                    success: function (data) {
                        if (data == "True") {
                            var UrlEdit = '@Url.Action("AnswerSheet", "Trf_Sheet")';
                            window.location = UrlEdit;

                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            }

            $(document).ready(function () {

                $('body').on('click', '.capturador1', function () {

                })


                $('body').on('click', '#Limits-submit', function () {
                    var elements = document.getElementsByClassName("capturador1");
                    var Array_Data_Questions = "";
                    for (var i = 0; i < elements.length; i++) {
                        if (i == 0) {
                            var Current_Element = elements[i];
                            var Current_Value = Current_Element.value;
                            var Current_Id = Current_Element.id;
                            var Question_Data = Current_Id + "**" + Current_Value + "**" + $(Current_Element).data("id");
                            Array_Data_Questions += Question_Data;
                        }
                        else {
                            var Current_Element = elements[i];
                            var Current_Value = Current_Element.value;
                            var Current_Id = Current_Element.id;
                            var Question_Data = "||" + Current_Id + "**" + Current_Value + "**" + $(Current_Element).data("id");
                            Array_Data_Questions += Question_Data;
                        }
                    }


                    Swal.fire({
                        title: 'Aviso',
                        text: "Está a punto de cambiar los límites de una hoja ¿Desea continuar?",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#00a65a',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Si',
                        cancelButtonText: "No"
                    }).then((result) => {
                        if (result.value) {
                            Submit_Variables_Datas1($("#Id_Sheet").val(), $("#Id_Equipo").val(), Array_Data_Questions);
                        }
                    })
                })
            });

            ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////


            function RemplaceVarNumber(id_hoja, id_Variable) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Get_Variable_Datas", "Trf_Sheet")',
                    data: {
                        id_sheet: id_hoja,
                        id_variable: id_Variable,
                    },
                    success: function (data) {
                        if (data != "") {
                            var Total = data.split('+');
                            for (var i = 0; i < Total.length; i++) {
                                var Data = data.split('-');
                                //Reemplazo la variable por el valor que es
                                var Last_Formula = $("#Hidden" + Data[2]).val();



                                //Last_Formula = FixFormula(Last_Formula, Data[1]);

                                for (var i = 0; i < Last_Formula.length; i++) {
                                    if (i > 0) {
                                        var current_Cursor = Last_Formula[i];
                                        var caracter_anterior = Last_Formula[i - 1];

                                        if (current_Cursor == Data[1]) {
                                            //if (!Number.isInteger(caracter_anterior)) {
                                            if (/^([0-9])*$/.test(caracter_anterior)) {
                                                var b = "*";
                                                var Last_Formula = [Last_Formula.slice(0, i), b, Last_Formula.slice(i)].join('');
                                                i++;
                                            }
                                        }
                                    }
                                }




                                var New_Formula = "";
                                var apoyo = "Data-" + Data[0] + "-" + Data[3];
                                var last_value = $("#" + apoyo).val();
                                for (var k = 0; k < Last_Formula.length; k++) {
                                    //Aki comparo con el substring viendo primero que quepa en la formula
                                    var SubString = Last_Formula.substring(k, k + last_value.length);
                                    if ((Last_Formula.length - k) - SubString.length >= 0) {
                                        if (SubString == last_value) {
                                            //////////////Remplazo los valores por numero
                                            var previus = $("#" + Data[0]).val();
                                            New_Formula = [Last_Formula.slice(0, k), previus, Last_Formula.slice(k + last_value.length)].join('');

                                            $("#" + apoyo).val(previus);

                                        }
                                    }
                                }
                                $("#Hidden" + Data[2]).val(New_Formula);
                                //Aki ya debe estar reemplazada la formula

                                if ($("#Msg" + Data[2]).hasClass("bg-green")) {
                                    $("#Msg" + Data[2]).removeClass("bg-green");
                                }
                                if ($("#Msg" + Data[2]).hasClass("bg-yellow")) {
                                    $("#Msg" + Data[2]).removeClass("bg-yellow");
                                }
                                if ($("#Msg" + Data[2]).hasClass("bg-red")) {
                                    $("#Msg" + Data[2]).removeClass("bg-red");
                                }

                                try {
                                    $("#" + Data[2]).val(eval(New_Formula));

                                    //var valor_Entrado = Number($("#" + Data[2]).val());
                                    //var valor_Maximo = Number($("#botton_limit_label").val());
                                    //var valor_Minimo = Number($("#upper_limit_label").val());
                                    //if (valor_Entrado < valor_Minimo || valor_Maximo < valor_Entrado) {
                                    //    $("#Msg" + Data[2]).append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Valor Fuera de rango</span>');
                                    //}

                                    ////////////////////

                                    var valor_Entrado = Number($("#" + Data[2]).val());
                                    var Valor_Maximo = Number($("#Abotton_limit_label").val());
                                    var Valor_Minimo = Number($("#Aupper_limit_label").val());



                                    GetLimmitAutomatic(Data[2], Data[3]);


                                    try {
                                        Valor_Maximo = Valor_Maximo.replace(',', '.');
                                        Valor_Minimo = Valor_Minimo.replace(',', '.');
                                    } catch (e) {

                                    }



                                    var Media = Number(Valor_Maximo) - Number(Valor_Minimo);
                                    var Paso = Media / 4;
                                    var Limite_Superior_Verde = Number(Valor_Maximo) - Paso;
                                    var Limite_Inferior_Verde = Number(Valor_Minimo) + Paso;




                                    if (valor_Entrado <= Number(Limite_Superior_Verde) && valor_Entrado >= Number(Limite_Inferior_Verde)) {
                                        //Verde
                                        $("#Msg" + Data[2]).addClass("bg-green");
                                    }
                                    else {
                                        if ((valor_Entrado >= Number(Valor_Minimo) && valor_Entrado < Number(Valor_Minimo) + Paso) || (Number(Valor_Maximo) - Paso < valor_Entrado && Number(Valor_Maximo) >= valor_Entrado)) {
                                            //Amarillo
                                            $("#Msg" + Data[2]).addClass("bg-yellow");
                                        }
                                        else {
                                            //Rojo
                                            $("#Msg" + Data[2]).addClass("bg-red");
                                        }
                                    }

                                    //////////////////////////


                                } catch (e) {

                                }
                            }
                        }
                        else {
                            // alert("ok");
                        }
                    }
                });
            }



            function ValidateValue(selectObject) {
                $('span[id^="genericError"]').remove();
                if ($(selectObject).val() != "") {
                    var Tipo_Variable = $(selectObject).data("content");
                    var Id_Variable = $(selectObject).data("id");
                    var dato_error = false;
                    if (Tipo_Variable == "1") {

                        $(selectObject).val($(selectObject).val().replace(',', '.'));


                        if ($("#Msg" + Id_Variable).hasClass("bg-green")) {
                            $("#Msg" + Id_Variable).removeClass("bg-green");
                        }
                        if ($("#Msg" + Id_Variable).hasClass("bg-yellow")) {
                            $("#Msg" + Id_Variable).removeClass("bg-yellow");
                        }
                        if ($("#Msg" + Id_Variable).hasClass("bg-red")) {
                            $("#Msg" + Id_Variable).removeClass("bg-red");
                        }


                        if (isNaN($(selectObject).val())) {
                            $("#Msg" + Id_Variable).append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe ser un número</span>');
                            $(selectObject).val("");
                            dato_error = true;
                        }
                        else {
                            //var valor_Entrado = Number($(selectObject).val());
                            //var valor_Maximo = Number($("#botton_limit_label").val());
                            //var valor_Minimo = Number($("#upper_limit_label").val());
                            //if (valor_Entrado < valor_Minimo || valor_Maximo < valor_Entrado) {
                            //    $("#Msg" + Id_Variable).append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Valor Fuera de rango</span>');
                            //}

                            //////////////////////////////////////////////////

                            var valor_Entrado = Number($(selectObject).val());
                            var Valor_Maximo = $("#botton_limit_label").val();
                            var Valor_Minimo = $("#upper_limit_label").val();
                            Valor_Maximo = Valor_Maximo.replace(',', '.');
                            Valor_Minimo = Valor_Minimo.replace(',', '.');

                            var Media = Number(Valor_Maximo) - Number(Valor_Minimo);
                            var Paso = Media / 4;


                            var Limite_Superior_Verde = Number(Valor_Maximo) - Paso;
                            var Limite_Inferior_Verde = Number(Valor_Minimo) + Paso;


                            var Validation_Valor_Minimo = Number($("#VAbotton_limit_label").val());
                            var Validation_Valor_Maximo = Number($("#VAupper_limit_label").val());
                            var Error_Capture = true;

                            if (isNaN(Validation_Valor_Maximo) || isNaN(Validation_Valor_Minimo)) {

                            }
                            else {
                                if (valor_Entrado < Validation_Valor_Minimo || Validation_Valor_Maximo < valor_Entrado) {
                                    Error_Capture = false;
                                    Swal.fire({
                                        type: 'error',
                                        title: 'Error',
                                        text: 'El valor entrado esta fuera de los límites de validación',
                                    })
                                    $(selectObject).val("");
                                }
                            }

                            if (Error_Capture == true) {
                                if (valor_Entrado <= Number(Limite_Superior_Verde) && valor_Entrado >= Number(Limite_Inferior_Verde)) {
                                    //Verde
                                    $("#Msg" + Id_Variable).addClass("bg-green");
                                }
                                else {
                                    if ((valor_Entrado >= Number(Valor_Minimo) && valor_Entrado < Number(Valor_Minimo) + Paso) || (Number(Valor_Maximo) - Paso < valor_Entrado && Number(Valor_Maximo) >= valor_Entrado)) {
                                        //Amarillo
                                        $("#Msg" + Id_Variable).addClass("bg-yellow");
                                    }
                                    else {
                                        //Rojo
                                        $("#Msg" + Id_Variable).addClass("bg-red");
                                    }
                                }
                            }
                            //////////////////////////////////////////////

                        }
                    }

                    if (dato_error == false) {
                        var id_hoja = $("#id_hoja").val();
                        RemplaceVarNumber(id_hoja, Id_Variable);
                    }
                }
            }

            function GetLimmitAutomatic(Id_Variable, Id_ElementProducer) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetLimmitAutomatic", "Trf_Sheet")',
                    data: {
                        Id_Variable: Id_Variable,
                        Id_ElementProducer: Id_ElementProducer,
                    },
                    success: function (data) {
                        if (data != "") {

                            var Details = data.split('-*-');
                            //$("#description_label").val(Details[0]);
                            alert("sss");
                            try {
                                $("#Abotton_limit_label").val(Details[2]);
                                $("#Aupper_limit_label").val(Details[1]);

                            } catch (e) {

                            }

                            //return Details;
                        }
                        else {
                            // alert("ok");
                        }
                    }
                });
            }


            function FixDetails(selectObject) {
                var Id_Variable = $(selectObject).attr('id');
                var Id_Relation = $(selectObject).data("interval");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Get_Variable_Details", "Trf_Sheet")',
                    data: {
                        id_variable: Id_Variable,
                        id_relation: Id_Relation,
                    },
                    success: function (data) {
                        if (data != "") {
                            var Details = data.split('-*-');
                            $("#description_label").val(Details[0]);
                            $("#botton_limit_label").val(Details[2]);
                            $("#upper_limit_label").val(Details[1]);
                            $("#VAbotton_limit_label").val(Details[3]);
                            $("#VAupper_limit_label").val(Details[4]);
                        }
                        else {
                            // alert("ok");
                        }
                    }
                });
            }

            function FixLastResult(selectObject) {
                //var Id_Variable = $(selectObject).data("id");
                var Id_Variable = $(selectObject).attr('id');
                var Tipo_Variable = $(selectObject).data("content");
                $('div[id^="las_result_element"]').remove();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Get_Last_Result", "Trf_Sheet")',
                    data: {
                        id_variable: Id_Variable,
                    },
                    success: function (data) {
                        if (data != "") {


                            var Details = data.split('-*-');

                            var Array_Moments = [];
                            var Array_Values = [];
                            var Array_Colors = [];

                            ////////Datos de ppk////////////
                            var Sumatoria_Total = 0;
                            var Array_Captures_Value = [];
                            var Array_Diference_Value = [];
                            var Array_Minimun_Value = [];
                            var Array_Maximun_Value = [];
                            ///////////////////////////////

                            for (var i = 0; i < Details.length; i++) {

                                if (i >= 30) {
                                    break;
                                }


                                var Current_Result = Details[i].split('-**-');

                                var Valor = Number(Current_Result[0]);

                                Sumatoria_Total += Valor;
                                Array_Captures_Value.push(Valor);
                                if (i > 0) {
                                    var Datos_Capture = Array_Captures_Value[i - 1] - Valor;
                                    if (Datos_Capture < 0) {
                                        Datos_Capture = Datos_Capture * -1;
                                    }

                                    Array_Diference_Value.push(Datos_Capture);
                                }
                                //Preparo los datos para graficar

                                if (Tipo_Variable == 1 || Tipo_Variable == 4) {
                                    Array_Values.push(Valor);
                                }
                                Current_Result[2] = Current_Result[2].replace(',', '.');
                                var Valor_Minimo = Number(Current_Result[2]);
                                Array_Minimun_Value.push(Valor_Minimo);

                                Current_Result[3] = Current_Result[3].replace(',', '.');
                                var Valor_Maximo = Number(Current_Result[3]);
                                Array_Maximun_Value.push(Valor_Maximo);

                                var Media = Valor_Maximo - Valor_Minimo;
                                var Paso = Media / 4;
                                var Limite_Superior_Verde = Valor_Maximo - Paso;
                                var Limite_Inferior_Verde = Valor_Minimo + Paso;
                                if (Valor <= Limite_Superior_Verde && Valor >= Limite_Inferior_Verde) {
                                    $("#last_result").append('<div id="las_result_element" class="box" style="margin-top: 1px !important;margin-bottom: 0px !important;"><div class="bg-green box-header with-border"><div class="col-sm-3 " style="text-align: center;"><h4 class="box-title">' + Current_Result[0] + '</h4></div><div class="col-sm-9 "><h4 class="box-title" style="float: right;">' + Current_Result[1] + '</h4></div></div></div>');
                                    if (Tipo_Variable == 1 || Tipo_Variable == 4) {
                                        Array_Colors.push('rgba(0, 166, 90, 1)');
                                        Array_Moments.push(Current_Result[1]);
                                    }
                                }
                                else {
                                    if ((Valor >= Valor_Minimo && Valor < Valor_Minimo + Paso) || (Valor_Maximo - Paso < Valor && Valor_Maximo >= Valor)) {
                                        $("#last_result").append('<div id="las_result_element" class="box" style="margin-top: 1px !important;margin-bottom: 0px !important;"><div class="bg-yellow box-header with-border"><div class="col-sm-3 " style="text-align: center;"><h4 class="box-title">' + Current_Result[0] + '</h4></div><div class="col-sm-9 "><h4 class="box-title" style="float: right;">' + Current_Result[1] + '</h4></div></div></div>');
                                        if (Tipo_Variable == 1 || Tipo_Variable == 4) {
                                            Array_Colors.push('rgba(243, 156, 18, 1)');
                                            Array_Moments.push(Current_Result[1]);
                                        }
                                    }
                                    else {
                                        $("#last_result").append('<div id="las_result_element" class="box" style="margin-top: 1px !important;margin-bottom: 0px !important;"><div class="bg-red box-header with-border"><div class="col-sm-3 " style="text-align: center;"><h4 class="box-title">' + Current_Result[0] + '</h4></div><div class="col-sm-9 "><h4 class="box-title" style="float: right;">' + Current_Result[1] + '</h4></div></div></div>');
                                        if (Tipo_Variable == 1 || Tipo_Variable == 4) {
                                            Array_Colors.push('rgba(221, 75, 57, 1)');
                                            Array_Moments.push(Current_Result[1]);

                                        }
                                    }
                                }

                            }


                        }
                        else {
                            //  alert("ok");
                        }

                        $("#myChart").remove();
                        var element = $("#myChartTemplate");
                        var canvas2 = element.clone();
                        canvas2.attr("id", "myChart");
                        element.parent().append(canvas2);
                        $("#myChart").show();

                         $("#myChart2").remove();
                        var element2 = $("#myChartTemplate2");
                        var canvas22 = element2.clone();
                        canvas22.attr("id", "myChart2");
                        element2.parent().append(canvas22);
                        $("#myChart2").show();

                        DrawGraphic(Array_Values, Array_Values, Array_Colors, Array_Minimun_Value, Array_Maximun_Value);

                        DrawGraphic2(Array_Values, Array_Values, Array_Colors, Array_Minimun_Value, Array_Maximun_Value);
                        ///////////Pongo los valores/////////////
                        try {
                            CalculatePPK(Sumatoria_Total, Array_Diference_Value, Array_Captures_Value, Array_Minimun_Value, Array_Maximun_Value);
                        } catch (e) {
                            //  alert("No valores");
                        }



                        ////////////////////////////////////////

                    }
                });
            }

            function CalculatePPK(Sumatoria_Total, Array_Diference_Value, Array_Captures_Value, Array_Minimun_Value, Array_Maximun_Value) {
                var Dividido = Sumatoria_Total / Array_Captures_Value.length;

                var Total = 0;
                Array_Diference_Value.reverse();
                for (var i = 0; i < Array_Captures_Value.length; i++) {
                    Temp_Value = Number(Array_Captures_Value[i] - Dividido);
                    var Numerador_denominador = Temp_Value / Array_Captures_Value.length;
                    Total += Number(Math.pow(Numerador_denominador, 2));
                }

                var Media = Sumatoria_Total / Array_Captures_Value.length;

                /////////
                if (isNaN(Media)) {
                    $("#Real_Media_Value").text("-");
                }
                else {
                    $("#Real_Media_Value").text(Media.toFixed(2));
                }

                //////////Calculo PPK////////////
                if (isNaN(Total)) {
                    $("#PPK_Value").text("00");
                }
                else {
                    var ppk = Math.sqrt(Total);

                    if (ppk < 1) {
                        $("#PPK_Value").text(ppk.toFixed(4));


                    }
                    else { $("#PPK_Value").text(ppk.toFixed(2)); }



                }
                ////////////////////////////////

                ////////Calculo CPK/////////////
                var Igualdad = true;
                //Compruebo Igualdad de Limites
                var temp = 0;
                //LI
                for (var i = 0; i < Array_Minimun_Value.length; i++) {
                    if (i == 0) {
                        temp = Array_Minimun_Value[i];
                    }
                    else {
                        if (Array_Minimun_Value[i] == temp) {
                            temp = Array_Minimun_Value[i];
                        }
                        else {
                            Igualdad = false;
                            break;
                        }
                    }
                }
                //LS
                for (var i = 0; i < Array_Maximun_Value.length; i++) {
                    if (i == 0) {
                        temp = Array_Minimun_Value[i];
                    }
                    else {
                        if (Array_Minimun_Value[i] == temp) {
                            temp = Array_Minimun_Value[i];
                        }
                        else {
                            Igualdad = false;
                            break;
                        }
                    }
                }
                ////////////Chekeo el resultado en la variable IGUALDAD
                if (!Igualdad) {
                    //En este caso no se puede calcular el CPK porque las capturas no son iguales
                    $("#Media_Value").text("-");
                }
                else {
                    var LI = Array_Minimun_Value[0];
                    var LS = Array_Maximun_Value[0];
                    //Calculo el Cuadrado de la distancia media y realizo su sumatoria
                    var Sumatoria = 0;
                    for (var i = 0; i < Array_Captures_Value.length; i++) {
                        var Distance = Array_Captures_Value[i] - Media;
                        Sumatoria += Number(Math.pow(Distance, 2));
                    }

                    var Desviacion_Estandart = Math.sqrt(Sumatoria / Array_Captures_Value.length);

                    if (isNaN(Desviacion_Estandart)) {
                        $("#Des_Value").text("-");
                    }
                    else {
                        $("#Des_Value").text(Desviacion_Estandart.toFixed(2));
                    }

                    ////////Calculo CPK
                    var cpk = 0;

                    var LES = (LS - Media) / (3 * Desviacion_Estandart);
                    var LEI = (Media - LI) / (3 * Desviacion_Estandart);
                    ///Me quedo con el menor de ambos
                    if (LES < LEI) {
                        cpk = LES;
                    }
                    else { cpk = LEI; }


                    if (isNaN(cpk)) {
                        $("#Media_Value").text("-");
                    }
                    else {
                        if (cpk < 1)
                        { $("#Media_Value").text(cpk.toFixed(4)); }
                        else
                        { $("#Media_Value").text(cpk.toFixed(2)); }
                    }
                }

            }

            function Submit_Variables_Datas(id_sheet, Array_Datas, NoParte) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Submit_Variable_Datas_Capture", "Trf_Sheet")',
                    data: {
                        id_sheet: id_sheet,
                        id_Relation: $("#Id_Relaciones").val(),
                        Array_Datas: Array_Datas,
                        NoParte: NoParte,
                    },
                    success: function (data) {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'Las variables se capturaron satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = "/Trf_Sheet/AnswerSheet" + "/" + $("#Id_Relaciones").val();


                                window.location = UrlEdit;
                            }
                        })
                    }
                });
            }

            function Get_Next_Input(Current_Var) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Get_Next_Input", "Trf_Sheet")',
                    data: {
                        Current_Var: Current_Var,
                        id_Relation: $("#Id_Relaciones").val(),
                    },
                    success: function (data) {
                        if (data != "") {
                            document.getElementById(data).focus();
                            FixDetails($("#" + data));
                            FixLastResult($("#" + data));
                        }
                    }
                });
            }

            function DrawGraphic(Array_Moments, Array_Values, Array_Colors, Array_Minimun_Value, Array_Maximun_Value) {

                //pointStyle: ['rect', yourImage, 'triangle', 'circle'],

                var Media = 0;
                for (var i = 0; i < Array_Values.length; i++) {
                    Media += Array_Values[i];
                }
                Media = Media / Array_Values.length;
                var Array_point_styles = [];
                var Array_point_radius = [];
                var Array_point_color = [];
                var Array_media_value = [];
                var Array_LimContrlSup = [];
                var Array_LimControlInf = [];
                var Sumatoria = 0;
                for (var i = 0; i < Array_Values.length; i++) {
                    Array_media_value.push(Media);
                    var current_value = Array_Values[i];
                    var current_min_value = Array_Minimun_Value[i];
                    var current_max_value = Array_Maximun_Value[i];
                    //alert(current_value + "-" + current_max_value);
                    if (current_value < current_min_value || current_value > current_max_value) {
                        Array_point_color.push("red");

                        //Array_point_color.push('rgba(1, 0, 0, 1)');
                        Array_point_styles.push('circle');
                        Array_point_radius.push(5);
                    }
                    else {
                        Array_point_color.push("Green");

                        //Array_point_color.push('rgba(0, 0, 0, 1)');
                        Array_point_styles.push('circle');
                        Array_point_radius.push(3);
                    }
                    //////////Caluculo la desviacion
                    Sumatoria += Number(Math.pow((Media - current_value), 2));

                }
                var Desviacion = Math.sqrt(Sumatoria / Array_Values.length);
                ///////LLeno el arreglo de los limites de control
                var Array_LimContrlSup = [];
                var Array_LimControlInf = [];

                var offset = Number(3 * Desviacion);

                var LCS = Media + offset;
                var LCI = Media - offset;
                $("#LCS_Value").text(LCS.toFixed(2))
                $("#LCI_Value").text(LCI.toFixed(2))
                for (var i = 0; i < Array_Values.length; i++) {
                    Array_LimContrlSup.push(LCS);
                    Array_LimControlInf.push(LCI);
                }

                var ctx = document.getElementById('myChart').getContext("2d");




                //if (ctx) {
                //    ctx.clear();
                //    ctx.destroy();
                //}
                // myLineChart.destroy();
                //myLineChart.destroy();
                //var gradientStroke = ctx.createLinearGradient(500, 0, 100, 0);
                //gradientStroke.addColorStop(0, "#ff0000");
                //gradientStroke.addColorStop(1, "#00ff00");
                //gradientStroke.addColorStop(0, "#0000ff");

                myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: Array_Moments.reverse(),
                        datasets: [{
                            type: "line",
                            data: Array_Values,
                            pointBackgroundColor: Array_point_color.reverse(),
                            ////label: "Valores",
                            //borderColor: "#5b4947",
                            ////: gradientStroke,
                            ////borderColor: Array_point_color,
                            //pointborderColor: Array_point_color,
                            pointStyle: Array_point_styles.reverse(),
                            pointRadius: Array_point_radius.reverse(),

                            lineTension: 0,
                            fill: false
                        },
                        //{
                        //    type: "bar",
                        //    backgroundColor: Array_Colors,
                        //    data: Array_Values,
                        //},
                              {
                                  type: "line",
                                  //label: "Media",
                                  borderColor: "#f39c12",
                                  //backgroundColor: Array_Colors,
                                  data: Array_media_value.reverse(),
                                  pointRadius: 1,
                                  pointHoverRadius: 1,
                                  lineTension: 0,
                                  steppedLine: true,
                                  fill: false,
                                  borderDash: [5, 5],
                              },
                         {
                             type: "line",
                             //label: "Límite Inferior",
                             borderColor: "#ff0000",
                             //backgroundColor: Array_Colors,
                             data: Array_Minimun_Value.reverse(),
                             pointRadius: 1,
                             pointHoverRadius: 1,
                             lineTension: 0,
                             //steppedLine: true,
                             fill: false
                         },
                         {
                             type: "line",
                             //label: "Límite Superior",
                             borderColor: "#ff0000",
                             //backgroundColor: Array_Colors,
                             data: Array_Maximun_Value.reverse(),
                             pointRadius: 0,
                             pointHoverRadius: 1,
                             lineTension: 1,
                             //steppedLine: true,
                             fill: false
                         },
                          {
                              type: "line",
                              //label: "Límite C Superior",
                              borderColor: "#0000ff",
                              //backgroundColor: Array_Colors,
                              data: Array_LimContrlSup.reverse(),
                              pointRadius: 0,
                              pointHoverRadius: 1,
                              lineTension: 1,
                              //steppedLine: true,
                              fill: false
                          },
                           {
                               type: "line",
                               //label: "Límite C Inferior",
                               borderColor: "#0000ff",
                               //backgroundColor: Array_Colors,
                               data: Array_LimControlInf.reverse(),
                               pointRadius: 1,
                               pointHoverRadius: 1,
                               lineTension: 0,
                               //steppedLine: true,
                               fill: false
                           }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Últimas Capturas'
                        },
                        legend: { display: false }
                    }
                });


            }

            function GetGaussBelt(Array_Values,Array_Columns) {
        var Sumatoria = Array_Values.reduce((a, b) => a + b, 0);  //Calculo la sumatoria
        var Media = Sumatoria / Array_Values.length;
        var SumatoriaTotal = Sumatoria;
        Sumatoria = 0;
        for (var i = 0; i < Array_Values.length; i++) {
            var current_value = Number(Array_Values[i]);
            Sumatoria += Number(Math.pow((Media - current_value), 2));
        }
        var Desviacion = Math.sqrt(Sumatoria / Array_Values.length);
        var Array_Columns_Lines = [];
        for (var i = 0; i < 30; i++) {
            Array_Columns_Lines.push(0.0002);
        }
        var Cant_Capturas = Array_Values.length;
        var StartCount = 0;
        var EndCount = 0;
        if(Cant_Capturas % 2 == 0)
        {
            //Es par
            StartCount =  15 - (Cant_Capturas/2)-1;
            EndCount = 15 + (Cant_Capturas/2)-1;
        }
        else
        {
            //Es Impar
            StartCount =  15 - Math.trunc((Cant_Capturas/2))-1;
            EndCount = 15 + Math.trunc((Cant_Capturas/2));
        }
        
        var MaxValue = Math.max.apply(null, Array_Columns);
        var Indice = 0;
        for (var i = StartCount; i < EndCount; i++) {
            var GaussValue = CalculateGaussValue(Array_Values[Indice],Media,Sumatoria,Desviacion);
            //alert(GaussValue);
            if(Indice == 4 || Indice == 5)
            {
                GaussValue += MaxValue;
            }
            if(Indice == 3 || Indice == 6)
            {
                GaussValue += MaxValue-0.5;
            }
            if(Indice == 2 || Indice == 7)
            {
                GaussValue += MaxValue-1;
            }
            if(Indice == 1 || Indice == 8)
            {
                GaussValue += MaxValue-1.5;
            }
            Array_Columns_Lines[i]  = GaussValue.toFixed(3); ;
            Indice++;
        }
     
 
        alert(Array_Columns_Lines);


        
        return Array_Columns_Lines;
    }

    function CalculateGaussValue(Current_Value,Media,Sumatoria,Desviacion)
    {
        //alert(Current_Value);
        var Valor = 0;
        var y = 1/(Media * 2.50);
        var NumeradorExponente = Number(Math.pow((Current_Value - Media), 2));
        var DenominadorExponente = 2* Number(Math.pow(Desviacion, 2)); 
        var Exponente = NumeradorExponente / DenominadorExponente;
      
        
        
        Valor = y * Math.pow(2.71, Exponente);

        return Valor; 
    }

            function DrawGraphic2(Array_Moments, Array_Values, Array_Colors, Array_Minimun_Value, Array_Maximun_Value) {

                var ctx = document.getElementById('myChart2').getContext("2d");

         var MaxVarValue = Math.max.apply(null, Array_Maximun_Value);
         var MinVarValue = Math.min.apply(null, Array_Minimun_Value);

                var Offset = (MaxVarValue - MinVarValue) / 10; ///Aqui busco el desplazamiento que inicialmente sera de 10
                var Array_Columns = [];
                var Array_Labels = [];
                var Array_Colors_Bars = [];

                var Array_Columns_Line = [];

                var Array_Colors_Bars = [];

                //for (var i = 0; i < 10; i++) {
                //    Array_Columns.push(0);
                //    Array_Labels.push(" ");
                //    Array_Colors_Bars.push("#bfb5b5");
                //}
               
                for (var i = 0; i < 10; i++) {
                    Array_Columns.push(0);

                    if (i == 0 || i == 9)
                    {
                       Array_Colors_Bars.push("#dd4b39");  
                    }
                     if (i ==1 || i == 2 || i == 7 || i == 8)
                    {
                       Array_Colors_Bars.push("#f39c12");  
                    }
                      if (i ==3 || i == 4 || i == 5 || i == 6)
                    {
                       Array_Colors_Bars.push("#00a65a");  
                    }
                    var Temp = Number(MinVarValue + Offset);
                    Temp = Temp.toFixed(2);                 
                    var LabelHistograma = MinVarValue.toString() + "-" + Temp.toString();
                    //Array_Labels.push(LabelHistograma);
                    Array_Labels.push(LabelHistograma);
                    MinVarValue = Number(Temp);
                }

                //for (var i = 0; i < 10; i++) {
                //    Array_Columns.push(0);
                //    Array_Labels.push(" ");
                //    Array_Colors_Bars.push("#bfb5b5");
                //}

 
                //Aqui cuento los valores segun los rangos
                MinVarValue = Math.min.apply(null, Array_Minimun_Value);
                for (var j = 0; j < Array_Values.length; j++) {                   
                    var Current_Value = Number(Array_Values[j]);

                    for (var i = 0; i < 10; i++) {
                        
                        var Tramo = Number(MinVarValue + Offset * (i));
                      
                        if (Current_Value < Tramo)
                        {
                            var LastValue = Number(Array_Columns[i]);
                   
                            Array_Columns[i] = LastValue + 1;
                           
                            break;
                        }
                    }

                }

                //Calulo la campana de gauss
                //var Array_Columns_Lines = GetGaussBelt(Array_Values,Array_Columns);
               
                //////////////
             
                //////////////
                myChart2 = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: Array_Labels,
                        datasets: [
                          //  {
                          //    type: "line",
                          //    //label: "Límite C Superior",
                          //    borderColor: "#0000ff",
                          //    //backgroundColor: Array_Colors,
                          //    data: Array_Columns_Lines,
                          //    pointRadius: 0,
                          //    pointHoverRadius: 1,
                          //    //lineTension: 0.2,
                          //    //steppedLine: true,
                          //    fill: false
                          //},
                            {
                            type: "bar",
                            backgroundColor: Array_Colors_Bars,
                            data: Array_Columns,
                            }
                             
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Últimas Capturas'
                        },
                        legend: { display: false }
                    }
                });


            }


            function NextStep1() {
                $("#Data_Count").val(2);
                var currentStep = $(".wizard-step:visible"); // get current step

                var valid = true;

                if (!valid)
                    return; // exit if invalid

                if (currentStep.next().hasClass("wizard-step")) { // is there a next step?
                    if (currentStep.next().hasClass("wizard-confirmation")) { // is the next step the confirmation?
                        UpdateConfirmation();
                    }
                    currentStep.hide().next().fadeIn();  // hide current step and display next step

                    $("#wizard-prev").show(); // enable wizard-prev button
                    if (!currentStep.next().next().hasClass("wizard-step")) { // disable wizard-next button and enable wizard-submit?
                        $("#wizard-next").hide();
                        //  $("#wizard-submit").show();
                    }
                    $('#basicExampleModal').modal('toggle');
                    $('#basicExampleModal').modal('show');
                }
            }



    $(document).ready(function () {

          var Cant_Variables = @Index_Limit;
    if (Cant_Variables > 1) {

    }
    else {
            $("#Hoja-1").removeClass("wizard-step");
            $("#Hoja-2").removeClass("wizard-step");
            $("#Hoja-2").show();
            $("#Hoja-1").hide();
            //$("#basicExampleModal").show();
            $('#basicExampleModal').modal('toggle');
            $('#basicExampleModal').modal('show');

            $("#div_repetitivas").show();
            $("#Graph_Bar").show();
    }

                $('body').on('click', '#wizard-nextButton', function () {

                    $("#div_repetitivas").show();
                    $("#Graph_Bar").show();
                    NextStep1();
                })

                $('body').on('click', '.capturador', function () {
                    FixDetails($(this));
                    FixLastResult($(this));
                })


                $('body').on('click', '#Grafrica_XR', function () {
                    $("#Grafrica_XR").addClass("btn-primary");
                    $("#Grafrica_XR").removeClass("btn-default");
                    $("#Histograma").addClass("btn-default");
                    $("#Histograma").removeClass("btn-primary");
                    $("#Canvas_XR").show();
                    $("#Canvas_Histograma").hide();
                  //  alert("Grafica XR");
                })

                Canvas_Histograma

                $('body').on('click', '#Histograma', function () {
                    $("#Histograma").addClass("btn-primary");
                    $("#Histograma").removeClass("btn-default");
                    $("#Grafrica_XR").addClass("btn-default");
                    $("#Grafrica_XR").removeClass("btn-primary");
                    $("#Canvas_XR").hide();
                    $("#Canvas_Histograma").show();
                   // alert("Histograma");
                })


                $(".capturador").bind("keypress", {}, keypressInBox);

                function keypressInBox(e) {
                    var code = (e.keyCode ? e.keyCode : e.which);
                    if (code == 13) { //Enter keycode
                        var Current_Id = $(this).attr('id');
                        Get_Next_Input(Current_Id)


                    }
                };


                $('body').on('click', '#answer-submit', function () {
                    var elements = document.getElementsByClassName("capturador");
                    var Array_Data_Questions = "";
                    var dato_error = false;
                    for (var i = 0; i < elements.length; i++) {
                        if (i == 0) {
                            var Current_Element = elements[i];
                            var Current_Value = Current_Element.value;
                            var Current_Id = Current_Element.id;
                            if (Current_Value == "") {
                                $("#Msg" + Current_Id).append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Valor no puede ser vacio</span>');
                                dato_error = true;
                            }

                            var Question_Data = Current_Id + "**" + Current_Value;
                            Array_Data_Questions += Question_Data;
                        }
                        else {
                            var Current_Element = elements[i];
                            var Current_Value = Current_Element.value;
                            var Current_Id = Current_Element.id;
                            if (Current_Value == "") {
                                $("#Msg" + Current_Id).append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Valor no puede ser vacio</span>');
                                dato_error = true;
                            }
                            var Question_Data = "||" + Current_Id + "**" + Current_Value;
                            Array_Data_Questions += Question_Data;
                        }
                    }

                    // alert(Array_Data_Questions);

                    //if ($("#NoParte").val() == "") {
                    //    $("#NoParte").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Valor no puede ser vacío</span>');
                    //    dato_error = true;
                    //}

                    if (dato_error == false) {
                        Submit_Variables_Datas($("#id_hoja").val(), Array_Data_Questions, "No Tiene");
                    }
                })
            });
    </script>


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/WizardForm.js"></script>

}
