﻿<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Frequency Histogram Example</title>
</head>
<body>

    <div id="buttondiv">
        <button type="button" id="frequencyhistogram_menuitem">Frequency Histogram</button>
    </div>

    <div class="container">
        <button type="button" id="xbarr_menuitem" class="btn btn-primary btn-sm">XBar-R</button>
        <button type="button" id="xbarsigma_menuitem" class="btn btn-primary btn-sm">XBar-Sigma</button>
        <button type="button" id="ir_menuitem" class="btn btn-primary btn-sm">I-R</button>
        <button type="button" id="leveyjennings_menuitem" class="btn btn-primary btn-sm">Levey-Jennings</button>
        <button type="button" id="ewma_menuitem" class="btn btn-primary btn-sm">EWMA</button>
        <button type="button" id="ma_menuitem" class="btn btn-primary btn-sm">MA</button>
        <button type="button" id="mams_menuitem" class="btn btn-primary btn-sm">MAMS</button>
        <button type="button" id="mamr_menuitem" class="btn btn-primary btn-sm">MAMR</button>
        <button type="button" id="cusum_menuitem" class="btn btn-primary btn-sm">Cu Sum</button>
    </div>


    <div id="canvasdiv">
        <canvas id="spcChartCanvas2" width="800" height="600"></canvas>

        @*<canvas id="spcChartCanvas1" style="height: 180px; width: 703px; display:none" width="703" height="230"></canvas>*@
    </div>

    <script type="module">



        import { BuildFrequencyHistogramChart} from '../../Scripts/FrequencyHistogramChart.js';

        function freqhistogramchart() {
        BuildFrequencyHistogramChart("spcChartCanvas2");
        }


        // Since loading of script module is asynchronous, need to assign onclick event handlers after module loaded.
        document.getElementById("frequencyhistogram_menuitem").onclick = freqhistogramchart;

        import { BuildXBarRChart, BuildXBarSigmaChart, BuildIRChart, BuildLeveyJenningsChart, BuildEWMAChart, BuildMAChart, BuildMAMSChart, BuildMAMRChart, BuildCusumChart} from '../../Scripts/VariableControlCharts.js';


        function xbarrchart() {
        BuildXBarRChart("spcChartCanvas2");
        }
        function xbarsigmachart() {
        BuildXBarSigmaChart("spcChartCanvas2");
        }
        function irchart() {
        BuildIRChart("spcChartCanvas2");
        }
        function leveyjenningschart() {
        BuildLeveyJenningsChart("spcChartCanvas2");
        }
        function ewmachart() {
        BuildEWMAChart("spcChartCanvas2");
        }
        function machart() {
        BuildMAChart("spcChartCanvas2");
        }
        function mamschart() {
        BuildMAMSChart("spcChartCanvas2");
        }
        function mamrchart() {
        BuildMAMRChart("spcChartCanvas2");
        }

        function cusumchart() {
        BuildCusumChart("spcChartCanvas2");
        }

        // Since loading of script module is asynchronous, need to assign onclick event handlers after module loaded.
        document.getElementById("xbarr_menuitem").onclick = xbarrchart;
        document.getElementById("xbarsigma_menuitem").onclick = xbarsigmachart;
        document.getElementById("ir_menuitem").onclick = irchart;
        document.getElementById("leveyjennings_menuitem").onclick = leveyjenningschart;
        document.getElementById("ewma_menuitem").onclick = ewmachart;
        document.getElementById("ma_menuitem").onclick = machart;
        document.getElementById("mams_menuitem").onclick = mamschart;
        document.getElementById("mamr_menuitem").onclick = mamrchart;
        document.getElementById("cusum_menuitem").onclick = cusumchart;       

    </script>

    <br>
    <br>

</body>
</html>
