﻿@{
    ViewBag.Title = "AsignSheet";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    @*<h2>@ViewBag.Nombre_Equipo</h2>*@
    <div class="row">
        <div class="col-md-1">
            <label class="control-label">Máquina:</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Nombre_Equipo
        </div>
        <div class="col-md-1">
            <label class="control-label">Hoja: </label>
        </div>
        <div class="col-md-4">
            <select id="Sheet_Selector" onchange="getComboSheet(this)">
                <option value="-1"> - Seleccione - </option>
                @foreach (var Hoja in ViewBag.SheetList)
                {
                    <option value="@Hoja.Int_Id">@Hoja.Chart_Name</option>}
            </select>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12" style="height: 100% !important">

            <div id="Results" class='dvContent container' style="height: 100% !important">

                @*<div id="las_result_element" class="col-sm-6 result">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">' + Current_Result[0] + '</h3>
                                <div class="box-tools pull-right">
                                    <h3 class="box-title"> </h3>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-1" >
                                        <div class="row">
                                            <label class="control-label">LSE</label>
                                        </div>
                                        <div class="row">
                                            <input id="Top' + Current_Result[1] + '" class="capturador" value="' + Current_Result[4] + '" data-id="1" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/>
                                        </div>
                                        <div class="row">
                                            <label class="control-label">LIE</label>
                                        </div>
                                        <div class="row">
                                            <input id="Bot' + Current_Result[1] + '" class="capturador" value="' + Current_Result[3] + '" data-id="0" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" style="margin-left:25px">
                                        <div class="row">
                                            <label class="control-label">LSV</label>
                                        </div>
                                        <div class="row">
                                            <input id="VTop' + Current_Result[1] + '" value="' + Current_Result[4] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/>
                                        </div>
                                        <div class="row">
                                            <label class="control-label">LIV</label>
                                        </div>
                                        <div class="row">
                                            <input id="VBot' + Current_Result[1] + '" value="' + Current_Result[3] + '" class="capturador" data-id="4" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-1" style="margin-left:25px">
                                        <div class="row">
                                            <label class="control-label">Orden</label>
                                        </div>
                                        <div class="row">
                                            <input id="Order' + Current_Result[1] + '" value="' + Current_Result[4] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;" />
                                        </div>
                                        <div class="row">
                                            <label class="control-label">Obligatoria</label>
                                        </div>
                                        <div class="row">
                                      <select id="Obligatory' + Current_Result[1] + '" class="capturador" data-content="' + Current_Result[2] + '">
                                          <option value="0">Si</option>
                                          <option value="1">No</option>
                                      </select>
                                          </div>
                                    </div>
                                    <div class="col-sm-3" style="margin-left:25px">
                                        <div class="row">
                                            <label class="control-label">Tamaño de Muestra</label>
                                        </div>
                                        <div class="row">
                                            <input id="T_Muestra' + Current_Result[1] + '" class="capturador" value="' + Current_Result[5] + '" data-id="1" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Msg' + Current_Result[0] + '" class="box-footer">
                            </div>
                        </div>
                    </div>*@





            </div>

            <input type="hidden" id="Id_Equipo" value="@ViewBag.Id_Equipo" />   @*Id de la relacion no del equipo*@
            <div class="row">
                <div class="pull-right">
                    <a href="@Url.Action("Machine_Board","Trf_Sheet")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                    <input type="button" value="Finalizar" id="Limits-submit" class="btn btn-success btn-sm button-solution" />

                </div>

            </div>

        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>


        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#hojaAssing").addClass('active');

        function getComboSheet(selectObject) {
            var value = selectObject.value;
            $('div[id^="las_result_element"]').remove();
            FillVariableLimits(value);
            @*var UrlEdit = "@Url.Action("AsignSheet", "Trf_Sheet" , new { id_Hoja = 1, id_Maquina = 2 })";*@


            //var UrlEdit = "/Trf_Sheet/AsignSheet/?id_Hoja=1&amp;id_Maquina=2"
            ////"Products", "Jquery", new { categoryid = 1, Productid = 2})
            //window.location = UrlEdit;
        }

        function FillVariableLimits(id_sheet) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_Variable_List", "Trf_Sheet")',
                data: {
                    id_sheet: id_sheet,
                },
                success: function (data) {
                    if (data != "") {
                        var Questions = data.split('*||*');
                        for (var i = 0; i < Questions.length; i++) {
                            var Current_Result = Questions[i].split('-**-');

                            var NTop = Current_Result[7];
                            var NBot = Current_Result[8];
                            var VTop = Current_Result[9];
                            var VBot = Current_Result[10];

                            var Pregunta = null;

                            if (Current_Result[2] == "1") {
                                // alert("Variable numerica");
                                Pregunta = '<div id="las_result_element" class="col-sm-6 result"><div class="box"><div class="box-header with-border"><h3 class="box-title">' + Current_Result[0] + '</h3><div class="box-tools pull-right"><h3 class="box-title"> </h3></div></div><div class="box-body"><div class="row"><div class="col-sm-1" ><div class="row"><label class="control-label">LSE</label></div><div class="row"><input id="Top" class="capturador" value="' + Current_Result[4] + '" data-identificador="' + Current_Result[1] + '" data-id="1" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div><div class="row"><label class="control-label">LIE</label></div><div class="row"><input id="Bot" data-identificador="' + Current_Result[1] + '" class="capturador" value="' + Current_Result[3] + '" data-id="0" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div><div class="col-sm-1" style="margin-left:25px"><div class="row"><label class="control-label">LSV</label></div><div class="row"><input id="VBot" data-identificador="' + Current_Result[1] + '" value="' + VBot + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div><div class="row"><label class="control-label">LIV</label></div><div class="row"><input id="VTop" data-identificador="' + Current_Result[1] + '" value="' + VTop + '" class="capturador" data-id="4" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div><div class="col-sm-1" style="margin-left:25px"><div class="row"><label class="control-label">LSN</label></div><div class="row"><input id="NBot" data-identificador="' + Current_Result[1] + '" value="' + NBot + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div><div class="row"><label class="control-label">LIN</label></div><div class="row"><input id="NTop" data-identificador="' + Current_Result[1] + '" value="' + NTop + '" class="capturador" data-id="4" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div><div class="col-sm-1" style="margin-left:25px"><div class="row"><label class="control-label">Orden</label></div><div class="row"><input id="Order" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[6] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;" /></div><div class="row"><label class="control-label">Obligatoria</label></div><div class="row"><select id="Obligatory" data-identificador="' + Current_Result[1] + ' class="capturador" data-content="' + Current_Result[2] + '"><option value="0">Si</option><option value="1">No</option></select></div></div><div class="col-sm-3" style="margin-left:25px"><div class="row"><label class="control-label">Tamaño de Muestra</label></div><div class="row"><input id="T_Muestra" data-identificador="' + Current_Result[1] + '" class="capturador" value="' + Current_Result[5] + '" data-id="1" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div></div></div></div></div>';
                            }
                            else {
                                if (Current_Result[2] == "4" || Current_Result[2] == "5") {
                                    //alert(Current_Result);
                                    Pregunta = '<div id="las_result_element" class="col-sm-6 result"><div class="box"><div class="box-header with-border"><h3 class="box-title">' + Current_Result[0] + '</h3><div class="box-tools pull-right"><h3 class="box-title"> </h3></div></div><div class="box-body"><div class="row"><div class="col-sm-1" ><div class="row"><label class="control-label">LSE</label></div><div class="row"><input id="Top" class="capturador" value="' + Current_Result[4] + '" data-identificador="' + Current_Result[1] + '" data-id="1" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div><div class="row"><label class="control-label">LIE</label></div><div class="row"><input id="Bot" data-identificador="' + Current_Result[1] + '" class="capturador" value="' + Current_Result[3] + '" data-id="0" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div><div class="col-sm-1" style="margin-left:25px"><div class="row"><label class="control-label">LSV</label></div><div class="row"><input id="VTop" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[4] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div><div class="row"><label class="control-label">LIV</label></div><div class="row"><input id="VBot" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[3] + '" class="capturador" data-id="4" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div><div class="col-sm-1" style="margin-left:25px"><div class="row"><label class="control-label">LSN</label></div><div class="row"><input id="NTop" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[4] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div><div class="row"><label class="control-label">LIN</label></div><div class="row"><input id="NBot" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[3] + '" class="capturador" data-id="4" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div><div class="col-sm-1" style="margin-left:25px"><div class="row"><label class="control-label">Orden</label></div><div class="row"><input id="Order" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[6] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;" /></div><div class="row"><label class="control-label">Obligatoria</label></div><div class="row"><select id="Obligatory" data-identificador="' + Current_Result[1] + ' class="capturador" data-content="' + Current_Result[2] + '"><option value="0">Si</option><option value="1">No</option></select></div></div><div class="col-sm-3" style="margin-left:25px"><div class="row"><label class="control-label">Tamaño de Muestra</label></div><div class="row"><input id="T_Muestra" data-identificador="' + Current_Result[1] + '" class="capturador" value="' + Current_Result[5] + '" data-id="1" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;"/></div></div></div></div></div></div>';

                                }
                                else {
                                    Pregunta = '<div id="las_result_element" class="col-sm-6 result"><div class="box"><div class="box-header with-border"><h3 class="box-title">' + Current_Result[0] + '</h3><div class="box-tools pull-right"><h3 class="box-title"> </h3></div></div><div class="box-body"><div class="row"><label class="control-label">Orden</label></div><div class="row"><input id="Order" data-identificador="' + Current_Result[1] + '" value="' + Current_Result[6] + '" class="capturador" data-id="3" data-content="' + Current_Result[2] + '" onblur="ValidateValue(this)" style="width: 60px;" /></div><div class="row"><label class="control-label">Obligatoria</label></div><div class="row"><select id="Obligatory" data-identificador="' + Current_Result[1] + '" class="capturador" data-content="' + Current_Result[2] + '"><option value="0">Si</option><option value="1">No</option></select></div></div></div></div></div></div>';

                                }
                            }

                            $("#Results").append(Pregunta);
                        }

                    }
                    else {
                        // alert("ok");
                    }
                }
            });
        }

        function Submit_Variables_Datas(Id_hoja, Id_Equipo, Array_Data_Questions) {

            var dataToPost = JSON.stringify(Array_Data_Questions);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Submit_Variables_Datas", "Trf_Sheet")',
                data: {
                    Id_hoja: Id_hoja,
                    Id_Equipo: Id_Equipo,
                    Array_Data_Questions: dataToPost,
                },
                success: function (data) {
                    if (data == "True") {
                        @*var UrlEdit = '@Url.Action("Machine_Board", "Trf_Sheet")';
                        window.location = UrlEdit;*@
                        swal({
                            title: "Bien",
                            text: "Esta hoja ha sido asignada satisfacotriamente",
                            type: "success",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                        location.reload();
                        
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        $(document).ready(function () {

           

            $('body').on('click', '#Limits-submit', function () {
                var elements = document.getElementsByClassName("capturador");
                var Array_Data_Questions = [];
                for (var i = 0; i < elements.length; i++) {

                    var Current_Element = elements[i];
                    var Current_Value = Current_Element.value;
                    var Current_Id = Current_Element.id;
                    //var Question_Data = Current_Id + "**" + Current_Value + "**" + $(Current_Element).data("id");
                    //Array_Data_Questions += Question_Data;
                    var NuevoObjeto = { id: $(Current_Element).data("identificador"), valor: Current_Value, tipo: Current_Id };
                    Array_Data_Questions.push(NuevoObjeto);

                }


                Swal.fire({
                    title: 'Aviso',
                    text: "Está a punto de asignar una hoja a una variable ¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                          Submit_Variables_Datas($("#Sheet_Selector").val(), $("#Id_Equipo").val(), Array_Data_Questions);
                    }
                })
            })


          
        });
    </script>

}
