﻿@model IEnumerable<TransferSPC.ViewModel.ElementoProducerSheetViewModel>
@{
    ViewBag.Title = "Capture_Board";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Máquinas asociadas a las Hojas</h2>
</section>

<!-- Main content -->
<section class="content">

    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="maquina" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre Máquina")
                                </th>
                                <th>
                                    @Html.DisplayName("Nombre Hoja")
                                </th>
                                <th>

                                </th>
                                @*<th>

                                </th>

                                <th>

                                </th>*@

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Maquina.Chart_ElementProducer)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hoja.Chart_Name)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("AnswerGridSheet/"+ @item.Id_Relacion,"Trf_Sheet")" class='btn btn-default btn-sm' id="@item.Hoja.Int_Id"><i class='fa fa-briefcase'></i> Capturar Hoja</a>

                                    </td>
                                    @*<td>*@
                                        @*<a href="@Url.Action("Export/"+ @item.Id_Relacion,"Trf_Sheet")" class='btn btn-success btn-sm' id="@item.Hoja.Int_Id"><i class='fa fa-file-excel-o'></i> Exportar Hoja</a>*@

                                    @*</td>
                                    <td>
                                        <a href="#" class='btn btn-danger btn-sm' data-id="@item.Id_Relacion" id="Remove_Relation"><i class='fa fa-trash'></i> Eliminar Relación</a>

                                    </td>*@
                                </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#machine").addClass('active');


       


        $(function () {
            $('#maquina').DataTable({
                'autoWidth': true
            })
        })

        $(document).ready(function () {

            $('body').on('click', '#Remove_Relation', function () {
                var Id_Relacion = $(this).data("id");

                Swal.fire({
                    title: 'Aviso',
                    text: "Está a punto de eliminar una hoja de una Máquina ¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Remove_Relation", "Trf_Sheet")',
                            data: {
                                Id_Relacion: Id_Relacion,
                            },
                            success: function (data) {
                                if (data == "True") {
                                    Swal.fire({
                                        type: 'success',
                                        title: 'Correcto',
                                        text: 'La Relacion se eliminó satisfactoriamente',
                                    }).then((result) => {
                                        if (result.value) {
                                            var UrlEdit = '@Url.Action("Capture_Board", "Trf_Sheet")';
                                            window.location = UrlEdit;
                                        }
                                    })
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
                    }
                })
            })

        });


    </script>
}