﻿@model TransferSPC.Models.Tbl_Sheet

@{
    ViewBag.Title = "Create";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Crear Hoja</h2>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm("CreateFromStructure", "Trf_Sheet", FormMethod.Post, new { id = "Form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.Chart_Name, "Nombre de Hoja ", htmlAttributes: new { @class = "control-label" })

                                </div>
                                @*<div class="col-sm-6">
                                        @Html.LabelFor(model => model.StageId, "Fase", htmlAttributes: new { @class = "control-label col-md-2" })
                                    </div>*@
                            </div>
                            <div class="row">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="col-sm-6">
                                    @Html.EditorFor(model => model.Chart_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Chart_Name, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="col-sm-6">
                                        @Html.DropDownList("StageId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.StageId, "", new { @class = "text-danger" })
                                    </div>*@
                            </div>



                            <div class="row">
                                <div class="pull-right" style="margin-right: 15px !important">
                                    <input type="button" id="submit-hoja" value="Crear" class="btn btn-success btn-sm button-solution" />
                                    <a href="@Url.Action("BuildStructure", "Tbl_Structure")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                                </div>
                            </div>
                        </div>}
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_Maquinas").addClass('active').addClass('menu-open');
        $("#menu_Maquinas").addClass('active');
        $("#GestiónMaquina").addClass('active');

        $(document).ready(function () {

            $('body').on('click', '#submit-hoja', function () {

                if ($("#Name").val() != "") {
                    document.getElementById("Form").submit();
                }
                else {
                    $("#Name").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe introducir un valor</span>');
                }

            })
        });
    </script>
}