﻿@model IEnumerable<TransferSPC.Models.Tbl_AsignedSheets>
@{
    ViewBag.Title = "Edit_Type";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Máquinas asociadas a las Hojas</h2>
</section>
<input type="hidden" id="Id_Relacion" value="@ViewBag.Id_Relacion" />
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <h4>Variables Repetitivas</h4>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="maquina" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre Variable")
                                </th>
                                <th>
                                    @Html.DisplayName("Orden")

                                </th>


                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in ViewBag.Variables_Repetitivas)
                            {
                                <tr>
                                    <td>
                                        @item.Chart_Name
                                    </td>
                                    <td>
                                        @{  double Indice = Model.Where(m => m.Fk_VariableId == item.Int_Id).First().Int_Indice.Value;
                                            int Relacion = Model.Where(m => m.Fk_VariableId == item.Int_Id).First().Int_Id;

                                        }
                                        @*<select name="MyDatatable_length" data-id="@item.Int_Id" data-relacion="@Relacion" id="Order-Variable" aria-controls="MyDatatable" class="form-control input-sm" onchange="getComboA(this)">

                                            @for (int i = 0; i <= ViewBag.Variables_Repetitivas.Count; i++)
                                            {
                                                if (Indice == i)
                                                {
                                                    <option selected="selected" value="@i">@i</option>
}
                                                else
                                                {
                                                    <option value="@i">@i</option>
}
                                            }

                                        </select>*@

                                        <input name="MyDatatable_length" data-id="@item.Int_Id" data-relacion="@Relacion" id="Order-Variable" aria-controls="MyDatatable" value="@Indice" class="form-control input-sm" onblur="getComboA(this)" />

                                    </td>
                                </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>





    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <h4>Variables</h4>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="maquina" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre Variable")
                                </th>
                                <th>
                                    @Html.DisplayName("Orden")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Variables)
                            {
                                <tr>
                                    <td>
                                        @item.Chart_Name
                                    </td>
                                    <td>
                                        @{  double Indice = Model.Where(m => m.Fk_VariableId == item.Int_Id).First().Int_Indice.Value;
                                            int Relacion = Model.Where(m => m.Fk_VariableId == item.Int_Id).First().Int_Id;
                                           
                                        }
                                        @*<select name="MyDatatable_length" data-id="@item.Int_Id" data-relacion="@Relacion" id="Order-Variable" aria-controls="MyDatatable" class="form-control input-sm" onchange="getComboA(this)">

                                            @for (int i = 0; i <= ViewBag.Variables.Count; i++)
                                            {
                                                if (Indice == i)
                                                {
                                                    <option selected="selected" value="@i">@i</option>
}
                                                else
                                                {
                                                    <option value="@i">@i</option>
}
                                            }

                                        </select>*@

                                        <input  name="MyDatatable_length" data-id="@item.Int_Id" data-relacion="@Relacion" id="Order-Variable" aria-controls="MyDatatable" value="@Indice" class="form-control input-sm" onblur="getComboA(this)" />

                                    </td>
                                </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="row">
                <div class="pull-right" style="margin-right:20px">

                    <a href="@Url.Action("Limit_Board","Trf_Sheet")" class="btn btn-default btn-sm button-solution">Cancelar</a>

                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>




</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#EditarLímites").addClass('active');

        function getComboA(selectObject) {
            var Selected_Indice = selectObject.value;

            var Id_Variable = $(selectObject).data("id");
            var Id_Relacion = $(selectObject).data("relacion");


            $.ajax({
                type: 'POST',
                url: '@Url.Action("Update_Indice", "Trf_Sheet")',
                data: {
                    Selected_Indice: Selected_Indice,
                    Id_Variable: Id_Variable,
                    Id_Relacion: Id_Relacion,

                },
                success: function (data) {
                    if (data == "True") {
                        swal({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se editó satisfactoriamente',
                        })



                        Swal.fire({
                            title: 'Correcto',
                            text: "La Variable se editó satisfactoriamente",
                            type: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            if (result.value) {
                                var Id_Relacion = $("#Id_Relacion").val();

                                @*var Ruta = "@Url.Action("Edit_Order", "Trf_Sheet")" + "/" + Id_Relacion;*@
                                var Ruta = "@Url.Action("Edit_Order", "Trf_Sheet")";
                                window.location = Ruta;
                            }
                        })
                    }

                }
            });
        }

        $(document).ready(function () {
            $('body').on('click', '#Edit_Limits', function () {
                var Id_Relacion = $(this).data("id");

                var Ruta = "@Url.Action("EditLimit", "Trf_Sheet")" + "/" + $(this).data("id");
                window.location = Ruta;
            })
        });
    </script>
}