﻿


@{
    ViewBag.Title = "EditLimit";
}

<section class="content-header">
    @*<h2>@ViewBag.Nombre_Equipo</h2>*@
    <div class="row">
        <div class="col-md-1">
            <label class="control-label">Máquina:</label>
        </div>
        <div class="col-md-4">
            @ViewBag.Nombre_Equipo
        </div>
        <div class="col-md-1">
            <label class="control-label">Hoja: </label>
        </div>
        <div class="col-md-4">
            @ViewBag.Nombre_Hoja
        </div>
    </div>
</section>
@{  List<TransferSPC.Models.Tbl_AsignedSheets> Lista_Enlaces = new List<TransferSPC.Models.Tbl_AsignedSheets>();
    foreach (var item in ViewBag.Lista_Relaciones)
    {
        Lista_Enlaces.Add(item);
    }
}

<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">

            <div id="Results" class='dvContent container'>
                @{int Index = 1; }
                @foreach (var variable in ViewBag.Variables)
                {
                    if (variable.Int_QuestionType == 1)
                    {
                        string id_mensaje = "Msg" + @variable.Int_Id;

                        <div id="las_result_element" class="col-sm-6 result">
                            <div class="box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">@variable.Chart_Name</h3>
                                    <div class="box-tools pull-right">
                                        <h3 class="box-title"> </h3>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="row">

                                        @{  string LimiteSuperiorId = "Top";

                                            string LimiteInferiorId = "Bot";
                                        }

                                        <div class="col-sm-4" style="padding:5px !important">
                                            <div class="row" style="padding:5px !important">
                                                <label class="control-label">LS Especificación</label>
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <input id="@LimiteSuperiorId" class="capturador" value="@Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_MaxValue" data-id="@variable.Int_Id" data-content="1" onblur="ValidateValue(this)" style="width: 100% !important">
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <label class="control-label">LI Especificación</label>
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <input id="@LimiteInferiorId" class="capturador" value="@Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_MinValue" data-id="@variable.Int_Id" data-content="1" onblur="ValidateValue(this)" style="width: 100% !important">
                                            </div>
                                        </div>
                                        @{  string NLimiteSuperiorId = "NTop";

                                            string NLimiteInferiorId = "NBot";
                                        }
                                        <div class="col-sm-4" style="padding:5px !important">
                                            <div class="row" style="padding:5px !important">
                                                <label class="control-label">LS Nominal</label>
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <input id="@NLimiteSuperiorId" class="capturador" value="@Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_NominalMaxValue" data-id="@variable.Int_Id" data-content="1" style="width: 100% !important">
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <label class="control-label">LI Nominal</label>
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <input id="@NLimiteInferiorId" class="capturador" value="@Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_NominalMinValue" data-id="@variable.Int_Id" data-content="1" style="width: 100% !important">
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="padding:5px !important">

                                            @{  string VLimiteSuperiorId = "VTop";

                                                string VLimiteInferiorId = "VBot";
                                            }


                                            <div class="row" style="padding:5px !important">
                                                <label class="control-label">LS de Validación</label>
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <input id="@VLimiteSuperiorId" value="@Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_ValidationMaxValue" class="capturador" data-id="@variable.Int_Id" data-content="1" onblur="ValidateValue(this)" style="width: 100% !important">
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <label class="control-label">LI de Validación</label>
                                            </div>
                                            <div class="row" style="padding:5px !important">
                                                <input id="@VLimiteInferiorId" value="@Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Float_ValidationMinValue" class="capturador" data-id="@variable.Int_Id" data-content="1" onblur="ValidateValue(this)" style="width: 100% !important">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="MsgNumero" class="box-footer">
                                </div>
                            </div>
                        </div>



                                                        Index++;
                                                    }
                                                }

            </div>

            <input type="hidden" id="Id_Equipo" value="@ViewBag.Id_Equipo" />
            <div class="row">
                <div class="pull-right">
                    @*<a href="@Url.Action("AnswerGridSheet", "Trf_Sheet")" class="btn btn-default btn-sm button-solution">Cancelar</a>*@
                    <input type="button" value="Cancelar" id="Cancelar-submit" class="btn btn-default btn-sm button-solution" />
                    <input type="button" value="Finalizar" id="Limits-submit" class="btn btn-success btn-sm button-solution" />

                </div>

            </div>

        </div>
        <!-- /.col -->
    </div>
</section>
<input type="hidden" id="Id_Equipo" value="@ViewBag.Id_Equipo" />
<input type="hidden" id="Id_Sheet" value="@ViewBag.Id_Sheet" />
<input type="hidden" id="Id_Relacion" value="@ViewBag.Relacion_Limite" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#EditarLímites").addClass('active');





        function Submit_Variables_Datas(Id_hoja, Id_Equipo, Array_Data_Questions) {



            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit_Variables_Datas", "Trf_Sheet")',
                data: {
                    Id_hoja: Id_hoja,
                    Id_Equipo: Id_Equipo,
                    Array_Data_Questions: Array_Data_Questions,
                },
                success: function (data) {
                    if (data == "True") {
                        var UrlEdit = '@Url.Action("AnswerGridSheet", "Trf_Sheet")' + "/" + $("#Id_Relacion").val();
                        window.location = UrlEdit;
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        $(document).ready(function () {

            $('body').on('click', '#Cancelar-submit', function () {
                var UrlEdit = '@Url.Action("Limit_Board", "Trf_Sheet")' + "/" + $("#Id_Relacion").val();
                window.location = UrlEdit;
            })


            $('body').on('click', '#Limits-submit', function () {
                var elements = document.getElementsByClassName("capturador");
                var Array_Data_Questions = "";
                for (var i = 0; i < elements.length; i++) {
                    if (i == 0) {
                        var Current_Element = elements[i];
                        var Current_Value = Current_Element.value;
                        var Current_Id = Current_Element.id;
                        var Question_Data = Current_Id + "**" + Current_Value + "**" + $(Current_Element).data("id");
                        Array_Data_Questions += Question_Data;
                    }
                    else {
                        var Current_Element = elements[i];
                        var Current_Value = Current_Element.value;
                        var Current_Id = Current_Element.id;
                        var Question_Data = "||" + Current_Id + "**" + Current_Value + "**" + $(Current_Element).data("id");
                        Array_Data_Questions += Question_Data;
                    }
                }


                Swal.fire({
                    title: 'Aviso',
                    text: "Está a punto de cambiar los límites de una hoja ¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Submit_Variables_Datas($("#Id_Sheet").val(), $("#Id_Equipo").val(), Array_Data_Questions);
                    }
                })
            })
        });
    </script>

}