﻿@model IEnumerable<TransferSPC.Models.Tbl_AsignedSheets>
@{
    ViewBag.Title = "Edit_Type";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Máquinas asociadas a las Hojas</h2>
</section>

<!-- Main content -->
<section class="content">

    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="maquina" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre Variable")
                                </th>
                                <th>
                                    @Html.DisplayName("Bloqueado")

                                </th>


                            </tr>
                        </thead>
                        <tbody>

                            @{
                                    List<TransferSPC.Models.Tbl_Variable> ListaVariables = new List<TransferSPC.Models.Tbl_Variable>();
                                    foreach (var item in ViewBag.ListaVariables)
                                    {
                                        ListaVariables.Add(item);
                                    }
                                }
                            @foreach (var item in Model)
                            {
                                TransferSPC.Models.Tbl_Variable Current_Var = ListaVariables.Where(m => m.Int_Id == item.Fk_VariableId).First();
                                <tr>
                                    <td>
                                        @Current_Var.Chart_Name
                                    </td>
                                    <td>
                                        @if (item.Bool_Blocked == true)
                                        {
                                            <select name="MyDatatable_length" data-id="@item.Int_Id" id="Block-Variable" aria-controls="MyDatatable" class="form-control input-sm" onchange="getComboA(this)">
                                                <option value="1">Si</option>
                                                <option value="0">No</option>
                                            </select>
}
                                        else
                                        {
                                            <select name="MyDatatable_length" data-id="@item.Int_Id" id="Block-Variable" aria-controls="MyDatatable" class="form-control input-sm" onchange="getComboA(this)">
                                                <option value="0">No</option>
                                                <option value="1">Si</option>
                                            </select>
}
                                    </td>


                                </tr>}
                        </tbody>
                    </table>
                </div>

                <!-- /.box-body -->
            </div>
            <div class="row">
                <div class="pull-right" style="margin-right:20px">

                    <a href="@Url.Action("Limit_Board","Trf_Sheet")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                   
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#EditarLímites").addClass('active');


        function getComboA(selectObject) {
            var Block_Value = selectObject.value;

            var Id_Relacion = $(selectObject).data("id");

            $.ajax({
                type: 'POST',
                url: '@Url.Action("Block_Variable", "Trf_Sheet")',
                data: {
                    Block_Value: Block_Value,
                    Id_Relacion: Id_Relacion,

                },
                success: function (data) {
                    if (data == "True") {
                        swal({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se editó satisfactoriamente',
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        $(document).ready(function () {

            $('body').on('click', '#Edit_Limits', function () {
                var Id_Relacion = $(this).data("id");

                var Ruta = "@Url.Action("EditLimit", "Trf_Sheet")" + "/" + $(this).data("id");
                window.location = Ruta;
            })





        });
    </script>
}