﻿@model TransferSPC.Models.Tbl_Sheet

@{
    ViewBag.Title = "Edit";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Agregar Variables</h2>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <fieldset>
                        <legend></legend>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Int_Id)

                                <div class="row">
                                    <div class="col-md-8">

                                        <div class="col-md-2">
                                            @Html.LabelFor(model => model.Chart_Name, "Hoja", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Chart_Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Chart_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class=" col-md-4">
                                        @*<input type="button" value="Agregar Variable Creada" data-id="@Model.Int_Id" id="Add-Question-Created" class="btn btn-success btn-sm button-solution" />*@

                                        <input type="button" value="Agregar Nueva Variable" data-id="@Model.Int_Id" id="Add-Question" class="btn btn-success btn-sm button-solution" />
                                    </div>
                                </div>
                            </div>}
                    </fieldset>




                    <table class="table" style="margin-top:10px">
                        <tbody>
                            <tr>
                                <th> Nombre</th>
                                <th> Tipo</th>
                                <th> Estado</th>
                                <th> Acciones</th>
                            </tr>
                            @foreach (var variable in ViewBag.Variable)
                            {
                                string Tipo = "";
                                int Id_Pregunta = @variable.Int_Id;

                                if (@variable.Int_QuestionType == 0)
                                    @Tipo = "Tipo Texto";

                                if (@variable.Int_QuestionType == 1)
                                    @Tipo = "Tipo Númerica";

                                if (@variable.Int_QuestionType == 2)
                                    @Tipo = "Tipo Binaria";

                                if (@variable.Int_QuestionType == 3)
                                    @Tipo = "Tipo Selección";
                                if (@variable.Int_QuestionType == 4)
                                    @Tipo = "Tipo Automática";
                                if (@variable.Int_QuestionType == 5)
                                    @Tipo = "Tipo Automática Multiple";

                                <tr>
                                    <td>
                                        @variable.Chart_Name
                                    </td>
                                    <td>
                                        @Tipo
                                    </td>
                                    <td @{  if (variable.Bool_ShowIndicators != true) {
                                    <td>
                                        En papelera
                                    </td>}
    else
    {
        <td></td>
                                                <td>

                                                    <a id="variable-edit" data-id="@Id_Pregunta" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span></a>
                                                    <a id="variable-remove" data-id="@Id_Pregunta" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                                                </td>
    }
}


</tr>}
                        </tbody>
                    </table>

                    <hr />
                    <div>
                        <div class="row">
                            <div class="pull-right" style="margin-right: 15px !important">
                                <input type="button" id="Save-Button" value="Salvar" class="btn btn-success btn-sm button-solution" />
                                <a href="@Url.Action("BuildStructure","Tbl_Structure")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Scripts/jquery.fileupload.js"></script>*@
    <script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#hoja").addClass('active');

        $(function () { // will trigger when the document is ready
            //Date picker
            $('.datepicker').datepicker({
                format: "dd/mm/yyyy",
                orientation: "bottom left"
            });
        });

        function Hide_All_Elements() {
            $("#text_type").hide();
            $("#numeric_type").hide();
            $("#binary_type").hide();
            $("#selection_type").hide();
            $("#Automatic_type").hide();
            $("#Multiple_Automatic_type").hide();

        }

        function getComboHojas(selectObject) {
            var Id_Hoja = selectObject.value;

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetVariableBySheetData", "Trf_Variables")',
                data: {
                    Id_Hoja: Id_Hoja,
                },
                success: function (data) {
                    $("#Variable_Selector").empty();
                    $("#Variable_Selector").append('<option value="-1">--Seleccione--</option>');
                    if (data != "") {

                        var List_Elements = data.split("||");

                        for (var i = 0; i < List_Elements.length; i++) {
                            var Current_Element = List_Elements[i].split("**");
                            $("#Variable_Selector").append('<option value="'+ Current_Element[0] +'">' + Current_Element[1] + '</option>');
                        }

                    }
                }
            });

        }

        function getComboVariable(selectObject) {
            var Id_Variable = selectObject.value;

            if(Id_Variable == -1)
            {
                Hide_All_Elements();
            }
            else
            {
                Hide_All_Elements();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetVariableSelectedData", "Trf_Variables")',
                    data: {
                        id_Variable: Id_Variable,
                        id_Hoja: $("#Sheet_Selector").val(),
                    },
                    success: function (data) {
                        if (data != "") {
                            var Variable_Data = data.split('**');
                            var value = Number(Variable_Data[0]);
                            Get_Components_By_Variable_Kind(value);
                            Fill_Datas_From_Variable(Variable_Data);




                        }
                    }
                });
            }
        }

        function Fill_Datas_From_Variable(Variable_Data)
        {
            var value = Number(Variable_Data[0]);
            $("#SelectedKind").val(value);
            if(value == 0)
            {
                $("#Name_variable_T").val(Variable_Data[1]);
                if(Variable_Data[2] == "True")
                {$("#Type_Variable").val(1);}
                else
                {$("#Type_Variable").val(0);}
            }

            if(value == 1)
            {
                $("#Name_variable_N").val(Variable_Data[1]);
                $("#botton_limit_N").val(Variable_Data[4]);
                $("#upper_limit_N").val(Variable_Data[5]);
                $("#Sample_Size").val(Variable_Data[3]);
            }

            if(value == 2)
            {
                $("#Name_variable_B").val(Variable_Data[1]);
                var Results_Datas = Variable_Data[2].split('||');
                $("#state1_B").val(Results_Datas[0]);
                $("#state2_B").val(Results_Datas[1]);
            }

            if(value == 3)
            {
                $("#Name_variable_S").val(Variable_Data[1]);
                var Results_Datas = Variable_Data[2].split('||');
                $("#List_Opcion_Added").empty();
                for (var i = 0; i < Results_Datas.length; i++) {
                    $("#List_Opcion_Added").append('<div class="col-md-3 box-body-ops" style="margin-left: 10px;padding: 5px !important;background-color: white;"><div class="box box-default"><div class="box-tools pull-right"></div><div class="box-body" style="padding: 5px; border-style: none;"><input type="hidden" class="Opcion_Variable" id="Hiden_Opcion" value="'+ Results_Datas[i] +'">'+ Results_Datas[i] +'</div></div></div>');
                }
            }
        }

        function Get_Components_By_Variable_Kind(Int_QuestionType)
        {
            var value = Int_QuestionType;
            if (value == 0) { $("#text_type").show(); }
            if (value == 1) { $("#numeric_type").show(); }
            if (value == 2) { $("#binary_type").show(); }
            if (value == 3) { $("#selection_type").show(); }

        }

        function getComboA(selectObject) {
            var value = selectObject.value;
            Hide_All_Elements();
            if (value == 0) { $("#text_type").show(); }
            if (value == 1) { $("#numeric_type").show(); }
            if (value == 2) { $("#binary_type").show(); }
            if (value == 3) { $("#selection_type").show(); }
            if (value == 4) { $("#Automatic_type").show(); }
            if (value == 5) { $("#Multiple_Automatic_type").show(); }
        }

        function SubmitSelectionQuestionEdit() {
            var elements = document.getElementsByClassName("Opcion_Variable");
            var Opcion_Values_Array = "";

            for (var i = 0; i < elements.length; i++) {
                if (i > 0) {
                    Comp_Hidden = elements[i];
                    Opcion_Values_Array += "*" + Comp_Hidden.value;
                }
                else {
                    Comp_Hidden = elements[i];
                    Opcion_Values_Array += Comp_Hidden.value;
                }
            }

            var id_Variable = $("#Question_Id").val();
            var Name_variable_S = $("#Name_variable_S").val();
            var Opcion_Values_Array = Opcion_Values_Array;
            var CLV_variable_S = $("#CLV_variable_S").val();


            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableSelectionEdit", "Trf_Variables")',
                data: {
                    id_Variable: id_Variable,
                    Name_variable_S: Name_variable_S,
                    Opcion_Values_Array: Opcion_Values_Array,
                    CLV_variable_S: CLV_variable_S,
                },
                success: function (data) {
                    var Details = data.split('-');
                    if (Details[0] == "True") {

                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se editó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {

                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        function SubmitBinaryQuestionEdit() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableBinaryEdit", "Trf_Variables")',
                data: {
                    id_Variable: $("#Question_Id").val(),
                    variable_value: $("#Name_variable_B").val(),
                    description: $("#description_B").val(),
                    Respuesta1: $("#Name_variable_R1").val(),
                    Respuesta2: $("#Name_variable_R2").val(),
                },
                success: function (data) {
                    var Details = data.split('-');
                    if (Details[0] == "True") {

                        var formdata = new FormData(); //FormData object
                        var fileInput = document.getElementById('fileupload');
                        //Iterating through each files selected in fileInput
                        for (i = 0; i < fileInput.files.length; i++) {
                            //Appending each file to FormData object
                            formdata.append(fileInput.files[i].name, fileInput.files[i]);
                            formdata.append("VariableId", $("#Question_Id").val());
                        }

                        //Creating an XMLHttpRequest and sending
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '@Url.Action("Upload", "Trf_Variables")');
                        xhr.send(formdata);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                //alert(xhr.responseText);
                            }
                        }

                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se editó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {

                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }




        function SubmitNumericQuestionEdit() {


            var Sample_Size = $("#Sample_Size").val();
            var Type_Variable = $("#Type_Variable").val();
            var Type_limits = $("#Type_limits").val();
            var Clave = $("#description_N").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableNumericEdit", "Trf_Variables")',
                data: {
                    id_Variable: $("#Question_Id").val(),
                    variable_value: $("#Name_variable_N").val(),
                    Type_Variable: Type_Variable,
                    Type_limits: Type_limits,
                    Sample_Size: Sample_Size,
                    clave_variable_value: Clave,

                },
                success: function (data) {
                    var Details = data.split('-');
                    if (Details[0] == "True") {

                        var formdata = new FormData(); //FormData object
                        var fileInput = document.getElementById('fileupload');
                        //Iterating through each files selected in fileInput
                        for (i = 0; i < fileInput.files.length; i++) {
                            //Appending each file to FormData object
                            formdata.append(fileInput.files[i].name, fileInput.files[i]);
                            formdata.append("VariableId", $("#Question_Id").val());
                        }

                        //Creating an XMLHttpRequest and sending
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '@Url.Action("Upload", "Trf_Variables")');
                        xhr.send(formdata);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                //alert(xhr.responseText);
                            }
                        }
                        ///////////////

                        //////////////

                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se editó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {



                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }











        function SubmitTextQuestionEdit() {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableTextEdit", "Trf_Variables")',
                data: {
                    id_Variable: $("#Question_Id").val(),
                    variable_value: $("#Name_variable_T").val(),
                    answer_value: $("#correct_value_T").val(),
                    description: $("#description_T").val(),
                    clave_variable_value: $("#Clave_variable_T").val(),
                },
                success: function (data) {
                    var Details = data.split('-');
                    if (Details[0] == "True") {

                        var formdata = new FormData(); //FormData object
                        var fileInput = document.getElementById('fileupload');
                        //Iterating through each files selected in fileInput
                        for (i = 0; i < fileInput.files.length; i++) {
                            //Appending each file to FormData object
                            formdata.append(fileInput.files[i].name, fileInput.files[i]);
                            formdata.append("VariableId", $("#Question_Id").val());
                        }

                        //Creating an XMLHttpRequest and sending
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '@Url.Action("Upload", "Trf_Variables")');
                        xhr.send(formdata);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                //alert(xhr.responseText);
                            }
                        }
                        ///////////////

                        //////////////

                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se editó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {



                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }




        function SubmitTextQuestion() {
            var T_Id = $("#Int_Id").val();
            var T_Name_variable_T = $("#Name_variable_T").val();
            var T_correct_value_T = $("#correct_value_T").val();
            var T_description_T = $("#description_T").val();
            var T_Type_Variable = $("#Type_Variable").val();
            var clave_variable_value = $("#Clave_variable_T").val();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableText", "Trf_Variables")',
                data: {
                    id_sheet: $("#Int_Id").val(),
                    variable_type: 0,
                    variable_value: $("#Name_variable_T").val(),
                    answer_value: $("#correct_value_T").val(),
                    description: $("#description_T").val(),
                    Type_Variable: $("#Type_Variable").val(),
                    clave_variable_value:clave_variable_value,
                },
                success: function (data) {
                    var Details = data.split('-');
                    if (Details[0] == "True") {

                        var formdata = new FormData(); //FormData object
                        var fileInput = document.getElementById('fileupload');
                        //Iterating through each files selected in fileInput
                        for (i = 0; i < fileInput.files.length; i++) {
                            //Appending each file to FormData object
                            formdata.append(fileInput.files[i].name, fileInput.files[i]);
                            formdata.append("VariableId", Details[1]);
                        }
                        //Creating an XMLHttpRequest and sending
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '@Url.Action("Upload", "Trf_Variables")');
                        xhr.send(formdata);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                //alert(xhr.responseText);
                            }
                        }

                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se creó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {

                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                },
                error: function () {
                    //  alert("tt");
                }
            });
        }


        function SubmitNumericQuestion() {

            var Bool_Result = true;
            var Sample_Size = $("#Sample_Size").val();
            if (isNaN(Sample_Size)) {
                Bool_Result = false;
                Swal.fire({
                    type: 'error',
                    title: 'Error',
                    text: 'El valor del tamaño de la muestra tiene que ser un número.'
                })
            }
            else {
                if (Sample_Size >= 16)
                {
                    Bool_Result = false;
                    Swal.fire({
                        type: 'error',
                        title: 'Error',
                        text: 'El tamaño de la muestra es muy grande debe ser menor que 10.'
                    })
                }
            }
            var LimitSuperior = Number($("#upper_limit_N").val());
            var LimitInferior = Number($("#botton_limit_N").val());

            if (LimitInferior >= LimitSuperior) {
                Bool_Result = false;
                Swal.fire({
                    type: 'error',
                    title: 'Error',
                    text: 'El límite inferior debe ser menor que el límite superior'
                })
            }


            if (Bool_Result == true) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveVariableNumeric", "Trf_Variables")',
                    data: {
                        id_sheet: $("#Int_Id").val(),
                        variable_type: 1,
                        variable_value: $("#Name_variable_N").val(),
                        upper_limit: $("#upper_limit_N").val(),
                        botton_limit: $("#botton_limit_N").val(),
                        botton_limit_N_Nominal: $("#botton_limit_N_Nominal").val(),
                        upper_limit_N_Nominal: $("#upper_limit_N_Nominal").val(),
                        botton_limit_N_Validation: $("#botton_limit_N_Validation").val(),
                        upper_limit_N_Validation: $("#upper_limit_N_Validation").val(),
                        description: $("#description_N").val(),
                        Sample_Size: Sample_Size,
                        clave_variable_value: $("#Clave_variable_N").val(),
                    },
                    success: function (data) {
                        var Details = data.split('-');
                        if (Details[0] == "True") {

                            var formdata = new FormData(); //FormData object
                            var fileInput = document.getElementById('fileupload');
                            //Iterating through each files selected in fileInput
                            for (i = 0; i < fileInput.files.length; i++) {
                                //Appending each file to FormData object
                                formdata.append(fileInput.files[i].name, fileInput.files[i]);
                                formdata.append("VariableId", Details[1]);
                            }
                            //Creating an XMLHttpRequest and sending
                            var xhr = new XMLHttpRequest();
                            xhr.open('POST', '@Url.Action("Upload", "Trf_Variables")');
                            xhr.send(formdata);
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState == 4 && xhr.status == 200) {
                                    // alert(xhr.responseText);
                                }
                            }


                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'La Variable se creó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {

                                    var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            }
        }

        function SubmitBinaryQuestion() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableBinary", "Trf_Variables")',
                data: {
                    id_sheet: $("#Int_Id").val(),
                    variable_value: $("#Name_variable_B").val(),
                    state1_B: $("#state1_B").val(),
                    state2_B: $("#state2_B").val(),
                    description: $("#description_B").val(),
                    clave_variable_B: $("#Clave_variable_B").val(),


                },
                success: function (data) {
                    var Details = data.split('-');
                    if (Details[0] == "True") {

                        var formdata = new FormData(); //FormData object
                        var fileInput = document.getElementById('fileupload');
                        //Iterating through each files selected in fileInput
                        for (i = 0; i < fileInput.files.length; i++) {
                            //Appending each file to FormData object
                            formdata.append(fileInput.files[i].name, fileInput.files[i]);
                            formdata.append("VariableId", Details[1]);
                        }
                        //Creating an XMLHttpRequest and sending
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '@Url.Action("Upload", "Trf_Variables")');
                        xhr.send(formdata);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4 && xhr.status == 200) {
                                //alert(xhr.responseText);
                            }
                        }

                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se creó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }



        function FixFormula_Current(formula, variable) {
            var Resultado = "";
            for (var i = 0; i < formula.length; i++) {
                if (i > 0) {
                    var current_Cursor = formula[i];
                    var caracter_anterior = formula[i - 1];

                    if (current_Cursor == variable) {
                        //if (!Number.isInteger(caracter_anterior)) {
                        if (/^([0-9])*$/.test(caracter_anterior)) {
                            var b = "*";
                            var formula = [formula.slice(0, i), b, formula.slice(i)].join('');
                            i++;
                        }
                    }
                }
            }

            return formula;
        }
        /////////////////////////////////////////////////

        function SubmitAutomaticQuestionEdit() {
            $('span[id^="genericError"]').remove();
            var result = true;
            var Cant_v = $("#Cant_Variables").val();
            var var_array = ["x", "y", "z", "a", "b", "c", "d", "e", "h", "i"];
            var formula = $("#formula_A").val();
            if ($("#Cant_Variables").val() == "0") {
                $('#List_Variables_Added').append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Debe selecciconar por lo menos una variable</span>');
                result = false;
            }
            var remplazados = 0;
            //Corrijo cosas como 3x por 3*x
            for (var j = 0; j < Cant_v; j++) {
                formula = FixFormula_Current(formula, var_array[j]);
                for (var k = 0; k < formula.length; k++) {
                    if (formula[k] == var_array[j]) {
                        //////////////Remplazo los valores por 1
                        formula = [formula.slice(0, k), "1", formula.slice(k + 1)].join('');
                        remplazados++;
                    }
                }
            }

            if (remplazados == 0) {
                result = false;
                $('#formula_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Expreción no válida</span>');
            }
            else {
                try {

                    var evaluacion = eval(formula);
                }
                catch (e) {
                    result = false;
                    $('#formula_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Expreción no válida</span>');
                }
            }

            if ($('#Name_variable_A').val() == "") {
                $('#Name_variable_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                result = false;
            }

            if ($('#formula_A').val() == "") {
                $('#formula_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                result = false;
            }

            if (result == true) {
                var id_Variable = $("#Question_Id").val();
                var id_Sheet = $("#id_hoja").val();
                var Name_variable_A = $("#Name_variable_A").val();
                var  Array_Variables_id= $("#Array_Variables_id").val();
                var  Array_Variables= $("#Array_Variables").val();
                var  formula_A= $("#formula_A").val();
                var  upper_limit_A= $("#upper_limit_A").val();
                var botton_limit_A = $("#botton_limit_A").val();
                var description_A = $("#description_A").val();
                var Sample_Size = $("#A_Sample_Size").val();
                var Clave_variable_A = $("#Clave_variable_A").val();


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveVariableAutomaticEdit", "Trf_Variables")',
                    data: {
                        id_Variable: id_Variable,
                        id_Sheet: id_Sheet,
                        Name_variable_A: Name_variable_A,
                        Array_Variables_id: Array_Variables_id,
                        Array_Variables: Array_Variables,
                        description_A: description_A,
                        formula_A: formula_A,
                        upper_limit_A: upper_limit_A,
                        botton_limit_A: botton_limit_A,
                        Sample_Size:Sample_Size,
                        Clave_variable_A:Clave_variable_A,
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'La Variable se editó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });


            }
        }

        //////////////////////////////////////////////////
        function SubmitAutomaticQuestion() {
            $('span[id^="genericError"]').remove();
            var result = true;
            var Cant_v = $("#Cant_Variables").val();
            var var_array = ["x", "y", "z", "a", "b", "c", "d", "e", "h", "i"];
            var formula = $("#formula_A").val();
            if ($("#Cant_Variables").val() == "0") {
                $('#List_Variables_Added').append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Debe selecciconar por lo menos una variable</span>');
                result = false;
            }
            var remplazados = 0;
            //Corrijo cosas como 3x por 3*x
            for (var j = 0; j < Cant_v; j++) {
                formula = FixFormula_Current(formula, var_array[j]);
                for (var k = 0; k < formula.length; k++) {
                    if (formula[k] == var_array[j]) {
                        //////////////Remplazo los valores por 1
                        formula = [formula.slice(0, k), "1", formula.slice(k + 1)].join('');
                        remplazados++;
                    }
                }
            }

            if (remplazados == 0) {
                result = false;
                $('#formula_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Expreción no válida</span>');
            }
            else {
                try {

                    var evaluacion = eval(formula);
                }
                catch (e) {
                    result = false;
                    $('#formula_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Expreción no válida</span>');
                }
            }

            if ($('#Name_variable_A').val() == "") {
                $('#Name_variable_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                result = false;
            }

            if ($('#formula_A').val() == "") {
                $('#formula_A').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                result = false;
            }

            if (result == true) {

                //alert("Sube" + $("#Array_Variables_id").val());
                //$("#Array_Variables_id").val(Array_ids);
                //$("#Array_Variables").val(Array_Vars);

                var id_Sheet = $("#id_hoja").val();
                var Name_variable_A = $("#Name_variable_A").val();
                var  Array_Variables_id= $("#Array_Variables_id").val();
                var  Array_Variables= $("#Array_Variables").val();
                //var  description_A= $("#description_A").val();
                var  formula_A= $("#formula_A").val();
                var  upper_limit_A= $("#upper_limit_A").val();
                var botton_limit_A = $("#botton_limit_A").val();
                var description_A = $("#description_A").val();
                var Sample_Size = $("#A_Sample_Size").val();
                var Clave_variable_A = $("#Clave_variable_A").val();


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveVariableAutomatic", "Trf_Variables")',
                    data: {
                        id_Sheet: id_Sheet,
                        Name_variable_A: Name_variable_A,
                        Array_Variables_id: Array_Variables_id,
                        Array_Variables: Array_Variables,
                        description_A: description_A,
                        formula_A: formula_A,
                        upper_limit_A: upper_limit_A,
                        botton_limit_A: botton_limit_A,
                        botton_limit_N_Nominal: $("#botton_limit_N_Nominal").val(),
                        upper_limit_N_Nominal: $("#upper_limit_N_Nominal").val(),
                        botton_limit_N_Validation: $("#botton_limit_N_Validation").val(),
                        upper_limit_N_Validation: $("#upper_limit_N_Validation").val(),
                        Sample_Size:Sample_Size,
                        Clave_variable_A:Clave_variable_A,
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'La Variable se creó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });


            }
        }
        //////////////////////////////////////////////////
        function SubmitAutomaticQuestionMultiple() {
            $('span[id^="genericError"]').remove();
            var result = true;
            var Cant_v = $("#Cant_Variables_Multiple").val();
            var var_array = ["x", "y", "z", "a", "b", "c", "d", "e", "h", "i"];
            var formula = $("#formula_A_Mul").val();
            if ($("#Cant_Variables_Multiple").val() == "0") {
                $('#List_Variables_Multiple_Added').append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Debe selecciconar por lo menos una variable</span>');
                result = false;
            }
            var remplazados = 0;
            //Corrijo cosas como 3x por 3*x
            for (var j = 0; j < Cant_v; j++) {
                formula = FixFormula_Current(formula, var_array[j]);
                for (var k = 0; k < formula.length; k++) {
                    if (formula[k] == var_array[j]) {
                        //////////////Remplazo los valores por 1
                        formula = [formula.slice(0, k), "1", formula.slice(k + 1)].join('');
                        remplazados++;
                    }
                }
            }

            if (remplazados == 0) {
                result = false;
                $('#formula_A_Mul').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Expreción no válida</span>');
            }
            else {
                try {
                    var evaluacion = eval(formula);
                }
                catch (e) {
                    result = false;
                    $('#formula_A_Mul').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Expreción no válida</span>');
                }
            }

            if ($('#NameVar_A_Mul').val() == "") {
                $('#NameVar_A_Mul').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                result = false;
            }

            if ($('#formula_A_Mul').val() == "") {
                $('#formula_A_Mul').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                result = false;
            }


            if (result == true) {


                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveVariableAutomaticMultiple", "Trf_Variables")',
                    data: {
                        id_Sheet: $("#id_hoja").val(),
                        NameVar_A_Mul: $("#NameVar_A_Mul").val(),
                        Array_Variables_Multiple: $("#Array_Variables_Multiple").val(),
                        Array_Variables_Multiple_LI: $("#Array_Variables_Multiple_LI").val(),
                        Array_Variables_Multiple_LS: $("#Array_Variables_Multiple_LS").val(),
                        Array_Variables_Letters_Multiple: $("#Array_Variables_Letters_Multiple").val(),
                        formula_A_Mul: $("#formula_A_Mul").val(),
                        upper_limit_A_Mul: $("#upper_limit_A_Mul").val(),
                        botton_limit_A_Mul: $("#botton_limit_A_Mul").val(),
                        description_A_Mul: $("#description_A_Mul").val(),
                        A_Sample_Size_Mul:$("#A_Sample_Size_Mul").val(),
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'La Variable se creó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });


            }
        }
        ////////////////////////////////////////////////
        function Remove_Question(id_question) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Question", "Trf_Variables")',
                data: {
                    id_Variable: id_question,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        

        ///////////////////////////////////////////////
        function SubmitSelectionQuestion() {
            var elements = document.getElementsByClassName("box-body-ops");
            var Opcion_Values_Array = "";

            for (var i = 0; i < elements.length; i++) {
                if (i > 0) {
                    Comp_Hidden = elements[i].getElementsByClassName("Opcion_Variable");
                    Opcion_Values_Array += "*" + Comp_Hidden[0].value;
                }
                else {
                    Comp_Hidden = elements[i].getElementsByClassName("Opcion_Variable");
                    Opcion_Values_Array += Comp_Hidden[0].value;
                }
            }

            var id_sheet = @Model.Int_Id;
            var variable_value = $("#Name_variable_S").val();
            var Opcion_Values_Array = Opcion_Values_Array;
            var description = $("#Clave_variable_S").val();





            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveVariableSelection", "Trf_Variables")',
                data: {
                    id_sheet: id_sheet,
                    variable_value: variable_value,
                    Opcion_Values_Array: Opcion_Values_Array,
                    description: description,

                },
                success: function (data) {
                    var Resultdata = data.split('-');
                    if (Resultdata[0] == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se creó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("EditStructure", "Trf_Sheet")';
                                window.location = UrlEdit;
                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }
        ///////////////////////////////////////////////////

        $(document).ready(function () {

           

            $('body').on('click', '#variable-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la pregunta de la hoja?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_Question(Id_Question);
                    }
                })
            })

            $('body').on('click', '#variable-edit', function () {

                var Contenido = "@Url.Action("Edit", "Trf_Variables")" + "/" + $(this).data("id");
                swal({
                    title: 'Editar Variable',
                    width: 600,

                    showConfirmButton: false,
                    html: '<div id="modal-body"><div class="modal-content" id="LoaderComponent"><div class="modal-body centered-loader"><div class="row"><div class="col-md-6 bg "><div class="loader" id="loader-2"><span></span><span></span><span></span></div></div></div></div><div class="modal-footer centered-loader"><p style="color: #3498db;font-size: 16px;">  Procesando </p></div></div></div>'
                });
                //$("#modal-body").empty();
                $("#modal-body").load(Contenido);

                /// boton cerrar modal
                $('body').on('click', '#btn-cancel', function () {
                    Swal.close();
                });

            })


            $('body').on('click', '#Save-Button', function () {
                var Id_Hoja =  @Model.Int_Id;

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditSheetName", "Trf_Sheet")',
                    data: {
                        Id_Hoja: Id_Hoja,
                        Chart_Name: $("#Chart_Name").val(),
                    },
                    success: function (data) {
                        if (data == "True") {
                            swal({
                                type: 'success',
                                title: 'Correcto',
                                text: 'La hoja se editó satisfactoriamente',
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            $('body').on('click', '#variable-edit-submit', function () {
                var Selected = $("#Question_Type").val();
                if (Selected == 0) { SubmitTextQuestionEdit(); }
                if (Selected == 1) { SubmitNumericQuestionEdit(); }
                if (Selected == 2) { SubmitBinaryQuestionEdit(); }
                if (Selected == 3) { SubmitSelectionQuestionEdit(); }
                if (Selected == 4) { SubmitAutomaticQuestionEdit(); }
            })

            $('body').on('click', '#variable-submit', function () {
                var Selected = $("#Type_Selector").val();

                if (Selected == 0) { SubmitTextQuestion(); }
                if (Selected == 1) { SubmitNumericQuestion(); }
                if (Selected == 2) { SubmitBinaryQuestion(); }
                if (Selected == 3) { SubmitSelectionQuestion(); }
                if (Selected == 4) { SubmitAutomaticQuestion(); }
                if (Selected == 5) { SubmitAutomaticQuestionMultiple(); }
            })

            $('body').on('click', '#action-ver', function () {
                var Contenido = "@Url.Action("Details", "Trf_Variables")" + "/" + $(this).data("id");
                swal({
                    width: 600,
                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row" ><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

                /// boton cerrar modal
                $('body').on('click', '#btn-cancel', function () {
                    Swal.close();
                });
            })

            $('body').on('click', '#Add_Variable', function () {
                //$("#Array_Variables_id").val("aaaa");
                var var_array = ["x", "y", "z", "a", "b", "c", "d", "e", "h", "i"];
                var id_selected_variable = $("#Variable_Selector").val();
                $('span[id^="genericError"]').remove();
                if (id_selected_variable != "-1") {
                    var Cant = Number($("#Cant_Variables").val());
                    Cant = Cant + 1;
                    $("#Cant_Variables").val(Cant);
                    var Nombre_Variable = $("#Variable_Selector option:selected").text();
                    $("#Variable_Selector option[value='" + id_selected_variable + "']").hide();
                    $("#Variable_Selector").val('-1');
                    var Array_ids = $("#Array_Variables_id").val();
                    var Array_Vars = $("#Array_Variables").val();
                    if ($("#Array_Variables_id").val() == "") {
                        Array_ids += id_selected_variable;
                        Array_Vars += var_array[Cant - 1];
                        $("#Array_Variables_id").val(Array_ids);
                        $("#Array_Variables").val(Array_Vars);
                    }
                    else {
                        Array_ids += "-" + id_selected_variable;
                        Array_Vars += "-" + var_array[Cant - 1];
                        $("#Array_Variables_id").val(Array_ids);
                        $("#Array_Variables").val(Array_Vars);
                    }
                    /// estilo de los div igual a los de la vista
                    $("#List_Variables_Added").append('<div class="row"><div class="col-md-5"><input type="hidden" class="Opcion_Variable" id="ID_Variable" value="' + id_selected_variable + '" />' + Nombre_Variable + '</div><div class="col-md-6">' + var_array[Cant - 1] + '</div><div class="col-md-1"><a id="variable-data-remove" data-nom="'+ Nombre_Variable +'" data-var="'+ var_array[Cant - 1] +'" data-id="'+ id_selected_variable +'" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a></div></div>');
                }
                else {
                    $("#Variable_Selector").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe seleccionar un valor</span>');
                }
            })

            $('body').on('click', '#variable-data-remove', function () {
                var nom_Var_To_Remove = $(this).data("nom");
                var Id_Var_To_Remove = $(this).data("id");
                var id_Var_Values = $("#Array_Variables_id").val();
                id_Var_Values = id_Var_Values.replace(Id_Var_To_Remove, "");
                id_Var_Values = id_Var_Values.replace("--", "-");
                var lastChar = id_Var_Values[id_Var_Values.length -1];
                if(lastChar == "-")
                {
                    id_Var_Values = id_Var_Values.substring(0, id_Var_Values.length - 1);
                }
                var firstChar = id_Var_Values[0];
                if(firstChar == "-")
                {
                    id_Var_Values = id_Var_Values.substring(1, id_Var_Values.length);
                }
                $("#Array_Variables_id").val(id_Var_Values);


                var Var_Var_To_Remove = $(this).data("var");
                var Var_Var_Values = $("#Array_Variables").val();
                Var_Var_Values = Var_Var_Values.replace(Var_Var_To_Remove, "");
                Var_Var_Values = Var_Var_Values.replace("--", "-");
                lastChar = Var_Var_Values[Var_Var_Values.length -1];
                if(lastChar == "-")
                {
                    Var_Var_Values = Var_Var_Values.substring(0, Var_Var_Values.length - 1);
                }
                firstChar = Var_Var_Values[0];
                if(firstChar == "-")
                {
                    Var_Var_Values = Var_Var_Values.substring(1, Var_Var_Values.length);
                }
                $("#Array_Variables").val(Var_Var_Values);

                // $("#Variable_Selector").append(' <option value="' + Id_Var_To_Remove + '">' + nom_Var_To_Remove + '</option>');

                $('span[id^="genericError"]').remove();
                var Cant = Number($("#Cant_Variables").val());
                Cant = Cant - 1;
                $("#Cant_Variables").val(Cant);
                var ID_Variable = $(this).parent().parent().find('#ID_Variable').val();
                $("#Variable_Selector option[value='" + ID_Variable + "']").show();
                $(this).parent().parent().remove();
            })

            $('body').on('click', '#Add_Opcion', function () {

                var value = $("#New_value").val();
                $('span[id^="genericError"]').remove();
                if (value != "") {
                    /// 3 opcion del select por filas
                    $("#List_Opcion_Added").append('<div class="col-md-3 box-body-ops" style="padding:0px !important; margin:5px !important; background-color:white !important"><div class="box box-default"><div class="box-tools pull-right"><button type="button" class="btn btn-danger" id="remove_option" data-widget="remove" style="padding: 0 !important;"><i class="fa fa-times" style="margin-left: 3px;margin-right: 3px;"></i></button></div><div class="box-body" style="padding: 0; border-style: none;"><input type="hidden" class="Opcion_Variable" id="Hiden_Opcion" value="' + value + '" />' + value + '</div></div></div>');
                }
                else {
                    $("#New_value").parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true">Debe introducir un valor</span>');
                }
                $("#New_value").val("");
            })

            //$('body').on('click', '#remove_option', function () {
            //    $(this).parent().parent().parent().remove();
            //})

            $('body').on('click', '#Add-Question', function () {
                var Contenido = "@Url.Action("Create", "Trf_Variables")" + "/" + $(this).data("id");

                swal({
                    title: 'Nueva Variable',
                    width: 600,

                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div class="modal-content" id="LoaderComponent"><div class="modal-body centered-loader"><div class="row"><div class="col-md-6 bg "><div class="loader" id="loader-2"><span></span><span></span><span></span></div></div></div></div><div class="modal-footer centered-loader"><p style="color: #3498db;font-size: 16px;">  Procesando </p></div></div></div>'
                });
                $("#modal-body").load(Contenido);

                /// boton cerrar modal
                $('body').on('click', '#btn-cancel_actividad', function () {
                    Swal.close();
                });
            })

            $('body').on('click', '#Add-Question-Created', function () {
                var Contenido = "@Url.Action("AddVariable", "Trf_Variables")" + "/" + $(this).data("id");

                swal({
                    title: 'Agregar Variable',
                    width: 600,

                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row" ><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

                /// boton cerrar modal
                $('body').on('click', '#btn-cancel_actividad', function () {
                    Swal.close();
                });
            })

            $('body').on('click', '#Add_Variable_Multiple', function () {
                var var_array = ["x", "y", "z", "a", "b", "c", "d", "e", "h", "i"];
                var Array_Name_Variable = $("#Array_Variables_Multiple").val();
                var Cant_Variables =Number($("#Cant_Variables_Multiple").val());
                var Name_variable_A_M = $("#Name_variable_A_M").val();//Nombre de la variable
                if (Array_Name_Variable == "") { Array_Name_Variable += Name_variable_A_M; }
                else { Array_Name_Variable += "-" + Name_variable_A_M; }
                $("#Array_Variables_Multiple").val(Array_Name_Variable);

                var Array_Letters_Variable =  $("#Array_Variables_Letters_Multiple").val();//Current Letra
                if (Array_Letters_Variable == "") { Array_Letters_Variable += var_array[Cant_Variables]; }
                else { Array_Letters_Variable += "-" + var_array[Cant_Variables]; }
                $("#Array_Variables_Letters_Multiple").val(Array_Letters_Variable);

                var Array_Variables_Multiple_LI = $("#Array_Variables_Multiple_LI").val();
                var LI_variable_A_M = $("#LI_variable_A_M").val();//Limite Superior
                if (Array_Variables_Multiple_LI == "") { Array_Variables_Multiple_LI += LI_variable_A_M; }
                else { Array_Variables_Multiple_LI += "-" + LI_variable_A_M; }
                $("#Array_Variables_Multiple_LI").val(Array_Variables_Multiple_LI);

                var Array_Variables_Multiple_LS = $("#Array_Variables_Multiple_LS").val();
                var LS_variable_A_M = $("#LS_variable_A_M").val();//Limite Superior
                if (Array_Variables_Multiple_LS == "") { Array_Variables_Multiple_LS += LS_variable_A_M; }
                else { Array_Variables_Multiple_LS += "-" + LS_variable_A_M; }
                $("#Array_Variables_Multiple_LS").val(Array_Variables_Multiple_LS);


                $("#List_Variables_Multiple_Added").append('<div class="row"><div class="col-md-5">' + Name_variable_A_M + '</div><div class="col-md-6">' + var_array[Cant_Variables] + '</div></div>');
                Cant_Variables = Cant_Variables + 1;
                $("#Cant_Variables_Multiple").val(Cant_Variables);
            })
        });


    </script>
}
