﻿@model IEnumerable<TransferSPC.Models.Tbl_UserResult_Turn>


@{
    ViewBag.Title = "EditCapture";
}

<section class="content-header">
    <h3>Lista de Capturas </h3>
    <input type="hidden" id="Relation_Id" value="@ViewBag.Relation_Id" />
    <div class="row">
        <div class="col-sm-3">
            <h5>Dia : @ViewBag.Fecha </h5>
        </div>
        <div class="col-sm-3">
            <h5>Hora : @ViewBag.Hora </h5>
        </div>
        <div class="col-sm-6">
            <button type="button" id="RemoveCapture" data-id="@ViewBag.id" class="btn btn-danger " style="float:right;margin-left:5px">
                    Eliminar Captura
                </button>
        </div>
    </div>
    <hr />
    <div class="dvContent container">
        @foreach (TransferSPC.Models.Tbl_UserResult_Turn item in Model)
        {
            if (item.Tbl_Variable.Int_QuestionType == 2)
            {
                <div class="col-sm-3" style="padding:5px">
                    <div class="box" style="padding:0px !important; margin-bottom:2px">
                        <div class="box-header with-border" style="padding:5px !important">
                            <div class="col-sm-9">
                                <h3 class="box-title">@item.Tbl_Variable.Chart_Name</h3>
                            </div>
                            <div class="col-sm-3">
                                <a href="#" id="Btn-Edit-Captura" class='btn btn-default btn-sm' data-type="@item.Tbl_Variable.Int_QuestionType" data-id="@item.Int_Id" style="float:right"><i class='fa fa-pencil'></i></a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    @{    int Current_Result = int.Parse(item.Chart_Value);
                                    }
                                    <input class="capturador1" value="@item.Tbl_Variable.Tbl_Result.Where(m=>m.Int_Id == Current_Result).First().Chart_Text" data-id="@item.Int_Id" data-content="1" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          }
                                        else
                                        {
                                            <div class="col-sm-3" style="padding:5px">
                                                <div class="box" style="padding:0px !important; margin-bottom:2px">
                                                    <div class="box-header with-border" style="padding:5px !important">
                                                        <div class="col-sm-9">
                                                            <h3 class="box-title">@item.Tbl_Variable.Chart_Name</h3>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <a href="#" id="Btn-Edit-Captura" class='btn btn-default btn-sm' data-type="@item.Tbl_Variable.Int_QuestionType" data-id="@item.Int_Id" style="float:right"><i class='fa fa-pencil'></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="box-body">
                                                        <div class="row">
                                                            <div class="col-sm-3">
                                                                <input class="capturador1" value="@item.Chart_Value" data-id="@item.Int_Id" data-content="1" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>}
                                        }

    </div>

    <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Editar Captura</h5>
                </div>
                <div class="modal-body">
                    <input type="text" id="Id-Captura" data-content="1" style="display:none">
                    <input id="Edit-Captura" data-content="1">
                    <select id="Select-Edit-Captura"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" id="Save_Capture" class="btn btn-primary">Salvar</button>
                    <button type="button" id="Save_Select_Capture" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>

</section>


















@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>

    <script>

        function EditTextType(Id_Captura) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_Capture", "Trf_Sheet")',
                data: {
                    Id_Captura: Id_Captura,
                },
                success: function (data) {
                    $('#ModalEdit').modal('show');
                    $('#Id-Captura').val(Id_Captura);
                    $('#Edit-Captura').show();
                    $('#Edit-Captura').val(data);
                    $('#Save_Capture').show();
                    $('#Select-Edit-Captura').hide();
                    $('#Save_Select_Capture').hide();
                }
            });
        }

        function EditSelectType(Id_Captura) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Get_Select_Capture", "Trf_Sheet")',
                data: {
                    Id_Captura: Id_Captura,
                },
                success: function (data) {
                    if (data != "") {
                        $('#ModalEdit').modal('show');
                        $('#Id-Captura').val(Id_Captura);

                        $('#Edit-Captura').hide();
                        $('#Save_Capture').hide();

                        $('#Select-Edit-Captura').show();
                        $('#Save_Select_Capture').show();

                        var Result_Array = data.split('||');

                        for (var i = 0; i < Result_Array.length; i++) {
                            var Current_Result = Result_Array[i].split('**');
                            $("#Select-Edit-Captura").append('<option value=' + Current_Result[0] + '>' + Current_Result[1] + '</option>');
                        }



                    }
                }
            });
        }

        function Remove_Captures(MomentId) {
            var Relation_Id = $("#Relation_Id").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Captures", "Trf_Sheet")',
                data: {
                    MomentId: MomentId,
                },
                success: function (data) {
                    var ObjectResult = JSON.parse(data);
                    if (ObjectResult == true) {
                        Swal.fire({
                            title: 'Correcto',
                            text: "La captura se eliminó satisfactoriamente.",
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonColor: '#00a65a',
                            allowOutsideClick: false,
                            confirmButtonText: 'OK',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("AnswerGridSheet", "Trf_Sheet")' + "/" + Relation_Id;
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }


        $(document).ready(function () {
            
            $('body').on('click', '#RemoveCapture', function () {
               var MomentId = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "Está a punto de eliminar una captura y esta operación no podrá ser revertida ¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_Captures(MomentId);
                    }
                })

            })

            $('body').on('click', '#Btn-Edit-Captura', function () {
                var Id_Captura = $(this).data("id");
                var Type_Captura = $(this).data("type");

                if (Type_Captura != "2") {
                    EditTextType(Id_Captura);
                }
                else {
                    EditSelectType(Id_Captura);
                }


            })

            $('body').on('click', '#Save_Select_Capture', function () {
                var Id_Captura = $('#Id-Captura').val();
                var Value_Captura = $('#Select-Edit-Captura').val();
                Swal.fire({
                    title: 'Aviso',
                    text: "Está a punto de modificar una captura¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Set_Capture", "Trf_Sheet")',
                            data: {
                                Id_Captura: Id_Captura,
                                Value_Captura: Value_Captura,
                            },
                            success: function (data) {
                                if (data == "True") {

                                    Swal.fire({
                                        text: "La captura fue modificada",
                                        type: 'success',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Continuar'
                                    }).then((result) => {
                                        if (result.value) {
                                            location.reload();
                                        }
                                    })

                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });

                    }
                })
            })



            $('body').on('click', '#Save_Capture', function () {
                var Id_Captura = $('#Id-Captura').val();
                var Value_Captura = $('#Edit-Captura').val();
                Swal.fire({
                    title: 'Aviso',
                    text: "Está a punto de modificar una captura¿Desea continuar?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("Set_Capture", "Trf_Sheet")',
                            data: {
                                Id_Captura: Id_Captura,
                                Value_Captura: Value_Captura,
                            },
                            success: function (data) {
                                if (data == "True") {

                                    Swal.fire({
                                        text: "La captura fue modificada",
                                        type: 'success',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        confirmButtonText: 'Continuar'
                                    }).then((result) => {
                                        if (result.value) {
                                            location.reload();
                                        }
                                    })

                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });

                    }
                })
            })

        });





    </script>
}