﻿@model IEnumerable<TransferSPC.Models.Tbl_Variable>
@{
    ViewBag.Title = "Capture_Board";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Variables de la hoja : "@ViewBag.Nombre_Hoja"</h2>
</section>
<input type="hidden" id="Id_Relacion" value="@ViewBag.Relacion" />




<div class="row" style="padding-left:25px">
    <div class="row">
        <div class="col-sm-2" style="padding-left:15px;padding-right:15px">

        </div>
        <div class="col-sm-3">
            <!-- Date input -->
            <label class="control-label" for="date">Desde</label>
        </div>
        <div class="col-sm-3">
            <!-- Date input -->
            <label class="control-label" for="date">Hasta</label>
        </div>

        <div class="col-md-4">
            <label class="control-label" for="date">Incluir Gráficas</label>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2" style="padding-left:10px;padding-right:15px">
            <div class="row">
                <label class="control-label" for="date">Seleccionar Variables</label>
            </div>
            <button type="button" id="Btn_Todas" class="btn btn-primary btn-sm" style="margin-top:5px;width:65px">
                Todos
            </button>
            <button type="button" id="Btn_Ninguna" class="btn btn-primary btn-sm" style="margin-top:5px;width:65px">
                Ninguno
            </button>
        </div>
        <div class="col-sm-3">
            <div class="col-md-6">
                <!-- Date input -->
                <label class="control-label" for="date">Fecha</label>
                <input class="form-control" id="date-to" name="date" placeholder="MM/DD/YYY" type="text" />
            </div>

            <div class="col-md-6">
                <!-- Date input -->
                <label class="control-label" for="date">Hora</label>
                <div class="input-group clockpicker">
                    <input type="text" id="time-to" class="form-control" value="00:00">
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="col-md-6">
                <!-- Date input -->
                <label class="control-label" for="date">Fecha</label>
                <input class="form-control" id="date-from" name="date" placeholder="MM/DD/YYY" type="text" />
            </div>

            <div class="col-md-6">
                <!-- Date input -->
                <label class="control-label" for="date">Hora</label>
                <div class="input-group clockpicker">
                    <input type="text" id="time-from" class="form-control" value="00:00">
                </div>
            </div>
        </div>


        <div class="col-md-1" style="padding-left:15px;padding-right:15px">
            <label class="control-label" for="date">Lineal</label>
            <select id="Graph_Linear" class="form-control input-sm">
                <option value="0">Si</option>
                <option value="1">No</option>
            </select>
        </div>

        <div class="col-md-1" style="padding-left:15px;padding-right:15px">
            <label class="control-label" for="date">Barras</label>
            <select id="Graph_Bar" class="form-control input-sm">
                <option value="0">Si</option>
                <option value="1">No</option>
            </select>
        </div>

        <div class="col-md-1" style="padding-left:15px;padding-right:15px">
            <label class="control-label" for="date">Decimales</label>
            <select id="Round" class="form-control input-sm">
                <option value="0">1</option>
                <option value="1">2</option>
                <option value="2">3</option>
                <option value="3">4</option>
                <option value="4">5</option>
                <option value="5">6</option>
                <option value="6">7</option>
                <option value="7">8</option>
            </select>
        </div>
    </div>

</div>

<div class="modal fade" id="TimerModalFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">


            </div>
            <div class="modal-body centered-loader">

                <div class="row">
                    <div class="col-md-6 bg ">
                        <div class="loader" id="loader-2">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer centered-loader">
                <p style="color: #3498db;font-size: 16px;">  Generando Reporte </p>
            </div>
        </div>
    </div>
</div>
<!-- Main content -->
<section class="content">

    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="maquina" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Seleccionar")
                                </th>
                                <th>
                                    @Html.DisplayName("Variable")
                                </th>
                                <th>
                                    @Html.DisplayName("Tipo")
                                </th>
                                <th>
                                    @Html.DisplayName("Buscar")
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>


                                        <input id="@item.Int_Id" class="Selector_Variable" data-id="@item.Int_Id" type="checkbox" checked data-toggle="toggle" data-on="Incluir" data-off="No Incluir" data-onstyle="success" data-offstyle="danger">

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Chart_Name)
                                    </td>


                                    @{ if (item.Int_QuestionType == 0)
                                        {
                                            <td>
                                                @Html.DisplayName("Texto")
                                            </td>

                                            <td>
                                                @{ string Id_Operador = "Operador" + @item.Int_Id;
                                                    string Id_Valor = "Valor" + @item.Int_Id;
                                                }
                                                <select id="@Id_Operador" class="Operador" data-id="@item.Int_Id">
                                                    <option value="0">=</option>
                                                    <option value="1"><></option>
                                                </select>

                                                <input id="@Id_Valor" class="Valor" data-id="@item.Int_Id" />
                                            </td>}

                                                    if (item.Int_QuestionType == 1)
                                                    {

                                                        <td>
                                                            @Html.DisplayName("Numérica")
                                                        </td>

                                                        <td>
                                                            @{ string Id_Operador = "Operador" + @item.Int_Id;
                                                                string Id_Valor = "Valor" + @item.Int_Id;
                                                            }
                                                            <select id="@Id_Operador" class="Operador" data-id="@item.Int_Id">
                                                                <option value="0">=</option>
                                                                <option value="1"><></option>
                                                                <option value="2">>=</option>
                                                                <option value="3"><=</option>
                                                            </select>
                                                            <input id="@Id_Valor" class="Valor" data-id="@item.Int_Id" />
                                                        </td> }
                                                                if (item.Int_QuestionType == 2 || item.Int_QuestionType == 3)
                                                                {
                                                                    string Id_Operador = "Operador" + @item.Int_Id;
                                                                    string Id_Valor = "Valor" + @item.Int_Id;

                                                                    <td>
                                                                        @Html.DisplayName("Selección")
                                                                    </td>
                                                                    <td>
                                                                        <select id="@Id_Operador" class="Operador" data-id="@item.Int_Id">
                                                                            <option value="0">=</option>
                                                                            <option value="1"><></option>
                                                                        </select>
                                                                        <select id="@Id_Valor" class="Selector_Valor" data-id="@item.Int_Id">
                                                                            @foreach (var item2 in item.Tbl_Result)
                                                                            {
                                                                                <option value="@item2.Int_Id">@item2.Chart_Text</option>
}
                                                                        </select>
                                                                    </td> }

                                                                if (item.Int_QuestionType == 4)
                                                                {

                                                                    <td>
                                                                        @Html.DisplayName("Automática")
                                                                    </td>

                                                                    <td>
                                                                        @{ string Id_Operador = "Operador" + @item.Int_Id;
                                                                            string Id_Valor = "Valor" + @item.Int_Id;
                                                                        }
                                                                        <select id="@Id_Operador" class="Operador" data-id="@item.Int_Id">
                                                                            <option value="0">=</option>
                                                                            <option value="1"><></option>
                                                                            <option value="2">>=</option>
                                                                            <option value="3"><=</option>
                                                                        </select>
                                                                        <input id="@Id_Valor" class="Valor" data-id="@item.Int_Id" />
                                                                    </td>  }
                                    }
                                </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="row">
                <div class="pull-right">
                    <a href="@Url.Action("ReportView","manage")" class='btn btn-default btn-sm' id="Role_Remove">Cancelar</a>
                    <input type="button" value="Exportar" id="Datas-submit" class="btn btn-success btn-sm button-solution" style="margin-top: 0px;" />

                </div>

            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/bootstrap-datepicker3.css" />
<link rel="stylesheet" href="~/Content/bootstrap-clockpicker.min.css" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/clockpicker.js"></script>
    <script>
        ////Autoejecutables espacio
        $('#TimerModal').modal({ backdrop: 'static', keyboard: false })
        $('#TimerModal').modal('show');
        /////



        //Menu activo

        $('.clockpicker').clockpicker({
            placement: 'bottom',
            align: 'left',
            donetext: 'Seleccionar'
        });

        function PreUploadFuntion(Fecha_desde, Fecha_hasta, Id_Relacion, Array_Selecctores, Graph_Linear, Graph_Bar, Resultado_Operadores, Resultado_Valores, Round) {
            var StringResultado_Operadores = "";
            for (var i = 0; i < Resultado_Operadores.length; i++) {
                if (i == 0) {
                    StringResultado_Operadores += Resultado_Operadores[i];
                }
                else {
                    StringResultado_Operadores += "," + Resultado_Operadores[i];
                }
            }

            var StringResultado_Valores = "";
            for (var i = 0; i < Resultado_Valores.length; i++) {
                if (i == 0) {
                    StringResultado_Valores += Resultado_Valores[i];
                }
                else {
                    StringResultado_Valores += "," + Resultado_Valores[i];
                }
            }

            if (Fecha_desde == "")
            {
                Fecha_desde = "-1";
            }

            if (Fecha_hasta == "") {
                Fecha_hasta = "-1";
            }


            return $.ajax({
                type: 'POST',
                url: '@Url.Action("Export_Filter", "Manage")',
                data: {
                    fecha_to: Fecha_desde,
                    fecha_from: Fecha_hasta,
                    Id_Relacion: Id_Relacion,
                    Array_Selecctores: Array_Selecctores,
                    Graph_Linear: Graph_Linear,
                    Graph_Bar: Graph_Bar,
                    Resultado_Operadores: StringResultado_Operadores,
                    Resultado_Valores: StringResultado_Valores,
                    Round: Round,
                },
                success: function (data) {

                }
            });
        }



        $(document).ready(function () {
            var date_input = $('input[name="date"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            date_input.datepicker({
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            })
           
            $('body').on('click', '#Btn_Todas', function () {

                var Selectores = document.getElementsByClassName("Selector_Variable");

                for (var i = 0; i < Selectores.length; i++) {

                    $(Selectores[i]).bootstrapToggle('on');

                }

            })

            $('body').on('click', '#Btn_Ninguna', function () {

                var Selectores = document.getElementsByClassName("Selector_Variable");

                for (var i = 0; i < Selectores.length; i++) {

                    $(Selectores[i]).bootstrapToggle('off');

                }

            })

            $('body').on('click', '#Datas-submit', function () {
                $('#TimerModalFile').modal({ backdrop: 'static', keyboard: false })
                $('#TimerModalFile').modal('show');
                var Fecha_desde = $("#date-to").val();
                var Hora_desde = $("#time-to").val();
                var Fecha_hasta = $("#date-from").val();
                var Hora_hasta = $("#time-from").val();
                var Id_Relacion = $("#Id_Relacion").val();

                var Graph_Linear = $("#Graph_Linear").val();
                var Graph_Bar = $("#Graph_Bar").val();
                var Round = $("#Round").val();



                if (Fecha_desde != "") {
                    Fecha_desde = Fecha_desde + " " + Hora_desde;
                }

                if (Fecha_hasta != "") {
                    Fecha_hasta = Fecha_hasta + " " + Hora_hasta;
                }

                var Array_Selecctores = [];
                var Resultado_Operadores = [];
                var Resultado_Valores = [];

                var Selectores = document.getElementsByClassName("Selector_Variable");

                for (var i = 0; i < Selectores.length; i++) {
                    var Current_Element = Selectores[i];
                    if (Current_Element.checked == true) {
                        Array_Selecctores.push(Current_Element.id);
                        if (Resultado_Operadores == "") {
                            var dato = document.getElementById("Operador" + Current_Element.id);
                            if (dato != null) {
                                Resultado_Operadores.push(dato.value);
                            }
                        }
                        else {
                            var dato = document.getElementById("Operador" + Current_Element.id);
                            if (dato != null) {
                                Resultado_Operadores.push(dato.value);
                            }
                        }

                        if (Resultado_Valores == "") {
                            var dato = document.getElementById("Valor" + Current_Element.id);
                            if (dato != null) {
                                if (dato.value == "") {
                                    Resultado_Valores.push("");
                                }
                                else {
                                    Resultado_Valores.push(dato.value);
                                }
                            }
                        }
                        else {
                            var dato = document.getElementById("Valor" + Current_Element.id);
                            if (dato != null) {
                                if (dato.value == "") {
                                    Resultado_Valores.push("");
                                }
                                else {
                                    Resultado_Valores.push(dato.value);
                                }
                            }
                        }
                    }
                }

                var promised = PreUploadFuntion(Fecha_desde, Fecha_hasta, Id_Relacion, Array_Selecctores, Graph_Linear, Graph_Bar, Resultado_Operadores, Resultado_Valores, Round);

                if (promised == false) {
                    $('#TimerModalFile').modal('hide');
                }
                else {
                    promised.done(function (data) {                      
                        if (data != "False") {
                            window.location.href = "@Url.RouteUrl(new{ Controller = "Manage", Action = "Download"})";
                            $('#TimerModalFile').modal('hide');
                        }
                        else {
                            $('#TimerModalFile').modal('hide');
                           
                            Swal.fire({
                                type: 'info',
                                title: 'Información',
                                text: 'El reporte que está tratando de generar no contiene datos.',
                            });
                        }
                    });
                }


                @*location.href = '@Url.Action("Export_Filter", "Manage")?fecha_to=' + Fecha_desde + '&fecha_from=' + Fecha_hasta + '&Id_Relacion=' + Id_Relacion + '&Array_Selecctores=' + Array_Selecctores + '&Graph_Linear=' + Graph_Linear + '&Graph_Bar=' + Graph_Bar + '&Resultado_Operadores=' + Resultado_Operadores + '&Resultado_Valores=' + Resultado_Valores + '&Round=' + Round;*@

            })
        });
    </script>
}


