﻿@model IEnumerable<TransferSPC.Managers.OptionSelect>
@{
    Layout = null;
}



<table id="maquina" class="table table-bordered table-hover">
    <thead>
        <tr>

            <th>
                @Html.DisplayName("Producto")
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="Board_Products">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OptiomValue)
                </td>
                <th></th>
                <td>
                    @{    string id_Btn = "Btn_" + @item.Id_Option;
                    }
                    <a href="#" class='btn btn-default btn-sm Btn_Product' data-id="@item.Id_Option"><i class='fa fa-briefcase'></i> Asignar Hoja</a>
                </td>
            </tr>    }
    </tbody>
</table>


