﻿

@{
    ViewBag.Title = "Index";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Listado de Hojas</h2>
    <div class="row">
        <a href="@Url.Action("Create","Trf_Sheet")" class="btn btn-success btn-sm button-solution">Crear Hoja</a>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableSheet" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Hoja
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Creada por
                                </th>
                                <th>
                                    Estado
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @{
                            List<TransferSPC.Models.Tbl_Sheet> trf_Sheet = ViewBag.trf_Sheet;

                        }


                        @foreach (var item in trf_Sheet)
                        {
                            <tr>
                                <td>
                                    @item.Chart_Name
                                </td>
                                <td>
                                    @item.DateTime_Date
                                </td>
                                <td>
                                    @item.AspNetUsers.Name
                                </td>

                                @{
                                    if (item.Tbl_AsignedSheets.Count() > 0)
                                    {
                                        <td>
                                            Asignada
                                        </td>
                                        <td style="float:right">
                                            @*<a href="@Url.Action("Details/"+ @item.Id,"Trf_Sheet")" class='btn btn-primary btn-sm' id=@item.Id><i class='fa fa-eye'></i></a>*@
                                            <a href="@Url.Action("Edit/"+ @item.Int_Id,"Trf_Sheet")" class='btn btn-warning btn-sm' ><i class='fa fa-pencil'></i></a>
                                            <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>
                                        </td>
}
                                    else
                                    {
                                        <td>
                                            Sin Asignacion
                                        </td>
                                        <td style="float:right">
                                            @*<a href="@Url.Action("Details/"+ @item.Id,"Trf_Sheet")" class='btn btn-primary btn-sm' id=@item.Id><i class='fa fa-eye'></i></a>*@
                                            <a href="@Url.Action("Edit/"+ @item.Int_Id,"Trf_Sheet")" class='btn btn-warning btn-sm' ><i class='fa fa-pencil'></i></a>
                                            <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>
                                        </td>
                                    }

                                }
                                @*@item.Trf_Stage.Stage*@


                            </tr>
                        }

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->


@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#hoja").addClass('active');

        $('#DatatableSheet').DataTable();
        /////////////////////////////////////////

        function Remove_sheet(id_sheet) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Sheet", "Trf_Sheet")',
                data: {
                    id_sheet: id_sheet,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Hoja se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Trf_Sheet")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ////////////////////////////////////////

        $(document).ready(function () {

            //$('body').on('click', '#submit-hoja', function () {
            //    document.getElementById("Form").submit();
            //})

            $('body').on('click', '#sheet-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la hoja?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_sheet(Id_Question);
                    }
                })
            })

        });


    </script>
}