﻿@model IEnumerable<TransferSPC.ViewModel.ElementoProducerSheetViewModel>
@{
    ViewBag.Title = "Capture_Board";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Máquinas asociadas a las Hojas</h2>
</section>

<!-- Main content -->
<section class="content">

    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="maquina" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre Máquina")
                                </th>
                                <th>
                                    @Html.DisplayName("Nombre Hoja")
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>

                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Maquina.Chart_ElementProducer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hoja.Chart_Name)
                                </td>

                                <td>
                                    <a href="#" class='btn btn-primary btn-sm' data-id="@item.Id_Relacion" id="Edit_Limits"><i class='fa fa-edit'></i> Cambiar Límites</a>

                                </td>
                                <td>
                                    <a href="#" class='btn btn-primary btn-sm' data-id="@item.Id_Relacion" id="Edit_Type"><i class='fa fa-tachometer'></i> Bloquear Variables</a>

                                </td>
                                <td>
                                    <a href="#" class='btn btn-primary btn-sm' data-id="@item.Id_Relacion" id="Edit_Order"><i class='fa fa-sort-numeric-asc'></i> Cambiar Orden</a>

                                </td>
                                <td>
                                    <a href="#" class='btn btn-primary btn-sm' data-id="@item.Id_Relacion" id="Adjust_LC"><i class='fa fa-adjust'></i> Ajuste LC</a>

                                </td>
                            </tr>}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#EditarLímites").addClass('active');

        $('#maquina').DataTable();

        function Adjust_LC(id_Relacion) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Adjust_LC", "Trf_Sheet")',
                data: {
                    id_Relacion: id_Relacion,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'Los límites se ajustaron satisfactoriamente.',
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }



        $(document).ready(function () {

            $('body').on('click', '#Edit_Limits', function () {
                var Id_Relacion = $(this).data("id");

                var Ruta = "@Url.Action("EditLimit", "Trf_Sheet")" + "/" + $(this).data("id");
                window.location = Ruta;
            })

              $('body').on('click', '#Edit_Type', function () {
                var Id_Relacion = $(this).data("id");

                var Ruta = "@Url.Action("Edit_Type", "Trf_Sheet")" + "/" + $(this).data("id");
                window.location = Ruta;
            })

            $('body').on('click', '#Edit_Order', function () {
                var Id_Relacion = $(this).data("id");

                var Ruta = "@Url.Action("Edit_Order", "Trf_Sheet")" + "/" + $(this).data("id");
                window.location = Ruta;
            })

            $('body').on('click', '#Adjust_LC', function () {
                var Id_Relacion = $(this).data("id");

                Swal.fire({
                    type: 'warning',
                    title: 'Aviso',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Ajustar',
                    text: 'Está a punto de realizar un ajuste en los límites seleccionados. Esto puede traer comportaminetos no deseados en las proximas capturas.´Está seguro que desea continuar?.',
                }).then((result) => {
                    if (result.value) {
                        Adjust_LC(Id_Relacion);
                    }
                })
            })



        });
</script>
}