﻿@model IEnumerable<TransferSPC.Models.Tbl_ElementProducerProduct>
@*@model IEnumerable<TransferSPC.Models.Tbl_ElementProducer>*@

@{
    ViewBag.Title = "Machine_Board";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Máquinas</h2>
</section>

<!-- Main content -->
<section class="content">
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <label>Estaciones</label>
            <select class="form-control" id="Sheet_Selector" onchange="GetMachinesByStationBoard(this)">
                @foreach (var Estacion in @ViewBag.Lista_Estaciones)
                {
                    <option value="@Estacion.Int_Id">@Estacion.Chart_StructureName</option>}
            </select>
        </div>
        <div class="col-sm-4">
            <label>Máquinas</label>
            <select class="form-control" id="Machine_Selector" onchange="GetProductsByStationsandMachines(this)">
                @*<option value="-1">-- Seleccione --</option>*@
                @foreach (var Maquina in @ViewBag.Lista_Maquinas)
                {
                    <option value="@Maquina.Int_Id">@Maquina.Chart_ElementProducer</option>}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div id="ContainerDataTable" class="box-body">
                 
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_hoja").addClass('active').addClass('menu-open');
        $("#menu_hoja").addClass('active');
        $("#hojaAssing").addClass('active');


        $(function () {
            $("#ContainerDataTable").load('@Url.Action("GetProductsByMachines_Station_View", "Trf_Sheet")' + "?Id_Station=" + $("#Sheet_Selector").val() + "&Id_Machines=" + $("#Machine_Selector").val());

           
        })

        function GetProductsByStationsandMachines(selectObject)
        {
            var Id_Machines = selectObject.value;
            var Id_Stations = $("#Sheet_Selector").val();

            $("#ContainerDataTable").load('@Url.Action("GetProductsByMachines_Station_View", "Trf_Sheet")' + "?Id_Station=" + Id_Stations + "&Id_Machines=" + Id_Machines);


        }


        function GetMachinesByStationBoard(selectObject) {
            var Id_Station = selectObject.value;

            $.ajax({
                type: 'POST',
                dataType: "json",
                url: '@Url.Action("GetMachinesByStationBoard", "Trf_Sheet")',
                data: {
                    Id_Station: Id_Station,
                },
                success: function (data) {
                    $("#Machine_Selector").empty();
                    $("#ContainerDataTable").empty();
                    if (data != "") {

                       // $("#Board_Products").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#Machine_Selector").append('<option value="' + data[i].Id_Option + '">' + data[i].OptiomValue + '</option>');
                        }

                        $("#ContainerDataTable").load('@Url.Action("GetProductsByMachines_Station_View", "Trf_Sheet")' + "?Id_Station=" + Id_Station + "&Id_Machines="+ $("#Machine_Selector").val());

                       // GetProductsByStationsandMachines(Id_Station, $("#Machine_Selector").val());
                    }
                }
            });

        }

        $(document).ready(function () {


            $('body').on('click', '.Btn_Product', function () {
                var Id_Station = $("#Sheet_Selector").val();
                var Id_Maquina = $("#Machine_Selector").val();
                var Id_Producto= $(this).data("id");

                window.location.assign('@Url.Action("AsignSheet/","Trf_Sheet")' + '?Id_Station=' + Id_Station + '&Id_Machine=' + Id_Maquina + '&Id_Producto=' + Id_Producto);

            })

        });




    </script>
}