﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MoveDatasResult</title>
</head>
<body>
    <div> 
        <h4>Se copiaron unos @ViewBag.TotalCopiados a la tabla Tbl_UserResultTurns</h4>
    </div>
</body>
</html>
