﻿
@{
    ViewBag.Title = "SelectCaptureType";
    Layout = null;
}
    <div class="row">
        <h3> Que Tipo de Vista desea Utilizar</h3>
        </div>
<hr />
        <div class="row">
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="~/bower_components/Ionicons/png/IconClasic.png" class="rounded" alt="...">

                </div>
                <br />
                <div class="row text-center">
                    <a @*href="/Trf_Sheet/AnswerSheet/@ViewBag.Id_Relacion"*@ id="C_CLasic" data-id="@ViewBag.Id_Relacion" class="btn btn-default btn-sm button-solution">Vista de captura Clásica</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="text-center">
                    <img src="~/bower_components/Ionicons/png/IconGrid.png" class="rounded" alt="...">
                </div>
                <br />
                <div class="row text-center">
                    <a @*href="/Trf_Sheet/AnswerGridSheet/@ViewBag.Id_Relacion"*@ id="C_Grid" data-id="@ViewBag.Id_Relacion" class="btn btn-default btn-sm button-solution">Vista de captura Grid</a>
                </div>
            </div>
        </div>


<script>
            $(document).ready(function () {

                $('body').on('click', '.Captura_List_Item', function () {

                var Contenido = "@Url.Action("SelectCaptureType", "Trf_Sheet")" + "/" + $(this).data("id");
                swal({
                    width: 600,
                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row" ><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

              
              
            })

        });


</script>