﻿@model TransferSPC.ViewModel.SolveViewModel

@{

}


<body>
    <div>
        <div class="row">
            <div class="Flipped">
                <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-gray" style="display:none">dd</th>
                            <th scope="col" class="bg-gray" style="display:none">dd</th>
                            <th scope="col" class="bg-gray" style="display:none">dd</th>
                            <th scope="col" class="bg-gray" style="display:none">dd</th>
                            @foreach (var variable in Model.GetLista_Solve_Data)
                            {
                                <th scope="col" class="bg-gray" style="display:none">@variable.Chart_Text</th>}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = -1; i < Model.GetLista_Solve_Data.Count(); i++)
                            {
                                if (i == -1)
                                {
                                    <th scope="col" class="bg-blue-light" id="Op_Head" style="padding:0px !important"></th>
                                    <th scope="col" class="bg-blue-light" id="Op_Head" style="padding:0px !important"></th>
                                    <th scope="col" class="bg-blue text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle"><span class="fa fa-calendar" aria-hidden="true"></span></th>
                                    <th scope="col" class="bg-blue text-center" id="Op_Head2" style="padding:0px !important;vertical-align:middle"><span class="fa fa-clock-o" aria-hidden="true"></span></th>
}
                                else
                                {
                                    if (@Model.GetLista_Solve_Data.ElementAt(i).Chart_Text == "")
                                    {
                                        <th scope="col" class="bg-blue" style="font-size:12px !important; vertical-align:middle;text-align: center">@Model.GetLista_Solve_Data.ElementAt(i).Chart_Name</th>}
                                    else
                                    {
                                        <th scope="col" class="bg-blue" style="font-size:12px !important; vertical-align:middle;text-align: center">@Model.GetLista_Solve_Data.ElementAt(i).Chart_Text</th>
}
                                }
                            }
                        </tr>
                        <tr>
                            @{ string List_Ids_Numerics = "";
                            }

                            @for (int j = -1; j < Model.GetLista_Solve_Data.Count(); j++)
                            {
                                if (j == -1)
                                {
                                    <th scope="col" class="bg-gray-light" id="Op_Head2" style="padding:0px !important"></th>
                                    <th scope="col" class="bg-gray-light" id="Op_Head2" style="padding:0px !important"></th>
                                    <th scope="col" class="bg-gray-light" id="Op_Head2" style="padding:0px !important"></th>
                                    <th scope="col" class="bg-gray-light" id="Op_Head2" style="padding:0px !important"></th>
}
                                else
                                {
                                    TransferSPC.Models.Solved_Data_Result Relacion = Model.GetLista_Solve_Data.ElementAt(j);

                                    <th class="bg-gray-light" scope="col">

                                        @{ if (@Relacion.Int_QuestionType == 0)
                                            {
                                                string id_mensaje = "Msg" + @Relacion.Int_Id;
                                                <input id="@Relacion.Int_Id" class="capturador" data-id="@Relacion.Int_Id" data-content="@Relacion.Int_QuestionType" onblur="ValidateValue(this)" style="max-width: 120px !important;"/>
}
                                            if (@Relacion.Int_QuestionType == 1)
                                            {


                                                if (Relacion.Int_CantMuestra == 1)
                                                {


                                                    if (List_Ids_Numerics == "")
                                                    {
                                                        List_Ids_Numerics += Relacion.Int_Id;
                                                    }
                                                    else
                                                    {
                                                        List_Ids_Numerics += "||" + Relacion.Int_Id;
                                                    }

                                                    string id_mensaje = "Msg" + @Relacion.Int_Id;
                                                    string id_Color = "Color" + @Relacion.Int_Id;



                                                    <input id="@Relacion.Int_Id" class="capturador" data-id="@Relacion.Int_Id" data-interval="@Relacion" data-content="@Relacion.Int_QuestionType" onblur="ValidateValue(this)" style="max-width: 50px !important;"/> }
                                                else
                                                {
                                                    <button class="btn btn-primary McapturadorBtn" type="button" data-id="@Relacion.Int_Id" data-cantidad="@Relacion.Int_CantMuestra" data-variable="@Relacion.Chart_Name" data-interval="@Relacion">
                                                        Capturar
                                                    </button>for (int i = 0; i < Relacion.Int_CantMuestra; i++)
                                                    {
                                                        String Id_Control = "Hiden_" + i + "_" + @Relacion.Int_Id;
                                                        <input type="hidden" id="@Id_Control" class="capturador" data-id="@Relacion.Int_Id" data-Numero="@i" data-interval="@Relacion" data-content="@Relacion.Int_QuestionType" onblur="ValidateValue(this)" />
}
                                                }
                                            }
                                            if (@Relacion.Int_QuestionType == 2)
                                            {
                                                string id_mensaje = "Msg" + @Relacion.Int_Id;
                                                <select id="@Relacion.Int_Id" class="capturador" data-id="@Relacion.Int_Id" data-content="@Relacion.Int_QuestionType">
                                                    @foreach (var respuesta in ViewBag.Respuestas)
                                                    {
                                                        if (@respuesta.Fk_VariableId == @Relacion.Int_Id)
                                                        {
                                                            <option value="@respuesta.Int_Id">@respuesta.Chart_Text</option>
}
                                                    }
                                                </select>
}
                                            if (@Relacion.Int_QuestionType == 3)
                                            {
                                                string id_mensaje = "Msg" + @Relacion.Int_Id;
                                                <select id="@Relacion.Int_Id" class="capturador" data-id="@Relacion.Int_Id" data-content="@Relacion.Int_QuestionType">
                                                    @foreach (var respuesta in ViewBag.Respuestas)
                                                    {
                                                        if (@respuesta.Fk_VariableId == @Relacion.Int_Id)
                                                        {
                                                            <option value="@respuesta.Int_Id">@respuesta.Chart_Text</option>
}
                                                    }
                                                </select>
}
                                            if (@Relacion.Int_QuestionType == 4)
                                            {
                                                foreach (var Automatic in ViewBag.Automatic)
                                                {
                                                    if (@Automatic.Int_VariableId == @Relacion.Int_Id)
                                                    {
                                                        //   int id_Relacion = Lista_Enlaces.Where(m => m.Fk_VariableId == variable.Int_Id).First().Int_Id;
                                                        string id_mensaje = "Msg" + @Relacion.Int_Id;


                                                        string id_oculto = "Hidden" + @Relacion.Int_Id;

                                                        <input id="@Relacion.Int_Id" class="capturador" data-interval="@Relacion.Int_Id" data-target="automatic" data-id="@Automatic.Chart_Ecuation" data-content="@Relacion.Int_QuestionType" readonly />
                                                        <input type="hidden" id="@id_oculto" value="@Automatic.Chart_Ecuation" data-target="automatic" data-id="@Automatic.Chart_Ecuation" />foreach (var Aut_Data in ViewBag.Automatic_Datas)
                                                        {
                                                            if (@Aut_Data.Int_AutomaticVariableId == @Automatic.Int_Id)
                                                            {
                                                                string id_oculto_Data = "Data-" + @Aut_Data.Int_VariableId + "-" + @Aut_Data.Int_AutomaticVariableId;
                                                                <input type="hidden" id="@id_oculto_Data" value="@Aut_Data.Chart_Variable" />
}
                                                        }
                                                    }
                                                }
                                            }

                                            @*if (@Relacion.Int_QuestionType == 5)
                                                                                    {
                                                                                        string Tarjet = "#Modal" + Relacion.Int_Id;
                                                                                        string ModalTarjet = "Modal" + Relacion.Int_Id;

                                                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@Tarjet">
                                                                                            Capturar
                                                                                        </button>

                                                                                        <div class="modal fade" id="@ModalTarjet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                                            <div class="modal-dialog" role="document">
                                                                                                <div class="modal-content">
                                                                                                    <div class="modal-header">
                                                                                                        <h5 class="modal-title" id="exampleModalLabel">@Relacion.Chart_Name</h5>

                                                                                                    </div>
                                                                                                    <div class="modal-body">
                                                                                                        @{ int Cant_Capturas = @Current_Var.Tbl_AutomaticVariable.First().Int_Goal.Value;

                                                                                                            TransferSPC.Models.Tbl_AutomaticVariable Automatic = Current_Var.Tbl_AutomaticVariable.First();
                                                                                                            string id_oculto = "Hidden" + @Relacion.Int_Id;
                                                                                                            <div class="row">
                                                                                                                @foreach (var Current_Data in Current_Var.Tbl_AutomaticVariable.First().Tbl_AutomaticVariableData)
                                                                                                                {
                                                                                                                    TransferSPC.Models.Tbl_AutomaticVariableData Current_DataObj = Current_Data;
                                                                                                                    int Current_var_Id = @Current_Data.Int_VariableId.Value;
                                                                                                                    <div class="col-sm-2">
                                                                                                                        Relacion.Chart_Name

                                                                                                                    </div>
                                            }
                                                                                                                <div class="col-sm-3">
                                                                                                                    @Current_Var.Chart_Name
                                                                                                                </div>
                                                                                                            </div>for (int i = 0; i < Cant_Capturas; i++)
                                                                                                            {
                                                                                                                string Resultado = Relacion.Int_Id.ToString() + "-" + i;
                                                                                                                string Id_Oculto_Formula = id_oculto + "-" + i;
                                                                                                                <div class="row">
                                                                                                                    @foreach (var Current_Data in Current_Var.Tbl_AutomaticVariable.First().Tbl_AutomaticVariableData)
                                                                                                                    {
                                                                                                                        TransferSPC.Models.Tbl_AutomaticVariableData Current_DataObj = Current_Data;
                                                                                                                        int Current_var_Id = @Current_Data.Int_VariableId.Value;
                                                                                                                        string id_oculto_Data = "Data-" + Current_Data.Int_VariableId + "-" + Current_Data.Int_AutomaticVariableId;


                                                                                                                        string Id_Capturador = @Current_Data.Int_VariableId.ToString() + "-" + i;
                                                                                                                        string Id_Oculto = @id_oculto_Data + "-" + i;



                                                                                                                        <div class="col-sm-2" style="padding:3px">
                                                                                                                            <input id="@Id_Capturador" class="capturador col-sm-8" data-id="@Current_Data.Int_VariableId" data-interval="@Relacion.Int_Id" data-row="@i" data-content="11" onblur="ValidateValue(this)" />

                                                                                                                            <input type="hidden" id="@Id_Oculto" value="@Current_Data.Chart_Variable" />
                                                                                                                        </div>
                                            }
                                                                                                                    <div class="col-sm-3">
                                                                                                                        <input id="@Resultado" class="capturador col-sm-8" data-interval="@Relacion.Int_Id" data-target="automatic" data-id="@Automatic.Chart_Ecuation" data-content="@Relacion.Int_QuestionType" readonly />
                                                                                                                        <input type="hidden" id="@Id_Oculto_Formula" value="@Automatic.Chart_Ecuation" data-target="automatic" data-id="@Automatic.Chart_Ecuation" />
                                                                                                                    </div>
                                                                                                                </div>
                                            }
                                                                                                        }
                                                                                                    </div>
                                                                                                    <div class="modal-footer">
                                                                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div> }*@
                                        }


                                    </th>    }
                                            }

                    </tbody>
                    <tbody class="collapse in" id="collapseExample">
                        @{ int Cantidad = 0;
                            string lasthour = "";
                            int colorVal = 1;
                        }
                        @foreach (var Momento in Model.Get_Lista_Momentos)
                        {
                            List<TransferSPC.Models.Tbl_Observations> Lista_Observaciones_Registry = Model.GetList_Observation.Where(m => m.Fk_IdMoment == Momento.Int_Id).Where(m => m.Chart_Title != "variable").ToList();

                            <tr>
                                @if (Lista_Observaciones_Registry.Count == 0)
                                {
                                    <th scope="col" class="bg-gray-light" style="padding:2px !important">
                                        <input class="form-check-input checkselector" type="checkbox" data-id="@Momento.Int_Id" value="" id="MomentsCheck">
                                    </th>}
                                else
                                {
                                    <th scope="col" data-toggle="popover" data-trigger="hover" title="Observación de todo el momento" data-content="@Lista_Observaciones_Registry.First().Chart_Text" class="bg-gray-light note" style="padding:2px !important">
                                        <input class="form-check-input checkselector" type="checkbox" data-id="@Momento.Int_Id" value="" id="MomentsCheck">
                                    </th>
}
                                <th scope="col" class="bg-gray-light" style="padding:2px !important">
                                    <button type="button" id="Button_Correction" class="btn btn-primary btn-lg" data-id="@Momento.Int_Id" style="padding:2px !important;font-size: 10px !important">
                                        <span class="fa fa-key" aria-hidden="true"></span>
                                    </button>
                                </th>
                                @{ string Currenthour = @Momento.DateTime_Date.Value.ToString("hh");

                                }

                                @if (lasthour != Currenthour)
                                {
                                    colorVal++;
                                    lasthour = Currenthour;
                                }

                                @if (colorVal % 2 == 0)
                                {
                                    <th scope="col" class="bg-gray-light" style="padding:2px !important">
                                        @Momento.DateTime_Date.Value.ToString("dd/MM/yyyy")
                                    </th>
                                    <th scope="col" class="bg-gray-light" style="padding:2px !important">
                                        @Momento.DateTime_Date.Value.ToString("hh:mm")
                                    </th>}
                                else
                                {
                                    <th scope="col" class="bg-gray-active" style="padding:2px !important">
                                        @Momento.DateTime_Date.Value.ToString("dd/MM/yyyy")
                                    </th>
                                    <th scope="col" class="bg-gray-active" style="padding:2px !important">
                                        @Momento.DateTime_Date.Value.ToString("hh:mm")
                                    </th>}

                                @foreach (var Variable in Model.GetLista_Solve_Data)
                                {
                                    int Tipo = Variable.Int_QuestionType.Value;
                                    List<TransferSPC.Models.GetResultByMoments_Result> Lista_Current_Resultados = Model.Get_List_Results.Where(m => m.Int_VariableId == @Variable.Fk_VariableId.Value).Where(m => m.Int_MomentsId == Momento.Int_Id).ToList();
                                    if (Lista_Current_Resultados.Count > 0)
                                    {
                                        TransferSPC.Models.GetResultByMoments_Result CurrentCapture = Lista_Current_Resultados.First();
                                        string CurrentValorStr = "";
                                        CurrentValorStr = CurrentCapture.Chart_Value;

                                        if (Tipo == 1 || Tipo == 4)
                                        {

                                            double CurrentValor;
                                            double Valor_Minimo = -1;
                                            double Valor_Maximo = 1;
                                            double Paso = 0;
                                            if (CurrentCapture.Chart_Value != "")
                                            {
                                                try
                                                {
                                                    CurrentValor = double.Parse(CurrentCapture.Chart_Value);
                                                    if (CurrentCapture.Float_MaxValue != null)
                                                    { Valor_Maximo = CurrentCapture.Float_MaxValue.Value; }
                                                    if (CurrentCapture.Float_MinValue != null)
                                                    { Valor_Minimo = CurrentCapture.Float_MinValue.Value; }
                                                    Paso = (Valor_Maximo - Valor_Minimo) / 4;
                                                    if (CurrentValor < Valor_Minimo || CurrentValor > Valor_Maximo)
                                                    {
                                                        <td class="bg-red" style="padding:0px !important;font-size:12px !important;text-align: center">@CurrentValorStr</td>
}
                                                    else
                                                    {
                                                        if (CurrentValor < Valor_Minimo + Paso || CurrentValor > Valor_Maximo - Paso)
                                                        {
                                                            <td class="bg-yellow" style="padding:0px !important;font-size:12px !important;text-align: center">@CurrentValorStr</td>
}
                                                        else
                                                        {
                                                            <td class="bg-green" style="padding:0px !important;font-size:12px !important;text-align: center">@CurrentValorStr</td>
}
                                                    }
                                                }
                                                catch
                                                {
                                                    <td class="bg-gray" style="padding:0px !important;text-align: center">CurrentValorStr</td>
}
                                            }
                                            else
                                            {
                                                <td class="bg-gray" style="padding:0px !important"></td>
}
                                        }
                                        else
                                        {
                                            if (Tipo == 0)
                                            {
                                                <td class="bg-gray" style="padding:0px !important;text-align: center">@CurrentValorStr</td>
}
                                        }
                                    }
                                    else
                                    {
                        <td class="bg-gray" style="padding:0px !important"></td>   }
                                }


                                

                            </tr>    }
                        

                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <style>
            .wrapper1, .wrapper2 {
                width: 100%;
                overflow-x: scroll;
                overflow-y: hidden;
            }

            .Container {
                width: 100%;
                overflow-y: auto;
            }

            .Content {
                width: 100%;
            }

            .table-striped {
                transform: rotateX(180deg);
                overflow-x: scroll;
            }

            .Flipped {
                transform: rotateX(180deg);
                overflow-x: scroll;
            }
        </style>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/CalisisStadsScript.js"></script>

    <script>
        $("#ShowMenu").hide();
        $('body').addClass('sidebar-collapse');
        $('#ShowMenuB').hide();
    </script>

}