﻿
@{
    ViewBag.Title = "CaptureView";
    Layout = null;
}

<!-- CSS -->
<style>
    #my_camera {
        width: 320px;
        height: 240px;
        border: 1px solid black;
    }
</style>

<div class="row" style="padding-left:20%;padding-right:20%">
    <div id="my_camera"></div>
</div>

<button class="btn btn-success" data-id="Current_Id" onClick="take_snapshot()"><i class="fa fa-camera mr-1"></i></button>

<hr id="separador" style="display:none"/>

<div id="results" style="margin-left:20%;margin-right:20%"></div>

<button class="btn btn-success" id="Save_Current_Id" onClick="take_snapshot()" style="display:none; margin-top:10px"><i class="fa fa-save mr-1"></i></button>

<div class="row">
    <div class="pull-right" style="margin-right: 15px !important">
        <input type="button" value="Cancelar" id="btn-cancel_Evidence" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
    </div>
</div>

<!-- Webcam.min.js -->
<script type="text/javascript" src="~/Scripts/webcam.min.js"></script>

<script language="JavaScript">
    Webcam.set({
        width: 320,
        height: 240,
        image_format: 'jpeg',
        jpeg_quality: 90
    });
    Webcam.attach('#my_camera');
</script>

<script language="JavaScript">
    function take_snapshot() {       
        $("#Save_Current_Id").show();
        $("#separador").show();
        // take snapshot and get image data
        Webcam.snap(function (data_uri) {
            // display results in page
            document.getElementById('results').innerHTML =
                '<img id="Current_Captura" src="' + data_uri + '"/>';
        });
    }
</script>


