﻿@model TransferSPC.Models.Tbl_Observations

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Observations</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chart_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chart_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chart_Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chart_Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bool_Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bool_Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fk_IdVariable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fk_IdVariable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Moments.Chart_IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Moments.Chart_IdUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_AsignedSheets.Int_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_AsignedSheets.Int_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Sheet.Chart_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Sheet.Chart_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_StateObservationsCatalog.Chart_ObservationState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_StateObservationsCatalog.Chart_ObservationState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Int_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
