﻿@model IEnumerable<TransferSPC.Models.Tbl_Observations>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chart_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chart_Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bool_Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fk_IdVariable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Moments.Chart_IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_AsignedSheets.Int_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Sheet.Chart_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_StateObservationsCatalog.Chart_ObservationState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chart_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chart_Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bool_Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fk_IdVariable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Moments.Chart_IdUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_AsignedSheets.Int_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Sheet.Chart_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_StateObservationsCatalog.Chart_ObservationState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Int_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Int_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Int_Id })
        </td>
    </tr>
}

</table>
