﻿@model TransferSPC.Models.AspNetRoles

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-control-label">Nombre</label>
        </div>
        @*<div class="col-sm-6">
                <label class="custom-control-label">Permisos</label>
            </div>*@
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Role_Name" />
        </div>
        <div class="col-sm-4">
            <select class="form-control" id="Permissions">
                <option value="-1">-- Seleccione --</option>
                @foreach (var item in @ViewBag.Permission)
                {
                    <option value="@item.Int_Id">@item.Chart_PermissionName</option>}

            </select>
        </div>
        <div class="col-sm-2">
            <input type="button" value="Agregar" id="Permission_add" class="btn btn-success btn-sm button-solution" />
        </div>
    </div>
    <label class="control-label">Permisos agregados</label>


    <div class="row" id="Permision_Board">
        
     
    </div>
    <hr />
    <div class="row">
        <div class="pull-right" style="margin-right: 15px !important">
            <input type="button" value="Crear" id="Role_submit" class="btn btn-success btn-sm button-solution" />
            <a href="@Url.Action("Index", "AspNetRoles")" class="btn btn-danger btn-sm button-solution">Cancelar</a>
        </div>
    </div>


</body>
</html>
