﻿@model TransferSPC.Models.AspNetRoles

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <hr />
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-control-label">Nombre</label>
        </div>
        <div class="col-sm-6">
            <label class="custom-control-label">Permisos</label>
        </div>
    </div>

    <div class="col-sm-6">
        <input type="text" value="@Model.Name" class="form-control" id="Role_Name" />
        <input id="Id_Rol" type="hidden" value="@ViewBag.Id_Rol" />
    </div>
    <div class="col-sm-4">
        @{  List<TransferSPC.Models.AspNetPermissionRoles> Lista_Permisos = new List<TransferSPC.Models.AspNetPermissionRoles>();
            foreach (var item in @ViewBag.Permission)
            {
                Lista_Permisos.Add(item);
            }
        }
        <select class="form-control" id="Permissions">
            <option value="-1">-- Seleccione --</option>
            @foreach (var item in @ViewBag.Lista_Permisos_Noagregados)
            {
                <option value="@item.Int_Id">@item.Chart_PermissionName</option>}


        </select>
    </div>
    <div class="col-sm-2">
        <input type="button" value="Editar" id="Permission_add" class="btn btn-success btn-sm button-solution" />
    </div>
   
    <label class="control-label">Permisos agregados</label>


    <div class="row" id="Permision_Board">

        @foreach (var item in Lista_Permisos)
        {
            <div class="col-sm-4" style="padding:5px">
                <div class="box">
                    <div class="box-header with-border col-sm-11">
                        <label class="control-label">@item.AspNetPermission.Chart_PermissionName</label>
                        <input type="hidden" value="@item.AspNetPermission.Int_Id" class="id_value" />
                    </div>
                    <div class="col-sm-1" style="padding:1px">
                        <a href="#" class="btn-danger btn-xs" id="Permision_Remove" data-id=item.Id style="border-radius:5px">X</a>
                    </div>
                </div>
            </div>
        }

    </div>
    <hr />




    <div class="row">
        <div class="pull-right" style="margin-right: 15px !important">
            <input type="button" value="Crear" id="Role_Editsubmit" class="btn btn-success btn-sm button-solution" />
            <a href="@Url.Action("Index", "AspNetRoles")" class="btn btn-danger btn-sm button-solution">Cancelar</a>
        </div>
    </div>
</body>
</html>
