﻿@model IEnumerable<TransferSPC.Models.AspNetRoles>

@{

}

<!DOCTYPE html>

<html>

<body>
    <section class="content-header">
        <h2>Gestión de Roles</h2>
        <div class="row">
            <input type="button" value="Crear Rol" id="Add_Role" class="btn btn-success btn-sm button-solution" />
        </div>
    </section>
    <table class="table">
        <tr>
            <th style="padding-left:20px">
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th>

            </th>
            <th>
                Acciones
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="padding-left:20px">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td></td>
                <td>
                    <a href="#" class='btn btn-warning btn-sm' id="Edit_Role" data-id="@item.Id"><i class='fa fa-pencil'></i></a>
                    <a href="#" class='btn btn-danger btn-sm' id="Role_Remove" data-id=@item.Id><i class='fa fa-trash'></i></a>
                </td>
            </tr>
        }

    </table>
</body>
</html>



@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#usuario").addClass('active');


        //Para llamar el modal de eliminar
        $(document).ready(function () {


            $('body').on('click', '#Permision_Remove', function () {
                $(this).parent().parent().parent().remove();
            })



            $('body').on('click', '#Role_Remove', function () {
                swal.fire({
                    type: 'warning',
                    title: 'Está seguro que desea eliminar el Rol?',
                    showConfirmButton: true,
                }).then((result) => {
                    if (result.value) {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("RemoveRolePost", "AspNetRoles")',
                            data: {
                                Id_Rol: $(this).data("id"),
                            },
                            success: function (data) {
                                if (data == "True") {
                                    swal.fire({
                                        type: 'success',
                                        title: 'El rol se eliminó satisfactoriamente',
                                        showConfirmButton: true,
                                    }).then((result) => {
                                        if (result.value) {
                                            var UrlEdit = "/AspNetRoles/Index";
                                            window.location = UrlEdit;
                                        }
                                    })
                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: "La operación no se pudo concluir, inténtelo otra vez",
                                        type: "error",
                                        confirmButtonClass: 'btn-success',
                                        confirmButtonText: 'Aceptar',
                                        closeOnConfirm: true,
                                    })
                                }
                            }
                        });
                    }
                })
            })

            $('body').on('click', '#Permission_add', function () {
                if ($("#Permissions").val() != -1) {
                    var NamePermission = $("#Permissions option:selected").text();
                    var Id_Permision = $("#Permissions").val();
                    $("#Permissions option:selected").hide();
                    $("#Permissions").val(-1);
                    $("#Permision_Board").append('<div class="col-sm-4" style="padding:5px"><div class="box"><div class="box-header with-border col-sm-11"><label class="control-label">' + NamePermission + '</label> <input type="hidden" value="' + Id_Permision + '" class="id_value" /></div><div class="col-sm-1" style="padding:1px"><a href="#" class="btn-danger btn-xs" id="Permision_Remove" data-id=item.Id style="border-radius:5px">X</a></div></div></div>');
                }
            })

            $('body').on('click', '#Role_Editsubmit', function () {
                var Id_Rol = $("#Id_Rol").val();
                var Role_Name = $("#Role_Name").val();
                var List_Ids = "";
                var Permissions_Ids = document.getElementsByClassName("id_value");
                var IndiceControl = 0;
                for (var i = 0; i < Permissions_Ids.length; i++) {
                    if (IndiceControl == 0) {
                        List_Ids += Permissions_Ids[i].value;
                        IndiceControl++;
                    }
                    else {
                        List_Ids += "|" + Permissions_Ids[i].value;
                    }

                }

                if (Role_Name != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("EditRolePost", "AspNetRoles")',
                        data: {
                            Id_Rol: Id_Rol,
                            Role_Name: Role_Name,
                            List_Ids: List_Ids,
                        },
                        success: function (data) {
                            if (data == "True") {
                                swal.fire({
                                    type: 'success',
                                    title: 'El rol se editó satisfactoriamente',
                                    showConfirmButton: true,
                                }).then((result) => {
                                    if (result.value) {
                                        var UrlEdit = "/AspNetRoles/Index";
                                        window.location = UrlEdit;
                                    }
                                })
                            }
                            else {
                                swal({
                                    title: "Error",
                                    text: "La operación no se pudo concluir, inténtelo otra vez",
                                    type: "error",
                                    confirmButtonClass: 'btn-success',
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true,
                                })
                            }
                        }
                    });
                }
                else {
                    swal({
                        title: "Error",
                        text: "El nombre del rol es obligatorio",
                        type: "error",
                        confirmButtonClass: 'btn-success',
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true,
                    })
                }

            })

            $('body').on('click', '#Role_submit', function () {

                var Role_Name = $("#Role_Name").val();
                var List_Ids = "";
                var Permissions_Ids = document.getElementsByClassName("id_value");
                var IndiceControl = 0;
                for (var i = 0; i < Permissions_Ids.length; i++) {
                    if (IndiceControl == 0) {
                        List_Ids += Permissions_Ids[i].value;
                        IndiceControl++;
                    }
                    else {
                        List_Ids += "|" + Permissions_Ids[i].value;
                    }

                }

                if (Role_Name != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateRolePost", "AspNetRoles")',
                        data: {
                            Role_Name: Role_Name,
                            List_Ids: List_Ids,
                        },
                        success: function (data) {
                            if (data == "True") {
                                swal.fire({
                                    type: 'success',
                                    title: 'El rol se creó satisfactoriamente',
                                    showConfirmButton: true,
                                }).then((result) => {
                                    if (result.value) {
                                        var UrlEdit = "/AspNetRoles/Index";
                                        window.location = UrlEdit;
                                    }
                                })
                            }
                            else {
                                swal({
                                    title: "Error",
                                    text: "La operación no se pudo concluir, inténtelo otra vez",
                                    type: "error",
                                    confirmButtonClass: 'btn-success',
                                    confirmButtonText: 'Aceptar',
                                    closeOnConfirm: true,
                                })
                            }
                        }
                    });
                }
                else {
                    swal({
                        title: "Error",
                        text: "El nombre del rol es obligatorio",
                        type: "error",
                        confirmButtonClass: 'btn-success',
                        confirmButtonText: 'Aceptar',
                        closeOnConfirm: true,
                    })
                }

            })
            // esto es para crear un sweet alert con la vista dentro
            $('body').on('click', '#Add_Role', function () {

                var Contenido = "@Url.Action("Create", "AspNetRoles")";
                swal({
                    title: 'Crear Rol',
                    width: 600,

                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

            })

            $('body').on('click', '#Edit_Role', function () {

                var Contenido = "@Url.Action("Edit", "AspNetRoles")" + "/" + $(this).data("id");
                swal({
                    title: 'Editar Permiso',
                    width: 600,

                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

            })

            $('body').on('click', '#Permission_add', function () {
                var Permissions = $("#Permissions").val();
                var Id_Rol = $("#Id_Rol").val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreatePermissionPost", "AspNetPermissions")',
                    data: {
                        Permissions: Permissions,
                        Id_Rol: Id_Rol,

                    },
                    success: function (data) {
                        if (data == "True") {
                            swal.fire({
                                type: 'success',
                                title: 'El permiso se creó satisfactoriamente',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "/AspNetPermissions/Index";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            $('body').on('click', '#Permission_Edit_submit', function () {
                var Permission_Name = $("#Chart_PermissionName").val();
                var App = $("#Fk_App").val();
                var Id_Permission = $("#Id_Permission").val();
                Id_Permission
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditPermissionPost", "AspNetPermissions")',
                    data: {
                        Permission_Name: Permission_Name,
                        App: App,
                        Id_Permission: Id_Permission,
                    },
                    success: function (data) {
                        if (data == "True") {
                            swal.fire({
                                type: 'success',
                                title: 'El permiso se editó satisfactoriamente',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "/AspNetPermissions/Index";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })


        })
    </script>
}
