﻿@model TransferSPC.Models.Tbl_Variable

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<div class="form-horizontal">
    <hr />
    <div class="row">
        <div class="col-sm-3">
            @Html.Label("Tipo de Variable", null, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="col-sm-9">
            <select class="form-control" id="Type_Selector" onchange="getComboA(this)">
                <option value="0">Texto</option>
                <option value="1">Numérica </option>
                <option value="2">Binaria </option>
                <option value="3">Selección </option>
                <option value="4">Automática </option>
                @*<option value="5">Variable Automática Múltiple </option>*@
            </select>
        </div>
    </div>

    <hr style="margin:2px"/>

    <input type="hidden" id="id_hoja" value="@ViewBag.id_hoja" />

    <div class="row" id="text_type">
        <div class="col-md-2">
            <div class="row">
                <label class="control-label">Clave</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Clave_variable_T" type="text" value="">
            </div>
        </div>
        <div class="col-md-4" style="margin-left:5px">
            <div class="row">
                <label class="control-label">Nombre</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_T"  type="text" value="">
            </div>
        </div>
        <div class="col-md-6" style="display:none">
            <div class="row">
                <label class="control-label">Valor Correcto</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="correct_value_T" type="text" value="">
            </div>
        </div>
        <div class="col-md-6" style="display:none">
            <div class="row">
                <label class="control-label">Descripción</label>
            </div>
            <div class="row">
                <textarea id="description_T" class="form-control" rows="1"></textarea>
            </div>
        </div>
        <div class="col-md-4" style="margin-left:5px">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Repetitiva</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <select class="form-control" id="Type_Variable">
                        <option value="0">No</option>
                        <option value="1">Si</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="numeric_type" style="display:none">
        <div class="col-md-2">
            <div class="row">
                <label class="control-label">Clave</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Clave_variable_N" type="text" value="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="control-label">Nombre</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_N" type="text" value="">
            </div>
        </div>

        <div class="col-md-2" style="margin-left:10px">
            <div class="row">
                <label class="control-label">LIE</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="botton_limit_N" type="text" value="">
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <label class="control-label">LSE</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="upper_limit_N" type="text" value="">
            </div>
        </div>

        <div class="col-sm-3" style="margin-left:10px">
            <div class="row">
                <label class="control-label">LIN</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="botton_limit_N_Nominal" type="text" value="">
            </div>
        </div>

        <div class="col-sm-3">
            <div class="row">
                <label class="control-label">LSN</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="upper_limit_N_Nominal" type="text" value="">
            </div>
        </div>

        <div class="col-sm-2" style="margin-left:10px">
            <div class="row">
                <label class="control-label">LIV</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="botton_limit_N_Validation" type="text" value="">
            </div>
        </div>

        <div class="col-sm-2">
            <div class="row">
                <label class="control-label">LSV</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="upper_limit_N_Validation" type="text" value="">
            </div>
        </div>

        <div class="col-md-6" style="display:none">
            <div class="row">
                <label class="control-label">Descripción</label>
            </div>
            <div class="row">
                <textarea id="description_N" class="form-control" rows="1"></textarea>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <label class="control-label">Tamaño de Muestra</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Sample_Size" type="text" value="1">
            </div>
        </div>

    </div>

    <div class="row" id="binary_type" style="display:none">
        <div class="col-md-2">
            <div class="row">
                <label class="control-label">Clave</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Clave_variable_B" type="text" value="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="control-label">Nombre</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_B" type="text" value="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label class="control-label">Estado 1</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="state1_B" type="text" value="">
            </div>
        </div>

        <div class="col-md-6">
            <div class="row" style="display:none">
                <label class="control-label">Descripción</label>
            </div>
            <div class="row" style="display:none">
                <textarea id="description_B" class="form-control" rows="1"></textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <label class="control-label">Estado 2</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="state2_B" type="text" value="">
            </div>
        </div>
    </div>

    <div class="row" id="selection_type" style="display:none">
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <label class="control-label">Clave</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Clave_variable_S" type="text" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Name_variable_S" type="text" value="">
                </div>
            </div>
            <div class="col-md-offset-1 col-sm-3">
                <div class="row">
                    <label class="control-label">Opción</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="New_value" type="text" value="">
                </div>
            </div>
            <div class="col-md-1" style="margin-left:8px">
                <div class="row" style="margin-top: 25px;">
                    <button type="button" class="btn btn-success fa fa-plus" id="Add_Opcion">
                        Agregar
                    </button>
                </div>
            </div>
            <div class="col-md-4" style="display:none">
                <div class="row">
                    <label class="control-label">Descripción</label>
                </div>
                <div class="row">
                    <textarea id="description_S" class="form-control" rows="1"></textarea>
                </div>
            </div>
        </div>
        <hr />

        <div class="row" id="List_Opcion_Added">

        </div>
    </div>

    <div class="row" id="Automatic_type" style="display:none">
        <input type="hidden" id="Cant_Variables" value="0" />
        <input type="hidden" id="Array_Variables_id" value="" />
        <input type="hidden" id="Array_Variables" value="" />

        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <label class="control-label">Clave</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Clave_variable_A" type="text" value="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Name_variable_A" type="text" value="">
                </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="row">
                    <label class="control-label">Variables</label>
                </div>
                <div class="row">
                    <select class="form-control" id="Variable_Selector">
                        <option value="-1">Seleccione</option>
                        @foreach (var variable in ViewBag.Lista_Numericas)
                        {
                            <option value="@variable.Int_Id">@variable.Chart_Name</option>}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row" style="margin-top: 25px;">
                    <button type="button" class="btn btn-success fa fa-plus-square" id="Add_Variable">
                        Agregar
                    </button>
                </div>
            </div>
        </div>

        <div class="row" id="List_Variables_Added" style="margin-top:20px">
            <div class="row" style="border-bottom:solid">
                <div class="col-md-5"><label class="control-label">Nombre de la Variable</label></div>
                <div class="col-md-6"><label class="control-label">Variable</label></div>
                <div class="col-md-1"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Fórmula</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="formula_A" type="text" value="">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <label class="control-label">LSE</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="upper_limit_A" type="text" value="">
                </div>
            </div>
            @*<div class="col-md-6">
                <div class="row">
                    <label class="control-label">Descripción</label>
                </div>
                <div class="row">
                    <textarea id="description_A" class="form-control" rows="1"></textarea>
                </div>
            </div>*@
            <div class="col-sm-3">
                <div class="row">
                    <label class="control-label">LIE</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="botton_limit_A" type="text" value="">
                </div>
            </div>


            <div class="col-sm-3">
                <div class="row">
                    <label class="control-label">LIN</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="botton_limit_N_Nominal" type="text" value="">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <label class="control-label">LSN</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="upper_limit_N_Nominal" type="text" value="">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <label class="control-label">LIV</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="botton_limit_N_Validation" type="text" value="">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="row">
                    <label class="control-label">LSV</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="upper_limit_N_Validation" type="text" value="">
                </div>
            </div>




            <div class="col-md-3" style="display:none">
                <div class="row">
                    <label class="control-label">Tamaño de Muestra</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="A_Sample_Size" type="text" value="1">
                </div>
            </div>
        </div>
    </div>


    <div class="row" id="Multiple_Automatic_type" style="display:none">
        <input type="hidden" id="Cant_Variables_Multiple" value="0" />
        <input type="hidden" id="Array_Variables_Letters_Multiple" value="" />
        <input type="hidden" id="Array_Variables_Multiple" value="" />
        <input type="hidden" id="Array_Variables_Multiple_LI" value="" />
        <input type="hidden" id="Array_Variables_Multiple_LS" value="" />

        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Name_variable_A_M" type="text" value="">
                </div>
            </div>
            <div class="col-md-2" style="margin-left:5px">
                <div class="row">
                    <label class="control-label">Li</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="LI_variable_A_M" type="text" value="">
                </div>
            </div>
            <div class="col-md-2" style="margin-left:5px">
                <div class="row">
                    <label class="control-label">LS</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="LS_variable_A_M" type="text" value="">
                </div>
            </div>

            <div class="col-md-2">
                <div class="row" style="margin-top: 25px;">
                    <button type="button" class="btn btn-success fa fa-plus-square" id="Add_Variable_Multiple">
                        Agregar
                    </button>
                </div>
            </div>
        </div>

        <div class="row" id="List_Variables_Multiple_Added" style="margin-top:5px">
            <div class="row" style="border-bottom:solid">
                <div class="col-md-5"><label class="control-label">Nombre de la Variable</label></div>
                <div class="col-md-6"><label class="control-label">Variable</label></div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="NameVar_A_Mul" type="text" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Fórmula</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="formula_A_Mul" type="text" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Límite Superior</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="upper_limit_A_Mul" type="text" value="">
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Límite Inferior</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="botton_limit_A_Mul" type="text" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Descripción</label>
                </div>
                <div class="row">
                    <textarea id="description_A_Mul" class="form-control" rows="1"></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <label class="control-label">Tamaño de Muestra</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="A_Sample_Size_Mul" type="text" value="1">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <label class="control-label">Imagen</label>
    </div>
    <div class="row">
        <input id="fileupload" type="file" name="files[]" multiple>
    </div>
      
        <div class="row">
            <div class="pull-right" style="margin-right: 15px !important">
                <input type="button" value="Crear" id="variable-submit" class="btn btn-success btn-sm button-solution" />
                <input type="button" value="Cancelar" id="btn-cancel_actividad" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
            </div>
        </div>

    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

        
}
