﻿@model TransferSPC.Models.Trf_Variable

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<section class="content-header">
    <h2>Variable</h2>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.Label("Nombre", null, htmlAttributes: new { @class = "control-label pull-left" })
                            </div>
                            <div class="col-sm-9 pull-left">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.Label("Tipo de Variable", null, htmlAttributes: new { @class = "control-label pull-left" })

                            </div>
                            <div class="col-sm-9">
                                <input type="text" value="@ViewBag.Tipo" class="form-control pull-left" disabled />


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                @Html.Label("Descripción", null, htmlAttributes: new { @class = "control-label pull-left" })
                            </div>
                            <div class="col-sm-9">
                                <textarea class="form-control" disabled name="description" rows="1">@Html.DisplayFor(model => model.Text)</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
<div class="row">
    <div class="pull-right" style="margin-right: 15px !important">
        <input type="button" value="Cerrar" id="btn-cancel" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
    </div>
</div>
