﻿@model TransferSPC.Models.Tbl_Variable

@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<input type="hidden" id="Sheet_Id" value="@Model.Int_SheetId" />
<input type="hidden" id="Variable_Id" value="@Model.Int_Id" />
<input type="hidden" id="Question_Type" value="@ViewBag.tipo" />
<input type="hidden" id="Question_Id" value="@Model.Int_Id" />
<input type="hidden" id="Variable_Type_Bool" value="@Model.Bool_Type_Variable" />


<input type="hidden" value="@ViewBag.Bool_Type_Limits" id="LimitTypeInput" />
<input type="hidden" value="@ViewBag.Bool_Type_Variable" id="VariableTypeInput" />

@{
    int QuestionType = @ViewBag.tipo;

}

@if (QuestionType == 0)
{
    <div class="row" id="text_type">
        <div class="col-md-6">
            <div class="row">
                <label class="control-label">Clave</label>
            </div>
            <div class="row">
                <textarea id="description_T" class="form-control" rows="1">@Model.Chart_Text</textarea>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <label class="control-label">Nombre</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_T" type="text" value="@Model.Chart_Name">
            </div>
        </div>

        @*<div class="col-md-6">
                <div class="row">
                    <label class="control-label">Valor Correcto</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="correct_value_T" type="text" value="@Model.Trf_SheetElementProducer.First().Text">
                </div>
            </div>*@



        <div class="col-md-3" style="padding: 0px !important; background-color: #fff !important;">
            <div class="row">
                <label class="control-label">Bloquear dato</label>
            </div>
            <div class="row">
                <select name="MyDatatable_length" id="Block-Variable" aria-controls="MyDatatable" class="form-control input-sm">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
            </div>
        </div>




    </div>
}

@if (QuestionType == 1)
{
    <div class="row" id="numeric_type">
        <form action="~/Trf_Variables/SaveVariableNumericEditPost/@Model.Int_Id" method="post">
            <div class="col-md-2" style="padding:5px">
                <div class="row">
                    <label class="control-label">Clave</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="description_N" type="text" value="@Model.Chart_Text">

                </div>
            </div>
            <div class="col-md-4" style="padding:5px">
                <div class="row">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Name_variable_N" type="text" value="@Model.Chart_Name">
                </div>
            </div>
            <div class="col-md-4" style="padding:5px; padding-top: 0px !important">
                <div class="col-md-6" style="padding:5px">
                    <div class="row">
                        <label class="control-label"> Repetitiva</label>
                    </div>
                    <div class="row">
                        <select class="form-control" id="Type_Variable">
                            <option value="0">No</option>
                            <option value="1">Si</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6" style="padding:5px">
                    <div class="row">
                        <label class="control-label"> Editables</label>
                    </div>
                    <div class="row">
                        <select class="form-control" id="Type_limits">
                            >
                            <option value="0">No</option>
                            <option value="1">Si</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label">Tamaño de Muestra</label>
                </div>
                <div class="col-md-5">
                    <input class="form-control text-box single-line valid" id="Sample_Size" type="text" value="@Model.Int_CantMuestra" style="margin-left:45px">
                </div>
            </div>

        </form>
    </div>
}

@if (QuestionType == 2)
{
    <div class="row" id="binary_type">
        <div class="col-md-2" style="padding:5px">
            <div class="row">
                <label class="control-label">Clave</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="description_B" type="text" value="@Model.Chart_Text">
            </div>
        </div>

        <div class="col-md-4" style="padding:5px">
            <div class="row">
                <label class="control-label">Nombre</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_B" type="text" value="@Model.Chart_Name">
            </div>
        </div>

        <div class="col-md-4" style="padding:5px">
            <div class="row">
                <label class="control-label">Estado 1</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_R1" type="text" value="@Model.Tbl_Result.ToList().ElementAt(0).Chart_Text">
            </div>
            <div class="row">
                <label class="control-label">Estado 2</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_R2" type="text" value="@Model.Tbl_Result.ToList().ElementAt(1).Chart_Text">
            </div>
        </div>
    </div>
}

@if (QuestionType == 3)
{
    <div id="selection_type">

        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <label class="control-label">Clave</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="CLV_variable_S" type="text" value="@Model.Chart_Text">
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label">Nombre</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="Name_variable_S" type="text" value="@Model.Chart_Name">
                </div>
            </div>
            <div class="col-md-3" style="padding:0px !important; margin:0px !important ;margin-left: 25px !important; background-color:white !important">
                <div class="row">
                    <label class="control-label">Opción</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="New_value" type="text" value="">
                </div>
            </div>
            <div class="col-md-offset-1 col-md-1">
                <div class="row" style="margin-top: 25px;">
                    <button type="button" class="btn btn-success fa fa-plus-square" id="Add_Opcion">
                        Agregar
                    </button>
                </div>
            </div>

        </div>

        <hr />

        <div class="row" id="List_Opcion_Added">
            @foreach (var Opcion in ViewBag.Opciones)
            {
                <div class="col-md-3" style="padding:0px !important; margin:5px !important; background-color:white !important">
                    <div class="box box-default">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-danger" id="remove_option" data-widget="remove" style="padding: 0 !important;">
                                <i class="fa fa-times" style="margin-left: 3px;margin-right: 3px;"></i>
                            </button>
                        </div>
                        <div class="box-body" style="padding: 0; border-style: none;">
                            <input type="hidden" class="Opcion_Variable" id="Hiden_Opcion" value="@Opcion.Chart_Text" />@Opcion.Chart_Text
                        </div>
                    </div>
                </div>
}

        </div>
    </div>
}

@if (QuestionType == 4)
{

    <input type="hidden" id="id_hoja" value="@Model.Int_SheetId" />

    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <label class="control-label">Clave</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Clave_variable_A" type="text" value="@Model.Chart_Text">
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="control-label">Nombre</label>
            </div>
            <div class="row">
                <input class="form-control text-box single-line valid" id="Name_variable_A" type="text" value="@Model.Chart_Name">
            </div>
        </div>
        <div class="col-md-offset-1 col-md-5">
            <div class="row">
                <label class="control-label">Variables</label>
            </div>
            <div class="row">
                <select class="form-control" id="Variable_Selector">
                    <option value="-1">Seleccione</option>
                    @{  List<TransferSPC.Models.Tbl_Variable> ListNumericVar = new List<TransferSPC.Models.Tbl_Variable>();
                     }
                    @foreach (var variable in ViewBag.Lista_Numericas)
                    {
                        ListNumericVar.Add(variable);
                        if (Model.Tbl_AutomaticVariable.First().Tbl_AutomaticVariableData.Where(m => m.Int_VariableId == variable.Int_Id).ToList().Count == 0)
                        {
                            <option value="@variable.Int_Id">@variable.Chart_Name</option>
}
                        else
                        {
                            <option value="@variable.Int_Id" style="display:none">@variable.Chart_Name</option>
}
                    }
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row" style="margin-top: 25px;">
                <button type="button" class="btn btn-success fa fa-plus-square" id="Add_Variable">
                    Agregar
                </button>
            </div>
        </div>
    </div>

        <div class="row" id="List_Variables_Added" style="margin-top:20px">
            <div class="row" style="border-bottom:solid">
                <div class="col-md-5"><label class="control-label">Nombre de la Variable</label></div>
                <div class="col-md-6"><label class="control-label">Variable</label></div>
                <div class="col-md-1"></div>
            </div>
            @{  string[] var_array = new string[] { "x", "y", "z", "a", "b", "c", "d", "e", "h", "i" };
                        int Addeds = 0;
                        string Variables_Id = "";
                        string Variables_Var = "";
                        foreach (var item in Model.Tbl_AutomaticVariable.First().Tbl_AutomaticVariableData)
                        {
                    <div class="row">
                        <div class="col-md-5"><input type="hidden" class="Opcion_Variable" id="ID_Variable" value="@item.Int_VariableId" />@ListNumericVar.Where(m=>m.Int_Id == item.Int_VariableId).First().Chart_Name</div>
                        <div class="col-md-6">@var_array[Addeds]</div>
                        <div class="col-md-1">
                            <a id="variable-data-remove" data-nom="@ListNumericVar.Where(m=>m.Int_Id == item.Int_VariableId).First().Chart_Name" data-var="@var_array[Addeds]" data-id="@item.Int_VariableId" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </div>
                    if (Variables_Id == "")
                    {
                        Variables_Id = item.Int_VariableId.ToString();
                        Variables_Var = var_array[Addeds];
                    }
                    else
                    {
                        Variables_Id += "-" + item.Int_VariableId.ToString();
                        Variables_Var += "-" + var_array[Addeds];
                    }
                    Addeds++;
                }
                <input type="hidden" id="Cant_Variables" value="@Addeds" />
                <input type="hidden" id="Array_Variables_id" value="@Variables_Id" />
                <input type="hidden" id="Array_Variables" value="@Variables_Var" />
            }
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Fórmula</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="formula_A" type="text" value="@Model.Tbl_AutomaticVariable.First().Chart_Ecuation">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Límite Superior</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="upper_limit_A" type="text" value="@Model.Tbl_AutomaticVariable.First().Float_MaxValue">
                </div>
            </div>
            @*<div class="col-md-6">
                    <div class="row">
                        <label class="control-label">Descripción</label>
                    </div>
                    <div class="row">
                        <textarea id="description_A" class="form-control" rows="1"></textarea>
                    </div>
                </div>*@
            <div class="col-md-6">
                <div class="row">
                    <label class="control-label">Límite Inferior</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="botton_limit_A" type="text" value="@Model.Tbl_AutomaticVariable.First().Float_MinValue">
                </div>
            </div>
            <div class="col-md-3" style="display:none">
                <div class="row">
                    <label class="control-label">Tamaño de Muestra</label>
                </div>
                <div class="row">
                    <input class="form-control text-box single-line valid" id="A_Sample_Size" type="text" value="1">
                </div>
            </div>
        </div>
                }

<div class="row">
    <label class="control-label">Imagen</label>
</div>
<div class="row">
    <input id="fileupload" type="file" name="files[]" multiple>
</div>

<div class="row">
    <div class="pull-right" style="margin-right: 15px !important">
        <input type="button" value="Guardar" id="variable-edit-submit" class="btn btn-success btn-sm button-solution" />

    </div>
</div>



<script src="~/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="~/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/dist/js/adminlte.min.js"></script>

<script src="~/Scripts/sweetalert2.all.min.js"></script>

<script src="~/Scripts/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!--notificaciones y otros -->
<script src="~/Scripts/bootstrap.js"></script>





<script>

    var Variable_Type_Bool = $("#Variable_Type_Bool").val();
    if (Variable_Type_Bool == "value") {
        $("#Type_Variable").val(1);
    }
    $(document).ready(function () {

        if ($("#LimitTypeInput").val() != "0") {
            $("#Type_limits").val(1);
        }

        if ($("#Type_Variable").val() != "0") {
            $("#Type_Variable").val(1);
        }

    });
</script>




