﻿@model IEnumerable<TransferSPC.Models.Tbl_Variable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chart_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Chart_Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Int_QuestionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Int_Index)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bool_ShowIndicators)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_Sheet.Chart_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chart_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Chart_Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Int_QuestionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Int_Index)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bool_ShowIndicators)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_Sheet.Chart_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Int_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Int_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Int_Id })
        </td>
    </tr>
}

</table>
