﻿@model IEnumerable<TransferSPC.Models.Tbl_Variable>

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PapeleraVariable</title>
</head>
<body>
    <div>
        <section class="content">
            <h3> Papelera de Reciclaje</h3>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="DatatableVariable" class="table table-condensed table-hover ">
                                <thead class="datatable_title ">
                                    <tr>
                                        <th>
                                            Variable
                                        </th>
                                        <th>
                                            Hoja
                                        </th>                                       
                                  
                                        <th></th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Chart_Text
                                        </td>
                                        <td>
                                            @item.Tbl_Sheet.Chart_Name
                                        </td>
                                        <td style="float:right">
                                            <a href="#" class='btn btn-info btn-sm variable-restore' data-id=@item.Int_Id><i class='fa fa-window-restore'></i>Restaurar</a>
                                            <a href="#" class='btn btn-danger btn-sm variable-remove' data-id=@item.Int_Id><i class='fa fa-trash'></i>Eliminar</a>
                                        </td>
                                    </tr>  }

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </section>

    </div>
</body>
</html>


@section Scripts {

    <script>
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#Papelera").addClass('active');
        $('#DatatableVariable').DataTable();

        function Remove_Question(id_question) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Question_Definitive", "Trf_Variables")',
                data: {
                    id_Variable: id_question,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("PapeleraVariable", "Trf_Variables")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        function Restore_Question(id_question) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Restore_Question", "Trf_Variables")',
                data: {
                    id_Variable: id_question,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La Variable se restauró satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("PapeleraVariable", "Trf_Variables")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }



        $(document).ready(function () {

            
            $('body').on('click', '.variable-restore', function () {
                var Id_Variable = $(this).data("id");

                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la pregunta de la hoja? Esta operación no podrá ser revertida",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Restore_Question(Id_Variable);
                    }
                })
            })


            $('body').on('click', '.variable-remove', function () {
                var Id_Variable = $(this).data("id");

                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la pregunta de la hoja? Esta operación no podrá ser revertida",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_Question(Id_Variable);
                    }
                })
            })
        });

    </script>

}
