﻿
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PapeleraHome</title>
</head>
<body>
    <div>
        <h3> Papelera de Reciclaje</h3>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row " id="VariableButton">
                                <div class="col-md-6 myButtonDiv">
                                    <div class="info-box " style="padding:5px !important">
                                        <span class="info-box-icon bg-blue-gradient"><i class="fa fa-folder"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number">Variables</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>

<style>
    .myButtonDiv:hover {
        padding: 1px;
        border-style: solid;
        border-width: 2px;
        border-color: #1e282c;
        border-radius: 5px;
    }
</style>


@section Scripts {

    <script>
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')   
        $("#Papelera").addClass('active');

        $(document).ready(function () {
            $('body').on('click', '#VariableButton', function () {
                var UrlEdit = '@Url.Action("PapeleraVariable", "Trf_Variables")';
                window.location = UrlEdit;
            })
        });

    </script>

}