﻿
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <h4>Reportes</h4>

                    <hr />
                    <div class="row">
                        <div class="col-sm-4">
                            Máquinas
                        </div>
                        <div class="col-sm-4">
                            Productos
                        </div>
                        <div class="col-sm-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <select id="Machines" class="form-control input-sm">
                                @foreach (var item in @ViewBag.ListadoMaquinas)
                                {

                                    <option value="@item.Int_Id">@item.Chart_ElementProducer</option>}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <select id="Products" class="form-control input-sm">
                                @foreach (var item in @ViewBag.ListadoProductos)
                                {
                                    <option value="@item.Int_Id">@item.Chart_Products</option>}
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class='btn btn-success btn-sm' id="Filtrar"><i class='fa fa-filter'>  Filtrar</i></a>
                        </div>
                    </div>
                    <hr />
                    
                  
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>Listado de Hojas</h4>
                        </div>
                        <div class="col-sm-2" style="text-align:center">
                            <h4>Resumen</h4>
                        </div>
                        <div class="col-sm-2" style="text-align:center">
                            <h4>Reporte</h4>
                        </div>
                        <div class="col-sm-2" style="text-align:center">
                            <h4>Notificaciones</h4>
                        </div>
                    </div>
                    <div id="Sheets_Board" class="row">
                    </div>
                    <br />
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>




@section Scripts{
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_Producto").addClass('active').addClass('menu-open');
        $("#menu_Producto").addClass('active');

        $('#MyDatatable').DataTable();


        $(document).ready(function () {


            $('body').on('click', '#Filtrar', function () {
                var Id_Maquina = $("#Machines").val();
                var Id_Products = $("#Products").val();
                GetSheets(Id_Maquina, Id_Products);
            })

            $('body').on('click', '.Reporter', function () {
                var Relacion = $(this).data("id");
                var UrlEdit = "/Trf_Sheet/Export_Form/" + Relacion;
                window.location = UrlEdit;

            })

            $('body').on('click', '.ReporterResumen', function () {
                var Relacion = $(this).data("id");
                var UrlEdit = "/Trf_Sheet/Export_FormSumary/" + Relacion;
                window.location = UrlEdit;

            })

            $('body').on('click', '.NotificationMethods', function () {
                var Relacion = $(this).data("id");
                var UrlEdit = "/Trf_Sheet/Notification_Form/" + Relacion;
                window.location = UrlEdit;

            })

        });


        ////////////////////////////////////////////////

        function GetSheets(Id_Maquina, Id_Products) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSheets", "Manage")',
                data: {
                    Id_Maquina: Id_Maquina,
                    Id_Products: Id_Products,
                },
                success: function (data) {
                    if (data != "") {

                        var SheetArray = data.split('||');
                        $("#Sheets_Board").empty();
                        for (var i = 0; i < SheetArray.length; i++) {
                            var Sheet = SheetArray[i].split('**');

                            var Renglon = '<div class="col-sm-6">' + Sheet[1] + '</div><div class="col-sm-2" style="text-align:center"><a href="#" data-id="' + Sheet[0] + '" class="btn btn-primary btn-sm ReporterResumen"><i class="fa fa-universal-access"></i></a></div><div class="col-sm-2" style="text-align:center"><a href="#" data-id="' + Sheet[0] + '" class="btn btn-primary btn-sm Reporter"><i class="fa fa-universal-access"></i></a></div><div class="col-sm-2" style="text-align:center"><a href="#" data-id="' + Sheet[0] + '" class="btn btn-warning btn-sm Reporter"><i class="fa fa-wrench"></i></a></div>';

                            $("#Sheets_Board").append(Renglon);
                        }
                    }
                    else {
                        $("#Sheets_Board").empty();
                        swal({
                            title: "Error",
                            text: "La Máquina y el Producto seleccionado no tienen hojas asociadas",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ///////////////////////////////////////////////

    </script>
}