﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestingUpload</title>
</head>
<body>
    <div>
        @foreach (var item in ViewBag.ListaFicheros)
        {
            <div class="col-md-1">
                <label class="control-label">@item</label>
            </div>
        }
    </div>
</body>
</html>




@*@section Scripts{
    <script>
        ////////////////////////
        $(function () {
            var notification = $.connection.notificationHub;

            notification.client.AlertRecive = function () {
                SubmitAutomaticQuestion();
            };

            $.connection.hub.start().done(function () {
                notification.server.notificate();
            });

            $.connection.hub.logging = true;
        });


        ////////////////////////


    </script>
}*@
