﻿
@{

}

<!-- Main content -->
<section class="content">
    <h4>Envio de Correo</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-5"> Destinos</div>
                        <div class="col-lg-5"> Texto</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"> <input type="text" class="form-control" id="MailAdress" /></div>
                        <div class="col-lg-5"> <textarea class="form-control" id="MailText"></textarea></div>
                        <div class="col-lg-2"><input type="button" id="submit-mail" value="Enviar Correo" class="btn btn-success btn-sm button-solution" /> </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->
<!-- Main content -->
<section class="content">
    <h4>Envio de SMS</h4>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-5"> Destinos</div>
                        <div class="col-lg-5"> Texto</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5"> <input type="text" class="form-control" id="SmsAdress" /></div>
                        <div class="col-lg-5"> <textarea disabled class="form-control" id="SmsText">Esto es un texto de prueba del sistema de envío de SMS de transfer</textarea></div>
                        <div class="col-lg-2"><input type="button" id="submit-sms" value="Enviar SMS" class="btn btn-success btn-sm button-solution" /> </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {

            $('body').on('click', '#submit-mail', function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendMail", "Manage")',
                    data: {
                        MailAdress: $("#MailAdress").val(),
                        MailText: $("#MailText").val(),
                    },
                    success: function (data) {
                        if (data == "True") {
                            $("#MailAdress").val("");
                            $("#MailText").val("");
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'El correo se envió satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("TestSendingMethods", "Manage")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            $('body').on('click', '#submit-sms', function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SendSms", "Manage")',
                    data: {
                        SmsAdress: $("#SmsAdress").val(),
                        SmsText: $("#SmsText").val(),
                    },
                    success: function (data) {
                        if (data == "True") {
                            $("#MailAdress").val("");
                            $("#MailText").val("");
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'El SMS se envió satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("TestSendingMethods", "Manage")';
                                    window.location = UrlEdit;

                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })
        });

    </script>
}