﻿@model TransferSPC.Models.Tbl_TurnsUsers

<div id="Timer" class="row" style="display:none">
    <div class="loader" style="margin:auto"></div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Asignar Usuarios por Turno</h2>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <fieldset>
        <legend></legend>
        <div style="margin-left:15px">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-sm-3">
                    <label class="control-label">Escenario</label>
                </div>
                <div class="col-sm-6">
                    <select id="EscenarioId" name="EscenarioId" class="form-control select2" data-placeholder="Seleccione" onchange="getTurno(this)">
                        <option value="0">Seleccione Escenario</option>
                        @foreach (var item in ViewBag.Turnos)
                        {
                            <option value="@item.Int_IdTurno">@item.Chr_Descripcion</option>
                        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">Nombre del Turno</label>
                </div>
                <div class="col-sm-6">
                    <select id="TurnsId" name="TurnsId" class="form-control select2" data-placeholder="Seleccione el Turno"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">Lista de Usuarios</label>
                </div>
                <div class="col-sm-6">
                    <select id="SelectUsers" name="SelectUsers[]" class="form-control select2" multiple="multiple" data-placeholder="Selecciones los usuarios">
                        @foreach (var item in ViewBag.Lista_Usuarios)
                        {
                            <option  value="@item.Id">@item.Name @item.LastName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <input type="submit" value="Crear" id="Submit-Turn" class="btn btn-success btn-sm button-solution" />
                    <input type="button" value="Cancelar" id="btn-cancel" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
                </div>
            </div>
        </div>
    </fieldset>

}

@section Scripts {

    <script>

        //Initialize Select2 Elements
        $('.select2').select2();

        $('body').on("click", "#btn-cancel", function () {
            var UrlIndex = "/Tbl_TurnsUsers/Index";
            window.location = UrlIndex;
        });

        function getTurno(selectObject) {
            var value = selectObject.value;

            if (value != 0) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetTurno", "Tbl_TurnsUsers")',
                    data: { escenario: value },
                    success: function (data) {
                        var Details = data.split('|');

                        $("#TurnsId").empty();
                        for (var i = 0; i < Details.length - 1; i++) {
                            $("#TurnsId").append('<option value="' + Details[i] + '">' + Details[i] + '</option>');
                        }
                    },
                });
            }
            else {
                $("#TurnsId").empty();
            }


        }

    </script>
}
