﻿@*@model TransferSPC.Models.Tbl_TurnsUsers*@
@model IEnumerable<TransferSPC.Models.Tbl_TurnsUsers>

<div id="Timer" class="row" style="display:none">
    <div class="loader" style="margin:auto"></div>
</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Detalles por Turnos</h2>

</section>
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <label class="control-label">Nombre del Escenario</label>
                        </div>
                        <div class="col-sm-6">
                            <label> @ViewBag.Escenario.Chr_Descripcion</label>
                        </div>
                    </div>

                    @{List<TransferSPC.Models.Tbl_TurnsUsers> ListParcial = new List<TransferSPC.Models.Tbl_TurnsUsers>(); }
                    @foreach (var item in ViewBag.ListaTurnos)
                    {
                        ListParcial = Model.Where(m => m.TurnsId == item).ToList();
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Turno</label>
                            </div>
                            <div class="col-sm-6">
                                <label> @item</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Lista de Usuarios</label>
                            </div>
                            <div class="col-sm-6">
                                @*<select id="SelectUsers" name="SelectUsers[]" class="form-control select2" multiple="multiple" data-placeholder="Selecciones los usuarios">*@
                                @foreach (var item2 in ViewBag.Lista_Usuarios)
                                {

                                    if (ListParcial.Where(m => m.UserId == item2.Id).ToList().Count == 0)
                                    {

                                        @*<option value="@item2.Id">@item2.Name @item2.LastName</option>*@
                                    }
                                    else
                                    {
                                        <label>
                                            <input type="text" value="@item2.Name @item2.LastName" />
                                        </label>
                                        @*<option selected value='@item2.Id'>@item2.Name @item2.LastName</option>*@
                                    }
                                }
                                @*</select>*@

                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-offset-3 col-md-3">
                            <input type="button" value="Cancelar" id="btn-cancel" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>

@section Scripts {

    <script>

        //Initialize Select2 Elements
        $('.select2').select2();

        $('body').on("click", "#btn-cancel", function () {
            var UrlIndex = "/Tbl_TurnsUsers/Index";
            window.location = UrlIndex;
        });
    </script>
}