﻿@*@model TransferSPC.Models.Tbl_TurnsUsers*@
@model IEnumerable<TransferSPC.Models.Tbl_TurnsUsers>

<div id="Timer" class="row" style="display:none">
    <div class="loader" style="margin:auto"></div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Editar Usuarios por Turno</h2>
</section>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <fieldset>
        <legend></legend>
        <div style="margin-left:15px">
            <div class="row">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" id="EscenarioId" name="EscenarioId" value="@ViewBag.Escenario.Int_IdTurno" />
                <input type="hidden" id="TurnsId" name="TurnsId" value="55" />
                <div class="col-sm-3">
                    <label class="control-label">Nombre del Escenario</label>
                </div>
                <div class="col-sm-6">
                    <label> @ViewBag.Escenario.Chr_Descripcion</label>
                </div>
            </div>
            @{List<TransferSPC.Models.Tbl_TurnsUsers> ListParcial = new List<TransferSPC.Models.Tbl_TurnsUsers>(); }
            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">Nombre del Turno</label>
                </div>
                <div class="col-sm-6">
                    <select id="TurnoId" name="TurnoId" class="form-control select2" data-placeholder="Seleccione" onchange="getTurno(this)">
                        <option value="0">Seleccione el Turno</option>
                        @foreach (var item in ViewBag.ListaTurnos)
                        {
                            <option value="@item">@item</option>
}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label class="control-label">Lista de Usuarios</label>
                </div>
                <div class="col-sm-6">
                    <select id="SelectUsers" name="SelectUsers[]" class="form-control select2" multiple="multiple" data-placeholder="Selecciones los usuarios">
                        @foreach (var item2 in ViewBag.Lista_Usuarios)
                        {

                            if (ListParcial.Where(m => m.UserId == item2.Id).ToList().Count == 0)
                            {
                                <option value="@item2.Id">@item2.Name @item2.LastName</option>
}
                            else
                            {
                                <option selected value='@item2.Id'>@item2.Name @item2.LastName</option>
}
                        }
                    </select>

                </div>
            </div>
            <input type="hidden" value="" id="view" />
            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    <input type="submit" value="Salvar" id="Submit-Turn" class="btn btn-success btn-sm button-solution" />
                    <input type="button" value="Cancelar" id="btn-cancel" data-dismiss="modal" class="btn btn-default btn-sm button-solution" />
                </div>
            </div>
        </div>
    </fieldset>

                }
@section Scripts {

    <script>

        //Initialize Select2 Elements
        $('.select2').select2();

        $('body').on("click", "#btn-cancel", function () {
            var UrlIndex = "/Tbl_TurnsUsers/Index";
            window.location = UrlIndex;
        });

        function getTurno(selectObject) {
            var value = $("#EscenarioId").val();
            var turno = selectObject.value;
            $("#TurnsId").val(turno);
            if (value != 0) {

                $('#SelectUsers').empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetUserByTurnoEscenario", "Tbl_TurnsUsers")',
                    data: {
                        turno: turno,
                        escenario: value,
                    },
                    success: function (data) {
                        var Details = data.split('||');
                        $("#SelectUsers").empty();
                        for (var i = 0; i < Details.length; i++) {
                            var Elemento = Details[i].split('**');

                            if (Elemento[0] == "0") {
                                $("#SelectUsers").append('<option value="' + Elemento[1] + '">' + Elemento[2] + '</option>');
                            }
                            else {
                                $("#SelectUsers").append('<option selected value="' + Elemento[1] + '">' + Elemento[2] + '</option>');
                            }
                        }
                    },
                });

            }
            else {
                $("#SelectUsers").empty();
            }

            $('.select2').select2();
        }
    </script>
}