﻿@model IEnumerable<TransferSPC.Models.Tbl_TurnsUsers>

@{
    ViewBag.Title = "Index";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h2> Turnos por Escenario</h2>
    <div class="row">
        <div class="col-md-10">
            <input type="button" value="Crear" id="Add_Usuarios" class="btn btn-success btn-sm button-solution" />
        </div>
        @*<div class="col-md-2">
            <input type="button" value="Movimientos por Turnos" id="MovementByTurn" class="btn btn-primary btn-sm button-solution" />
        </div>*@
    </div>
</section>

<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">

                    <table id="MyDatatable" class="table table-condensed table-hover">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Escenario
                                </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Turnos)
                            {
                                <tr>
                                    <td>
                                        @item.Chr_Descripcion
                                    </td>

                                    <td>
                                        <a class='btn btn-info btn-sm' id='Ver_Turnos' data-id="@item.Int_IdTurno"><i class='fa fa-eye'></i></a>
                                        <a class='btn btn-warning btn-sm' id='Edit_Turnos' data-id="@item.Int_IdTurno"><i class='fa fa-pencil'></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->


@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#turno").addClass('active');

        $('#MyDatatable').DataTable();

        $(document).ready(function () {
            @*$(".modal-body").load("@Url.Action("CreateUsuarios", "Account")");*@
            $('#MyDatatable').DataTable();
            //LoadDataTable();
        });

        // esto es para crear un sweet alert con la vista dentro
        $('body').on('click', '#Add_Usuarios', function () {

            var UrlEdit = "/Tbl_TurnsUsers/Create";

            window.location = UrlEdit;
        })

        $('body').on('click', '#MovementByTurn', function () {

            var UrlEdit = "/Tbl_TurnMovementTask/Index";

            window.location = UrlEdit;
        })

        

        // ver los turnos
        $('body').on('click', '#Ver_Turnos', function () {

            var UrlVer = "/Tbl_TurnsUsers/Details/ " + $(this).data("id");

            window.location = UrlVer;
        })

        // editar turno
        $('body').on('click', '#Edit_Turnos', function () {

            var Contenido = "/Tbl_TurnsUsers/Edit/ " + $(this).data("id");
            window.location = Contenido;
        })

    </script>
}