﻿@model TransferSPC.Models.Tbl_Notifications

@{
Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <div class="row">
            @Html.DisplayFor(model => model.Chart_Description)
        </div>
        <hr />
        <div class="row">
    
                @Html.DisplayName("Fecha de Creación"):
        
                @Html.DisplayFor(model => model.DateTime_Creation_Date)
           
        </div>
    </div>

</body>
</html>
