﻿@model IEnumerable<TransferSPC.Models.Tbl_Notifications>

@{
//Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <section class="content">
        <!--aqui comienza el contenido de la caja del datatable-->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="MyDatatable" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Notificación")
                                    </th>
                                    <th>
                                     @Html.DisplayName("Fecha")
                                    </th>

                                    <th></th>
                                </tr>
                            </thead>
                 

                            @foreach (var item in Model)
            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Chart_Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime_Creation_Date)
                                    </td>

                                    <td>
                                        <button type="button" id="Mark_Notification" data-id="@item.Int_Id" class="btn btn-primary">Marcar como leida</button>
                                    </td>
                                </tr>
}

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
    </section>

</body>
</html>


@section Scripts{
@Scripts.Render("~/bundles/jqueryval")
    <script>
      

        $(document).ready(function () {
            $('#MyDatatable').DataTable();

            $('body').on('click', '#Mark_Notification', function () {
                var Id_Notificacion = $(this).data("id");

                var UserName = $("#UserId").val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("MarckNotificationsByUserName", "Tbl_Notifications")',
                    data: {
                        UserName: UserName,
                        Id_Notificacion: Id_Notificacion,
                    },
                    success: function (data) {

                        if (data == "False") {
                            Swal.fire({
                                type: 'error',
                                title: 'Error',
                                text: 'La operación no se pudo concluir',
                            })
                        }
                        else {
                            var notification = $.connection.notificationHub;

                            notification.client.AlertRecive = function () {
                                GetNumberOfNotification();
                            };
                            $.connection.hub.start().done(function () {
                                notification.server.notificate();
                            });
                            $.connection.hub.logging = true;

                            var UrlEdit = '@Url.Action("Index", "Tbl_Notifications")';
                            window.location = UrlEdit;
                        }

                    }
                });
            });
        });

    </script>
}

