﻿@*@model TransferSPC.Models.Tbl_NotificationSheetCaptureData*@

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateSupervisorData</title>
</head>
<body>
    <section class="content">
        <h4>Agregar Supervisor</h4>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-3" style="padding:5px">
                                <label class="control-label">Estaciones</label>
                            </div>
                            <div class="col-sm-3" style="padding:5px">
                                <label class="control-label">Máquina</label>
                            </div>
                            <div class="col-sm-3" style="padding:5px">
                                <label class="control-label">Producto</label>
                            </div>
                            <div class="col-sm-3" style="padding:5px">
                                <label class="control-label">Hojas</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="padding:5px">
                                <select name="MyDatatable_length" id="Fk_Station" aria-controls="MyDatatable" class="form-control input-sm" onchange="GetMachinesByStation()">
                                    <option value="-1">-- Seleccione --</option>
                                    @foreach (var item in ViewBag.Lista_Estaciones)
                                    {
                                        <option value="@item.Int_Id">@item.Chart_StructureName</option>}
                                </select>
                            </div>

                            <div class="col-sm-3" style="padding:5px">
                                <select name="MyDatatable_length" id="Fk_Maquina" aria-controls="MyDatatable" class="form-control input-sm" onchange="GetProductByStation_Machines()">
                                    <option value="-1">-- Seleccione --</option>
                                </select>
                            </div>
                            <div class="col-sm-3" style="padding:5px">
                                <select name="MyDatatable_length" id="Fk_Product" aria-controls="MyDatatable" class="form-control input-sm" onchange="GetSheetsByStation_Machines_Product()">
                                    <option value="-1">-- Seleccione --</option>
                                </select>
                            </div>
                            <div class="col-sm-3" style="padding:5px">
                                <select name="MyDatatable_length" id="Fk_Sheet" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="-1">-- Seleccione --</option>
                                </select>
                            </div>
                        </div>

                        <hr />
                        <div class="row">
                            <select class="js-example-basic-single" multiple="multiple" id="User_Selected" name="state" style="width:100%">
                                @foreach (var item in ViewBag.Lista_Usuarios)
                                {
                                <option value="@item.Id">@item.Name</option>}
                            </select>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-sm-4" style="padding:5px">
                                <label class="control-label">Notificar Cp</label>
                            </div>
                            <div class="col-sm-4" style="padding:5px">
                                <label class="control-label">Notificar Cpk</label>
                            </div>
                            <div class="col-sm-4" style="padding:5px">
                                <label class="control-label">Notificar Observaciones</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1" style="padding:5px">
                                <input id="Check_Cp" class="Selector_Variable" data-child="Cp_Limits" type="checkbox" data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger" onchange="ShowHideDiv(this)">
                            </div>
                            <div class="col-sm-3" id="Cp_Limits" style="padding:5px;">
                                <div class="col-sm-1" id="Div_Label_LI_CP" style="padding:5px;margin-left:25px !important;display:none">
                                    <label class="control-label">LI</label>
                                </div>
                                <div class="col-sm-3" id="Div_Input_LI_CP" style="padding:5px;display:none">
                                    <input type="text" id="LI_Cp" class="form-control" />
                                </div>
                                <div class="col-sm-1" id="Div_Label_LS_CP" style="padding:5px;margin-left:25px !important;display:none">
                                    <label class="control-label">LS</label>
                                </div>
                                <div class="col-sm-3" id="Div_Input_LS_CP" style="padding:5px;display:none">
                                    <input type="text" id="LS_Cp" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-1" style="padding:5px">
                                <input id="Check_Cpk" class="Selector_Variable" data-child="Cpk_Limits" type="checkbox" data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger" onchange="ShowHideDiv(this)">
                            </div>
                            <div class="col-sm-3" id="Cpk_Limits" style="padding:5px">
                                <div class="col-sm-1" style="padding:5px;margin-left:25px !important;display:none">
                                    <label class="control-label">LI</label>
                                </div>
                                <div class="col-sm-3" style="padding:5px;display:none">
                                    <input type="text" id="LI_Cpk" class="form-control" />
                                </div>
                                <div class="col-sm-1" style="padding:5px;margin-left:25px !important;display:none">
                                    <label class="control-label">LS</label>
                                </div>
                                <div class="col-sm-3" style="padding:5px;display:none">
                                    <input type="text" id="LS_Cpk" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding:5px">
                                <input id="Check_Observations" class="Selector_Variable" type="checkbox" data-toggle="toggle" data-on="Notificar" data-off="No Notificar" data-onstyle="success" data-offstyle="danger" on>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Notificaciones</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Email</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">SMS</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="padding-right: 15px">
                                <select name="MyDatatable_length" id="Notificaciones-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-right: 15px">
                                <select name="MyDatatable_length" id="Email-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-right: 15px">
                                <select name="MyDatatable_length" id="SMS-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="false">No</option>
                                    <option value="true">Si</option>
                                </select>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
            <div class="row" style="float:right">
                <input type="button" value="Cancelar" id="Cancel-Supervisor" class="btn btn-danger btn-sm button-solution" />
                <input type="button" value="Aceptar" id="Submit-Supervisor" class="btn btn-success btn-sm button-solution" />
            </div>
        </div>
        <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">

    </section>

    <link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet">


    @section Scripts {
        @*@Scripts.Render("~/bundles/jqueryval")*@
        <script src="~/Scripts/bootstrap-toggle.min.js"></script>

        <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>

        <script>
            //Menu activo
            $('ul .sidebar-menu').removeClass('active');
            $("#menu_configuracion").addClass('active').addClass('menu-open');
            $("#menu_configuracion").addClass('active')
            $("#menu_hoja").addClass('active').addClass('menu-open');
            $("#menu_hoja").addClass('active');
            $("#AgregarSupervisor").addClass('active');

            $(document).ready(function () {
                $('.js-example-basic-single').select2({
                    placeholder: 'Seleccione los Usuarios'
                });


                $('body').on('click', '#Submit-Supervisor', function () {
                    var result = true;
                    //Validaciones
                    if ($("#Fk_Station").val() == -1) {
                        $('#Fk_Station').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                        result = false;
                    }

                    if ($("#Fk_Maquina").val() == -1) {
                        $('#Fk_Maquina').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                        result = false;
                    }

                    if ($("#Fk_Product").val() == -1) {
                        $('#Fk_Product').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                        result = false;
                    }

                    if ($("#Fk_Sheet").val() == -1) {
                        $('#Fk_Sheet').parent().append('<span id="genericError" class="field-validation-error text-danger" data-valmsg-for="Usuario" data-valmsg-replace="true"> Este Valor es obligatorio</span>');
                        result = false;
                    }




                    SaveSupervisorData();






                })


            });

            function ShowHideDiv(chkPassport) {
                var ChildName = $(chkPassport).data("child");

                if ($(chkPassport).is(":checked")) {
                    ShowHideChilds($("#" + ChildName), "Show");
                } else {
                    ShowHideChilds($("#" + ChildName), "Hide");
                }
            }

            function ShowHideChilds(RootDiv, Oper) {
                var Lista = $(RootDiv).children(); //Obtengo lista de controles
                if (Oper == "Show") {
                    for (var i = 0; i < Lista.length; i++) {
                        $(Lista[i]).show();
                    }
                }
                else {
                    for (var i = 0; i < Lista.length; i++) {
                        $(Lista[i]).hide();
                    }
                }

            }

            function GetMachinesByStation() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMachinesByStation", "Trf_Sheet")',
                    data: {
                        Id_Station: $("#Fk_Station").val(),
                    },
                    success: function (data) {
                        if (data != null) {
                            $('#Fk_Maquina').empty();
                            $('#Fk_Maquina').append('<option value="-1">-- Seleccione --</option>');
                            $('#Fk_Product').empty();
                            $('#Fk_Product').append('<option value="-1">-- Seleccione --</option>');
                            $('#Fk_Sheet').empty();
                            $('#Fk_Sheet').append('<option value="-1">-- Seleccione --</option>');
                            for (var i = 0; i < data.length; i++) {

                                $('#Fk_Maquina').append('<option value="' + data[i].Id + '">' + data[i].ItemName + '</option>');

                            }
                        }
                        else {
                            //////////
                        }
                    }
                });
            }


            function GetProductByStation_Machines() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetProductByStation_Machines", "Trf_Sheet")',
                    data: {
                        Id_Station: $("#Fk_Station").val(),
                        Id_Machine: $("#Fk_Maquina").val(),
                    },
                    success: function (data) {
                        if (data != null) {
                            $('#Fk_Sheet').empty();
                            $('#Fk_Sheet').append('<option value="-1">-- Seleccione --</option>');
                            $('#Fk_Product').empty();
                            $('#Fk_Product').append('<option value="-1">-- Seleccione --</option>');
                            for (var i = 0; i < data.length; i++) {

                                $('#Fk_Product').append('<option value="' + data[i].Id + '">' + data[i].ItemName + '</option>');

                            }
                        }
                        else {
                            //////////
                        }
                    }
                });
            }


            function GetSheetsByStation_Machines_Product() {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetSheetsByStation_Machines_Product", "Trf_Sheet")',
                    data: {
                        Id_Station: $("#Fk_Station").val(),
                        Id_Machine: $("#Fk_Maquina").val(),
                        Id_Product: $("#Fk_Product").val(),
                    },
                    success: function (data) {
                        if (data != null) {
                            $('#Fk_Sheet').empty();
                            $('#Fk_Sheet').append('<option value="-1">-- Seleccione --</option>');
                            for (var i = 0; i < data.length; i++) {

                                $('#Fk_Sheet').append('<option value="' + data[i].Id_Element_Producer_product + '">' + data[i].ItemName + '</option>');

                            }
                        }
                    }
                });
            }

            function SaveSupervisorData() {
                /////////////Datas//////////
                var Id_Estacion = $("#Fk_Station").val();
                var Id_Maquina = $("#Fk_Maquina").val();
                var Id_Producto = $("#Fk_Product").val();
                var Id_Sheet = $("#Fk_Sheet").val();
                var TempUserArray = $('#User_Selected').select2('data');
                var UserArray = [];
                for (var i = 0; i < TempUserArray.length; i++) {
                    var Current = TempUserArray[i].id;
                    UserArray.push(Current);
                }

                var checkBox_Cp = document.getElementById("Check_Cp");
                var Notify_Cp = false;
                if (checkBox_Cp.checked == true)
                {
                    Notify_Cp = true;
                }

                var Min_Cp = $("#LI_Cp").val();
                var Max_Cp = $("#LS_Cp").val();

                var checkBox_Cpk = document.getElementById("Check_Cpk");
                var Notify_Cpk = false;
                if (checkBox_Cpk.checked == true) {
                    Notify_Cpk = true;
                }

                var Min_Cpk = $("#LI_Cpk").val();
                var Max_Cpk = $("#LS_Cpk").val();

                var checkBox_Observations = document.getElementById("Check_Observations");
                var Notify_Observa = false;
                if (checkBox_Observations.checked == true) {
                    Notify_Observa = true;
                }

                var NotifyTransf = $("#Notificaciones-Value").val();
                var Email = $("#Email-Value").val();
                var Sms = $("#SMS-Value").val();

                ////////////////////////////
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateSupervisorsParametersData", "Tbl_SupervisorsParameters")',
                    data: {
                        Id_Station: Id_Estacion,
                        Id_Maquina: Id_Maquina,
                        Id_Producto: Id_Producto,
                        UserArray: UserArray,
                        Notify_Cp: Notify_Cp,
                        Min_Cp: Min_Cp,
                        Max_Cp: Max_Cp,
                        Notify_Cpk: Notify_Cpk,
                        Min_Cpk: Min_Cpk,
                        Max_Cpk: Max_Cpk,
                        Notify_Observa: Notify_Observa,
                        NotifyTransf: NotifyTransf,
                        Email: Email,
                        Sms: Sms,
                    },
                    success: function (data) {
                        if (data != "") {
                            Swal.fire({
                                title: 'Aviso',
                                text: data,
                                type: 'success',
                                showCancelButton: true,
                                confirmButtonColor: '#00a65a',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Salir',
                                cancelButtonText: "Continuar"
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "@Url.Action("Lobby", "Account")";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                    }
                });



            }

        </script>
    }


