﻿@model TransferSPC.Models.Tbl_SupervisorsParameters

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <section class="content">
        <h4>Agregar Supervisor</h4>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">

                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Usuario</label>
                            </div>
                            <div class="col-md-8">
                                <label class="control-label">Hojas</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <select name="MyDatatable_length" id="Fk_UserId" aria-controls="MyDatatable" class="form-control input-sm">
                                    @foreach (var item in ViewBag.Usuarios)
                                    {
                                        <option value="@item.Id">@item.Name @item.LastName</option>}
                                </select>
                            </div>

                            <div class="col-md-8">
                                <select id="example" multiple="multiple" style="width: 90%">
                                    @foreach (var Hoja in ViewBag.ListaHojas)
                                    {

                                        <option value='@Hoja.Int_Id' data-hoja="@Hoja.Int_Id">@Hoja.Chart_Name</option>}
                                </select>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Notificaciones</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Email</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">SMS</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="padding-right: 15px">
                                <select name="MyDatatable_length" id="Notificaciones-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-right: 15px">
                                <select name="MyDatatable_length" id="Email-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                </select>
                            </div>
                            <div class="col-md-4" style="padding-right: 15px">
                                <select name="MyDatatable_length" id="SMS-Value" aria-controls="MyDatatable" class="form-control input-sm">
                                    <option value="0">No</option>
                                    <option value="1">Si</option>
                                </select>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
            <div class="row" style="float:right">
                <input type="button" value="Cancelar" id="Cancel-Supervisor" class="btn btn-danger btn-sm button-solution" />
                <input type="button" value="Aceptar" id="Submit-Supervisor" class="btn btn-success btn-sm button-solution" />
            </div>
        </div>
        <link rel="stylesheet" href="~/bower_components/select2/dist/css/select2.min.css">

    </section>
</body>
</html>
<input type="hidden" id="id_ElementProducer" value="@ViewBag.Id_Machine" />

@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>
    <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script>
        $('#example').select2({
            placeholder: 'Seleccione las Hojas'
        });


        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_Maquinas").addClass('active').addClass('menu-open');
        $("#GestiónMaquina").addClass('active');

        $('#MyDatatable').DataTable();
        /////////////////////////////////////////

        $(document).ready(function () {


            $('body').on('click', '#Submit-Supervisor', function () {
                var Id_Supervisor = $("#Fk_UserId").val();
                var Id_ElementProducer = $("#id_ElementProducer").val();
                var Notificacion = $("#Notificaciones-Value").val();
                var Email = $("#Email-Value").val();
                var SMS = $("#SMS-Value").val();
                var selections = ($("#example").select2('data'));
                var L_Ides = "";

                for (var i = 0; i < selections.length; i++) {
                    var Current = selections[i];
                    if (i == 0) {
                        L_Ides += Current['id'];
                    }
                    else {
                        L_Ides += "||" + Current['id'];
                    }
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateSupervisor", "Tbl_SupervisorsParameters")',
                    data: {
                        Id_Supervisor: Id_Supervisor,
                        Id_ElementProducer: Id_ElementProducer,
                        Notificacion: Notificacion,
                        Email: Email,
                        SMS: SMS,
                        L_Ides: L_Ides,
                    },
                    success: function (data) {
                        if (data == "True") {
                            Swal.fire({
                                type: 'success',
                                title: 'Correcto',
                                text: 'El supervisor se creó satisfactoriamente',
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = '@Url.Action("SupervisorsBoardByMachine", "Trf_ElementProducer")' + "/" + Id_ElementProducer;
                                    window.location = UrlEdit;

                                }
                            })


                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });

            })


            $('body').on('click', '#Cancel-Supervisor', function () {
                var Contenido = "@Url.Action("SupervisorsBoardByMachine", "Trf_ElementProducer")" + "/" + $("#id_ElementProducer").val();
                window.location = Contenido;

            })

        });
    </script>
}

