﻿@model TransferSPC.Models.Tbl_SupervisorsParameters

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Tbl_SupervisorsParameters</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Bool_TransferNotify)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bool_TransferNotify)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bool_MailNotify)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bool_MailNotify)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BoolSmsNotify)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BoolSmsNotify)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tbl_ElementProducer.Chart_ElementProducer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tbl_ElementProducer.Chart_ElementProducer)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
