﻿@model TransferSPC.Models.Tbl_SupervisorsParameters

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Tbl_SupervisorsParameters</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Bool_TransferNotify)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bool_TransferNotify)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Bool_MailNotify)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Bool_MailNotify)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BoolSmsNotify)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BoolSmsNotify)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Tbl_ElementProducer.Chart_ElementProducer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Tbl_ElementProducer.Chart_ElementProducer)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Int_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
