﻿@model IEnumerable<TransferSPC.Models.Tbl_SupervisorsParameters>

@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bool_TransferNotify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bool_MailNotify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoolSmsNotify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_ElementProducer.Chart_ElementProducer)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bool_TransferNotify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bool_MailNotify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoolSmsNotify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_ElementProducer.Chart_ElementProducer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Int_Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Int_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Int_Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>




@section Scripts{
    <script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#menu_Maquinas").addClass('active').addClass('menu-open');
        $("#menu_Maquinas").addClass('active');

        $('#MyDatatable').DataTable();
        /////////////////////////////////////////

        function Remove_maquina(id_maquina) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Maquina", "Trf_ElementProducer")',
                data: {
                    id_maquina: id_maquina,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'La máquina se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Trf_ElementProducer")';
                                window.location = UrlEdit;

                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ////////////////////////////////////////

         $(document).ready(function () {

            //$('body').on('click', '#submit-hoja', function () {
            //    document.getElementById("Form").submit();
            //})

            $('body').on('click', '#sheet-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar la Máquina?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_maquina(Id_Question);
                    }
                })
            })

        });


    </script>


}
