﻿@model IEnumerable<TransferSPC.Models.Tbl_DashBoards>

@{
  
}

<section class="content-header">
    <h2>Listado de DashBoards</h2>
    <div class="row">
        <a href="@Url.Action("Create","Tbl_DashBoards")" class="btn btn-success btn-sm button-solution">Crear Dashboards</a>
    </div>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableDasboard" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Nombre del Dashboards
                                </th>
                                <th>

                                </th>

                                <th> Acciones</th>
                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Chart_DashBoardName
                                </td>
                                <td></td>

                                <td>
                                    @*<a href="@Url.Action("Details/"+ @item.Id,"Trf_Sheet")" class='btn btn-primary btn-sm' id=@item.Id><i class='fa fa-eye'></i></a>*@
                                    <a href="@Url.Action("Edit/"+ @item.Int_Id,"Tbl_DashBoards")" class='btn btn-warning btn-sm' id="@item.Int_Id"><i class='fa fa-pencil'></i></a>
                                    <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>




@section Scripts{
    <script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_dashboard").addClass('active').addClass('menu-open');
        $("#menu_dashboard").addClass('active');
        $("#menu_dashboardCRUD").addClass('active').addClass('menu-open');
        $("#menu_dashboardCRUD").addClass('active');
        
        $("#dashboardCRUD").addClass('active').addClass('menu-open');
        $("#dashboardCRUD").addClass('active');
      

        $('#DatatableDasboard').DataTable();




</script>
}

