﻿@model TransferSPC.Models.AspNetPermission

@{
    Layout = null;
}

<html>
<body>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-control-label">Nombre</label>
        </div>
        <div class="col-sm-6">
            <label class="custom-control-label">Aplicación</label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Permission_Name" />
        </div>
        <div class="col-sm-6">
            @Html.DropDownList("Fk_App", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="pull-right" style="margin-right: 15px !important">
            <input type="button" value="Crear" id="Permission_submit" class="btn btn-success btn-sm button-solution" />
        </div>
    </div>


</body>
</html>
