﻿@model TransferSPC.Models.AspNetPermission

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <label class="custom-control-label">Nombre</label>
        </div>
        <div class="col-sm-6">
            <label class="custom-control-label">Aplicación</label> 
        </div>
    </div>
    <input type="hidden" value="@Model.Int_Id" id="Id_Permission"/>
    <div class="row">
        <div class="col-sm-6">
            @Html.EditorFor(model => model.Chart_PermissionName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-sm-6">
            @Html.DropDownList("Fk_App", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="pull-right" style="margin-right: 15px !important">
            <input type="button" value="Salvar" id="Permission_Edit_submit" class="btn btn-success btn-sm button-solution" />
        </div>
    </div>



</body>
</html>
