﻿@model IEnumerable<TransferSPC.Models.AspNetPermission>

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <section class="content-header">
        <h2>Gestión de Permisos</h2>
        <div class="row">
            <input type="button" value="Crear Permiso" id="Add_Permission" class="btn btn-success btn-sm button-solution" />
        </div>
    </section>
    <table class="table">
        <tr>
            <th style="padding-left:20px">
              Nombre
            </th>
            <th>
               Aplicación
            </th>
            <th>
              Acciones
            </th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td style="padding-left:20px">
                @Html.DisplayFor(modelItem => item.Chart_PermissionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tbl_AppCatalog.Chart_AppName)
            </td>
            <td>
                <a href="#" class='btn btn-warning btn-sm' id="Edit_Permission" data-id="@item.Int_Id"><i class='fa fa-pencil'></i></a>
                <a href="#" class='btn btn-danger btn-sm' id="Permission_Remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>

            </td>
        </tr>
    }
    
    </table>
</body>
</html>



@section Scripts{
    <script src="~/Scripts/FieldValidator.js"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#usuario").addClass('active');


        //Para llamar el modal de eliminar
        $(document).ready(function () {
          
            // esto es para crear un sweet alert con la vista dentro
            $('body').on('click', '#Add_Permission', function () {

                var Contenido = "@Url.Action("Create", "AspNetPermissions")";
                swal({
                    title: 'Crear Permiso',
                    width: 600,

                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

            
            })

            $('body').on('click', '#Edit_Permission', function () {
             
                var Contenido = "@Url.Action("Edit", "AspNetPermissions")" + "/" + $(this).data("id");
                swal({
                    title: 'Editar Permiso',
                    width: 600,

                    showConfirmButton: false,
                    html:
                    '<div id="modal-body"><div id="Timer" class="row"><div class="loader" style="margin:auto"></div></div>'
                });
                $("#modal-body").load(Contenido);

            })

            $('body').on('click', '#Permission_submit', function () {
                var Permission_Name = $("#Permission_Name").val();
                var App = $("#Fk_App").val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreatePermissionPost", "AspNetPermissions")',
                    data: {
                        Permission_Name: Permission_Name,
                        App: App,

                    },
                    success: function (data) {
                        if (data == "True") {
                            swal.fire({
                                type: 'success',
                                title: 'El permiso se creó satisfactoriamente',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "/AspNetPermissions/Index";
                                    window.location = UrlEdit;
                                } 
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

            $('body').on('click', '#Permission_Edit_submit', function () {
                var Permission_Name = $("#Chart_PermissionName").val();
                var App = $("#Fk_App").val();
                var Id_Permission = $("#Id_Permission").val();
                Id_Permission
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EditPermissionPost", "AspNetPermissions")',
                    data: {
                        Permission_Name: Permission_Name,
                        App: App,
                        Id_Permission: Id_Permission,
                    },
                    success: function (data) {
                        if (data == "True") {
                            swal.fire({
                                type: 'success',
                                title: 'El permiso se editó satisfactoriamente',
                                showConfirmButton: true,
                            }).then((result) => {
                                if (result.value) {
                                    var UrlEdit = "/AspNetPermissions/Index";
                                    window.location = UrlEdit;
                                }
                            })
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

          
        })
    </script>
}
