﻿@model TransferSPC.Models.Tbl_Observations_Catalog

@{

}



<section class="content-header">
    <h4>Crear</h4>

</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <div class="col-md-2">
                                   Texto
                                </div>
                                <div class="col-md-10">
                                    <input class="form-control text-box single-line" id="Chart_Text" name="Chart_Text" type="text" value="">


                                   
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-10 col-md-10">
                                    <input type="submit" value="Crear" class="btn btn-default" />
                                </div>
                            </div>
                        </div>}

                    <div>
                        @Html.ActionLink("<< Atras", "Index")
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>


@section Scripts{
    <script>
            //Menu activo
 $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')
        $("#Tbl_Observations_Catalog").addClass('active');




    /////////////////////////////////////////




</script>
}

