﻿@model TransferSPC.Models.Tbl_Observations_Catalog

@{
  
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Desea eliminar la siguiente observación</h3>
    <div>
       
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Texto
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Chart_Text)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Borrar" class="btn btn-danger" /> 
            </div>
            <div class="form-actions no-color">
               
                @Html.ActionLink("<< Atras", "Index")
            </div>
        }
    </div>
</body>
</html>
