﻿@model IEnumerable<TransferSPC.Models.Tbl_Observations_Catalog>

@{

}

<section class="content-header">
    <div class="row" style="padding:15px">
        <a href="@Url.Action("Create", "Tbl_Observations_Catalog")" class="btn btn-success btn-sm button-solution">Crear Observación</a>
    </div>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableObservationCatalogo" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th>
                                    Texto de la Observación
                                </th>
                                <th>

                                </th>

                                <th> Acciones</th>
                            </tr>
                        </thead>



                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Chart_Text)
                                </td>
                                <th></th>
                                <td>
                                    <a href="@Url.Action("Delete", "Tbl_Observations_Catalog", new { id = item.Int_Id })" class="btn btn-danger btn-sm button-solution"><i class='fa fa-trash'></i></a>
                                  
                                </td>
                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>



@section Scripts{
    <script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active')   
        $("#Tbl_Observations_Catalog").addClass('active');

        $('#DatatableObservationCatalogo').DataTable();




    /////////////////////////////////////////




    </script>
}









