﻿
@{
//Layout = null;
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h2>Crear Producto</h2>
</section>
<input type="hidden" id="idstation" value="@ViewBag.idstation" />
<input type="hidden" id="idelementproducer" value="@ViewBag.idelementproducer" />
<!-- Main content -->
<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Nombre del producto</label>
                            </div>

                        </div>
                        <div class="row">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-sm-6">
                                <input type="text" id="ProductName" class="form-control" />
                            </div>

                        </div>



                        <div class="row">
                            <div class="pull-right" style="margin-right: 15px !important">
                                <input type="button" id="submit-producto" value="Crear" class="btn btn-success btn-sm button-solution" />
                                <a href="@Url.Action("BuildStructure", "Tbl_Structure")" class="btn btn-default btn-sm button-solution">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>
<!-- /.content -->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#menu_Estaciones").addClass('active').addClass('menu-open');
        $("#menu_Estaciones").addClass('active');
        $("#GestiónEstaciones").addClass('active');

        $(document).ready(function () {

            $('body').on('click', '#submit-producto', function () {
                var ProductName = $("#ProductName").val();
                var id_Station = $("#idstation").val();
                var idelementproducer = $("#idelementproducer").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CreateElementProducerFromTree", "Trf_Products")',
                    data: {
                        ProductName: ProductName,
                        id_Station: id_Station,
                        idelementproducer: idelementproducer,
                    },
                    success: function (data) {
                        if (data == "True") {
                            var UrlEdit = ' @Url.Action("BuildStructure", "Tbl_Structure")';
                            window.location = UrlEdit;
                        }
                        else {
                            swal({
                                title: "Error",
                                text: "La operación no se pudo concluir, inténtelo otra vez",
                                type: "error",
                                confirmButtonClass: 'btn-success',
                                confirmButtonText: 'Aceptar',
                                closeOnConfirm: true,
                            })
                        }
                    }
                });
            })

        });
    </script>
}