﻿@model TransferSPC.Models.Tbl_Products

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trf_Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Products)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Int_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
