﻿@model IEnumerable<TransferSPC.Models.Tbl_Products>

@{
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h2>Listado de Productos</h2>
    <div class="row">
        <a href="@Url.Action("Create","Trf_Products")" class="btn btn-success btn-sm button-solution">Crear Producto</a>
    </div>
</section>


<section class="content">
    <!--aqui comienza el contenido de la caja del datatable-->
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="DatatableProduct" class="table table-condensed table-hover ">
                        <thead class="datatable_title ">
                            <tr>
                                <th >
                                   Nombre del Producto
                                </th>
                                <th>
                                   
                                </th>
                               
                                <th> Acciones</th>
                            </tr>
                        </thead>
                      

                  
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.Chart_Products
                                </td>
                                <td>
                                 
                                </td>
                               
                                <td>
                                    @*<a href="@Url.Action("Details/"+ @item.Id,"Trf_Sheet")" class='btn btn-primary btn-sm' id=@item.Id><i class='fa fa-eye'></i></a>*@
                                    <a href="@Url.Action("Edit/"+ @item.Int_Id,"Trf_Products")" class='btn btn-warning btn-sm' id="@item.Int_Id"><i class='fa fa-pencil'></i></a>
                                    <a href="#" class='btn btn-danger btn-sm' id="sheet-remove" data-id=@item.Int_Id><i class='fa fa-trash'></i></a>
                                </td>
                            </tr>}

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>



@section Scripts{
<script>
            //Menu activo
        $('ul .sidebar-menu').removeClass('active');
        $("#menu_configuracion").addClass('active').addClass('menu-open');
        $("#menu_configuracion").addClass('active');
        $("#menu_Producto1").addClass('active').addClass('menu-open');
        $("#menu_Producto1").addClass('active');
        $("#GestiónProducto").addClass('active');

        $('#DatatableProduct').DataTable();

        //$('#MyDatatable').dataTable({
        //    "language": {
        //        "search": "Jandy escapao:"
        //    }
    //});
        var Resultado;
        var Formula = 'if (a < 10) {a+b;} else {b-a;}'
        var a,b;
         a = 19;
         //b = "x"; 
        Resultado = eval(Formula);

        console.log("El resultado es " + Resultado);

    /////////////////////////////////////////


        function Remove_producto(id_producto) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Remove_Producto", "Trf_Products")',
                data: {
                    id_producto: id_producto,
                },
                success: function (data) {
                    if (data == "True") {
                        Swal.fire({
                            type: 'success',
                            title: 'Correcto',
                            text: 'El producto se eliminó satisfactoriamente',
                        }).then((result) => {
                            if (result.value) {
                                var UrlEdit = '@Url.Action("Index", "Trf_Products")';
                                window.location = UrlEdit;
                            }
                        })
                    }
                    else {
                        swal({
                            title: "Error",
                            text: "La operación no se pudo concluir, inténtelo otra vez",
                            type: "error",
                            confirmButtonClass: 'btn-success',
                            confirmButtonText: 'Aceptar',
                            closeOnConfirm: true,
                        })
                    }
                }
            });
        }

        ////////////////////////////////////////

        $(document).ready(function () {


            $('body').on('click', '#sheet-remove', function () {
                var Id_Question = $(this).data("id");
                Swal.fire({
                    title: 'Aviso',
                    text: "¿Desea eliminar el producto?",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#00a65a',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si',
                    cancelButtonText: "No"
                }).then((result) => {
                    if (result.value) {
                        Remove_producto(Id_Question);
                    }
                })
            })

        });


      

   

</script>
}













